Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: adjust path
  docs/public/assets/code/angular/src/styles.scss
  packages/styles/sass/baloise-design-system.sass
Due: none

chore: remove old mixin
  packages/components/src/components/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/bal-notification/bal-notification.sass
  packages/components/src/components/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/bal-textarea/bal-textarea.sass
  packages/components/src/components/bal-toast/bal-toast.sass
Due: none

remove unused mixins
  packages/styles/src/core/form/_all.sass
  packages/styles/src/core/form/mixins.sass
  packages/styles/src/mixins/_all.sass
  packages/styles/src/mixins/extends.sass
  packages/styles/src/mixins/general.mixin.sass
Due: none

chore: adjust docs build
  .github/workflows/actions/build/action.yml
  .gitignore
  docs/public/assets/css/baloise-design-system.min.css
  docs/scripts/build.mjs
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: change setup
  .github/workflows/actions/test-angular-setup/action.yml
Due: none

fix(carousel): tabs slider reduce padding
  .changeset/three-socks-suffer.md
  packages/components/src/components/bal-carousel/bal-carousel.sass
Due: none

fix: adjust shadow
  .changeset/little-mugs-tickle.md
  packages/components/src/components/bal-popup/bal-popup.vars.sass
  packages/components/src/components/bal-tooltip/bal-tooltip.vars.sass
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-carousel.visual.cy.ts/carousel-card-mobile.png
  test/cypress/snapshots/base/visual/bal-carousel.visual.cy.ts/carousel-card-with-value-mobile.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

🐛 fix: adjust shadow (#1240)
  .changeset/little-mugs-tickle.md
  packages/components/src/components/bal-popup/bal-popup.vars.sass
  packages/components/src/components/bal-tooltip/bal-tooltip.vars.sass
Due: none

fix(nav): adjust overview links and popup
  .changeset/sweet-hairs-admire.md
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/components/overview-link.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-popup/bal-popup.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

🐛 fix(carousel): tabs slider reduce padding (#1239)
  .changeset/three-socks-suffer.md
  CHANGELOG_v12.md
  packages/components/src/components/bal-carousel/bal-carousel.sass
  test/cypress/snapshots/base/visual/bal-carousel.visual.cy.ts/carousel-card-mobile.png
  test/cypress/snapshots/base/visual/bal-carousel.visual.cy.ts/carousel-card-with-value-mobile.png
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-open.png
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-colors-desktop-widescreen-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-long-desktop-open.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

🐛 fix(nav): adjust overview links and popup (#1242)
  .changeset/sweet-hairs-admire.md
  CHANGELOG_NEXT.md
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/components/overview-link.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-popup/bal-popup.sass
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-desktop-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-highDefinition-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav-part-1.visual.cy.ts/nav-desktop-widescreen-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-colors-desktop-widescreen-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-long-desktop-open.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): input group update divider component
  packages/components/src/components.d.ts
  packages/components/src/components/bal-divider/bal-divider.sass
  packages/components/src/components/bal-divider/bal-divider.tsx
  packages/components/src/components/bal-input-group/bal-input-group.tsx
  packages/components/src/components/bal-input-group/test/bal-input-group.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): input group update divider component
  packages/components/src/components/bal-input-group/test/bal-input-group.visual.html
  test/cypress/e2e/visual/bal-input-group.visual.cy.ts
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-divider-disabled-mobile.png
  test/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-divider-disabled.png
  test/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-divider-field-mobile.png
  test/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-divider-field.png
  test/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-divider-invalid-mobile.png
  test/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-divider-invalid.png
Due: none

🐛 fix(file-upload): switch lines (#1236)
  .changeset/many-bobcats-yell.md
  packages/components/src/components/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock file
  package-lock.json
Due: none

chore(): improve docs and focus state
  docs/stories/components/bal-input-group/bal-input-group.stories.ts
  packages/components/src/components/bal-input-group/bal-input-group.sass
Due: none

chore: migrate css visual tests
  package-lock.json
  packages/components/src/test/all.html
  packages/components/src/test/css-border.visual.html
  packages/components/src/test/css-color.visual.html
  packages/components/src/test/css-core.visual.html
  packages/components/src/test/css-display.visual.html
  packages/components/src/test/css-flex.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-inheritance.visual.html
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-shadow.visual.html
  packages/components/src/test/css-spacing.visual.html
  packages/components/src/test/css-structure.visual.html
  packages/components/src/test/css-typography.visual.html
  packages/components/src/test/theme-compact-none.visual.html
  packages/components/src/test/theme-compact.visual.html
  packages/css/sass/flex.sass
  packages/styles/bin/index.mjs
  packages/styles/package.json
  packages/styles/sass/core.sass
  packages/styles/sass/mixins.sass
  packages/styles/sass/utilities/background.sass
  packages/styles/sass/utilities/grid.sass
  packages/styles/sass/utilities/layout.sass
  packages/styles/sass/utilities/typography.sass
  packages/styles/scripts/border.mjs
  packages/styles/scripts/layout.mjs
  packages/styles/scripts/utils.mjs
  packages/tokens/src/size/border.json
  test/cypress/e2e/visual/css-display.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/components/src/components/bal-datepicker/bal-datepicker.vars.sass
  packages/components/src/components/bal-navbar/bal-navbar.vars.sass
  packages/components/src/components/bal-select/bal-select.vars.sass
  packages/components/src/components/bal-steps/bal-steps.vars.sass
  packages/components/src/components/bal-tag/bal-tag.vars.sass
  packages/components/src/test/css-core.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/styles/sass/core.sass
Due: none

chore: format files
  packages/components/src/components/bal-tag/bal-tag.vars.sass
Due: none

chore(): add tokens docs
  docs/.storybook/blocks/TokenOverview copy.tsx
  docs/.storybook/blocks/TokenOverview.tsx
  docs/.storybook/blocks/index.ts
  docs/scripts/build.mjs
  docs/stories/foundation/design-tokens.stories.mdx
  docs/stories/foundation/grid.stories.mdx
  package-lock.json
  packages/tokens/src/color/background.json
  packages/tokens/src/color/border.json
  packages/tokens/src/color/text-base.json
  packages/tokens/src/size/border.json
  packages/tokens/src/size/breakpoint.json
  packages/tokens/src/size/radius.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add text accessibility test
  packages/components/src/components/bal-text/test/bal-text.cy.html
  test/cypress/e2e/a11y/bal-text.a11y.cy.ts
Due: none

chore(): add label accessibility test
  packages/components/src/components/bal-label/test/bal-label.cy.html
  test/cypress/e2e/a11y/bal-label.a11y.cy.ts
Due: none

chore(): add heading accessibility test
  packages/components/src/components/bal-heading/test/bal-heading.cy.html
  test/cypress/e2e/a11y/bal-heading.a11y.cy.ts
Due: none

chore(): add divider accessibility test
  packages/components/src/components/bal-divider/test/bal-divider.cy.html
  test/cypress/e2e/a11y/bal-divider.a11y.cy.ts
Due: none

chore(): add data accessibility test
  packages/components/src/components/bal-data/test/bal-data.cy.html
  test/cypress/e2e/a11y/bal-data.a11y.cy.ts
Due: none

chore(): add table accessibility test
  packages/components/src/components/bal-table/test/bal-table.cy.html
  test/cypress/e2e/a11y/bal-table.a11y.cy.ts
Due: none

chore(): add stack accessibility test
  packages/components/src/components/bal-stack/test/bal-stack.cy.html
  test/cypress/e2e/a11y/bal-stack.a11y.cy.ts
Due: none

chore(): add shape accessibility test
  packages/components/src/components/bal-shape/test/bal-shape.cy.html
  test/cypress/e2e/a11y/bal-shape.a11y.cy.ts
Due: none

chore(): add logo accessibility test
  packages/components/src/components/bal-logo/test/bal-logo.cy.html
  test/cypress/e2e/a11y/bal-logo.a11y.cy.ts
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-arrow-desktop-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-arrow-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-offset-desktop-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-offset-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-bottom-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-left-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-right-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-top-mobile-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-tabs-desktop-open.png
  test/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-tabs-mobile-open.png
Due: none

fix(field): remove padding and align label
  .changeset/proud-houses-promise.md
  packages/components/src/components/bal-field/bal-field.sass
  packages/components/src/components/bal-field/bal-field.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
