Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: build d.ts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing h5
  package-lock.json
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
  packages/css/src/core/core.vars.sass
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(heading): adjust spacing to the foundations
  .build/generate-css-utils.js
  packages/components/public/assets/css/table-of-content.css
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-carousel/bal-carousel-item/bal-carousel-item.tsx
  packages/components/src/components/bal-heading/bal-heading.sass
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/bal-stage/bal-stage-back-link/bal-stage-back-link.tsx
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.tsx
  packages/components/src/components/docs/bal-doc-lead/bal-doc-lead.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-colors.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-radius.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-breakpoints.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-colors.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-containers.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-colors.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-sizes.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-weight.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-shadow.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-spacing-sizes.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-spacing.tsx
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/02-development.stories.ts
  packages/css/index.html
  packages/css/src/css/core.sass
  packages/css/src/css/legacy.sass
  packages/css/src/css/structure.sass
  packages/css/src/css/typography.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): replace values with tokens
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-logo/bal-logo.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-shape/bal-shape.sass
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.sass
  packages/components/src/components/docs/bal-doc-link-list/bal-doc-link-list.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-input-slider/bal-input-slider.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-sheet/bal-sheet.sass
  packages/components/src/styles/base/generic.sass
Due: none

chore: remove shadow dom
  packages/components/src/components/bal-heading/bal-heading.sass
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-heading/stories/bal-heading.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust is-small to is-size-small
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.templates.ts
  packages/components/src/components/form/bal-select/stories/usage/angular/example_component_html.md
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.visual.html
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add shadow to text
  packages/components/src/components/bal-text/bal-text.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): replace font values with tokens
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
Due: none

chore: create typo helpers with tokens
  .build/generate-css-utils.js
  packages/css/src/css/legacy.sass
Due: none

chore: adjust heading selectors
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-list/bal-list.sass
Due: none

chore(): replace color values with tokens
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

chore(): replace color values with tokens
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

docs(): fix wrong variable name
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-colors.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): replace hummerjs with contactjs
  package-lock.json
  package.json
  packages/components/src/utils/swipe.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust shadow stage
  packages/components/src/components/bal-stage/bal-stage-back-link/bal-stage-back-link.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-text.visual.cy.ts/text-variants-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore: adjust css exports
  .changeset/tidy-tables-scream.md
  packages/css/src/core/layout/_all.sass
  packages/css/src/core/layout/base.sass
  packages/css/src/css/baloise-design-system.sass
  packages/css/src/css/global.bundle.sass
Due: none

chore: add structure
  .changeset/tidy-tables-scream.md
  packages/css/index.html
  packages/css/src/core/form/tools.sass
  packages/css/src/core/layout/_all.sass
  packages/css/src/core/layout/divider.sass
  packages/css/src/core/layout/typography.sass
  packages/css/src/css/baloise-design-system.sass
  packages/css/src/css/global.bundle.sass
  packages/css/src/css/structure.sass
  packages/css/src/mixins/extends.sass
  packages/css/src/mixins/general.mixin.sass
  packages/css/src/structure/_all.sass
  packages/css/src/structure/extends.sass
  packages/css/src/structure/mixins.sass
Due: none

chore: adjust sass file imports
  packages/components/src/styles/global.base.sass
  packages/components/src/styles/global.core.sass
  packages/components/src/styles/global.fonts.sass
  packages/components/src/styles/global.helpers.sass
  packages/components/src/styles/global.utilities.sass
  packages/css/scss/baloise-design-system.base.sass
  packages/css/scss/baloise-design-system.sass
  packages/css/scss/baloise-design-system.utilities.sass
  packages/css/src/css/normalize.sass
  packages/css/src/normalize/minireset.sass
  packages/css/src/normalize/normalize.sass
Due: none

chore: add changeset
  .changeset/clever-suns-allow.md
Due: none

chore: adjust bal-doc-app sass import
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.sass
Due: none

chore: add mini reset css
  packages/css/src/css/normalize.sass
Due: none

chore: adjust css font loading and fix spacing
  packages/css/src/css/global.bundle.sass
  packages/css/src/structure/mixins.sass
Due: none

chore: adjust footer and popover font color and increase wait for cypress font loading
  packages/components/cypress/support/commands.ts
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-popover/bal-popover.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove wait
  packages/components/cypress/support/commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: load font locally
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.sass
Due: none

chore: adjust popover font style and add wait 0 to cypress
  packages/components/cypress/support/commands.ts
  packages/components/src/components/bal-popover/bal-popover.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: increase the wait to 100ms
  packages/components/cypress/e2e/visual/bal-select.visual.cy.ts
  packages/components/cypress/support/commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove minireset
  packages/css/src/css/normalize.sass
Due: none

chore: adjust form control
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-textarea/test/bal-textarea.visual.html
  packages/css/src/core/form/input-textarea.sass
  packages/css/src/css/normalize.sass
  packages/css/src/mixins/control.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust select for datepicker
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-textarea.visual.cy.ts/textarea-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-textarea.visual.cy.ts/textarea-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-textarea.visual.cy.ts/textarea-field-base.png
  packages/components/cypress/snapshots/base/visual/bal-textarea.visual.cy.ts/textarea-field-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-textarea.visual.cy.ts/textarea-invalid-base.png
  packages/components/cypress/snapshots/base/visual/bal-textarea.visual.cy.ts/textarea-invalid-mobile-base.png
Due: none

chore(): refactor
  packages/components/cypress/component/bal-input-slider.cy.ts
  packages/components/cypress/component/bal-input-stepper.cy.ts
  packages/components/cypress/component/bal-number-input.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): replace inverted text colors
  .build/tokens-generator.js
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tag/bal-tag.sass
Due: none

chore(): refactor
  .build/tokens-generator.js
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-tag/bal-tag.sass
Due: none

chore(): add skipLibCheck
  tsconfig.base.json
Due: none

chore(): refactor
  packages/components/src/components/bal-logo/bal-logo.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
