Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: update web-app-utils
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.14
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(datepicker): disable next month button if max is reached
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): trigger build
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-upload): duplicate file message not showing
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-radio): change link color to inverted when selected
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): fix depracted fields in navbar,stage and bal-list
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-stage/bal-stage.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(sass): remove ~ of the imports. Closes #895
  packages/components-table/scss/design-system-table.sass
  packages/components/config/stencil.basic.config.ts
  packages/components/package-lock.json
  packages/components/src/stories/design/02-font.stories.mdx
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
  packages/components/src/stories/getting-started/react/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
  packages/components/src/stories/implementation/21-customize.stories.mdx
  packages/components/src/styles/global.base.sass
  packages/components/src/styles/global.core.sass
  packages/components/src/styles/global.fonts.sass
  packages/components/src/styles/global.helpers.sass
  packages/components/src/styles/global.utilities.sass
  packages/components/src/styles/global.variables.sass
  packages/css/scss/baloise-design-system.fonts.sass
  packages/css/scss/baloise-design-system.utilities.sass
  packages/css/scss/baloise-design-system.variables.sass
  rollup.base.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(datepicker): use fix date
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.visual.html
Due: none

test(datepicker): restore page before every test
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger build
  CHANGELOG.md
Due: none

fix(html): set overflow to overflow-x:hidden only
  packages/css/scss/base/_all.sass
Due: none

fix(html): remove duplicated overflow settings
  packages/css/scss/base/_all.sass
Due: none

chore: format files
  packages/components/src/components/all.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-simple-light-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore(): trigger build
  packages/components/src/components/bal-navbar/test/bal-navbar.visual.html
Due: none

fix(list): ignore inverted when it is undefined
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): scope bal-tab-items
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(datepicker): change to october
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): trigger build
  CHANGELOG.md
Due: none

fix(tabs): set index
  packages/components/src/components/bal-tabs/components/steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-disabled-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-invalid-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.15
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update doc files
  packages/components/src/components.d.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
