Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat(): change warning text color to danger
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add legacy
  packages/css/sass/legacy.sass
Due: none

chore: update docs
  docs/stories/development/02-upgrade/upgrade-guide.v16.stories.mdx
  packages/cli/bin/index.mjs
  packages/cli/src/ng-add/generators/styles.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update cli
  docs/stories/development/02-upgrade/upgrade-guide.v16.stories.mdx
  packages/cli/bin/index.mjs
Due: none

chore: update cli
  packages/cli/bin/index.mjs
Due: none

chore: remove old doc publish
  .dockerignore
  .github/workflows/actions/docs/action.yml
  .github/workflows/documentation.yml
  Dockerfile
Due: none

chore(): add a11y test
  packages/components/src/components/bal-icon/test/bal-icon.a11y.html
  test/cypress/e2e/a11y/bal-icon.a11y.cy.ts
Due: none

chore: update docs
  docs/.storybook/blocks/css-utils/CssBackgroundColors.tsx
  docs/.storybook/blocks/css-utils/CssBorder.tsx
  docs/.storybook/blocks/css-utils/CssBorderColors.tsx
  docs/.storybook/blocks/css-utils/CssBorderRadius.tsx
  docs/.storybook/blocks/css-utils/CssBorderWidth.tsx
  docs/.storybook/blocks/css-utils/CssElevation.tsx
  docs/.storybook/blocks/css-utils/CssElevationOpacity.tsx
  docs/.storybook/blocks/css-utils/CssElevationShadow.tsx
  docs/.storybook/blocks/css-utils/CssFlexbox.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxAlignContent.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxAlignItems.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxAlignSelf.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxDirection.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxFlex.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxGap.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxJustifyContent.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxWrap.tsx
  docs/.storybook/blocks/css-utils/CssInteractions.tsx
  docs/.storybook/blocks/css-utils/CssLayout.tsx
  docs/.storybook/blocks/css-utils/CssLayoutContainer.tsx
  docs/.storybook/blocks/css-utils/CssLayoutDisplay.tsx
  docs/.storybook/blocks/css-utils/CssResponsiveTable.tsx
  docs/.storybook/blocks/css-utils/helpers/CssPropertyTable.tsx
  docs/.storybook/blocks/index.ts
  docs/public/assets/code/html/index.html
  docs/stories/development/02-upgrade/upgrade-guide.v16.stories.mdx
  docs/stories/utilities/00-overview.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-content.stories.mdx
  docs/stories/utilities/layout/display.stories.mdx
  docs/stories/utilities/layout/overflow.stories.mdx
  docs/stories/utilities/layout/placement.stories.mdx
  docs/stories/utilities/layout/position.stories.mdx
  docs/stories/utilities/layout/vertical-align.stories.mdx
  docs/stories/utilities/layout/z-index.stories.mdx
  packages/styles/scripts/border.mjs
  packages/styles/scripts/flex.mjs
  packages/styles/scripts/utils.mjs
Due: none

chore: update docs
  docs/stories/utilities/background/background-color.stories.mdx
  docs/stories/utilities/border/border-color.stories.mdx
  docs/stories/utilities/border/border-radius.stories.mdx
  docs/stories/utilities/border/border-width.stories.mdx
  docs/stories/utilities/elevation/elevation-shadow.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-content.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-items.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-self.stories.mdx
  docs/stories/utilities/flexbox/flexbox-direction.stories.mdx
  docs/stories/utilities/flexbox/flexbox-flex.stories.mdx
  docs/stories/utilities/flexbox/flexbox-gap.stories.mdx
  docs/stories/utilities/flexbox/flexbox-justify-content.stories.mdx
  docs/stories/utilities/flexbox/flexbox-wrap.stories.mdx
  docs/stories/utilities/sizing/height-max.stories.mdx
  docs/stories/utilities/sizing/height-min.stories.mdx
  docs/stories/utilities/sizing/height.stories.mdx
  docs/stories/utilities/sizing/width-max.stories.mdx
  docs/stories/utilities/sizing/width-min.stories.mdx
  docs/stories/utilities/sizing/width.stories.mdx
  docs/stories/utilities/spacing/spacing-margin.stories.mdx
  docs/stories/utilities/spacing/spacing-padding.stories.mdx
  docs/stories/utilities/typography/typography-color.stories.mdx
  docs/stories/utilities/typography/typography-size.stories.mdx
  docs/stories/utilities/typography/typography-text-align.stories.mdx
Due: none

chore: update docs
  docs/.storybook/blocks/css-utils/CssSizing.tsx
  docs/.storybook/blocks/css-utils/CssTypography.tsx
  docs/.storybook/blocks/css-utils/CssTypographyColors.tsx
  docs/.storybook/blocks/css-utils/CssTypographyFamily.tsx
  docs/.storybook/blocks/css-utils/CssTypographySize.tsx
  docs/.storybook/blocks/css-utils/CssTypographyTextAlign.tsx
  docs/.storybook/blocks/css-utils/CssTypographyTextTransform.tsx
  docs/.storybook/blocks/css-utils/CssTypographyWeight.tsx
  docs/.storybook/blocks/css-utils/CssTypographyWhiteSpace.tsx
  docs/.storybook/blocks/index.ts
Due: none

chore(): add a11y test
  packages/components/src/components/bal-badge/test/bal-badge.a11y.html
  test/cypress/e2e/a11y/bal-badge.a11y.cy.ts
Due: none

chore(): refactor
  test/cypress/e2e/a11y/bal-badge.a11y.cy.ts
Due: none

fix(date): Disabled years or months in the selection list cannot be selected anymore
  .changeset/proud-beers-unite.md
  packages/components/src/components/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/bal-date/bal-date-calendar/components/bal-date-calendar__list.tsx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  test/cypress/component/bal-date-calendar.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(carousel): movement for large controls variant on mobile is optimized
  .changeset/young-carrots-remain.md
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/test/bal-carousel.partner.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-carousel/test/bal-carousel.partner.html
Due: none

chore: update docs script and unit test
  package.json
  packages/styles/__tests__/jsonClass.test.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(field): links A11y information only for direct controls, labels and messages
  .changeset/swift-roses-guess.md
  packages/components/src/components/bal-field/bal-field.tsx
  packages/components/src/components/bal-field/test/bal-field.nested.html
  packages/components/src/utils/mutation/mutation.interfaces.ts
  packages/components/src/utils/mutation/mutation.listener.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update docs
  docs/stories/development/02-upgrade/upgrade-guide.v16.stories.mdx
Due: none

chore: remove contributors, keywords and bugs
  docs/package.json
  package-lock.json
  package.json
  packages/brand-icons/package.json
  packages/cli/package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format file
  packages/components/src/test/css-sticky-footer.visual.html
Due: none

chore: remove console.log
  packages/components/src/components/bal-field/bal-field.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove contributors, keywords and bugs (#1302)
  docs/package.json
  package-lock.json
  package.json
  packages/brand-icons/package.json
  packages/cli/package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update actions
  .github/workflows/actions/build-e2e/action.yml
  .github/workflows/bulk-issues.yml
Due: none

chore: remove hydrate from the package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock file
  package-lock.json
Due: none

chore: adjust docs build
  docs/scripts/build.mjs
Due: none

chore: adjust docs build
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: decouple components form css utils
  .changeset/dry-doors-lay.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-heading/bal-heading.sass
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-notification/bal-notification.sass
  packages/components/src/components/bal-notification/bal-notification.tsx
  packages/components/src/components/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/bal-text/bal-text.tsx
  packages/css/src/core/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix heading sizes
  packages/components/src/components/bal-heading/bal-heading.sass
Due: none

chore: fix text sizes
  packages/components/src/components/bal-text/bal-text.sass
Due: none

chore: fix list sizes
  packages/components/src/components/bal-list/bal-list.sass
Due: none

fix: decouple components form css utils (#1304)
  .changeset/dry-doors-lay.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-heading/bal-heading.sass
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-notification/bal-notification.sass
  packages/components/src/components/bal-notification/bal-notification.tsx
  packages/components/src/components/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/bal-text/bal-text.tsx
  packages/css/src/core/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  .changeset/curly-pots-drop.md
Due: none

chore: adjust core
  packages/css/sass/core.sass
  packages/css/sass/grid.sass
  packages/css/src/core/_all.sass
  packages/css/src/core/container.sass
  packages/css/src/core/divider.sass
  packages/css/src/core/grid.sass
  packages/css/src/core/layout/_all.sass
  packages/css/src/core/link.sass
  packages/css/src/core/list.sass
  packages/css/src/core/table.sass
  packages/css/src/core/typography.sass
Due: none

chore: remove integrated grid utils
  apps/angular/base/app/src/styles.scss
  docs/public/assets/code/angular/src/styles.scss
  docs/public/assets/code/html/index.ts
  docs/public/assets/code/react/src/index.tsx
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v13.stories.mdx
  docs/stories/utilities/00-overview.stories.mdx
  packages/cli/src/ng-add/generators/styles.ts
  packages/css/sass/utils.bundle.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
