Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: run cypress in parallel
  .github/workflows/continuous.yml
Due: none

chore: run cypress without parallel
  .github/workflows/continuous.yml
Due: none

chore: run cypress in parallel 2
  .github/workflows/continuous.yml
Due: none

chore: check visual tests
  .github/workflows/continuous.yml
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-basic-base-1649064151470.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-variants-base-1649064151787.png
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: check visual tests 2
  .github/workflows/continuous.yml
Due: none

chore: test use chrome
  .github/workflows/continuous.yml
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-basic-base-1649064151470.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-basic-base-1649065144767.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-variants-base-1649064151787.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-variants-base-1649065145117.png
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: check visual tests 3
  .github/workflows/continuous.yml
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: check visual tests 4
  .github/workflows/continuous.yml
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add base image flow
  .github/workflows/base-image.yml
Due: none

chore: add visual base image flow
  .github/workflows/visual-base.yml
Due: none

chore: add base image flow 2
  .github/workflows/visual-base.yml
Due: none

chore(): update lock files
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-basic-base.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-variants-base.png
Due: none

chore: add base image flow 3
  .github/workflows/visual-base.yml
Due: none

chore: add base image flow 4
  .github/workflows/visual-base.yml
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-basic-base.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-variants-base.png
Due: none

chore: trigger build
  packages/components/.build/stencil/stencil.bindings.vue.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add base image flow 5
  .github/workflows/continuous.yml
Due: none

chore: add base image flow 6
  .eslintignore
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/web-server.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add base image flow 7
  .github/workflows/continuous.yml
Due: none

chore: add base image flow 8
  packages/components/web-server.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add base image flow 9
  .github/workflows/continuous.yml
  .github/workflows/visual-base.yml
  packages/components/cypress.json
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add base image flow 10
  packages/components/cypress/integration/visual/visual-regression.spec.ts
  packages/components/cypress/support/index.ts
  packages/components/cypress/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add base image flow 11
  packages/components/cypress/plugins/index.ts
  packages/components/cypress/support/index.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update flow
  .github/workflows/visual-base.yml
Due: none

chore: add base image flow 12
  .github/workflows/continuous.yml
Due: none

fix: merge with master
  package-lock.json
  packages/components/.storybook/preview-body.html
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/bal-badge/bal-badge.scss
  packages/components/src/components/bal-card/bal-card-subtitle/bal-card-subtitle.tsx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-data/bal-data.scss
  packages/components/src/components/bal-hint/bal-hint.scss
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-list/native-list.scss
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.tsx
  packages/components/src/components/docs/bal-doc-lead/bal-doc-lead.tsx
  packages/components/src/components/docs/bal-doc-tabs/bal-doc-tabs.scss
  packages/components/src/components/docs/bal-doc-usage-item/bal-doc-usage-item.tsx
  packages/components/src/components/docs/bal-doc-usage/bal-doc-usage.scss
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/components/form/bal-field/stories/bal-field.docs.mdx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.docs.mdx
  packages/components/src/components/form/bal-input-group/bal-input-group.scss
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.docs.mdx
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.stories.ts
  packages/components/src/components/form/bal-input-stepper/stories/bal-input-stepper.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.scss
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-select/stories/bal-select.docs.mdx
  packages/components/src/components/form/bal-slider/stories/bal-slider.docs.mdx
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.docs.mdx
  packages/components/src/components/form/bal-timeinput/stories/bal-timeinput.docs.mdx
  packages/components/src/props.d.ts
  packages/components/src/stories/assets/css/theme.css
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.8.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: set tags to bold
  packages/components/src/components/bal-tag/bal-tag.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: unset tags to bold
  packages/components/src/components/bal-tag/bal-tag.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: ci flow 1
  .github/workflows/continuous-v2.yml
Due: none

chore: chore: ci flow 2
  .github/workflows/continuous-v2.yml
Due: none

chore: chore: ci flow 3
  .github/workflows/continuous-v2.yml
Due: none

chore: chore: ci flow 4
  .github/workflows/continuous-v2.yml
Due: none

chore: chore: ci flow 5
  .github/workflows/continuous-v2.yml
Due: none

chore: chore: ci flow 6
  .github/workflows/continuous-v2.yml
Due: none

chore: chore: ci flow 7
  .github/workflows/continuous-v2.yml
Due: none

fix: add es5 build to support no module scripts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add webnamespaces ribbon
  README.md
Due: none
