Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/components/bal-tooltip/stories/bal-tooltip.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: move sticky footer styles to core css file and updated bal-app for vue applications
  .changeset/giant-plums-explain.md
  packages/components-vue/src/components/BalApp.ts
  packages/components/src/components/bal-app/bal-app.sass
  packages/css/sass/core.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/components/src/test/css-sticky-footer.visual.html
  packages/css/sass/core.sass
Due: none

chore: update bal-doc-app to support sticky footer
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update test and use bem
  packages/components/cypress/component/bal-date-calendar-cell.cy.ts
  packages/components/cypress/component/bal-date-calendar.cy.ts
  packages/components/cypress/e2e/visual/bal-date-calendar.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date-calendar-cell/bal-date-calendar-cell.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.mixins.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/test/bal-date-calendar--fullscreen.visual.html
  packages/components/src/components/form/bal-date/utils/calendar.spec.ts
  packages/components/src/components/form/bal-date/utils/calendar.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add bem
  packages/components/src/components/bal-tooltip/bal-tooltip.sass
  packages/components/src/components/bal-tooltip/bal-tooltip.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove fullscreen
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/test/bal-date-calendar--fullscreen.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tooltip.visual.cy.ts/tooltip-arrow-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-tooltip.visual.cy.ts/tooltip-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-tooltip.visual.cy.ts/tooltip-right-placement-desktop.png
Due: none

test: improve inline styles
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: improve inline styles
  packages/components/src/test/css-color.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-inheritance.visual.html
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-shadow.visual.html
  packages/components/src/test/css-spacing.visual.html
Due: none

test: improve inline styles
  packages/components/src/test/css-inheritance.visual.html
Due: none

chore: format files
  packages/components/src/components/form/bal-date/test/bal-date-calendar.visual.html
Due: none

test: adjust component test
  packages/components/cypress/component/bal-date-calendar-cell.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust testing lib test
  packages/components/cypress/e2e/base/bal-input-date.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/default-date-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/min-and-max-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/value-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/year-desktop.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

fix: move sticky footer styles to core css file and updated bal-app for vue applications (#1007)
  .changeset/giant-plums-explain.md
  packages/components-vue/src/components/BalApp.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/bal-app.sass
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/test/css-color.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-inheritance.visual.html
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-shadow.visual.html
  packages/components/src/test/css-spacing.visual.html
  packages/components/src/test/css-sticky-footer.visual.html
  packages/css/sass/core.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tooltip/bal-tooltip.sass
  packages/components/src/components/bal-tooltip/bal-tooltip.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/bal-carousel/bal-carousel.i18n.ts
  packages/components/src/components/bal-pagination/bal-pagination.i18n.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix scpell
  cspell.json
Due: none

chore: refactor calendar
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date-calendar-cell/bal-date-calendar-cell.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.mixins.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/day-cell.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/gird.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/selection-list.tsx
  packages/components/src/components/form/bal-date/bal-date.sass
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-date/bal-date.vars.sass
  packages/components/src/components/form/bal-date/test/bal-date-calendar.visual.html
  packages/components/src/components/form/bal-date/test/bal-date.visual.html
  packages/components/src/components/form/bal-date/utils/calendar.spec.ts
  packages/components/src/components/form/bal-date/utils/calendar.ts
  packages/components/src/utils/date/date.spec.ts
  packages/components/src/utils/date/date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add swipe
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/gird.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): remove tab line if there is no active tab
  .changeset/chilly-books-exercise.md
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): set default active tab in navbar visual test
  packages/components/src/components/bal-navbar/test/bal-navbar.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-without-active-tab-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-without-active-tab-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-without-active-tab.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore: format file
  packages/components/src/components/form/bal-date/bal-date.i18n.ts
  packages/components/src/components/form/bal-date/utils/calendar.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: refactor swipe and render
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/bal-date-calendar__gird.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/bal-date-calendar__list.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/components/bal-date-calendar__nav.tsx
  packages/components/src/components/form/bal-date/bal-date.i18n.ts
  packages/components/src/utils/date/date.ts
  packages/components/src/utils/swipe/swipe.decorator.ts
  packages/components/src/utils/swipe/swipe.listener.ts
  packages/components/src/utils/swipe/swipe.subject.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/min-and-max-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/value-desktop.png
Due: none

chore: fix cypress types
  packages/testing/src/commands/overrides/blur.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust test
  packages/components/cypress/component/bal-date-calendar.cy.ts
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.mixins.sass
  packages/components/src/components/form/bal-date/utils/calendar.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add popup
  package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date-calendar-cell/bal-date-calendar-cell.tsx
  packages/components/src/components/form/bal-date/bal-date.interfaces.ts
  packages/components/src/components/form/bal-date/bal-date.sass
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-date/test/bal-date.visual.html
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/interfaces.d.ts
  packages/components/src/utils/mask/mask.ts
  packages/css/src/core/form/input.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust style
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/bal-date.sass
  packages/components/src/components/form/bal-date/bal-date.vars.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add missing events
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/utils/mask/mask.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust last edge cases
  packages/components/src/components/bal-icon/bal-icon.vars.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/bal-date.sass
  packages/components/src/components/form/bal-date/bal-date.vars.sass
  packages/components/src/components/form/bal-date/utils/calendar.spec.ts
  packages/components/src/components/form/bal-date/utils/calendar.ts
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.sass
  packages/components/src/utils/mask/blocks/mask-block-list.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/mask-date.ts
  packages/css/src/core/form/input.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: change build strategy
  packages/testing/package.json
  packages/testing/rollup.config.js
  packages/testing/src/add-custom-commands.ts
  packages/testing/src/add-override-commands.ts
  packages/testing/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset
  .changeset/red-cobras-provide.md
Due: none

chore: add google console
  .gitignore
  packages/components/.storybook/main.js
  packages/components/.storybook/manager-head.html
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
