Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

style(list): add margin bottom to list item
  packages/components/src/components/bal-list/native-list.scss
Due: prettier --write

fix(card): remove usless margin bottom
  packages/components/src/components/bal-card/bal-card-actions/bal-card-actions.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components/form/bal-radio/bal-radio-group/readme.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.4.4
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format changelog
  CHANGELOG.md
Due: none

fix(field): only add margin to addon button
  packages/components/src/components/form/bal-field/bal-field.scss
Due: prettier --write

fix(button): adjust style for danger outlined button
  packages/components/src/components/bal-button/bal-button.scss
Due: prettier --write

fix(button): hide slot content when square prop is set
  packages/components/src/components/bal-button/bal-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(file-upload): add events balFilesAdded and balFilesRemoved
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(data): add multiline prop
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/components/src/components/bal-data/bal-data.scss
  packages/components/src/components/bal-data/stories/bal-data.stories.ts
  packages/components/src/components/bal-list/native-list.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(card): cards can have a hover effect and a selected background
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/bal-card.tsx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/styles/helpers/shadow.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(select): can be combined with icons and other inputs
  packages/components/src/components/form/bal-input-group/bal-input-group.scss
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.stories.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/readme.md
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.5.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): provide shared module in each component set module
  packages/components-angular/package.json
  packages/components-angular/src/directives/checkbox-accessor.ts
  packages/components-angular/src/shared.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update package lock file
  package-lock.json
  packages/components-angular/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): add new output
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove angular forms
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-angular/src/module.ts
  packages/components-angular/src/shared.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add forwardRef to checkbox
  packages/components-angular/src/directives/checkbox-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing dep
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add forms to shared
  packages/components-angular/src/shared.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add forms to shared
  packages/components-angular/src/module.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add forms to shared
  packages/components-angular/src/module.ts
  packages/components-angular/src/shared.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(button): enable custom content for square buttons
  packages/components/src/components/bal-button/bal-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.5.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): enable form submit for single select
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/stories/contributors.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.4.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: create prop types file
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-card/bal-card-button/bal-card-button.tsx
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-select/bal-select-option/bal-select-option.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): try to fix file upload by adding passive:false to drag and drop events
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.5.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update all components
  packages/components/src/components.d.ts
  packages/components/src/components/bal-heading/bal-heading.scss
  packages/components/src/components/docs/bal-doc-link-list/bal-doc-link-list.scss
  packages/components/src/components/docs/bal-doc-link-list/bal-doc-link-list.tsx
  packages/components/src/components/docs/bal-doc-tabs/bal-doc-tabs.scss
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-field/stories/bal-field.docs.mdx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.docs.mdx
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.docs.mdx
  packages/components/src/components/form/bal-input-stepper/stories/bal-input-stepper.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/stories/bal-select.docs.mdx
  packages/components/src/components/form/bal-select/stories/bal-select.templates.ts
  packages/components/src/components/form/bal-slider/stories/bal-slider.docs.mdx
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.docs.mdx
  packages/components/src/components/form/bal-timeinput/stories/bal-timeinput.docs.mdx
  packages/components/src/components/form/bal-timeinput/stories/bal-timeinput.stories.ts
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/components/notice/bal-notification/stories/bal-notification.docs.mdx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.docs.mdx
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.docs.mdx
  packages/components/src/components/notice/bal-toast/stories/bal-toast.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(heading): set to display block
  packages/components/src/components/bal-heading/bal-heading.scss
Due: prettier --write

docs: adjust to new design
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/stories/design/99-00-templates-pages.stories.ts
  packages/components/src/stories/design/99-01-templates-common.stories.ts
  packages/components/src/stories/getting-started/00-overview.stories.mdx
  packages/components/src/stories/getting-started/angular/00-overview.stories.mdx
  packages/components/src/stories/getting-started/react/00-overview.stories.mdx
  packages/components/src/stories/getting-started/vue/00-overview.stories.mdx
  packages/components/src/stories/implementation/01-components.stories.mdx
  packages/components/src/stories/implementation/02-property.stories.mdx
  packages/components/src/stories/implementation/03-event.stories.mdx
  packages/components/src/stories/implementation/04-method.stories.mdx
  packages/components/src/stories/implementation/05-toast-snackbar.stories.mdx
  packages/components/src/stories/implementation/06-modal.stories.mdx
  packages/components/src/stories/implementation/07-form.stories.mdx
  packages/components/src/stories/implementation/20-internationalization.stories.mdx
  packages/components/src/stories/implementation/21-customize.stories.mdx
  packages/components/src/stories/implementation/22-testing.stories.mdx
  packages/components/src/stories/implementation/99-troubleshooting.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(input-group): set to width 100%
  packages/components/src/components/form/bal-input-group/bal-input-group.scss
Due: prettier --write
