Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update figma sync
  .github/workflows/figma-sync.yml
Due: none

chore: remove figma ids
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix figma sync
  .github/workflows/figma-sync.yml
  scripts/figma-sync/backfill-commit.mjs
  scripts/figma-sync/pull.mjs
Due: none

chore(tokens): back-fill 1910 Figma variableId(s)
  packages/tokens/.figma-sync-state.json
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visuals
  packages/core/src/components/container/test/container.style.html
  packages/core/src/components/form/form.style.scss
  packages/core/src/components/grid/test/grid.style.html
  packages/core/src/components/text/test/text.style.html
  scripts/rename-component-classes.mjs
Due: prettier --write

chore: toky fixes
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
  apps/toky/src/tokens/figma.test.ts
  apps/toky/src/tokens/figma.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix component test
  packages/core/src/components/file-upload/test/file-upload.component.play.ts
  packages/playwright/src/lib/components/file-upload.po.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix foky
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
Due: none

chore: add css minifiert
  .changeset/salty-needles-repeat.md
  packages/css/package.json
  packages/css/src/build.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update toky
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Add real CSS minification for CMS (AEM) consumers (#2236)
  .changeset/salty-needles-repeat.md
  packages/css/package.json
  packages/css/src/build.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix figma sync
  scripts/figma-sync/pull.mjs
Due: none

chore: fix figma sync
  scripts/figma-sync/lib/github.mjs
Due: none

chore(tokens): back-fill 1910 Figma variableId(s), drop 2766 deleted Figma variable(s) from the baseline
  packages/tokens/.figma-sync-state.json
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update build artifacts
  apps/storybook/src/assets/data/components.json
Due: none

chore: fix figma sync
  apps/toky/src/tokens/figma-pull.ts
Due: none

chore: fix figma sync
  apps/toky/src/tokens/figma-map.ts
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
  scripts/figma-sync/lib/figma-value.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/test/write.test.ts
Due: none

feat: add ds-input-phone for international phone entry (#2185)
  .changeset/yellow-aliens-give.md
  packages/core/CONTEXT.md
  packages/core/package.json
  packages/core/src/components.d.ts
  packages/core/src/components/input-phone/country-data.ts
  packages/core/src/components/input-phone/flag.ts
  packages/core/src/components/input-phone/formatting.ts
  packages/core/src/components/input-phone/input-phone.host.scss
  packages/core/src/components/input-phone/input-phone.i18n.ts
  packages/core/src/components/input-phone/input-phone.interfaces.ts
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/src/components/input-phone/test/input-phone.visual.html
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/interfaces.d.ts
  packages/core/stencil.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: enhance input-phone component with comprehensive documentation and tests
  .gitignore
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
  apps/storybook/src/components/input-phone/1-Overview.mdx
  apps/storybook/src/components/input-phone/2-Usage.mdx
  apps/storybook/src/components/input-phone/3-Variants.mdx
  apps/storybook/src/components/input-phone/4-Styling.mdx
  apps/storybook/src/components/input-phone/5-Accessibility.mdx
  apps/storybook/src/components/input-phone/6-Testing.mdx
  apps/storybook/src/components/input-phone/input-phone.doc-config.ts
  apps/storybook/src/components/input-phone/input-phone.stories.ts
  cspell.json
  docs/plans/ds-input-phone-plan.md
  packages/core/src/components.d.ts
  packages/core/src/components/input-phone/country-data.spec.ts
  packages/core/src/components/input-phone/formatting.spec.ts
  packages/core/src/components/input-phone/input-phone.host.scss
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/src/components/input-phone/test/input-phone.a11y.play.ts
  packages/core/src/components/input-phone/test/input-phone.component.play.ts
  packages/core/src/components/input-phone/test/input-phone.visual.html
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts
  packages/playwright/src/lib/components/index.ts
  packages/playwright/src/lib/components/input-phone.po.ts
  scripts/build-docs.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: update command for Storybook documentation in development guide
  docs/DEVELOPMENT.md
Due: none

chore: add .pnpm-store to .gitignore
  .gitignore
Due: none

refactor: streamline caret positioning logic in input-phone component
  packages/core/src/components/input-phone/input-phone.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: include tokens directory in build inputs
  turbo.json
Due: none

feat: add input-phone-popup-width variable and update styles
  apps/storybook/src/assets/data/components.json
  packages/core/src/components/input-phone/input-phone.host.scss
Due: prettier --write

chore: update screenshots for input-phone
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatting-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatting-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: enhance input-phone component with improved formatting and placeholder functionality
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/input-phone/2-Usage.mdx
  apps/storybook/src/components/input-phone/3-Variants.mdx
  apps/storybook/src/components/input-phone/input-phone.stories.ts
  packages/core/CONTEXT.md
  packages/core/src/components/input-phone/formatting.spec.ts
  packages/core/src/components/input-phone/formatting.ts
  packages/core/src/components/input-phone/input-phone.host.scss
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/src/components/input-phone/test/input-phone.a11y.play.ts
  packages/core/src/components/input-phone/test/input-phone.component.play.ts
  packages/core/src/components/input-phone/test/input-phone.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for input-phone
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-countries-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-countries-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-country-selection-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-country-selection-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-description-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-description-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-empty-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-empty-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-form-reset-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatted-value-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatted-value-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatting-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatting-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-slot-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-slot-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-mid-typing-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-mid-typing-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-readonly-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-readonly-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-required-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-required-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: improve keyboard focus handling in input-phone component
  .changeset/breezy-phones-change.md
  apps/storybook/src/components/input-phone/3-Variants.mdx
  apps/storybook/src/components/input-phone/input-phone.stories.ts
  packages/core/src/components/input-phone/input-phone.host.scss
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/src/components/input-phone/test/input-phone.component.play.ts
  packages/core/src/components/input-phone/test/input-phone.visual.html
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for input-phone
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-country-selection-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-country-selection-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-focused-input-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-focused-input-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-focused-trigger-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-focused-trigger-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore(tokens): update via Toky
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset for token update
  .changeset/toky-update-next-1788788795326.md
Due: none

🎨 Update design tokens via Toky (#2237)
  .changeset/toky-update-next-1788788795326.md
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(tokens): back-fill 1 Figma variableId(s)
  packages/tokens/.figma-sync-state.json
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset for token update
  .changeset/toky-update-next-1788789293639.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1788789535559.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
