Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat(main nav desktop): cleanup and refactoring
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-levels/bal-navigation-levels.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel/bal-navigation-menu-panel.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-navigation/utils/level.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main nav desktop): updated dependencies
  packages/output-target-angular/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(main nav desktop): replaced the style with the class attr
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-levels/bal-navigation-levels.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): added swipe feature
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): added swipe feature
  packages/components/src/components/bal-image-slider/bal-image-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add react output target
  packages/output-targets/angular/__tests__/output-angular.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add react output target
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add react output target
  .build/copy.js
  packages/components/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add react output target
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add react output target
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/output-targets/react/README.md
  packages/output-targets/vue/README.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add react output target
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/src/directives/angular-component-lib/utils.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/output-targets/angular/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add react output target
  packages/components-angular/ng-package.json
  packages/components-angular/src/directives/angular-component-lib/utils.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/components-react/src/react-component-lib/createComponent.tsx
  packages/components-react/src/react-component-lib/createOverlayComponent.tsx
  packages/components-react/src/react-component-lib/index.ts
  packages/components-react/src/react-component-lib/interfaces.ts
  packages/components-react/src/react-component-lib/utils/attachProps.ts
  packages/components-react/src/react-component-lib/utils/case.ts
  packages/components-react/src/react-component-lib/utils/dev.ts
  packages/components-react/src/react-component-lib/utils/index.tsx
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.react.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust versions
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust versions 2
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust versions 3
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(main nav desktop): hover effect for menu panel elements, panel list headline font adjustments
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel-list-item/bal-navigation-menu-panel-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel-list/bal-navigation-menu-panel-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel/bal-navigation-menu-panel.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main nav desktop): adjusted the bal-nav container width
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

chore: adjust versions 4
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(root): update version
  package-lock.json
  package.json
Due: none

chore(tokens): update version
  package-lock.json
  package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(testing): update version
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(icons): update version
  packages/icons/package-lock.json
  packages/icons/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(icons & fonts): update version
  packages/fonts/package.json
  packages/icons/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(css): update version
  packages/css/package-lock.json
  packages/css/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(vue): update version
  .eslintrc.js
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components-vue/tsconfig.json
  packages/output-targets/vue/vue-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(icons): update version
  packages/icons/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(product-slider): controls overlapping fixed (#283)
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
Due: none

feat(nav mobile): added grey panel list + devider lines, adjusted spacings for the menu panel
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav desktop): removed .DS_Store file
  .DS_Store
Due: none

chore(table): update version
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(): changed touch target and cleanup
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(react): update version
  packages/components-react/package-lock.json
  packages/components-react/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(angular): update version
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(): changed touch target and cleanup
  packages/components/src/components/bal-image-slider/bal-image-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav desktop): remove the panel word from the components naming
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-menu-list-item/bal-navigation-menu-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav desktop): adjusted the elements structure for the main component
  packages/components/src/components/bal-navigation/bal-navigation-main-body/bal-navigation-main-body.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-head/bal-navigation-main-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav desktop): added target property for level link
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list-item/bal-navigation-menu-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/utils/level.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav desktop): refactored setInterval to no-timer solution
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
