Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add grid components
  .build/data/tags.json
  packages/components/cypress/e2e/visual/bal-nav-link.visual.cy copy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/test/bal-nav-link-grid.visual.html
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.sass
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.tsx
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.vars.sass
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-nav-menu-bar.visual.cy.ts/menu-bar-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-nav-menu-bar.visual.cy.ts/menu-bar-fullhd.png
  packages/components/cypress/snapshots/base/visual/bal-nav-menu-bar.visual.cy.ts/menu-bar-highDefinition.png
  packages/components/cypress/snapshots/base/visual/bal-nav-menu-bar.visual.cy.ts/menu-bar-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-nav-menu-bar.visual.cy.ts/menu-bar-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-nav-menu-bar.visual.cy.ts/menu-bar-widescreen.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: update lock file
  package-lock.json
Due: none

fix(number-input): do not show undefined in pattern
  .changeset/gorgeous-cobras-cough.md
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-steps): enable bal-steps item state to be changed dynamically during component life
  .changeset/gold-cheetahs-relate.md
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-steps/components/step-icon.sass
  packages/components/src/components/bal-steps/components/step-icon.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock file
  package-lock.json
Due: none

feat(bal-nav): add new components bal-nav-link-grid, bal-nav-link-grid-col and bal-nav-link-group
  .changeset/modern-dancers-guess.md
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/test/bal-nav-link-grid.visual.html
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/cypress/e2e/visual/bal-nav-link-grid.visual.cy.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid/test/bal-nav-link-grid.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-nav-link-grid.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link-grid.visual.cy.ts/basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link-grid.visual.cy.ts/basic-widescreen.png
Due: none

chore(): improve cdn documentation
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

📝 docs(): improve cdn documentation (#942)
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update
  .build/data/tags.json
  package-lock.json
  package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-carousel/controls/large-control.tsx
  packages/components/src/components/bal-carousel/controls/small-control.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/test/bal-nav-meta-bar.visual.html
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/bal-nav.types.ts
  packages/components/src/components/bal-nav/bal-nav.vars.sass
  packages/components/src/components/bal-nav/models/bal-nav-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-main-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-button.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-section-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-service-link-item.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/variants/abstract-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/drawer-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/fullscreen-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/variant.interfaces.ts
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update z-index
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/bal-nav.sass
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/variants/fullscreen-variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove console logs
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: merge branch 'refactor/issue-911' into navigation-link-grid
  .build/data/tags.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Navigation link grid (#941)
  .changeset/modern-dancers-guess.md
  packages/components/cypress/e2e/visual/bal-nav-link-grid.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/bal-nav-link-grid.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link-grid.visual.cy.ts/basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link-grid.visual.cy.ts/basic-widescreen.png
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/test/bal-nav-link-grid.visual.html
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.sass
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.tsx
  packages/components/src/components/bal-nav/bal-nav-link-group/bal-nav-link-group.vars.sass
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add desktop links
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.tsx
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-button.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-section-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-service-link-item.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add link list
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-menu-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-section-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-service-link-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve focus
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: none

fix(bal-tabs): render button in nav if no href
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add aria attributes
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-nav/bal-nav.i18n.ts
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-button.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-spinner/bal-spinner.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add overview link
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add active path
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.tsx
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-section-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-service-link-item.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: support one meta link option
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add logo links
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add overview link
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-menu-link-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): use div instead of nav
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(accordion): sets initial active state
  .changeset/eight-taxis-unite.md
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(accordion): add color and size for the button option
  .changeset/afraid-pumas-shout.md
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): add aria attributes
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/components/tab-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): background color fix
  packages/components/src/components/bal-tabs/components/tab-button.sass
Due: none

test: add visual tests
  packages/components/cypress/e2e/visual/bal-accordion.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.v2.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
