Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix ds-app and add next page
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
  apps/storybook/src/whats-new.mdx
  packages/core/src/components.d.ts
  packages/core/src/components/accordion/test/accordion.visual.html
  packages/core/src/components/alert/test/alert.visual.html
  packages/core/src/components/alert/test/snackbar.visual.html
  packages/core/src/components/alert/test/toast.visual.html
  packages/core/src/components/app/app.interfaces.ts
  packages/core/src/components/app/app.tsx
  packages/core/src/components/app/app.vars.scss
  packages/core/src/components/app/test/app.component.play.ts
  packages/core/src/components/card/test/card.visual.html
  packages/core/src/components/drawer/test/drawer.visual.html
  packages/core/src/components/hint/test/hint.visual.html
  packages/core/src/components/logo/test/logo.visual.html
  packages/core/src/components/modal/test/modal.visual.html
  packages/core/src/components/popup/test/popup.visual.html
  packages/core/src/components/sheet/test/sheet.visual.html
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/interfaces.d.ts
  packages/core/src/utils/date/date.ts
  packages/core/src/utils/helpers.ts
  packages/core/src/utils/number.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove DsApp
  packages/playwright/src/lib/components/app.po.ts
  packages/playwright/src/lib/components/index.ts
  packages/react/src/index.test.ts
  packages/react/src/wrappers.ts
  phone.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix ds-app and add next page (#2269)
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
  apps/storybook/src/whats-new.mdx
  packages/core/src/components.d.ts
  packages/core/src/components/accordion/test/accordion.visual.html
  packages/core/src/components/alert/test/alert.visual.html
  packages/core/src/components/alert/test/snackbar.visual.html
  packages/core/src/components/alert/test/toast.visual.html
  packages/core/src/components/app/app.interfaces.ts
  packages/core/src/components/app/app.tsx
  packages/core/src/components/app/app.vars.scss
  packages/core/src/components/app/test/app.component.play.ts
  packages/core/src/components/card/test/card.visual.html
  packages/core/src/components/drawer/test/drawer.visual.html
  packages/core/src/components/hint/test/hint.visual.html
  packages/core/src/components/logo/test/logo.visual.html
  packages/core/src/components/modal/test/modal.visual.html
  packages/core/src/components/popup/test/popup.visual.html
  packages/core/src/components/sheet/test/sheet.visual.html
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/interfaces.d.ts
  packages/core/src/utils/date/date.ts
  packages/core/src/utils/helpers.ts
  packages/core/src/utils/number.ts
  packages/playwright/src/lib/components/app.po.ts
  packages/playwright/src/lib/components/index.ts
  packages/react/src/index.test.ts
  packages/react/src/wrappers.ts
  phone.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add a Node-compatible hydrate build for upcoming React SSR (#2221)
  .changeset/chatty-garlics-decide.md
  .gitignore
  docs/adr/0029-ssr-hydrate-build.md
  packages/core/CONTEXT.md
  packages/core/config/stencil.bindings.react.ts
  packages/core/eslint.config.ts
  packages/core/package.json
  packages/core/stencil.config.ts
  packages/react/CONTEXT.md
  packages/react/tsconfig.lib.json
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: no-op token preview when hydrate has no parent window (#2221)
  docs/adr/0031-ssr-hydrate-build.md
  docs/plans/toky-live-token-preview-plan.md
  packages/core/CONTEXT.md
  packages/core/src/global/token-preview.spec.ts
  packages/core/src/global/token-preview.ts
  packages/react/CONTEXT.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add plan
  docs/plans/ds-migrate-baloise-plan.md
Due: none

chore: improve docs for navigation
  .gitignore
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/00-overview.mdx
  apps/storybook/src/components/app-navbar/app-navbar.stories.ts
  apps/storybook/src/components/sheet/1-Overview.mdx
  apps/storybook/src/components/sheet/sheet.stories.ts
  apps/storybook/src/components/tabs/tabs.stories.ts
  docs/TODOS.md
  packages/core/src/components/button/button-group/button-group.mixin.scss
  packages/core/src/components/steps/step/step.host.scss
  packages/core/src/components/steps/steps/steps.host.scss
  packages/core/src/components/tabs/tabs/tabs.host.scss
  packages/core/src/components/tabs/tabs/tabs.tsx
  packages/styles/src/build.ts
  packages/tokens/src/index.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix button group
  packages/core/src/components/button/button-group/button-group.mixin.scss
  packages/core/src/components/button/button.host.scss
Due: prettier --write

chore: update screenshots for date,select,button,button-group,input,card,input-phone,input-slider,input-stepper
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-wide-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-loading-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-autocomplete-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-stepper/test/input-stepper.visual.play.ts-snapshots/input-stepper-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input/test/input.visual.play.ts-snapshots/input-button-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input/test/input.visual.play.ts-snapshots/input-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-basic-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-basic-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-clearable-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-clearable-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-grouped-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-grouped-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-multiple-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-multiple-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-searchable-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-searchable-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

fix: change type of checkboxgroup dschange event
  .changeset/kind-hands-chew.md
  apps/storybook/src/assets/data/components.json
  packages/core/src/components/radio/radio.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add angular radio group smoke test
  apps/integration-angular/e2e/radio-group.spec.ts
  apps/integration-angular/src/app/radio-group-demo/radio-group-demo.html
  apps/integration-angular/src/app/radio-group-demo/radio-group-demo.ts
Due: none

chore: format
  apps/integration-angular/src/app/app.ts
Due: none

feat(angular): add ControlValueAccessor for ds-file-upload
  apps/integration-angular/e2e/file-upload.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/file-upload-demo/file-upload-demo.html
  apps/integration-angular/src/app/file-upload-demo/file-upload-demo.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-file-upload.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/file-upload/file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(angular): Ds radio group reactive forms support (#2254)
  .changeset/kind-hands-chew.md
  apps/integration-angular/e2e/radio-group.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/radio-group-demo/radio-group-demo.html
  apps/integration-angular/src/app/radio-group-demo/radio-group-demo.ts
  apps/storybook/src/assets/data/components.json
  cspell.json
  packages/angular/src/forms/ds-radio-group.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/radio/radio-group/radio-group.tsx
  packages/core/src/components/radio/radio.interfaces.ts
  packages/core/src/components/radio/test/radio.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): format
  apps/integration-angular/src/app/file-upload-demo/file-upload-demo.html
Due: none

fix(input-stepper): resolve empty and out-of-range value writes in the value watcher
  .changeset/large-pugs-count.md
  apps/storybook/src/assets/data/components.json
  packages/core/src/components.d.ts
  packages/core/src/components/input-stepper/input-stepper.tsx
  packages/core/src/components/input-stepper/test/input-stepper.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(angular): Ds input steper reactive forms support.
  apps/integration-angular/e2e/input-stepper.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/input-stepper-demo/input-stepper-demo.html
  apps/integration-angular/src/app/input-stepper-demo/input-stepper-demo.ts
  packages/angular/src/forms/ds-input-stepper.ts
  packages/angular/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: ds input stepper reactive forms support (#2281)
  .changeset/large-pugs-count.md
  apps/integration-angular/e2e/input-stepper.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/input-stepper-demo/input-stepper-demo.html
  apps/integration-angular/src/app/input-stepper-demo/input-stepper-demo.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/src/forms/ds-input-stepper.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/input-stepper/input-stepper.tsx
  packages/core/src/components/input-stepper/test/input-stepper.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Feat/file upload reactive forms support (#2279)
  apps/integration-angular/e2e/file-upload.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/file-upload-demo/file-upload-demo.html
  apps/integration-angular/src/app/file-upload-demo/file-upload-demo.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-file-upload.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/file-upload/file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(angular): add ControlValueAccessor for ds-select
  .changeset/grumpy-clubs-punch.md
  apps/integration-angular/e2e/select.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/select-demo/select-demo.html
  apps/integration-angular/src/app/select-demo/select-demo.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-select.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/select/select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(angular): add ControlValueAccessor for ds-select (#2282)
  .changeset/grumpy-clubs-punch.md
  apps/integration-angular/e2e/select.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/select-demo/select-demo.html
  apps/integration-angular/src/app/select-demo/select-demo.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-select.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/select/select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(react): add Node SSR entry via the node export condition (#2222)
  .changeset/stale-melons-train.md
  packages/react/CONTEXT.md
  packages/react/package.json
  packages/react/src/bootstrap.ts
  packages/react/src/components/modal.tsx
  packages/react/src/hooks/use-modal.ts
  packages/react/src/hooks/use-snackbar.ts
  packages/react/src/hooks/use-toast.ts
  packages/react/src/index.server.ts
  packages/react/src/index.test.ts
  packages/react/src/wrappers.server.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add Next.js SSR verification app (#2223)
  .changeset/config.json
  .changeset/fiery-baths-sit.md
  .changeset/pre.json
  .github/workflows/continuous.yml
  .gitignore
  apps/integration-next/.gitignore
  apps/integration-next/app/client-init.tsx
  apps/integration-next/app/layout.tsx
  apps/integration-next/app/overlays/overlays-demo.tsx
  apps/integration-next/app/overlays/page.tsx
  apps/integration-next/app/page.tsx
  apps/integration-next/e2e/collect-page-errors.ts
  apps/integration-next/e2e/overlays.spec.ts
  apps/integration-next/e2e/ssr.spec.ts
  apps/integration-next/eslint.config.ts
  apps/integration-next/next.config.ts
  apps/integration-next/package.json
  apps/integration-next/playwright.config.ts
  apps/integration-next/tsconfig.json
  package.json
  packages/react/CONTEXT.md
  packages/react/package.json
  packages/react/scripts/patch-server-wrappers.mjs
  packages/react/src/components/ds-root-provider.server.tsx
  packages/react/src/components/ds-root-provider.shared.tsx
  packages/react/src/components/ds-root-provider.test.tsx
  packages/react/src/index.server.ts
  packages/react/src/index.test.ts
  packages/react/src/ssr-create-component.test.ts
  packages/react/src/ssr-create-component.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: docs update forms part 1
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/00-overview.mdx
  apps/storybook/src/components/checkbox/3-Variants.mdx
  apps/storybook/src/components/checkbox/checkbox.stories.ts
  apps/storybook/src/components/input-phone/3-Variants.mdx
  apps/storybook/src/components/input-slider/3-Variants.mdx
  apps/storybook/src/components/input-stepper/3-Variants.mdx
  apps/storybook/src/components/input/3-Variants.mdx
  apps/storybook/src/components/number-input/3-Variants.mdx
  apps/storybook/src/components/radio/3-Variants.mdx
  apps/storybook/src/components/radio/radio.stories.ts
  apps/storybook/src/components/select/1-Overview.mdx
  apps/storybook/src/components/select/select.stories.ts
  apps/storybook/src/components/textarea/3-Variants.mdx
  apps/storybook/src/components/toggle/3-Variants.mdx
  docs/TODOS.md
  packages/core/src/components/checkbox/checkbox.host.scss
  packages/core/src/components/checkbox/checkbox.mixin.scss
  packages/core/src/components/date/date.host.scss
  packages/core/src/components/date/date.tsx
  packages/core/src/components/date/test/date.component.play.ts
  packages/core/src/components/date/test/date.visual.html
  packages/core/src/components/radio/radio.host.scss
  packages/core/src/components/radio/radio.mixin.scss
  packages/core/src/components/select/select.host.scss
  packages/core/src/components/select/select.picker.ts
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/test/select.component.play.ts
  packages/core/src/components/select/test/select.visual.html
  packages/core/src/components/toggle/toggle.host.scss
  packages/core/src/components/toggle/toggle.mixin.scss
  packages/core/src/components/toggle/toggle.tsx
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(react): SSR-capable hydrate build for @baloise/ds-core (#2246)
  .changeset/chatty-garlics-decide.md
  .gitignore
  docs/adr/0031-ssr-hydrate-build.md
  docs/plans/toky-live-token-preview-plan.md
  packages/core/CONTEXT.md
  packages/core/config/stencil.bindings.react.ts
  packages/core/eslint.config.ts
  packages/core/package.json
  packages/core/src/global/token-preview.spec.ts
  packages/core/src/global/token-preview.ts
  packages/core/stencil.config.ts
  packages/react/CONTEXT.md
  packages/react/tsconfig.lib.json
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(react): add Node SSR entry via the node export condition (#2275)
  .changeset/stale-melons-train.md
  packages/react/CONTEXT.md
  packages/react/package.json
  packages/react/src/bootstrap.ts
  packages/react/src/components/modal.tsx
  packages/react/src/hooks/use-modal.ts
  packages/react/src/hooks/use-snackbar.ts
  packages/react/src/hooks/use-toast.ts
  packages/react/src/index.server.ts
  packages/react/src/index.test.ts
  packages/react/src/wrappers.server.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add Next.js SSR verification app (#2223) (#2277)
  .changeset/config.json
  .changeset/fiery-baths-sit.md
  .changeset/pre.json
  .github/workflows/continuous.yml
  .gitignore
  apps/integration-next/.gitignore
  apps/integration-next/app/client-init.tsx
  apps/integration-next/app/layout.tsx
  apps/integration-next/app/overlays/overlays-demo.tsx
  apps/integration-next/app/overlays/page.tsx
  apps/integration-next/app/page.tsx
  apps/integration-next/e2e/collect-page-errors.ts
  apps/integration-next/e2e/overlays.spec.ts
  apps/integration-next/e2e/ssr.spec.ts
  apps/integration-next/eslint.config.ts
  apps/integration-next/next.config.ts
  apps/integration-next/package.json
  apps/integration-next/playwright.config.ts
  apps/integration-next/tsconfig.json
  package.json
  packages/react/CONTEXT.md
  packages/react/package.json
  packages/react/scripts/patch-server-wrappers.mjs
  packages/react/src/components/ds-root-provider.server.tsx
  packages/react/src/components/ds-root-provider.shared.tsx
  packages/react/src/components/ds-root-provider.test.tsx
  packages/react/src/index.server.ts
  packages/react/src/index.test.ts
  packages/react/src/ssr-create-component.test.ts
  packages/react/src/ssr-create-component.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix toggle
  apps/storybook/src/components/00-overview.mdx
  apps/storybook/src/components/checkbox/checkbox.stories.ts
  apps/storybook/src/components/radio/radio.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/checkbox/checkbox.tsx
  packages/core/src/components/checkbox/test/checkbox.visual.html
  packages/core/src/components/toggle/toggle.host.scss
  packages/core/src/components/toggle/toggle.interfaces.ts
  packages/core/src/components/toggle/toggle.mixin.scss
  packages/core/src/components/toggle/toggle.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update last form components
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/00-overview.mdx
  docs/TODOS.md
  package.json
  packages/core/src/components/file-upload/file-upload.host.scss
  packages/core/src/components/file-upload/file-upload.tsx
  packages/core/src/components/segment/segment/segment.host.scss
  packages/core/src/components/segment/segment/segment.mixin.scss
  packages/core/src/components/shape/shape.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update spell
  cspell.json
Due: none

chore: format files
  cspell.json
Due: none

chore: update docs
  apps/storybook/.storybook/blocks/WelcomeGuide.tsx
  apps/storybook/src/assets/data/contributors.json
  apps/storybook/src/assets/images/chart-multi-brand.svg
  apps/storybook/src/contributing.mdx
  apps/storybook/src/whats-new.mdx
  docs/agents/component-category-migration-plan.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
