Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update base images
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG.md
Due: none

test: add visual test for the toast
  .DS_Store
  packages/components/cypress/e2e/visual/bal-toast.visual.cy.ts
  packages/components/src/components/notice/bal-toast/test/bal-toast.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-tablet-base.png
Due: none

test: trigger build
  CHANGELOG.md
Due: none

test: update docs and tests
  packages/components/cypress/e2e/base/toast.cy.ts
  packages/components/cypress/e2e/visual/bal-close.visual.cy.ts
  packages/components/cypress/support/legacy/pages/toast.page.ts
  packages/components/src/components/bal-close/test/bal-close.visual.html
  packages/components/src/components/bal-list/test/bal-list.visual.html
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
  packages/components/src/components/notice/bal-toast/test/bal-toast.cy.html
  packages/components/src/components/notice/bal-toast/test/bal-toast.visual.html
  packages/components/src/stories/contributing/how-to's/03-visual-testing.stories.mdx
  packages/components/src/styles/mixins/alert.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add visual tests for accordion
  packages/components/cypress/e2e/visual/bal-accordion.visual.cy.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-close.visual.cy.ts/close-variants-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-variants-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-variants-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-mobile-base.png
Due: none

fix(list): passing click event of items content. Closes #582
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-tablet-base.png
Due: none

chore: update CI
  .github/workflows/continuous.yml
  packages/components/src/stories/contributing/how-to's/03-visual-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: run prettier
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
Due: none

chore: remove on push
  .github/workflows/continuous.yml
Due: none

fix: move css vars out of utilities
  packages/css/scss/baloise-design-system.utilities.sass
  packages/css/scss/base/_all.sass
  packages/css/scss/base/css.vars.sass
  packages/css/scss/variables/typography.vars.sass
Due: none

test: add more accordion options
  packages/components/cypress/e2e/visual/bal-accordion.visual.cy.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-mobile-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-mobile-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-mobile-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-with-card-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-with-card-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-with-card-open-base.png
Due: none

chore: format files
  packages/components/src/components/notice/bal-toast/test/bal-toast.visual.html
Due: none

chore(release): v10.22.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add bal-badge
  packages/components/cypress/e2e/visual/bal-badge.visual.cy.ts
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: fix doc-app class
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/badge-basic-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/badge-button-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/badge-card-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/badge-icon-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/button-variants-base.png
Due: none

feat(bal-tab-slider): implemented new interface for pagination, created the tabs slider
  packages/components/src/components.d.ts
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-pagination/stories/bal-pagination.stories.ts
  packages/components/src/components/bal-tab-slider/bal-tab-slider-item/bal-tab-slider-item.tsx
  packages/components/src/components/bal-tab-slider/bal-tab-slider.sass
  packages/components/src/components/bal-tab-slider/bal-tab-slider.tsx
  packages/components/src/components/bal-tab-slider/stories/bal-tab-slider.docs.mdx
  packages/components/src/components/bal-tab-slider/stories/bal-tab-slider.stories.ts
  packages/components/src/components/bal-tab-slider/stories/testing.md
  packages/components/src/props.d.ts
  packages/components/src/styles/components/_all.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(testing): adjust contains override
  packages/components/cypress/e2e/base/accordion.cy.ts
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/contains.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove comments
  packages/components/cypress/e2e/base/legacy.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust tests
  packages/components/cypress/e2e/base/datepicker.cy.ts
  packages/components/cypress/e2e/base/legacy.cy.ts
  packages/testing/src/commands/overrides/contains.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(container): add tokens for container space and max-width
  .build/tokens-generator.js
  packages/css/scss/layout/container.sass
  packages/tokens/src/index.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-slider): renamed the slider component into input slider and tab slider into slider
  packages/components/src/components.d.ts
  packages/components/src/components/bal-slider/bal-slider-item/bal-slider-item.tsx
  packages/components/src/components/bal-slider/bal-slider.sass
  packages/components/src/components/bal-slider/bal-slider.tsx
  packages/components/src/components/bal-slider/stories/bal-slider.docs.mdx
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
  packages/components/src/components/bal-slider/stories/testing.md
  packages/components/src/components/bal-tab-slider/stories/bal-tab-slider.docs.mdx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.sass
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.docs.mdx
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.stories.ts
  packages/components/src/components/form/bal-input-slider/stories/testing.md
  packages/components/src/components/form/bal-input-slider/test/bal-input-slider.cy.html
  packages/components/src/events.d.ts
  packages/components/src/styles/components/_all.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(snackbar): fix max-width. Closes #574
  packages/components/cypress/e2e/visual/bal-snackbar.visual.cy.ts
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/notice/bal-snackbar/test/bal-snackbar.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(card): add color levels 1-3 of purple, green, red and yellow
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-input-slider): updated e2e tests
  packages/components/cypress/e2e/base/input-slider.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(snackbar): add visual test
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-close/stories/bal-close.docs.mdx
  packages/components/src/components/bal-list/stories/bal-list.docs.mdx
  packages/components/src/components/bal-stage/stories/bal-stage.docs.mdx
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.docs.mdx
  packages/components/src/components/notice/bal-snackbar/test/bal-snackbar.visual.html
  packages/components/src/components/notice/bal-toast/stories/bal-toast.docs.mdx
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update page title
  packages/components/.storybook/preview.js
  packages/components/src/stories/design/03-icons.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-tablet-base.png
Due: none

fix(list): adjust the default link size
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(stage): add advisor list. Closes #575
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(product-slider): adjust size for 3 lines. Closes #315
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
  packages/components/src/components/bal-product-slider/stories/bal-product-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(button-group): column alignment. Closes #562
  packages/components/src/components/bal-button/bal-button-group/bal-button-group.tsx
  packages/components/src/components/bal-button/bal-button.sass
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
