Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: format files
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
Due: none

fix(): use conditional rendering instead of css
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-modal/bal-modal-header/bal-modal-header.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

perf: load css when needed
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/config/doc.components.ts
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-logo/bal-logo.sass
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/bal-tag/test/bal-tag.cy.html
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/components/docs/bal-doc-story/bal-doc-story.tsx
  packages/components/src/components/notice/bal-notification/bal-notification.sass
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
  packages/components/src/global.ts
  packages/components/src/stories/welcome.stories.mdx
  packages/components/src/styles/global.all.sass
  packages/components/src/styles/global.components.sass
  packages/components/src/styles/global.core.sass
  packages/components/src/utils/config/config.types.ts
  packages/components/src/utils/config/index.ts
  packages/components/src/utils/config/mode.ts
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: remove source maps
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: change length of chucks
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(sheet): refactor
  packages/components/cypress/e2e/visual/bal-sheet.visual.cy.ts
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.10
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(sheet): refactor
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-sheet.visual.cy.ts/sheet-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-sheet.visual.cy.ts/sheet-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-sheet.visual.cy.ts/sheet-basic-tablet-base.png
Due: none

test(logo): refactor
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
  packages/components/src/components/bal-logo/test/bal-logo.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

perf: lazy load component styles
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/config/doc.components.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-spinner/bal-spinner.sass
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/components/bal-spinner/stories/bal-spinner.stories.ts
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/components/docs/bal-doc-story/bal-doc-story.tsx
  packages/components/src/stories/welcome.stories.mdx
  packages/components/src/styles/global.core.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(logo): refactor
  packages/components/src/components/bal-logo/test/bal-logo.visual.html
Due: none

test(pagination): refactor
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
Due: none

test(pagination): refactor
  packages/components/cypress/e2e/visual/bal-pagination.visual.cy.ts
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): refactor
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
Due: none

test(button): refactor
  packages/components/src/components/bal-button/test/bal-button.visual.html
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
Due: none

test(hint): refactor
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-small-desktop-base.png
  packages/components/src/stories/contributors.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(hint): refactor
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: none

test(hint): refactor
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-open-tablet-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-small-mobile-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-small-tablet-base.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-small-desktop-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-small-mobile-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-small-tablet-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-small-with-dots-desktop-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-small-with-dots-mobile-base.png
  packages/components/cypress/snapshots/base/bal-pagination.visual.cy.ts/pagination-small-with-dots-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(carousel): shadow controls
  .build/docs-contributors.js
  packages/components/src/components.d.ts
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/controls/large-control.tsx
  packages/components/src/components/bal-carousel/stories/bal-carousel.stories.ts
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/stories/contributors.md
  packages/css/scss/form/file.sass
  packages/css/scss/form/shared.sass
  packages/css/scss/mixins/control.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-carousel/bal-carousel.type.ts
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update controls
  packages/components/src/components/bal-carousel/stories/bal-carousel.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update types
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(card): add visual test
  packages/components/cypress/e2e/visual/bal-card.visual.cy.ts
  packages/components/src/components/bal-card/test/bal-card.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(card): format
  packages/components/src/components/bal-card/test/bal-card.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-border-desktop-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-border-mobile-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-border-tablet-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-colors-desktop-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-colors-mobile-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-colors-tablet-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-flat-desktop-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-flat-mobile-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-flat-tablet-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-space-desktop-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-space-mobile-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-space-tablet-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-square-desktop-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-square-mobile-base.png
  packages/components/cypress/snapshots/base/bal-card.visual.cy.ts/card-square-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(navbar): add visual test
  packages/components/cypress/e2e/visual/bal-navbar.visual.cy.ts
  packages/components/src/components/bal-navbar/test/bal-navbar.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-tablet-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-simple-light-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-simple-light-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-simple-light-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
