Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat(input-date): add new component
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/mask-date.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(input-date): add new component
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/utils/date/date.spec.ts
  packages/components/src/utils/mask/context/mask-context.ts
  packages/components/src/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/utils/mask/context/mask-position.ts
  packages/components/src/utils/mask/mask-interfaces.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/mask-date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: improve date util
  packages/components/src/utils/date/date.spec.ts
  packages/components/src/utils/date/date.ts
  packages/components/src/utils/mask/mask.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(select): add free-solo
  .changeset/popular-sloths-lick.md
  packages/components/cypress/e2e/visual/bal-select.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/test/bal-select.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: loading state for datepicker and select
  .changeset/stale-ties-kick.md
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-control/bal-field-control.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/components/form/bal-select/test/bal-select.visual.html
  packages/css/src/core/form/tools.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-selected-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-selected-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-free-solo-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-free-solo-mobile.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

fix(bal-close): fix bal-close state background colors and remove unnecessary customization variables
  .changeset/chilly-dogs-care.md
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-close/bal-close.vars.sass
Due: none

chore(): update lock file
  package-lock.json
Due: none

fix(steps): carousel option for mobile breakpoint
  .changeset/polite-spoons-learn.md
  packages/components/cypress/e2e/visual/bal-steps.visual.cy.ts
  packages/components/src/components/bal-close/stories/theming.md
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/test/bal-steps.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tabs): label overflow on vertical tabs
  .changeset/shaggy-spies-notice.md
  packages/components/src/components/bal-tabs/components/tab-label.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-four-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-four-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-four.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list.png
Due: none

fix(): check if window exist before calling the matchMedia function
  .changeset/fluffy-ducks-appear.md
  packages/components/src/utils/device.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: check if window is defined
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/utils/device.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/sixty-gorillas-compete.md
Due: none

chore: import utils instead of interfaces
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

🐛 fix: check if window is defined (#916)
  .changeset/sixty-gorillas-compete.md
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/utils/device.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

refactor: masks
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/utils/date/date.spec.ts
  packages/components/src/utils/date/date.ts
  packages/components/src/utils/mask/__test__/mask-keyboard-context.mock.ts
  packages/components/src/utils/mask/blocks/index.ts
  packages/components/src/utils/mask/blocks/mask-block-interfaces.ts
  packages/components/src/utils/mask/blocks/mask-block-list.spec.ts
  packages/components/src/utils/mask/blocks/mask-block-list.ts
  packages/components/src/utils/mask/blocks/mask-block.ts
  packages/components/src/utils/mask/blocks/mask-blocks.spec.ts
  packages/components/src/utils/mask/component/index.ts
  packages/components/src/utils/mask/component/mask-component-adapter.ts
  packages/components/src/utils/mask/component/mask-component-interfaces.ts
  packages/components/src/utils/mask/context/index.ts
  packages/components/src/utils/mask/context/mask-clipboard-context.ts
  packages/components/src/utils/mask/context/mask-context-interfaces.ts
  packages/components/src/utils/mask/context/mask-context.ts
  packages/components/src/utils/mask/context/mask-focus-context.ts
  packages/components/src/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/utils/mask/context/mask-locale-context.ts
  packages/components/src/utils/mask/context/mask-mouse-context.ts
  packages/components/src/utils/mask/context/mask-position.ts
  packages/components/src/utils/mask/context/mask-value-changed-context.ts
  packages/components/src/utils/mask/index.ts
  packages/components/src/utils/mask/mask-interfaces.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/_mocks.ts
  packages/components/src/utils/mask/types/mask-date.spec.ts
  packages/components/src/utils/mask/types/mask-date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add unit tests
  packages/components/src/utils/mask/__test__/mask-component.mock.ts
  packages/components/src/utils/mask/__test__/mask-context.mocks.ts
  packages/components/src/utils/mask/__test__/mask-keyboard-context.mock.ts
  packages/components/src/utils/mask/__test__/mask.mock.ts
  packages/components/src/utils/mask/blocks/mask-block-list.spec.ts
  packages/components/src/utils/mask/blocks/mask-block-list.ts
  packages/components/src/utils/mask/blocks/mask-blocks.spec.ts
  packages/components/src/utils/mask/component/mask-component-adapter.spec.ts
  packages/components/src/utils/mask/component/mask-component-adapter.ts
  packages/components/src/utils/mask/context/mask-context.ts
  packages/components/src/utils/mask/context/mask-position.ts
  packages/components/src/utils/mask/mask.spec.ts
  packages/components/src/utils/mask/mask.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add unit tests
  packages/components/src/utils/mask/blocks/mask-block-list.ts
  packages/components/src/utils/mask/blocks/mask-block.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add unit tests for date mask
  packages/components/src/utils/mask/types/mask-date.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve initial value
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/components/form/bal-input/test/bal-input-date.cy.html
  packages/components/src/components/form/bal-input/test/bal-input.visual.html
  packages/components/src/utils/mask/component/mask-component-adapter.ts
  packages/components/src/utils/mask/context/mask-context.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add visual
  packages/components/cypress/e2e/visual/bal-input.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix lint issue
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/utils/mask/component/mask-component-adapter.ts
  packages/components/src/utils/mask/context/mask-context.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-input.visual.cy.ts/input-date.png
Due: none

test: add cypress tests
  packages/components/cypress/component/bal-input-date.cy.ts
  packages/components/cypress/e2e/base/bal-input-date.cy.ts
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/components/form/bal-input/test/bal-input-date.cy.html
  packages/components/src/utils/mask/component/mask-component-adapter.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update story
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(form): connect aria-labelledby with the correct label and for attribute with the correct inputs
  .changeset/twenty-panthers-pay.md
  packages/components/cypress/e2e/base/bal-form-arialabelledby.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/test/form-arialabelledby.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add events
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.interfaces.ts
  packages/components/src/components/form/bal-field/bal-field.interfaces.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/test/form-arialabelledby.html
Due: none
