Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

refactor: date-input draft
  cspell.json
  package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-datepicker/bal-date-input/bal-date-input.sass
  packages/components/src/components/form/bal-datepicker/bal-date-input/bal-date-input.tsx
  packages/components/src/components/form/bal-datepicker/bal-date-input/date-mask.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/old-datepicker.sass
  packages/components/src/components/form/bal-datepicker/old-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/old-datepicker.type.ts
  packages/components/src/components/form/bal-datepicker/old-datepicker.vars.sass
  packages/components/src/components/form/bal-datepicker/test/bal-date-input.cy.html
  packages/components/src/components/form/bal-datepicker/utils/bal-datepicker.i18n.ts
  packages/components/src/components/form/bal-datepicker/utils/mask-date.ts
  packages/components/src/components/form/bal-datepicker/utils/mask-event.ts
  packages/components/src/components/form/bal-datepicker/utils/mask-postion.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(carousel): resize listener, improves tabs overflow option
  .changeset/wet-apes-decide.md
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/stories/theming.md
  packages/components/src/components/bal-close/stories/theming.md
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/stories/theming.md
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
  packages/components/src/utils/element-states/element-states.interfaces.ts
  packages/components/src/utils/keyboard/keyboard.interfaces.ts
  packages/components/src/utils/resize/resize.interfaces.ts
  packages/components/src/utils/resize/resize.subject.ts
  packages/components/src/utils/swipe/swipe.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: none

test(tabs): add new visuals
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

🐛 fix(carousel): resize listener, improves tabs overflow option (#885)
  .changeset/wet-apes-decide.md
  CHANGELOG_NEXT.md
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack.png
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/stories/theming.md
  packages/components/src/components/bal-close/stories/theming.md
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/stories/theming.md
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
  packages/components/src/utils/element-states/element-states.interfaces.ts
  packages/components/src/utils/keyboard/keyboard.interfaces.ts
  packages/components/src/utils/resize/resize.interfaces.ts
  packages/components/src/utils/resize/resize.subject.ts
  packages/components/src/utils/swipe/swipe.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use computed with
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/utils/style.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changelog
  .changeset/violet-mice-own.md
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile.png
Due: none

🐛 fix(carousel): use computed width instead of rounded client width (#887)
  .changeset/violet-mice-own.md
  CHANGELOG_NEXT.md
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile.png
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/utils/style.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update masks
  cspell.json
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components/form/bal-datepicker/bal-date-input/bal-date-input.tsx
  packages/components/src/components/form/bal-datepicker/bal-date-input/date-mask.ts
  packages/components/src/components/form/bal-datepicker/test/bal-date-input.cy.html
  packages/components/src/components/form/bal-datepicker/utils/date/date.spec.ts
  packages/components/src/components/form/bal-datepicker/utils/date/date.ts
  packages/components/src/components/form/bal-datepicker/utils/date/mask-date.ts
  packages/components/src/components/form/bal-datepicker/utils/mask-date.ts
  packages/components/src/components/form/bal-datepicker/utils/mask-event.ts
  packages/components/src/components/form/bal-datepicker/utils/mask-postion.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/index.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-clipboard-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-focus-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-mouse-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-position.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/index.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/mask-block.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/mask.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(label): can break now
  .changeset/twelve-bags-smash.md
  packages/components/src/components/typography/bal-label/bal-label.sass
Due: none

fix(tabs): vertical border and content
  .changeset/long-moles-tan.md
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/components/tab-nav.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(label): add multiline to fix issue
  packages/components/cypress/e2e/visual/bal-field.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-field/test/bal-field.visual.html
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/form/bal-field/test/bal-field.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-flex-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-overflow-stack-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-list.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-required-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/label-long-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/label-long-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/label-long-tablet.png
Due: none

fix(bal-file-upload): break heading text
  packages/components/src/components/form/bal-file-upload/bal-file-upload.sass
Due: none

chore(): add changeset
  .changeset/ninety-doors-protect.md
Due: none

chore(): update changeset
  .changeset/ninety-doors-protect.md
Due: none

chore(): change changeset of the heading fix to patch
  .changeset/ninety-doors-protect.md
Due: none

chore(): update lock file
  package-lock.json
Due: none

chore: move files
  package-lock.json
  packages/components/package.json
  packages/components/src/components/form/bal-datepicker/bal-date-input/bal-date-input.tsx
  packages/components/src/components/form/bal-datepicker/utils/date/date.spec.ts
  packages/components/src/components/form/bal-datepicker/utils/date/mask-date.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-clipboard-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-focus-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/context/mask-mouse-context.ts
  packages/components/src/components/form/bal-datepicker/utils/mask/mask.ts
  packages/components/src/index.ts
  packages/components/src/utils/date/date.spec.ts
  packages/components/src/utils/date/date.ts
  packages/components/src/utils/date/index.ts
  packages/components/src/utils/mask/context/index.ts
  packages/components/src/utils/mask/context/mask-clipboard-context.ts
  packages/components/src/utils/mask/context/mask-context.ts
  packages/components/src/utils/mask/context/mask-focus-context.ts
  packages/components/src/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/utils/mask/context/mask-locale-context.ts
  packages/components/src/utils/mask/context/mask-mouse-context.ts
  packages/components/src/utils/mask/context/mask-position.ts
  packages/components/src/utils/mask/index.ts
  packages/components/src/utils/mask/mask-block.ts
  packages/components/src/utils/mask/mask-interfaces.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/_mocks.ts
  packages/components/src/utils/mask/types/mask-date.spec.ts
  packages/components/src/utils/mask/types/mask-date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: revert datepicker changes
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-datepicker/bal-date-input/bal-date-input.sass
  packages/components/src/components/form/bal-datepicker/bal-date-input/bal-date-input.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.i18n.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.type.ts
  packages/components/src/components/form/bal-datepicker/old-datepicker.sass
  packages/components/src/components/form/bal-datepicker/old-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/old-datepicker.vars.sass
  packages/components/src/components/form/bal-datepicker/test/bal-date-input.cy.html
  packages/components/src/utils/mask/types/mask-date.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/quiet-poets-happen.md
Due: none

chore: remove imask
  cspell.json
  package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix lint issue
  packages/components/src/utils/mask/mask.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update structure
  packages/components/src/utils/mask/context/index.ts
  packages/components/src/utils/mask/index.ts
  packages/components/src/utils/mask/mask-interfaces.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust test for github actions
  packages/components/src/utils/date/date.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(input-date): add new component
  cspell.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/components/form/bal-input/bal-input.interfaces.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-input/test/bal-input-date.cy.html
  packages/components/src/utils/date/date.ts
  packages/components/src/utils/mask/context/mask-context.ts
  packages/components/src/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/utils/mask/mask-interfaces.ts
  packages/components/src/utils/mask/mask.ts
  packages/components/src/utils/mask/types/_mocks.ts
  packages/components/src/utils/mask/types/mask-date.spec.ts
  packages/components/src/utils/mask/types/mask-date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(input-date): add new component
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
