Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(deps): consolidate changesets tooling + js-yaml + replace-in-file bumps (#2191)
  libs/output-target-web/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore: add adr
  docs/adr/0025-a11y-title-tooltip-integration.md
Due: none

chore: lint navbar and footer
  packages/core/src/components.d.ts
  packages/core/src/components/app-footer/app-footer.interfaces.ts
  packages/core/src/components/app-footer/app-footer.tsx
  packages/core/src/components/app-navbar/app-navbar.interfaces.ts
  packages/core/src/components/app-navbar/app-navbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: lint steps and tabs
  apps/toky/src/tokens/path.test.ts
  apps/toky/src/tokens/path.ts
  apps/toky/src/tokens/validate.test.ts
  apps/toky/src/tokens/validate.ts
  docs/TODOS.md
  docs/adr/0025-a11y-title-tooltip-integration.md
  packages/core/src/components.d.ts
  packages/core/src/components/steps/step-panel/step-panel.tsx
  packages/core/src/components/steps/step/step.host.scss
  packages/core/src/components/steps/step/step.tsx
  packages/core/src/components/steps/steps.interfaces.ts
  packages/core/src/components/steps/steps/steps.host.scss
  packages/core/src/components/steps/steps/steps.tsx
  packages/core/src/components/steps/test/steps.visual.html
  packages/core/src/components/tabs/tab-panel/tab-panel.tsx
  packages/core/src/components/tabs/tab/tab.host.scss
  packages/core/src/components/tabs/tab/tab.tsx
  packages/core/src/components/tabs/tabs.interfaces.ts
  packages/core/src/components/tabs/tabs/tabs.host.scss
  packages/core/src/components/tabs/tabs/tabs.tsx
  packages/core/src/components/tabs/test/tabs.visual.html
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for steps,tabs
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-hidden-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-vertical-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-vertical-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-states-🖼️-Visual-💻-Desktop-Chrome-linux.png
Due: none

chore: update screenshots for date
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-inline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-inline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: lint footer
  docs/TODOS.md
  packages/core/src/components/app-footer/app-footer.host.scss
  packages/core/src/components/app-footer/app-footer.tsx
  packages/core/src/components/container/container.style.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: lint navbar
  apps/storybook/src/components/app-navbar/app-navbar.stories.ts
  packages/core/src/components/app-navbar/test/app-navbar-light.visual.html
  packages/core/src/components/app-navbar/test/app-navbar.visual.html
  packages/core/src/playground.html
Due: none

chore: update screenshots for app-footer
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-custom-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-slotted-logo-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-slotted-logo-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: build artifacts
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
Due: none

chore: update screenshots for date,select,textarea,checkbox,toggle,radio,segment
  packages/core/src/components/checkbox/test/checkbox.visual.play.ts-snapshots/checkbox-tile-stack-centered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/checkbox/test/checkbox.visual.play.ts-snapshots/checkbox-tile-stack-centered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/radio/test/radio.visual.play.ts-snapshots/radio-tile-stack-centered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/radio/test/radio.visual.play.ts-snapshots/radio-tile-stack-centered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/radio/test/radio.visual.play.ts-snapshots/radio-tile-stack-multicolor-selected-hide-trigger-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/radio/test/radio.visual.play.ts-snapshots/radio-tile-stack-multicolor-selected-hide-trigger-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/radio/test/radio.visual.play.ts-snapshots/radio-tile-stack-multicolor-selected-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/radio/test/radio.visual.play.ts-snapshots/radio-tile-stack-multicolor-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-invalid-slot-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-invalid-slot-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-long-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-long-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-rows-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-rows-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-style-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix audit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: fix broken tokens
  packages/core/src/components/app-navbar/app-navbar.host.scss
  packages/core/src/components/button/button.host.scss
  packages/core/src/components/button/button.style.scss
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/carousel/carousel/carousel.host.scss
  packages/core/src/components/checkbox/checkbox.mixin.scss
  packages/core/src/components/list/item/item.host.scss
  packages/core/src/components/radio/radio.mixin.scss
  packages/core/src/components/spinner/spinner.host.scss
  packages/core/src/components/toggle/toggle.mixin.scss
Due: prettier --write

chore: update screenshots for data,form
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-mixed-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-mixed-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/form/test/form.visual.play.ts-snapshots/form-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/form/test/form.visual.play.ts-snapshots/form-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/form/test/form.visual.play.ts-snapshots/form-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/form/test/form.visual.play.ts-snapshots/form-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/form/test/form.visual.play.ts-snapshots/form-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/form/test/form.visual.play.ts-snapshots/form-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix component test
  packages/core/src/components/checkbox/checkbox.tsx
  packages/core/src/components/radio/radio.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix spell issue
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/card/3-Variants.mdx
  packages/core/src/components/checkbox/checkbox.tsx
  packages/core/src/components/radio/radio.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for card,button,date,select
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-loading-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-autocomplete-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-basic-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-basic-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-clearable-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-clearable-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-grouped-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-grouped-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-multiple-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-multiple-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-searchable-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/select/test/select.visual.play.ts-snapshots/select-searchable-selected-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: date picker accessibility improvement
  packages/core/src/components/date/date.tsx
  packages/core/src/components/date/test/date.a11y.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for button-group
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-wide-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button-group.visual.play.ts-snapshots/button-group-wide-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix audit issue
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: update contributing and development documentation for pnpm setup
  CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

feat: implement ControlValueAccessor without explicit imports needed
  apps/integration-angular/angular.json
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-input.ts
  packages/angular/src/forms/text-value-accessor.ts
  packages/angular/src/forms/value-accessor.ts
  packages/angular/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for input,input-stepper,input-slider
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-stepper/test/input-stepper.visual.play.ts-snapshots/input-stepper-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input/test/input.visual.play.ts-snapshots/input-button-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input/test/input.visual.play.ts-snapshots/input-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: split Angular integration tests per component
  apps/integration-angular/e2e/button.spec.ts
  apps/integration-angular/e2e/checkbox.spec.ts
  apps/integration-angular/e2e/input.spec.ts
  apps/integration-angular/e2e/smoke.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/button-demo/button-demo.html
  apps/integration-angular/src/app/button-demo/button-demo.ts
  apps/integration-angular/src/app/checkbox-demo/checkbox-demo.html
  apps/integration-angular/src/app/checkbox-demo/checkbox-demo.ts
  apps/integration-angular/src/app/input-demo/input-demo.html
  apps/integration-angular/src/app/input-demo/input-demo.ts
Due: none

feat: import generated inputs/outputs for Angular components
  packages/angular/src/forms/ds-input.ts
  packages/angular/src/index.ts
  packages/core/config/generate-angular-meta.mjs
  scripts/build-core.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update contributing and development documentation for pnpm setup (#2206)
  CONTRIBUTING.md
  docs/DEVELOPMENT.md
Due: none

fix: address angular forms code review findings (correctness, typing, dedup)
  packages/angular/src/forms/ds-input.ts
  packages/angular/src/forms/value-accessor.ts
  packages/angular/src/index.ts
  packages/core/config/generate-angular-meta.mjs
  scripts/build-core.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: lint design tokens
  apps/toky/src/tokens/validate.test.ts
  apps/toky/src/tokens/validate.ts
  packages/core/src/components/app-navbar/app-navbar.host.scss
  packages/core/src/components/brand-icon/brand-icon.host.scss
  packages/core/src/components/hint/hint.host.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: address angular forms code review findings (correctness, typing, dedup)
  packages/angular/CONTEXT.md
  packages/angular/src/forms/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix formatter and hint size
  packages/core/src/components/hint/hint.host.scss
  packages/tokens/src/formatter.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add ds-input-phone for international phone entry (#2185)
  .changeset/yellow-aliens-give.md
  packages/core/CONTEXT.md
  packages/core/package.json
  packages/core/src/components.d.ts
  packages/core/src/components/input-phone/country-data.ts
  packages/core/src/components/input-phone/flag.ts
  packages/core/src/components/input-phone/formatting.ts
  packages/core/src/components/input-phone/input-phone.host.scss
  packages/core/src/components/input-phone/input-phone.i18n.ts
  packages/core/src/components/input-phone/input-phone.interfaces.ts
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/src/components/input-phone/test/input-phone.visual.html
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/interfaces.d.ts
  packages/core/stencil.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add .pnpm-store to .gitignore
  .gitignore
Due: none

fix: ignore the .angular folder when linting
  apps/integration-angular/eslint.config.ts
Due: none

Feat/angular forms foundation (#2207)
  .changeset/hungry-months-wave.md
  .changeset/neat-geckos-play.md
  apps/integration-angular/angular.json
  apps/integration-angular/e2e/app.spec.ts
  apps/integration-angular/e2e/button.spec.ts
  apps/integration-angular/e2e/checkbox.spec.ts
  apps/integration-angular/e2e/input.spec.ts
  apps/integration-angular/e2e/smoke.spec.ts
  apps/integration-angular/eslint.config.ts
  apps/integration-angular/package.json
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/button-demo/button-demo.html
  apps/integration-angular/src/app/button-demo/button-demo.ts
  apps/integration-angular/src/app/checkbox-demo/checkbox-demo.html
  apps/integration-angular/src/app/checkbox-demo/checkbox-demo.ts
  apps/integration-angular/src/app/input-demo/input-demo.html
  apps/integration-angular/src/app/input-demo/input-demo.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/package.json
  packages/angular/src/forms/ds-input.ts
  packages/angular/src/forms/value-accessor.ts
  packages/angular/src/index.ts
  packages/core/config/generate-angular-meta.mjs
  packages/core/src/components.d.ts
  packages/core/src/components/input/input.tsx
  pnpm-lock.yaml
  scripts/build-core.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: enhance input-phone component with comprehensive documentation and tests
  .gitignore
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
  apps/storybook/src/components/input-phone/1-Overview.mdx
  apps/storybook/src/components/input-phone/2-Usage.mdx
  apps/storybook/src/components/input-phone/3-Variants.mdx
  apps/storybook/src/components/input-phone/4-Styling.mdx
  apps/storybook/src/components/input-phone/5-Accessibility.mdx
  apps/storybook/src/components/input-phone/6-Testing.mdx
  apps/storybook/src/components/input-phone/input-phone.doc-config.ts
  apps/storybook/src/components/input-phone/input-phone.stories.ts
  cspell.json
  docs/plans/ds-input-phone-plan.md
  packages/core/src/components.d.ts
  packages/core/src/components/input-phone/country-data.spec.ts
  packages/core/src/components/input-phone/formatting.spec.ts
  packages/core/src/components/input-phone/input-phone.host.scss
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/src/components/input-phone/test/input-phone.a11y.play.ts
  packages/core/src/components/input-phone/test/input-phone.component.play.ts
  packages/core/src/components/input-phone/test/input-phone.visual.html
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts
  packages/playwright/src/lib/components/index.ts
  packages/playwright/src/lib/components/input-phone.po.ts
  scripts/build-docs.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
