Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

fix(list): change role to list
  packages/components/src/components/bal-list/bal-list.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(number-input): create new component to improve type safty
  .eslintrc.js
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-input.utils.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.scss
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.stories.ts
  packages/components/src/components/form/bal-number-input/stories/testing.md
  packages/components/src/components/form/bal-number-input/test/bal-input.utils.spec.ts
  packages/components/src/components/form/bal-number-input/test/bal-number-input.e2e.ts
  packages/components/src/helpers/helpers.ts
  packages/components/src/styles/components/_all.scss
  packages/components/src/utils/number.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust test for number-input
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/blur.command.ts
  packages/testing/src/commands/overrides/clear.command.ts
  packages/testing/src/commands/overrides/contains.command.ts
  packages/testing/src/commands/overrides/focus.command.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/commands/overrides/type.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: angular add numeric value accessor
  packages/components-angular/src/module.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: update allowed hosts for footer links
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(angular): add missing child components to the modules
  package-lock.json
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(angular): add missing child components to the modules
  packages/components-angular/src/module.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): add missing child components to the modules
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(close): add button type
  packages/components/src/components/bal-close/bal-close.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(steps): override clickable when disabled
  packages/components/src/components/bal-tabs/components/o-steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

style(tag): adjust margin
  packages/components/src/components/bal-tag/bal-tag.scss
Due: prettier --write

feat(checkbox): add new prop hidden
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(select): enable form submitting
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/stories/design/templates/contact-form.template.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust angular module
  packages/components-angular/src/module.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): adjust number input tests
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-number-input/test/bal-input.utils.spec.ts
  packages/components/src/components/form/bal-number-input/test/bal-number-input.e2e.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(stage): create angular component set
  packages/components/.build/stencil/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(react): add custom output
  packages/components-react/src/react-component-lib/createComponent.tsx
  packages/components/.build/stencil/stencil.bindings.react.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): increase beta version
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(react): use fragment for inner child elements
  packages/components-react/src/react-component-lib/createComponent.tsx
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): export angular components
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): adjust lint and build issues
  package-lock.json
  package.json
  packages/components-angular/ng-package.json
  packages/testing/src/legacy/accessors/link.accessor.ts
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): adjust change event
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(input): only trigger change on user change events
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-input/test/bal-input.e2e.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/helpers/form-input.helpers.ts
  packages/components/src/stories/utils/args.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(inputs): adjust input events
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.scss
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.vars.scss
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/helpers/form-input.helpers.ts
  packages/components/src/utils/number.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust tests
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.e2e.ts
  packages/components/src/components/form/bal-textarea/test/bal-textarea.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(stage): center image
  packages/components/src/components/bal-stage/bal-stage.scss
  packages/components/src/components/bal-stage/bal-stage.vars.scss
Due: prettier --write

chore(): remove null values
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(testing): update web utils
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove old tests
  packages/testing/cypress/integration/input.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.3.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

style(): adjust label font size
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/styles/form/shared.scss
Due: prettier --write

chore: add new lib
  packages/components/src/components/bal-card/index.html
Due: none

chore(release): v10.4.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
