Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/bal-navbar/bal-navbar.sass
Due: none

chore(): remove hammer.js dependencies
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve functional tests
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/cypress/component/bal-input-slider.cy.ts
  packages/components/cypress/component/bal-input.cy.ts
  packages/components/cypress/component/bal-number-input.cy.ts
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/cypress/component/bal-textarea.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add changeset
  .changeset/beige-dolls-rush.md
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

fix: add full deepReady support
  .changeset/large-rivers-peel.md
  packages/components/cypress/support/commands.ts
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/bal-card/test/bal-card.cy.html
  packages/components/src/components/bal-icon/test/bal-icon.cy.html
  packages/components/src/utils/helpers.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: add lazy loading to image elements
  .changeset/little-icons-smell.md
  packages/components/src/components/bal-carousel/bal-carousel-item/bal-carousel-item.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-stage/bal-stage-image/bal-stage-image.tsx
  packages/components/src/components/docs/bal-doc-image/bal-doc-image.tsx
  packages/components/src/components/docs/bal-doc-link-list-item/bal-doc-link-list-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add missing tokens utils
  .build/generate-css-utils.js
  package.json
Due: none

chore: format file
  packages/components/src/components/bal-stage/bal-stage-image/bal-stage-image.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: fix page command
  packages/components/cypress/e2e/a11y/bal-accordion.a11y.cy.ts
  packages/components/cypress/support/commands.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.a11y.html
  packages/components/src/components/bal-accordion/test/bal-accordion.cy.html
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
  packages/components/src/components/bal-button/test/bal-button.perf.html
  packages/components/src/components/bal-button/test/bal-button.visual.html
  packages/components/src/components/bal-card/test/bal-card.cy.html
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
  packages/components/src/components/bal-close/test/bal-close.visual.html
  packages/components/src/components/bal-data/test/bal-data.visual.html
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
  packages/components/src/components/bal-heading/test/bal-heading.visual.html
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
  packages/components/src/components/bal-icon/test/bal-icon.cy.html
  packages/components/src/components/bal-icon/test/bal-icon.visual.html
  packages/components/src/components/bal-list/test/bal-list.cy.html
  packages/components/src/components/bal-list/test/bal-list.visual.html
  packages/components/src/components/bal-navbar/test/bal-navbar.visual.html
  packages/components/src/components/bal-navigation/test/bal-navigation.perf.html
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
  packages/components/src/components/bal-shape/test/bal-shape.visual.html
  packages/components/src/components/bal-stage/test/bal-stage.large.visual.html
  packages/components/src/components/bal-stage/test/bal-stage.visual.html
  packages/components/src/components/bal-table/test/bal-table.visual.html
  packages/components/src/components/bal-tag/test/bal-tag.cy.html
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
  packages/components/src/components/bal-text/test/bal-text.visual.html
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
  packages/components/src/components/form/bal-field/test/bal-field.visual.html
  packages/components/src/components/form/bal-file-upload/test/bal-file-upload.visual.html
  packages/components/src/components/form/bal-form-grid/test/bal-form-grid.visual.html
  packages/components/src/components/notice/bal-modal/test/bal-modal.visual.html
  packages/components/src/components/notice/bal-notification/test/bal-notification.visual.html
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.visual.html
  packages/components/src/components/notice/bal-snackbar/test/bal-snackbar.visual.html
  packages/components/src/components/notice/bal-toast/test/bal-toast.visual.html
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add new css imports
  .changeset/tidy-tables-scream.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/breaking-changes.md
  .github/ISSUE_TEMPLATE/design-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
  packages/components/src/stories/development/guides/getting-started/getting-started_vue.md
  packages/components/src/stories/foundation/border-radius/02-development.docs.mdx
  packages/components/src/stories/foundation/colors/02-development.docs.mdx
  packages/components/src/stories/foundation/elevation/02-development.docs.mdx
  packages/components/src/stories/foundation/grid/02-development.docs.mdx
  packages/components/src/stories/foundation/layout/02-development.docs.mdx
  packages/components/src/stories/foundation/spacing/02-development.docs.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: simplify paths
  packages/css/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-container-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-simple-light-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-steps-tablet-base.png
Due: none

fix(bal-select): click on typeahead field closes the select
  .changeset/tricky-hats-float.md
  package-lock.json
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add changeset
  .changeset/healthy-queens-pump.md
Due: none

chore(): remove comments
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
Due: none

docs: fix reload loop
  package-lock.json
  packages/components/.storybook/addons/framework/register.js
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add wait for web-component
  package-lock.json
  packages/components/cypress/component/bal-textarea.cy.ts
  packages/components/cypress/support/component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: datepicker add .waitForComponents()
  packages/components/cypress/component/bal-datepicker.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(tabs): create missing visual tests
  packages/components/cypress/e2e/visual/bal-steps.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-tablet-base.png
  packages/components/src/components/bal-steps/test/bal-steps.visual.html
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format file
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet-base.png
Due: none

chore: trigger builc
  CHANGELOG_OLD.md
Due: none

test: add missing event tests
  packages/components/cypress/component/bal-tabs.cy.ts
  packages/components/cypress/support/component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve select tests
  packages/components/cypress/component/bal-select.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): run components and animation outside of zone.js
  .changeset/big-shrimps-wonder.md
  packages/components-angular/src/app-initialize.ts
  packages/components-angular/src/module.ts
  packages/components-angular/src/overlays/modal.service.ts
  packages/components-angular/src/util/util.ts
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/checkbox-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
  packages/output-targets/angular/src/generate-angular-module.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: reduce animation timeout
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/styles/global.components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components-angular/src/util/util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update angular installation
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/output-targets/angular/src/generate-angular-module.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: waitForComponents
  packages/components/cypress/component/bal-input.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve select tests
  packages/components/cypress/component/bal-select.cy.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve typeahead close on icon click
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve number-input tests
  packages/components/cypress/component/bal-number-input.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add changeset
  .changeset/proud-students-nail.md
Due: none

chore(): add changeset
  .changeset/weak-ligers-smile.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
