Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: add missing comma and adjust version path
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.23.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-shape): set border radius only for mobile and tablet
  packages/components/src/components/bal-shape/bal-shape.sass
Due: none

fix(bal-navbar-logo): fix squeezed logo for mobile and tablet
  packages/components/src/components/bal-navbar/bal-navbar.sass
Due: none

fix(tabs): add scroll overflow
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

fix(stage): stage position
  packages/components/src/components/bal-stage/bal-stage.sass
Due: none

fix(navigation): resize issue from mobile to desktop
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(angular): provide missing component modules
  packages/components/config/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.23.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(stage): fix position on large screens
  packages/components/src/components/bal-stage/bal-stage.sass
Due: none

fix(stage): fix position on large screens
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-stage/bal-stage.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.23.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(navigation): safari 16 login button text stays on one line. Closes #638
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

fix(navigation): block scrolling when main nav is open and scrollable
  packages/components/src/components.d.ts
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list-item/bal-navigation-menu-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/events.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(navigation): add visual test
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/e2e/visual/snapshot-util.ts
  packages/components/package.json
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
  packages/testing/src/commands/custom/platform.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-tablet-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-tablet-base.png
Due: none

chore: trigger
  CHANGELOG.md
Due: none

chore: format
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
Due: none

test: adjust timing
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/e2e/visual/snapshot-util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
Due: none

fix(datepicker): grid date cannot be smaller than min or bigger than max .Closes #595
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(card): adjust tag and button alignment in the title. Closes #547
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-tag/bal-tag.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(card): set to position relative to position the badge. Closes #591
  packages/components/src/components/bal-badge/stories/bal-badge.stories.ts
  packages/components/src/components/bal-card/bal-card.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add style-guide to the pr Acceptance Criteria
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-mobile-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-mobile-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-mobile-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-closed-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-accordion.visual.cy.ts/accordion-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/badge-card-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/badge-icon-base.png
  packages/components/cypress/snapshots/base/bal-badge.visual.cy.ts/button-variants-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
Due: none

fix(navigation): scroll to top when popover is opened and add space around the main nav. Closes #533
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/css/scss/mixins/breakpoint.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-slider): added namesTabs prop
  package-lock.json
  packages/components/src/components/bal-slider/bal-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-slider): updated the stories
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-slider): renamed the tabs name property
  packages/components/src/components/bal-slider/bal-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-slider): updated named tabs story
  packages/components/src/components.d.ts
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(navigation): improve touch handling for scroll behaviour
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/utils/browser.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-slider): set tabs names from slide items labels
  packages/components/src/components.d.ts
  packages/components/src/components/bal-slider/bal-slider-item/bal-slider-item.tsx
  packages/components/src/components/bal-slider/bal-slider.tsx
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(navigation): improve visual test
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
