Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update base images
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-alert-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-alert-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-alert-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-primary-deskmobiletop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-primary-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-primary-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-square-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-square-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-square-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-states-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-states-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-states-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-variants-tablet-base.png
Due: none

test(button): trigger build
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: none

fix(): rename angular autofucs directive to BalAutoFocus
  packages/components-angular/src/focus.directive.ts
  packages/components-angular/src/index.ts
  packages/components-angular/src/shared.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): fix angular autofocus directive
  packages/components-angular/src/focus.directive.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add logs to debug
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(icon): add visual test
  packages/components/cypress/e2e/visual/bal-icon.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/test/bal-icon.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(icon): format
  packages/components/src/components/bal-icon/test/bal-icon.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-icon.visual.cy.ts/icon-desktop-base.png
  packages/components/cypress/snapshots/base/bal-icon.visual.cy.ts/icon-mobile-base.png
  packages/components/cypress/snapshots/base/bal-icon.visual.cy.ts/icon-tablet-base.png
  packages/components/cypress/snapshots/base/bal-icon.visual.cy.ts/icon-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-icon.visual.cy.ts/icon-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-icon.visual.cy.ts/icon-variants-tablet-base.png
Due: none

test(icon): trigger build
  packages/components/src/components/bal-icon/test/bal-icon.visual.html
Due: none

chore(): fix some stuff
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): revert some changes
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): revert some changes
  packages/components-angular/src/directives/number-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): revert some changes
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use js source again
  .build/optimize-icons.js
  packages/components/src/utils/config/config.ts
  packages/components/src/utils/config/initialize.ts
  packages/icons/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(icon): remove mobile and tablet
  packages/components/cypress/e2e/visual/bal-icon.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

perf(icons): only import the icons of the DS
  .build/optimize-icons.js
  packages/components/src/utils/config/config.ts
  packages/components/src/utils/config/initialize.ts
  packages/components/src/utils/constants/icons.constant.ts
  rollup.base.js
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove next tag
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: ignore generated file for formatting
  .prettierignore
Due: none

test(footer): trigger build
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: none

fix: export hasTouchSupport
  packages/components/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): refactor
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-primary-desktop-base.png
Due: none

test(button): add colors
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): sync native input also when remote is set . Closes #603
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: code clean up
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-colors-desktop-base.png
Due: none

fix: add hammerjs as a dep of the core lib
  package-lock.json
  package.json
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): debugging
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-expanded-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-flat-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-inverted-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-outlined-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-rounded-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-shadow-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-sizes-desktop-base.png
Due: none

chore(release): v11.0.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
