Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-closed-top.png
Due: none

chore(): add stage docs
  docs/stories/components/bal-stage/bal-stage.mdx
  docs/stories/components/bal-stage/bal-stage.stories.ts
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-long-mobile-open.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore(): add typo docs
  docs/stories/components/bal-heading/bal-heading.mdx
  docs/stories/components/bal-heading/bal-heading.stories.ts
  docs/stories/components/bal-label/bal-label.mdx
  docs/stories/components/bal-label/bal-label.stories.ts
  docs/stories/components/bal-text/bal-text.mdx
  docs/stories/components/bal-text/bal-text.stories.ts
Due: none

chore: do not use shift in iframe
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tooltip/bal-tooltip.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: increase error threshold
  test/cypress/e2e/visual/bal-nav-part-1.visual.cy.ts
  test/cypress/e2e/visual/bal-nav-part-2.visual.cy.ts
  test/cypress/e2e/visual/bal-nav-part-3.visual.cy.ts
Due: none

chore(): add form docs
  docs/stories/components/bal-carousel/bal-carousel.stories.ts
  docs/stories/components/bal-checkbox/bal-checkbox.mdx
  docs/stories/components/bal-checkbox/bal-checkbox.stories.ts
  docs/stories/components/bal-date/bal-date.mdx
  docs/stories/components/bal-date/bal-date.stories.ts
  docs/stories/components/bal-date/testing.md
  docs/stories/components/bal-field/bal-field.mdx
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-file-upload/bal-file-upload.mdx
  docs/stories/components/bal-file-upload/bal-file-upload.stories.ts
  docs/stories/components/bal-form-grid/bal-form-grid.mdx
  docs/stories/components/bal-form-grid/bal-form-grid.stories.ts
  docs/stories/components/bal-form/bal-form.mdx
  docs/stories/components/bal-form/bal-form.stories.ts
  docs/stories/components/bal-input-group/bal-input-group.mdx
  docs/stories/components/bal-input-group/bal-input-group.stories.ts
  docs/stories/components/bal-input-slider/bal-input-slider.mdx
  docs/stories/components/bal-input-slider/bal-input-slider.stories.ts
  docs/stories/components/bal-input-slider/testing.md
  docs/stories/components/bal-input-stepper/bal-input-stepper.mdx
  docs/stories/components/bal-input-stepper/bal-input-stepper.stories.ts
  docs/stories/components/bal-input/bal-input.mdx
  docs/stories/components/bal-input/bal-input.stories.ts
  docs/stories/components/bal-input/testing.md
  docs/stories/components/bal-number-input/bal-number-input.mdx
  docs/stories/components/bal-number-input/bal-number-input.stories.ts
  docs/stories/components/bal-radio/bal-radio.mdx
  docs/stories/components/bal-radio/bal-radio.stories.ts
  docs/stories/components/bal-radio/testing.md
  docs/stories/components/bal-select/bal-select.mdx
  docs/stories/components/bal-select/bal-select.stories.ts
  docs/stories/components/bal-select/testing.md
  docs/stories/components/bal-textarea/bal-textarea.mdx
  docs/stories/components/bal-textarea/bal-textarea.stories.ts
  docs/stories/components/bal-time-input/bal-time-input.mdx
  docs/stories/components/bal-time-input/bal-time-input.stories.ts
Due: none

chore(): move to groups
  docs/stories/components/bal-accordion/bal-accordion.stories.ts
  docs/stories/components/bal-button/bal-button.stories.ts
  docs/stories/components/bal-card/bal-card.stories.ts
  docs/stories/components/bal-notification/bal-notification.stories.ts
  docs/stories/components/bal-shape/bal-shape.stories.ts
  docs/stories/components/bal-sheet/bal-sheet.stories.ts
  docs/stories/components/bal-stage/bal-stage.stories.ts
Due: none

chore(): use icon directly
  docs/stories/components/bal-accordion/bal-accordion.stories.ts
Due: none

chore(): improve docs
  docs/stories/components/bal-heading/bal-heading.mdx
  docs/stories/components/bal-icon/bal-icon.mdx
  docs/stories/components/bal-shape/bal-shape.mdx
  docs/stories/components/bal-text/bal-text.mdx
Due: none

chore(): improve docs
  docs/stories/components/bal-date/bal-date.stories.ts
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-form/bal-form.stories.ts
  docs/stories/components/bal-input-group/bal-input-group.stories.ts
  docs/stories/components/bal-input/bal-input.stories.ts
  docs/stories/components/bal-number-input/bal-number-input.stories.ts
  docs/stories/components/bal-sheet/bal-sheet.mdx
  docs/stories/components/bal-textarea/bal-textarea.stories.ts
  docs/stories/utils/attributes.ts
Due: none

chore: fix visual test and popup placement when scrolling a bit
  packages/components/src/components/bal-nav/bal-nav.tsx
  test/cypress/e2e/visual/bal-nav-part-1.visual.cy.ts
  test/cypress/e2e/visual/bal-nav-part-2.visual.cy.ts
  test/cypress/e2e/visual/bal-nav-part-3.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update changeset
  .changeset/strong-gifts-cheat.md
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-open.png
Due: none

chore: finish nav components
  cspell.json
  docs/package.json
  docs/stories/assets/data/brand-icons.json
  docs/stories/assets/data/commands.json
  docs/stories/assets/data/components.d.ts
  docs/stories/assets/data/components.json
  docs/stories/assets/data/contributors.json
  docs/stories/assets/data/icons.json
  docs/stories/assets/data/selectors.json
  docs/stories/assets/data/tags.json
  docs/stories/components/bal-close/bal-close.mdx
  docs/stories/components/bal-close/bal-close.stories.ts
  docs/stories/components/bal-modal/bal-modal.mdx
  docs/stories/components/bal-modal/testing.md
  docs/stories/components/bal-nav/bal-nav.data.ts
  docs/stories/components/bal-nav/bal-nav.mdx
  docs/stories/components/bal-nav/bal-nav.stories.ts
  docs/stories/components/bal-navbar/bal-navbar.mdx
  docs/stories/components/bal-navbar/bal-navbar.stories.ts
  docs/stories/components/bal-navigation/bal-navigation.stories.ts
  docs/stories/components/bal-pagination/bal-pagination.mdx
  docs/stories/components/bal-pagination/bal-pagination.stories.ts
  docs/stories/components/bal-pagination/testing.md
  docs/stories/components/bal-snackbar/testing.md
  docs/stories/components/bal-steps/bal-steps.mdx
  docs/stories/components/bal-steps/bal-steps.stories.ts
  docs/stories/components/bal-steps/testing.md
  docs/stories/components/bal-tabs/bal-tabs.mdx
  docs/stories/components/bal-tabs/bal-tabs.stories.ts
  docs/stories/components/bal-tabs/testing.md
  docs/stories/components/bal-toast/testing.md
  docs/stories/utils/attributes.ts
  docs/stories/utils/renderer.ts
  package-lock.json
  packages/components/config/doc-output-target/markdown-commands.ts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update lock files
  package-lock.json
Due: none

chore: create build artifacts
  .gitignore
  docs/stories/components/bal-accordion/testing.md
  docs/stories/components/bal-datepicker/testing.md
  docs/stories/components/bal-field/testing.md
  docs/stories/components/bal-hint/testing.md
  docs/stories/components/bal-input-stepper/testing.md
  docs/stories/components/bal-modal/testing.md
  docs/stories/components/bal-pagination/testing.md
  docs/stories/components/bal-popover/testing.md
  docs/stories/components/bal-popup/testing.md
  docs/stories/components/bal-select/testing.md
  docs/stories/components/bal-snackbar/testing.md
  docs/stories/components/bal-steps/testing.md
  docs/stories/components/bal-tabs/testing.md
  docs/stories/components/bal-toast/testing.md
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🐛 fix: Adjusted shifting of the tooltip and popup component (#1099)
  .changeset/strong-gifts-cheat.md
  CHANGELOG_NEXT.md
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tooltip/bal-tooltip.tsx
  test/cypress/e2e/visual/bal-nav-part-1.visual.cy.ts
  test/cypress/e2e/visual/bal-nav-part-2.visual.cy.ts
  test/cypress/e2e/visual/bal-nav-part-3.visual.cy.ts
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav-part-2.visual.cy.ts/nav-touch-tablet-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-long-mobile-open.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock file
  package-lock.json
Due: none

chore(): fix hide code button
  docs/public/assets/css/preview.css
  docs/stories/components/bal-form/bal-form.mdx
  docs/stories/components/bal-form/bal-form.stories.ts
Due: none

chore: add deprecated navigation
  docs/.storybook/blocks/Banner.tsx
  docs/stories/components/bal-nav/bal-nav.stories.ts
  docs/stories/components/bal-navigation/bal-navigation.mdx
  docs/stories/components/bal-navigation/bal-navigation.stories.ts
Due: none

chore: add code-sandbox
  docs/.storybook/blocks/CodeSandbox.tsx
  docs/.storybook/blocks/utils/code-sandbox.angular.ts
  docs/.storybook/blocks/utils/code-sandbox.html.ts
  docs/.storybook/blocks/utils/code-sandbox.react.ts
  docs/stories/components/bal-accordion/testing.md
  docs/stories/components/bal-datepicker/testing.md
  docs/stories/components/bal-field/testing.md
  docs/stories/components/bal-hint/testing.md
  docs/stories/components/bal-input-stepper/testing.md
  docs/stories/components/bal-modal/bal-modal.stories.ts
  docs/stories/components/bal-modal/code-sandbox/example_component_html.md
  docs/stories/components/bal-modal/code-sandbox/example_component_ts.md
  docs/stories/components/bal-modal/code-sandbox/modal_component_html.md
  docs/stories/components/bal-modal/code-sandbox/modal_component_ts.md
  docs/stories/components/bal-modal/testing.md
  docs/stories/components/bal-pagination/testing.md
  docs/stories/components/bal-popover/testing.md
  docs/stories/components/bal-popup/testing.md
  docs/stories/components/bal-select/testing.md
  docs/stories/components/bal-snackbar/bal-snackbar.stories.ts
  docs/stories/components/bal-snackbar/code-sandbox/example_component_html.md
  docs/stories/components/bal-snackbar/code-sandbox/example_component_ts.md
  docs/stories/components/bal-snackbar/testing.md
  docs/stories/components/bal-steps/testing.md
  docs/stories/components/bal-tabs/testing.md
  docs/stories/components/bal-toast/bal-toast.stories.ts
  docs/stories/components/bal-toast/code-sandbox/example_component_html.md
  docs/stories/components/bal-toast/code-sandbox/example_component_ts.md
  docs/stories/components/bal-toast/testing.md
  docs/stories/utils/code-sandbox.ts
  docs/stories/utils/index.ts
  docs/stories/utils/renderer.ts
  packages/components/config/doc-output-target/markdown-commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove example modal
  docs/.storybook/blocks/examples/ExampleModal.tsx
  docs/.storybook/blocks/index.ts
Due: none

chore(): add form events
  docs/stories/assets/data/components.json
  docs/stories/components/bal-form/bal-form.stories.ts
Due: none

chore: ag-grid file upload
  docs/.storybook/blocks/CodeSandbox.tsx
  docs/stories/assets/data/commands.json
  docs/stories/assets/data/components.json
  docs/stories/components/bal-datepicker/bal-datepicker.stories.ts
  docs/stories/components/bal-file-upload/bal-file-upload.stories.ts
  docs/stories/components/bal-modal/bal-modal.stories.ts
  docs/stories/components/bal-popover/bal-popover.stories.ts
  docs/stories/components/bal-snackbar/bal-snackbar.stories.ts
  docs/stories/components/bal-table/bal-table.mdx
  docs/stories/components/bal-table/bal-table.stories.ts
  docs/stories/components/bal-table/code-sandbox/example_component_html.md
  docs/stories/components/bal-table/code-sandbox/example_component_ts.md
  docs/stories/components/bal-toast/bal-toast.stories.ts
Due: none

chore(): add docs for deprecated components popover and datepicker
  docs/stories/assets/data/commands.json
  docs/stories/assets/data/components.json
  docs/stories/components/bal-datepicker/bal-datepicker.mdx
  docs/stories/components/bal-datepicker/bal-datepicker.stories.ts
  docs/stories/components/bal-datepicker/testing.md
  docs/stories/components/bal-navigation/bal-navigation.mdx
  docs/stories/components/bal-popover/bal-popover.mdx
  docs/stories/components/bal-popover/testing.md
Due: none

chore: adjust pkg
  apps/angular/package.json
  docs/package.json
Due: none

chore: remove ignored files
  docs/stories/assets/data/commands.json
  docs/stories/assets/data/components.json
Due: none

fix(date): Assign the name attribute to the native input element
  .changeset/tasty-otters-wonder.md
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  docs/stories/assets/data/components.json
  docs/stories/components/bal-accordion/bal-accordion.stories.ts
  docs/stories/components/bal-app/bal-app.stories.ts
  docs/stories/components/bal-badge/bal-badge.stories.ts
  docs/stories/components/bal-card/bal-card.stories.ts
  docs/stories/components/bal-carousel/bal-carousel.stories.ts
  docs/stories/components/bal-checkbox/bal-checkbox.stories.ts
  docs/stories/components/bal-content/bal-content.stories.ts
  docs/stories/components/bal-data/bal-data.stories.ts
  docs/stories/components/bal-date/bal-date.stories.ts
  docs/stories/components/bal-divider/bal-divider.stories.ts
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-file-upload/bal-file-upload.stories.ts
  docs/stories/components/bal-footer/bal-footer.stories.ts
  docs/stories/components/bal-form-grid/bal-form-grid.stories.ts
  docs/stories/components/bal-heading/bal-heading.stories.ts
  docs/stories/components/bal-hint/bal-hint.stories.ts
  docs/stories/components/bal-input-group/bal-input-group.stories.ts
  docs/stories/components/bal-input-slider/bal-input-slider.stories.ts
  docs/stories/components/bal-input/bal-input.stories.ts
  docs/stories/components/bal-label/bal-label.stories.ts
  docs/stories/components/bal-list/bal-list.stories.ts
  docs/stories/components/bal-notification/bal-notification.stories.ts
  docs/stories/components/bal-number-input/bal-number-input.stories.ts
  docs/stories/components/bal-popup/bal-popup.stories.ts
  docs/stories/components/bal-radio/bal-radio.stories.ts
  docs/stories/components/bal-select/bal-select.stories.ts
  docs/stories/components/bal-sheet/bal-sheet.stories.ts
  docs/stories/components/bal-stack/bal-stack.stories.ts
  docs/stories/components/bal-stage/bal-stage.stories.ts
  docs/stories/components/bal-text/bal-text.stories.ts
  docs/stories/components/bal-textarea/bal-textarea.stories.ts
  docs/stories/components/bal-tooltip/bal-tooltip.stories.ts
Due: none

chore: add footer
  docs/stories/components/bal-badge/bal-badge.mdx
  docs/stories/components/bal-button/bal-button.mdx
  docs/stories/components/bal-close/bal-close.mdx
  docs/stories/components/bal-modal/bal-modal.mdx
  docs/stories/components/bal-nav/bal-nav.mdx
  docs/stories/components/bal-navbar/bal-navbar.mdx
  docs/stories/components/bal-navigation/bal-navigation.mdx
  docs/stories/components/bal-pagination/bal-pagination.mdx
  docs/stories/components/bal-progress-bar/bal-progress-bar.mdx
  docs/stories/components/bal-snackbar/bal-snackbar.mdx
  docs/stories/components/bal-spinner/bal-spinner.mdx
  docs/stories/components/bal-steps/bal-steps.mdx
  docs/stories/components/bal-tabs/bal-tabs.mdx
  docs/stories/components/bal-tag/bal-tag.mdx
  docs/stories/components/bal-toast/bal-toast.mdx
Due: none

chore: add missing components back
  docs/stories/assets/assets/data/commands.json
  docs/stories/assets/assets/data/components.d.ts
  docs/stories/assets/assets/data/components.json
  docs/stories/assets/assets/data/contributors.json
  docs/stories/assets/assets/data/icons.json
  docs/stories/assets/assets/data/selectors.json
  docs/stories/assets/assets/data/tags.json
  docs/stories/assets/assets/images/map-markers/agency-active.svg
  docs/stories/assets/assets/images/map-markers/agency.svg
  docs/stories/assets/assets/images/map-markers/broker-active.svg
  docs/stories/assets/assets/images/map-markers/broker.svg
  docs/stories/assets/assets/images/map-markers/default-active.svg
  docs/stories/assets/assets/images/map-markers/default-active_hover.svg
  docs/stories/assets/assets/images/map-markers/default.svg
  docs/stories/assets/assets/images/map-markers/default_hover.svg
  docs/stories/assets/assets/images/map-markers/location.svg
  docs/stories/assets/assets/images/map-markers/search-location.svg
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-content/bal-content.interfaces.ts
  packages/components/src/components/bal-content/bal-content.sass
  packages/components/src/components/bal-content/bal-content.tsx
  packages/components/src/components/bal-content/test/bal-content.visual.html
  packages/components/src/components/bal-date/bal-date-calendar/bal-date-calendar.interfaces.ts
  packages/components/src/components/bal-divider/bal-divder.vars.sass
  packages/components/src/components/bal-divider/bal-divider.interfaces.ts
  packages/components/src/components/bal-divider/bal-divider.sass
  packages/components/src/components/bal-divider/bal-divider.tsx
  packages/components/src/components/bal-divider/test/bal-divider.visual.html
  packages/components/src/components/bal-stack/bal-stack.interfaces.ts
  packages/components/src/components/bal-stack/bal-stack.sass
  packages/components/src/components/bal-stack/bal-stack.tsx
  packages/components/src/components/bal-stack/test/bal-stack.visual.html
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
  test/cypress/e2e/a11y/bal-date.a11y.cy.ts
  test/cypress/support/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
