Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

test(): restore test result
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(config): do not notify after initialize
  packages/components/src/config/config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/components/form/bal-radio/bal-radio-group/readme.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.9.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(viewport): set tablet breakpoint to 768px
  packages/components/.storybook/preview.js
  packages/components/src/stories/design/05-breakpoints.docs.mdx
  packages/components/src/styles/utilities/initial-variables.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add basic example and form control example
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.stories.ts
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/stories/bal-select.docs.mdx
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/components/form/bal-slider/stories/bal-slider.docs.mdx
  packages/components/src/components/form/bal-slider/stories/bal-slider.stories.ts
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.docs.mdx
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(radio): adjust alignment
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.scss
  packages/components/src/components/form/bal-radio/bal-radio.scss
Due: prettier --write

fix(input-group): add missing prop
  packages/components/src/components/form/bal-input-group/bal-input-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(checkbox-group): add missing readonly prop
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): if readonly do not react on user interactions
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/helpers/form-input.helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: use default cursor for disabled controls
  packages/components/src/components/bal-tabs/bal-o-steps.scss
  packages/components/src/components/bal-tabs/bal-steps.scss
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/components/form/bal-datepicker/bal-datepicker.scss
  packages/components/src/components/form/bal-file-upload/bal-file-upload.scss
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/components/form/bal-select/bal-select.scss
  packages/components/src/components/form/bal-timeinput/bal-timeinput.scss
Due: prettier --write

style: use disabled class
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/styles/form/input-textarea.scss
Due: prettier --write

fix: adjust readonly styles
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/styles/form/input-textarea.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: install cypress
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: install cypress
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.9.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: cypress skip install
  .github/workflows/continuous.yml
Due: none

chore: adjust e2e paths
  .github/workflows/continuous.yml
  packages/components/src/components/bal-tag/test/bal-tag.cy.html
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
Due: none

fix(form): adjust alignment for safari #17
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/components/form/bal-radio/bal-radio.scss
Due: prettier --write

fix(link): improve link handling #23
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/components/src/props.d.ts
  packages/components/src/styles/elements/_all.scss
  packages/components/src/styles/elements/link.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(input): set placeholder color for readonly and disabled
  packages/components/src/styles/form/input-textarea.scss
Due: prettier --write

fix(table): set text align default to left and add spacing for buttons
  packages/components/src/components/bal-table/bal-table.scss
Due: prettier --write

chore: skip install for cypress
  .github/workflows/continuous.yml
Due: none

feat(bal-number-input): add exactNumber property to define 0 as a default value
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format changelog
  CHANGELOG.md
Due: none

chore: cover if null case for exactNumber prop
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(i18n): notify component always
  packages/components/src/config/config.ts
  packages/components/src/config/index.ts
  packages/components/src/config/initialize.ts
  packages/components/src/stories/utils/config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(breakpoint): add isPlatform util
  packages/components/src/global.ts
  packages/components/src/index.ts
  packages/components/src/stories/design/05-breakpoints.docs.mdx
  packages/components/src/utils/platform.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add mladen as a default reviewer
  .github/CODEOWNERS
Due: none

fix(card): add auto height
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: generate visual test files as well
  packages/components/.build/stencil/generate/index.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: install cypress if it is not installed yet
  .github/workflows/continuous.yml
  package.json
Due: none

chore: install cypress if it is not installed yet
  .github/workflows/continuous.yml
Due: none

chore: add run to command
  .github/workflows/continuous.yml
Due: none
