Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat(bal-hint): add theming
  .changeset/twenty-rockets-invite.md
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-hint/bal-hint.vars.sass
Due: none

chore: trigger change detection
  packages/components-angular/src/util/breakpoints.service.ts
  packages/components-angular/src/util/orientation.service.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add new reporter
  .github/workflows/continuous.yml
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: split visual base actions
  .github/workflows/visual-base-components-a.yml
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-css.yml
Due: none

chore: split base image action
  .github/workflows/visual-base-components-a.yml
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-css.yml
Due: none

chore: split base image action
  .github/workflows/visual-base-components-a.yml
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-css.yml
  .github/workflows/visual-base-file.yml
  .github/workflows/visual-base.yml
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: let visual fail
  packages/components/src/components/bal-badge/bal-badge.sass
Due: none

chore: remove comments
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
Due: none

chore: update build job
  .github/workflows/build.yml
Due: none

chore: update build job 2
  .github/workflows/build.yml
Due: none

chore: update build job 3
  packages/components/src/components/bal-badge/bal-badge.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use turbo
  .github/workflows/build.yml
  .github/workflows/continuous.yml
  package.json
Due: none

chore: improve serve command
  package.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🔧 chore: remove pre-build types (#850)
  packages/components/package.json
  packages/components/stencil.config.pre.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: revert background color for dem
  packages/components/src/components/bal-badge/bal-badge.sass
Due: none

chore: update actions
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-css.yml
  .github/workflows/visual-base-file.yml
  .github/workflows/visual-base.yml
Due: none

chore: update actions
  .github/workflows/visual-base-components-a.yml
Due: none

chore: update actions
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-file.yml
  .github/workflows/visual-base.yml
Due: none

chore: use turbo
  .github/workflows/build.yml
Due: none
