Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

fix(list): fix open prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.11.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(button): adjust height for long texts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/css/scss/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.11.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(field): add missing required propset required to true as default and if false add optional label
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.i18n.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.type.ts
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.stories.ts
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.i18n.ts
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-field/stories/bal-field.stories.ts
  packages/components/src/types.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(i18n): adjust german
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.i18n.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): #43 fix policy format to be the one needed by aperto
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input-util.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-upload): name attribute as prop (#64)
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-input): contract has now 10 digits and for contacts with 9 digits use offer-number mask
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input-util.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix tests
  packages/components/src/components/form/bal-input/test/bal-input-util.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix tests of bal-input and revert changes from bal-input.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-input/test/bal-input-util.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-hint): use sass insted of scss and add bem
  packages/components/src/components/bal-hint/bal-hint-text/bal-hint-text.tsx
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-hint): use variables in sass
  packages/components/src/components/bal-hint/bal-hint.sass
Due: none

feat(bal-hint): use variables in sass
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(testing): change visit command to visitBalApp
  packages/testing/src/commands/custom/visit.command.ts
  packages/testing/src/commands/custom/visit.types.ts
  packages/testing/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: reduce duplicated import
  packages/testing/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust type issue
  packages/testing/src/commands/custom/visit.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-field-hint): fix position of the hint icon
  packages/components/src/components/form/bal-field/bal-field.sass
Due: none

chore(bal-hint): remove comments
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): package lock files
  package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-hint): refactor
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/form/bal-field/bal-field.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-hint): nest text and title inside of bal-hint-content
  packages/components/src/components/bal-hint/bal-hint-text/bal-hint-text.tsx
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
  packages/components/src/components/bal-hint/bal-hint.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-hint): refactor
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tabs): add select on mobile
  packages/components/src/components.d.ts
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/steps.tsx
  packages/components/src/components/bal-tabs/components/tab-item.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.tsx
  packages/components/src/props.d.ts
  packages/components/src/styles/components/_all.scss
  packages/components/src/utils/platform.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(container): add new classes for max-width
  packages/components/src/components.d.ts
  packages/css/scss/layout/container.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(platform): breakpoints overlapping
  packages/components/src/utils/platform.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal): add css var --bal-modal-width
  packages/components/src/components/notice/bal-modal/bal-modal.sass
Due: none

fix(list): make items more flexible with padding
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(typo): remove invalid display-2
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(typo): remove invalid display-2
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/props.d.ts
  packages/components/src/stories/design/02-typography.stories.mdx
  packages/css/index.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tokens): adjust spacing
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(list): adjust dark border color
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal): add non breaking change
  packages/components/src/components/notice/bal-modal/bal-modal.sass
Due: none

feat(css): add sass mixins for space rules
  packages/css/index.html
  packages/css/scss/mixins/general.mixin.sass
Due: none

chore(release): v10.11.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.12.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
