Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG.md
Due: none

fix(hint): update close translation
  cspell.json
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: disable logo animation for mobile
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-popover-open-base.png
Due: none

test(navigation): wait until animation is done
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
Due: none

test: wait for fonts to be loaded
  packages/components/cypress/support/commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
Due: none

test(navigation): adjust error rate
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(navigation): wait for the animation
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-popover-open-base.png
Due: none

chore(release): v10.24.8
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: only listens to real resizes and not to scroll over the top event. Closes #705
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-image-slider/bal-image-slider.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
  packages/components/src/components/bal-slider/bal-slider.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/utils/browser.ts
  packages/components/src/utils/resize.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove console.logs
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
  packages/testing/src/commands/overrides/clear.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-navigation): added the target attr for meta and main tabs
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.24.9
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(product-slider): improve swipe gesture
  package-lock.json
  package.json
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
  packages/components/src/utils/swipe.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(sliders): improve swipe gesture control
  packages/components/src/components/bal-image-slider/bal-image-slider.tsx
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
  packages/components/src/components/bal-slider/bal-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(slider): disable drag&drop for images
  packages/components/src/components/bal-image-slider/bal-image-slider-item/bal-image-slider-item.tsx
  packages/components/src/components/bal-image-slider/bal-image-slider.sass
  packages/components/src/components/bal-product-slider/bal-product-slider-item/bal-product-slider-item.tsx
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-popover): decrease content padding on tablet
  packages/components/src/components/bal-popover/bal-popover.sass
Due: none

fix(tabs): add missing href & target to step item. Closes #711
  packages/components/src/components/bal-tabs/components/steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: remove padding of the fieldset
  packages/css/scss/base/normalize.sass
Due: none

chore(bal-popover): move padding to the inner element of the tooltip
  packages/components/src/components/bal-popover/bal-popover.sass
Due: none

fix(icons): add missing tiktok icon
  packages/icons/src/index.ts
  packages/icons/svg/tiktok.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(navigation): do not block scrolling when a link is clicked
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navigation): do not break button labels
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

fix(navigation): last menu item was hidden in main nav popover
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

chore(bal-stage): rename SimpleStage story to Basic
  packages/components/src/components/bal-stage/stories/bal-stage.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(navigation): adjust spacing for tablet safari
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-datepicker): fix header width
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
Due: none

perf(button): only active lottie when loading is true
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/test/bal-button.perf.html
  packages/components/src/components/bal-spinner/bal-spinner.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

perf(logo): only animate when set to true
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation.perf.html
  packages/components/src/components/bal-spinner/bal-spinner.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
