Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update overrides
  docs/adr/0005-duplicate-pnpm-overrides.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/check-overrides.mjs
Due: none

chore: fix react esbuild
  test/react/base/app/pnpm-workspace.yaml
  test/react/base/v19/package.json
Due: none

chore: remove actions warnings
  .github/workflows/actions/setup-environment/action.yml
Due: none

chore: remove actions warnings
  .github/workflows/actions/setup-environment/action.yml
  package.json
Due: none

chore: remove actions warnings
  .github/workflows/actions/archive-download/action.yml
  .github/workflows/actions/archive-upload/action.yml
Due: none

chore: fix style issues
  TODOS.md
  packages/core/src/components.d.ts
  packages/core/src/components/alert/snackbar/snackbar.host.scss
  packages/core/src/components/alert/toast/toast.host.scss
  packages/core/src/components/badge/badge.tsx
  packages/core/src/components/card/card.tsx
  packages/core/src/components/card/test/card.visual.html
  packages/core/src/components/checkbox/checkbox.mixin.scss
  packages/core/src/components/data/data-item.host.scss
  packages/core/src/components/file-upload/file-upload.host.scss
  packages/core/src/components/file-upload/file-upload.tsx
  packages/core/src/components/form/form.style.scss
  packages/core/src/components/heading/heading.style.scss
  packages/core/src/components/hint/hint.host.scss
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/pagination/pagination.host.scss
  packages/core/src/components/radio/radio.mixin.scss
  packages/core/src/components/segment/segment/segment.host.scss
  packages/core/src/components/toggle/toggle.mixin.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add dod
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: add dor
  docs/agents/definition-of-ready.md
Due: none

chore: add plan to sync tokens
  packages/tokens/CONTEXT.md
  packages/tokens/docs/adr/0001-figma-variable-identity-key.md
  packages/tokens/docs/adr/0002-brand-modes-not-collections.md
  packages/tokens/docs/adr/0003-native-variable-aliasing.md
  packages/tokens/docs/adr/0004-git-data-api-atomic-commits.md
  packages/tokens/docs/adr/0005-git-committed-sync-baseline.md
  packages/tokens/docs/figma-token-sync-plugin-plan.md
Due: prettier --write

chore: update tokens
  packages/tokens/tokens/Base.tokens.json
  packages/tokens/tokens/Tcs.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add new tokens
  packages/tokens/tokens/Tcs.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: pull tokens into Figma
  packages/tokens/.figma-sync-state.json
  packages/tokens/tokens/Tcs.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update prettier
  .prettierignore
Due: none

chore: remove plugin docs
  packages/tokens/docs/adr/0001-figma-variable-identity-key.md
  packages/tokens/docs/adr/0002-brand-modes-not-collections.md
  packages/tokens/docs/adr/0003-native-variable-aliasing.md
  packages/tokens/docs/adr/0004-git-data-api-atomic-commits.md
  packages/tokens/docs/adr/0005-git-committed-sync-baseline.md
  packages/tokens/docs/figma-token-sync-plugin-plan.md
Due: prettier --write

chore: remove plugin docs
  .prettierignore
  packages/tokens/CONTEXT.md
Due: prettier --write

chore: created plan
  packages/tokens/CONTEXT.md
  packages/tokens/docs/adr/0001-brand-tokens-as-figma-modes.md
  packages/tokens/docs/adr/0002-variable-id-diffing.md
  packages/tokens/docs/figma-token-sync-pull-plan.md
Due: prettier --write

chore: create sync workflow
  .github/workflows/figma-token-sync.yml
  packages/tokens/package.json
  packages/tokens/scripts/figma-sync/color.test.ts
  packages/tokens/scripts/figma-sync/color.ts
  packages/tokens/scripts/figma-sync/diff.test.ts
  packages/tokens/scripts/figma-sync/diff.ts
  packages/tokens/scripts/figma-sync/figma-client.ts
  packages/tokens/scripts/figma-sync/fixtures/variables-local-response.json
  packages/tokens/scripts/figma-sync/pull.ts
  packages/tokens/scripts/figma-sync/transform.test.ts
  packages/tokens/scripts/figma-sync/transform.ts
  packages/tokens/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger release
  .changeset/fine-buses-lie.md
Due: none

chore: trigger release (#2017)
  .changeset/fine-buses-lie.md
Due: none

chore: trigger release
  .changeset/smooth-cats-swim.md
  package.json
  pnpm-lock.yaml
Due: none

Trigger release (#2018)
  .changeset/smooth-cats-swim.md
  package.json
  pnpm-lock.yaml
Due: none

chore: fix release
  .github/workflows/prepare-release.yml
Due: none

chore: trigger release
  .changeset/twenty-donkeys-design.md
Due: none

chore: trigger release
  .changeset/green-numbers-throw.md
  .github/workflows/prepare-release.yml
  package.json
Due: none

chore: trigger release
  .changeset/dull-cars-fall.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: trigger release
  .changeset/chilly-apes-rest.md
  TODOS.md
  docs/src/assets/data/components.json
Due: none

chore: add plan for implementation
  docs/adr/0006-ds-input-slider-change-commit.md
  docs/plans/ds-input-slider-implementation-plan.md
  packages/core/CONTEXT.md
Due: prettier --write

chore: add component input-slider
  docs/plans/ds-input-slider-implementation-plan.md
  packages/core/src/components.d.ts
  packages/core/src/components/input-slider/input-slider.host.scss
  packages/core/src/components/input-slider/input-slider.interfaces.ts
  packages/core/src/components/input-slider/input-slider.tsx
  packages/core/src/components/input-slider/input-slider.utils.spec.ts
  packages/core/src/components/input-slider/input-slider.utils.ts
  packages/core/src/components/input-slider/test/input-slider.a11y.play.ts
  packages/core/src/components/input-slider/test/input-slider.visual.html
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts
  packages/core/src/global/constants/tags.constant.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for input-slider
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-form-reset-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-min-max-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-min-max-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-readonly-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-readonly-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-step-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-step-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-slider/test/input-slider.visual.play.ts-snapshots/input-slider-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: add docs and tests
  docs/.storybook/story-paths.json
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  docs/src/components/input-slider/1-Overview.mdx
  docs/src/components/input-slider/2-Usage.mdx
  docs/src/components/input-slider/3-Variants.mdx
  docs/src/components/input-slider/4-Styling.mdx
  docs/src/components/input-slider/5-Accessibility.mdx
  docs/src/components/input-slider/6-Testing.mdx
  docs/src/components/input-slider/input-slider.doc-config.ts
  docs/src/components/input-slider/input-slider.stories.ts
  docs/src/components/select/1-Overview.mdx
  docs/src/components/select/3-Variants.mdx
  packages/core/CONTEXT.md
  packages/core/src/components/input-slider/input-slider.tsx
  packages/core/src/components/input-slider/test/input-slider.component.play.ts
  packages/playwright/src/lib/components/index.ts
  packages/playwright/src/lib/components/input-slider.po.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix navbar and progress bar tokens
  .changeset/giant-regions-smash.md
  navbar-gaps-zoom.png
  navbar-gaps.png
  packages/core/src/components/progress-bar/progress-bar.host.scss
  packages/core/src/foundation/colors.visual.html
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix navbar tokens
  .changeset/sour-seas-rescue.md
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

📦️ Release (next) (#2020)
  .changeset/pre.json
  docs/package.json
  packages/assets/package.json
  packages/core/package.json
  packages/css/package.json
  packages/playwright/package.json
  packages/react/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix release
  .changeset/odd-actors-tan.md
  .github/workflows/release.yml
Due: none

📦️ Release (next) (#2022)
  .changeset/pre.json
  docs/package.json
  packages/assets/package.json
  packages/core/package.json
  packages/css/package.json
  packages/playwright/package.json
  packages/react/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix vecel build
  docs/src/assets/data/components.json
  turbo.json
Due: none

chore: fix doc title
  scripts/build-docs.mjs
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
