Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(tokens): update via Toky
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset for token update
  .changeset/toky-update-next-1785919812543.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785921791473.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785922045823.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785927523593.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785927906235.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785927951525.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785927988671.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1785928034642.md
Due: none

chore(tokens): update Tcs brand via Toky
  packages/tokens/tokens/Tcs.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset for token update
  .changeset/toky-update-next-1785934504744.md
Due: none

feat: implement date picker inline variant
  docs/src/assets/data/components.json
  docs/src/components/date/3-Variants.mdx
  docs/src/components/date/date.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/date/date.host.scss
  packages/core/src/components/date/date.tsx
  packages/core/src/components/date/test/date.component.play.ts
  packages/core/src/components/date/test/date.visual.html
  packages/core/src/components/date/test/date.visual.play.ts
  packages/core/tsconfig.json
  packages/playwright/src/lib/components/date.po.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update toky
  apps/toky/TODO.md
  apps/toky/app/api/propose-change/route.test.ts
  apps/toky/app/api/propose-change/route.ts
  apps/toky/app/brands-sidebar.tsx
  apps/toky/app/globals.css
  apps/toky/app/header.tsx
  apps/toky/app/layout.tsx
  apps/toky/app/page.tsx
  apps/toky/app/problems-sidebar.tsx
  apps/toky/app/sidebar.tsx
  apps/toky/app/staged-changes-sidebar.tsx
  apps/toky/app/token-editor.tsx
  apps/toky/app/token-graph.tsx
  apps/toky/app/use-undoable-state.ts
  apps/toky/components/ui/badge.tsx
  apps/toky/components/ui/button.tsx
  apps/toky/components/ui/combobox.tsx
  apps/toky/components/ui/input.tsx
  apps/toky/components/ui/select.tsx
  apps/toky/components/ui/table.tsx
  apps/toky/components/ui/tabs.tsx
  apps/toky/components/ui/textarea.tsx
  apps/toky/components/ui/tooltip.tsx
  apps/toky/docs/adr/0001-auto-patch-brands-array-on-create.md
  apps/toky/src/tokens/brand.test.ts
  apps/toky/src/tokens/brand.ts
  apps/toky/src/tokens/changeset.test.ts
  apps/toky/src/tokens/changeset.ts
  apps/toky/src/tokens/filter.test.ts
  apps/toky/src/tokens/filter.ts
  apps/toky/src/tokens/flatten.test.ts
  apps/toky/src/tokens/format.test.ts
  apps/toky/src/tokens/format.ts
  apps/toky/src/tokens/github-write.test.ts
  apps/toky/src/tokens/github-write.ts
  apps/toky/src/tokens/github.test.ts
  apps/toky/src/tokens/github.ts
  apps/toky/src/tokens/graph.test.ts
  apps/toky/src/tokens/validate.test.ts
  apps/toky/src/tokens/validate.ts
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1786014430118.md
Due: none

chore: update toky
  apps/toky/app/brands-sidebar.tsx
  apps/toky/app/globals.css
  apps/toky/app/header.tsx
  apps/toky/app/page.tsx
  apps/toky/app/problems-sidebar.tsx
  apps/toky/app/sidebar.tsx
  apps/toky/app/staged-changes-sidebar.tsx
  apps/toky/app/token-editor.tsx
  apps/toky/app/token-graph.tsx
  apps/toky/components/ui/dropdown-menu.tsx
  apps/toky/components/ui/table.tsx
  apps/toky/src/tokens/graph.test.ts
  apps/toky/src/tokens/graph.ts
Due: none

chore: update toky
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/graph.test.ts
  apps/toky/src/tokens/graph.ts
  packages/tokens/CONTEXT.md
  packages/tokens/docs/adr/0006-github-action-supersedes-plugin-pull.md
  packages/tokens/docs/adr/0007-direct-commit-variableid-backfill.md
  packages/tokens/docs/adr/0008-non-blocking-conflict-check.md
  packages/tokens/docs/adr/0009-pull-auto-deletes-figma-variables.md
  packages/tokens/docs/adr/0010-figma-sync-action-standalone-script.md
  packages/tokens/docs/figma-sync-action-plan.md
  packages/tokens/docs/figma-token-sync-plugin-plan.md
Due: prettier --write

chore: update toky
  packages/tokens/docs/figma-sync-action-plan.md
Due: prettier --write

chore: update toky
  apps/toky/app/token-editor.tsx
  apps/toky/components/ui/combobox.tsx
  apps/toky/tsconfig.json
  packages/tokens/docs/adr/0007-direct-commit-variableid-backfill.md
  packages/tokens/docs/figma-sync-action-plan.md
  toky.md
Due: prettier --write

chore: resolve conflicts
  docs/plans/ds-angular-implementation-plan.md
  docs/plans/figma-token-sync-plugin-plan.md
  docs/plans/integration-apps-migration-plan.md
  docs/plans/storybook-apps-migration-plan.md
Due: none

chore: git figma sync
  .github/workflows/figma-conflict-check.yml
  .github/workflows/figma-sync.yml
  docs/plans/figma-sync-action-plan.md
  docs/plans/toky-code-usage-plan.md
  package.json
  packages/tokens/src/config.brand.ts
  scripts/figma-sync/backfill-commit.mjs
  scripts/figma-sync/conflict-check.mjs
  scripts/figma-sync/lib/alias.mjs
  scripts/figma-sync/lib/baseline.mjs
  scripts/figma-sync/lib/conflict.mjs
  scripts/figma-sync/lib/deletion.mjs
  scripts/figma-sync/lib/figma-value.mjs
  scripts/figma-sync/lib/figma.mjs
  scripts/figma-sync/lib/github.mjs
  scripts/figma-sync/lib/tokens.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/pull.mjs
  scripts/figma-sync/test/baseline.test.ts
  scripts/figma-sync/test/conflict.test.ts
  scripts/figma-sync/test/deletion.test.ts
  scripts/figma-sync/test/tokens.test.ts
  scripts/figma-sync/test/write.test.ts
  scripts/figma-sync/vitest.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add toky sync
  apps/storybook/src/assets/data/components.json
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/code-usage.generated.json
  docs/plans/toky-code-usage-plan.md
  package.json
  packages/tokens/.figma-sync-state.json
  packages/tokens/src/config.brand.ts
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/backfill-commit.mjs
  scripts/figma-sync/conflict-check.mjs
  scripts/figma-sync/lib/baseline.mjs
  scripts/figma-sync/lib/bootstrap.mjs
  scripts/figma-sync/lib/conflict.mjs
  scripts/figma-sync/lib/figma.mjs
  scripts/figma-sync/lib/github.mjs
  scripts/figma-sync/lib/local-git.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/pull.mjs
  scripts/figma-sync/test/baseline.test.ts
  scripts/figma-sync/test/bootstrap.test.ts
  scripts/figma-sync/test/conflict.test.ts
  scripts/figma-sync/test/deletion.test.ts
  scripts/figma-sync/test/local-git.test.ts
  scripts/figma-sync/test/tokens.test.ts
  scripts/figma-sync/test/write.test.ts
  scripts/generate-token-usage.mjs
  scripts/token-usage/lib/scan.mjs
  scripts/token-usage/test/scan.test.ts
  scripts/token-usage/vitest.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix audit
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix pr feedback
  apps/toky/app/api/propose-change/route.ts
  apps/toky/app/brands-sidebar.tsx
  apps/toky/src/tokens/brand.ts
  apps/toky/src/tokens/edit.ts
  apps/toky/src/tokens/github-write.ts
  apps/toky/src/tokens/github.ts
Due: none

chore: fix pr feedback
  .changeset/pre.json
Due: none

chore: fix pr feedback
  apps/toky/app/api/propose-change/route.ts
  apps/toky/src/tokens/edit.ts
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1786128523954.md
Due: none

chore: add changeset for token update
  .changeset/toky-update-next-1786128730907.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
