Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

✨feat: improved utils (#849)
  packages/components/cypress/snapshots/base/visual/bal-progress-bar.visual.cy.ts/progress-bar-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-progress-bar.visual.cy.ts/progress-bar-variants-desktop-base.png
Due: none

feat(bal-modal): add theming
  .changeset/small-eels-punch.md
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-modal/bal-modal.vars.sass
Due: none

fix(checkbox): writing value in BooleanValueAccessor
  .changeset/hungry-flies-laugh.md
  package-lock.json
  package.json
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components/bal-card/stories/theming.md
  packages/components/src/components/bal-hint/stories/theming.md
  packages/components/src/components/bal-tag/stories/theming.md
  packages/components/src/components/form/bal-checkbox/stories/theming.md
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update package.lock
  package-lock.json
Due: none

feat(bal-time-input): add theming
  .changeset/loud-bottles-eat.md
  packages/components/src/components/form/bal-time-input/bal-time-input.sass
  packages/components/src/components/form/bal-time-input/bal-time-input.vars.sass
Due: none

feat(datepicker): add theming
  .changeset/modern-dingos-pay.md
  packages/components/src/components/bal-card/stories/theming.md
  packages/components/src/components/bal-hint/stories/theming.md
  packages/components/src/components/bal-tag/stories/theming.md
  packages/components/src/components/form/bal-checkbox/stories/theming.md
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.vars.sass
  packages/components/src/components/form/bal-datepicker/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-select): add theming
  .changeset/forty-horses-sit.md
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/bal-select.vars.sass
Due: none

chore(): refactor
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/bal-select.vars.sass
Due: none

chore(): refactor
  packages/components/src/components/form/bal-select/bal-select.vars.sass
Due: none

chore(): refactor
  packages/components/src/components/bal-progress-bar/stories/theming.md
  packages/components/src/components/notice/bal-modal/bal-modal-customization.vars.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-modal/bal-modal.vars.sass
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update changesets
  .changeset/angry-peaches-impress.md
  .changeset/dirty-cheetahs-nail.md
  .changeset/fifty-ducks-battle.md
  .changeset/grumpy-rats-float.md
  .changeset/loud-bottles-eat.md
  .changeset/lovely-geckos-glow.md
  .changeset/modern-dingos-pay.md
  .changeset/small-eels-punch.md
  .changeset/twenty-rockets-invite.md
  .github/workflows/continuous.yml
  packages/components/src/components/bal-card/stories/theming.md
  packages/components/src/components/bal-hint/stories/theming.md
  packages/components/src/components/bal-navbar/stories/theming.md
  packages/components/src/components/bal-progress-bar/stories/theming.md
  packages/components/src/components/bal-tag/stories/theming.md
  packages/components/src/components/form/bal-datepicker/stories/theming.md
  packages/components/src/components/form/bal-time-input/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(angular): add config service
  .changeset/heavy-kiwis-sort.md
  packages/components-angular/src/module.ts
  packages/components-angular/src/util/config.service.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.cy.html
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/utils/config/config.decorator.ts
  packages/components/src/utils/config/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format imports and fix modal backdrop
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.cy.html
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/notice/bal-modal/bal-modal-customization.vars.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-modal/bal-modal.vars.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/index.ts
  packages/components/src/utils/config/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove console.log
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add css variable for theming to bal-toast, bal-snackbar and bal-notification
  .changeset/rotten-boxes-kick.md
  packages/components/src/components/notice/bal-notification/bal-notification.sass
  packages/components/src/components/notice/bal-notification/bal-notification.vars.sass
  packages/components/src/components/notice/bal-notification/stories/theming.md
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.vars.sass
  packages/components/src/components/notice/bal-snackbar/stories/theming.md
  packages/components/src/components/notice/bal-toast/bal-toast.sass
  packages/components/src/components/notice/bal-toast/bal-toast.vars.sass
  packages/components/src/components/notice/bal-toast/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

✨ feat(angular): add config service (#861)
  .changeset/heavy-kiwis-sort.md
  packages/components-angular/src/module.ts
  packages/components-angular/src/util/config.service.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.cy.html
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/notice/bal-modal/bal-modal-customization.vars.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-modal/bal-modal.vars.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/index.ts
  packages/components/src/utils/config/config.decorator.ts
  packages/components/src/utils/config/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): use form field vars
  packages/components/src/components/form/bal-select/bal-select.vars.sass
Due: none

feat(bal-steps): add theming
  .changeset/smart-berries-tickle.md
  packages/components/src/components/bal-steps/bal-steps.vars.sass
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/components/step-icon.sass
  packages/components/src/components/bal-steps/components/step-label.sass
  packages/components/src/components/notice/bal-modal/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add imports
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/components/step-icon.sass
Due: none

feat(sheet): add theming variables
  .changeset/angry-peaches-impress.md
  .changeset/forty-horses-sit.md
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-select/stories/theming.md
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/notice/bal-modal/stories/theming.md
  packages/components/src/components/notice/bal-sheet/bal-sheet.sass
  packages/components/src/components/notice/bal-sheet/bal-sheet.vars.sass
  packages/components/src/components/notice/bal-sheet/stories/theming.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix failed border color
  packages/components/src/components/bal-steps/bal-steps.vars.sass
Due: none

feat(divider): add theming css variables
  .changeset/angry-peaches-impress.md
  packages/components/src/components/form/bal-select/stories/theming.md
  packages/components/src/components/layout/bal-divider/bal-divder.vars.sass
  packages/components/src/components/layout/bal-divider/bal-divider.sass
  packages/components/src/components/notice/bal-modal/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  .changeset/angry-peaches-impress.md
  .changeset/smart-berries-tickle.md
  packages/components/src/components/bal-steps/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/layout/bal-divider/bal-divder.vars.sass
Due: none

feat(pagination): add theming variables
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.vars.sass
  packages/components/src/components/bal-pagination/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
