Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navigation): adjust spacing menu content
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navigation): inner scrolling of menu body
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

fix(navigation): html smooth scrolling
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(form): focus select, radio and checkbox
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(navigation): adjust mobile behaviour
  package-lock.json
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-logo/bal-logo.sass
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-stage/bal-stage.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/stories/design/css.stories.ts
  packages/css/scss/form/button.sass
  packages/css/scss/form/tools.sass
  packages/css/scss/layout/container.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navigation): adjust mobile behaviour
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/utils/toggle-scrolling-body.ts
  packages/css/scss/base/_all.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(fonts): extract font import from base file to a single file
  packages/components/src/styles/global.fonts.sass
  packages/components/src/styles/global.sass
  packages/css/scss/baloise-design-system.fonts.sass
  packages/css/scss/baloise-design-system.sass
Due: none

chore(): remove animated link
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/css/scss/layout/link.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-pagination): added a new interface for small pagination with dots or numbers
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-pagination/stories/bal-pagination.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): fix native inverted link text-decoration-thickness
  packages/css/scss/layout/link.sass
Due: none

chore(): revert bal-logo-animation
  packages/components/src/components/bal-logo/bal-logo.animation.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): inverted behaves same as non inverted
  packages/css/scss/layout/link.sass
Due: none

fix(navigation): adjust mobile behaviour
  .github/PULL_REQUEST_TEMPLATE.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/stories/design/05-breakpoints.stories.mdx
  packages/components/src/stories/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/utils/platform.ts
  packages/css/scss/form/button.sass
  packages/css/scss/helpers/grid.helper.sass
  packages/css/scss/helpers/visibility.helper.sass
  packages/css/scss/mixins/breakpoint.mixin.sass
  packages/css/scss/mixins/extends.sass
  packages/css/scss/mixins/general.mixin.sass
  packages/tokens/src/index.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove comments
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix comment
  packages/components/src/components/bal-logo/bal-logo.sass
Due: none

fix(navbar): add shadow to light version
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.21.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(form): fix reset for checkbox, radio, textarea, input, select and datepicker
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/helpers/form-input.helpers.ts
  packages/components/src/stories/design/templates/contact-form.template.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(form): add tests for input, checkbox and datepicker
  packages/components/cypress/e2e/base/checkbox.cy.ts
  packages/components/cypress/e2e/base/datepicker.cy.ts
  packages/components/cypress/e2e/base/input.cy.ts
  packages/components/cypress/e2e/legacy/datepicker.legacy.cy.ts
  packages/components/src/components/form/bal-checkbox/index.html
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.cy.html
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input/index.html
  packages/components/src/components/form/bal-input/test/bal-input.cy.html
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/testing/src/commands/custom/bal-datepicker.command.ts
  packages/testing/src/legacy/accessors/date-picker.accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-pagination): integrated the pagination component in image slider
  packages/components/src/components/bal-image-slider/bal-image-slider.sass
  packages/components/src/components/bal-image-slider/bal-image-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(close): add close icon to the component and fix alignment
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.sass
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
  packages/components/src/props.d.ts
  packages/components/src/styles/mixins/alert.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(close): add visual test
  packages/components/cypress/e2e/visual/bal-close.visual.cy.ts
  packages/components/src/components/bal-close/test/bal-close.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(tag): refactor visual test
  packages/components/cypress/e2e/visual/bal-tag.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-close.visual.cy.ts/close-basic-base.png
  packages/components/cypress/snapshots/base/bal-close.visual.cy.ts/close-variants-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-variants-base.png
  packages/tokens/.tmp/index.esm.js
  packages/tokens/.tmp/index.js
  packages/tokens/.tmp/types/index.d.ts
  packages/tokens/.tmp/types/tokens.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): add maxlength on bal-select typeahead, closes #416
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(close): add visual testing manual
  packages/components/src/stories/contributing/how-to's/03-visual-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(stage): add hasShapeHandler function in connectedCallback
  packages/components/src/components/bal-stage/bal-stage.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-close.visual.cy.ts/close-variants-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-basic-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-variants-base.png
  packages/components/src/stories/contributing/how-to's/03-visual-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): fix autocomplete, closes #415
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): fix autocorrect on input
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(snackbar): message of the snackbar as html content
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(close): add docs
  cspell.json
  packages/components/src/stories/contributing/how-to's/03-visual-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.21.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(form): add test for input, textarea, select, radio and number input
  packages/components/cypress/e2e/base/number-input.cy.ts
  packages/components/cypress/e2e/base/radio.cy.ts
  packages/components/cypress/e2e/base/select.cy.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-number-input/test/bal-number-input.cy.html
  packages/components/src/components/form/bal-number-input/test/bal-number-input.utils.spec.ts
  packages/components/src/components/form/bal-radio/index.html
  packages/components/src/components/form/bal-radio/test/bal-radio.cy.html
  packages/components/src/components/form/bal-select/index.html
  packages/components/src/components/form/bal-select/test/bal-select-utils.spec.ts
  packages/components/src/components/form/bal-select/test/bal-select.cy.html
  packages/components/src/components/form/bal-textarea/index.html
  packages/components/src/components/form/bal-textarea/test/bal-textarea.cy.html
  packages/testing/src/commands/overrides/clear.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(form): adjust legacy tests
  packages/components/cypress/e2e/legacy/typeahead.legacy.cy.ts
  packages/components/cypress/support/legacy/pages/checkbox.page.ts
  packages/components/cypress/support/legacy/pages/input.page.ts
  packages/components/cypress/support/legacy/pages/radio.page.ts
  packages/components/cypress/support/legacy/pages/select.page.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.cy.html
  packages/components/src/components/form/bal-radio/test/bal-radio.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(slider): rebrand slider
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-close/stories/bal-close.docs.mdx
  packages/components/src/components/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/bal-image-slider/stories/bal-image-slider.docs.mdx
  packages/components/src/components/bal-logo/stories/bal-logo.docs.mdx
  packages/components/src/components/bal-navbar/stories/bal-navbar.docs.mdx
  packages/components/src/components/bal-product-slider/stories/bal-product-slider.docs.mdx
  packages/components/src/components/bal-stage/stories/bal-stage.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tag/stories/bal-tag.docs.mdx
  packages/components/src/components/bal-text/stories/bal-text.docs.mdx
  packages/components/src/components/docs/bal-doc-banner-status/bal-doc-banner-status.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-field/stories/bal-field.docs.mdx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.docs.mdx
  packages/components/src/components/form/bal-form/stories/bal-form.docs.mdx
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.docs.mdx
  packages/components/src/components/form/bal-input-stepper/stories/bal-input-stepper.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-select/stories/bal-select.docs.mdx
  packages/components/src/components/form/bal-slider/bal-slider.sass
  packages/components/src/components/form/bal-slider/bal-slider.scss
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/components/form/bal-slider/stories/bal-slider.docs.mdx
  packages/components/src/components/form/bal-slider/stories/bal-slider.stories.ts
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.docs.mdx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
  packages/components/src/components/notice/bal-notification/stories/bal-notification.docs.mdx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.docs.mdx
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.docs.mdx
  packages/components/src/components/notice/bal-toast/stories/bal-toast.docs.mdx
  packages/components/src/styles/components/_all.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format file
  packages/components/src/components/form/bal-radio/test/bal-radio.cy.html
Due: none

test(form): add test for input-stepper and slider
  packages/components/cypress/e2e/base/input-stepper.cy.ts
  packages/components/cypress/e2e/base/slider.cy.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input-stepper/test/bal-input-stepper.cy.html
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/components/form/bal-slider/index.html
  packages/components/src/components/form/bal-slider/test/bal-slider.cy.html
  packages/testing/src/commands/custom/bal-input-stepper.command.ts
  packages/testing/src/commands/custom/bal-input-stepper.types.ts
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
