Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust release script
  .github/workflows/release.yml
  package.json
Due: none

fix: avoid duplicated Identifiers
  packages/components/config/stencil.basic.config.ts
  packages/components/src/components/bal-app/bal-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/fast-clocks-compete.md
Due: none

fix: avoid duplicated Identifiers
  .build/globals.js
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/src/components/bal-app/bal-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update prettier ignore list
  .prettierignore
Due: none

docs: add stackblitz examples for angular
  cspell.json
  package-lock.json
  package.json
  packages/components/config/stencil.basic.config.ts
  packages/components/public/assets/code/angular/angular.json
  packages/components/public/assets/code/angular/app.component.css
  packages/components/public/assets/code/angular/app.component.html
  packages/components/public/assets/code/angular/app.component.ts
  packages/components/public/assets/code/angular/app.module.ts
  packages/components/public/assets/code/angular/example.component.ts
  packages/components/public/assets/code/angular/main.ts
  packages/components/public/assets/code/angular/styles.css
  packages/components/public/assets/code/angular/tsconfig.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-accordion/stories/usage/angular/example_component_html.md
  packages/components/src/components/bal-accordion/stories/usage/angular/example_component_ts.md
  packages/components/src/components/bal-accordion/stories/usage/usage.png
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-close/stories/bal-close.docs.mdx
  packages/components/src/components/bal-list/stories/bal-list.docs.mdx
  packages/components/src/components/bal-stage/stories/bal-stage.docs.mdx
  packages/components/src/components/docs/bal-doc-stackblitz/angular.ts
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.sass
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.tsx
  packages/components/src/components/docs/bal-doc-usage-item/bal-doc-usage-item.tsx
  packages/components/src/components/docs/bal-doc-usage/bal-doc-usage.sass
  packages/components/src/components/docs/bal-doc-usage/bal-doc-usage.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.docs.mdx
  packages/components/src/components/form/bal-select/stories/usage/angular/example_component_html.md
  packages/components/src/components/form/bal-select/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.docs.mdx
  packages/components/src/components/notice/bal-toast/stories/bal-toast.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(accordion): add missing padding for card usage. Closes #1010
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): adjust icon animation
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.sass
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/test/bal-list.cy.html
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navigation) adjust nested list for mobile
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(heading): add sizes
  .changeset/soft-horses-itch.md
  packages/components/src/components/bal-heading/bal-heading.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): remove context
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-list/stories/bal-list.docs.mdx
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navigation): adjust to refactored list
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust line navigation
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/big-parents-approve.md
Due: none

chore: adjust github action
  .github/workflows/continuous.yml
Due: none

fix(icon): remove inline styles. Closes #1038
  .changeset/afraid-mails-repeat.md
  packages/icons/svg/location-target.svg
Due: none

chore: adjust test and a11y
  .github/workflows/continuous.yml
  packages/components/cypress/support/component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: fix visual issues
  packages/components/cypress/support/commands.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-icon/bal-icon.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: fix visual issues
  packages/components/cypress/e2e/a11y/bal-accordion.a11y.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(number-input): add min and max prop. Closes #1035
  .changeset/chatty-balloons-invent.md
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-icon.visual.cy.ts/icon-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-mobile-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-tablet-open-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore: adjust padding
  packages/components/src/components/bal-list/bal-list.sass
  packages/icons/src/index.ts
  packages/icons/svg/location-target.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove commented code
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

docs: adjust banner
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-carousel/stories/bal-carousel.docs.mdx
  packages/components/src/components/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/bal-logo/stories/bal-logo.docs.mdx
  packages/components/src/components/bal-navbar/stories/bal-navbar.docs.mdx
  packages/components/src/components/bal-spinner/stories/bal-spinner.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tag/stories/bal-tag.docs.mdx
  packages/components/src/components/bal-text/stories/bal-text.docs.mdx
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.sass
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-field/stories/bal-field.docs.mdx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.docs.mdx
  packages/components/src/components/form/bal-form/stories/bal-form.docs.mdx
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.docs.mdx
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.docs.mdx
  packages/components/src/components/form/bal-input-stepper/stories/bal-input-stepper.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-select/stories/bal-select.docs.mdx
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.docs.mdx
  packages/components/src/components/notice/bal-notification/stories/bal-notification.docs.mdx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): reduce animation amount
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): reduce animation amount
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): reduce animation amount
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): remove link border
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation.perf.html
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
Due: none

chore: format files
  packages/components/src/components/bal-accordion/stories/usage/angular/example_component_html.md
  packages/components/src/components/bal-accordion/stories/usage/angular/example_component_ts.md
  packages/components/src/components/bal-app/stories/bal-app.docs.mdx
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-navigation/stories/bal-navigation.docs.mdx
  packages/components/src/components/bal-stage/stories/bal-stage.docs.mdx
  packages/components/src/components/form/bal-form/stories/usage/angular/example_component_html.md
  packages/components/src/components/form/bal-form/stories/usage/angular/example_component_ts.md
  packages/components/src/components/form/bal-select/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix spell issues
  cspell.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
Due: none

docs: hide in page nav on small screens
  packages/components/public/assets/css/table-of-content.css
Due: prettier --write

chore: add links to old changelogs
  CHANGELOG.md
Due: none

docs: adjust changelog
  CHANGELOG.md
Due: none

docs: adjust stylesheets
  packages/components/public/assets/css/main.css
  packages/components/public/assets/css/preview.css
  packages/components/public/assets/css/theme.css
Due: prettier --write

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
