Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): add docs section, add popover in stories on mobile not working
  packages/components/src/components/bal-navigation/stories/bal-navigation.docs.mdx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add story as suggestion for simple phone number input, closes #378
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix build of icons on windows
  .build/file.js
  packages/icons/.build/optimize.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add to docs example of simple-phone-number-input
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav overlay): fixed the overlay trigger on mobile
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(form): add new form component with scroll to first invalid field
  packages/components/.storybook/main.js
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-form/bal-form.tsx
  packages/components/src/components/form/bal-form/stories/bal-form.docs.mdx
  packages/components/src/components/form/bal-form/stories/bal-form.stories.ts
  packages/components/src/components/form/bal-form/stories/testing.md
  packages/components/src/index.ts
  packages/components/src/utils/form.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(button): adjust start height to 48px
  packages/css/scss/form/button.sass
Due: none

docs: add setup part to vue source
  packages/components/src/components/form/bal-form/stories/bal-form.stories.ts
  packages/components/src/stories/utils/parameter.ts
  packages/components/src/stories/utils/story.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(form): add new form component with scroll to first invalid field
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-form/bal-form.tsx
  packages/components/src/components/form/bal-form/stories/bal-form.docs.mdx
  packages/components/src/components/form/bal-form/stories/bal-form.stories.ts
  packages/components/src/components/form/bal-form/stories/testing.md
  packages/components/src/index.ts
  packages/components/src/utils/form.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add anchor in docs for components-form-input--simple-phone-number-input
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.15.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): update width values,add noShadow prop,add backdrop height,avoid bodyscroll
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(form): add new form component with scroll to first invalid field
  packages/components/src/utils/form.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): fix mobile offset
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(datepicker): move to bem and sass
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.scss
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.stories.ts
  packages/components/src/components/form/bal-select/bal-select.scss
  packages/components/src/styles/components/_all.scss
  packages/components/src/utils/form.ts
  packages/css/scss/mixins/general.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.15.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(datepicker): adjust selectors
  packages/components/cypress/component/bal-datepicker.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(navigation): add popover button
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/stories/assets/css/theme.css
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(datepicker): correct table view
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(stage): remove unused scss file
  packages/components/src/components/bal-stage/bal-stage.vars.scss
Due: prettier --write

feat(select): move to sass
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-select/bal-select-option/bal-select-option.scss
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/bal-select.scss
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/stories/design/css.docs.mdx
  packages/components/src/styles/components/_all.scss
  packages/css/index.html
  packages/css/scss/form/shared.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(select): move to sass
  packages/components/cypress/component/bal-select.cy.ts
  packages/components/cypress/e2e/base/select.cy.ts
  packages/css/scss/mixins/general.mixin.sass
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(navigation): add size to popover
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): temp fix for backdrop height, fix burger icon color and delete inverted
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): delete comment
  packages/components/src/components/bal-popover/bal-popover.sass
Due: none

feat(nav-popover): fix stories
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): integrate and extend bal navigation popover
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add force to click command
  packages/components/cypress/e2e/base/select.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: remove force to click command
  packages/components/cypress/e2e/base/select.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing select styles
  packages/components/src/styles/components/_all.scss
Due: prettier --write

feat(nav-popover): extend bal navigation popover props and update story
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): fix typo in props desc
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.19.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/CHANGELOG.md
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/CHANGELOG.md
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/CHANGELOG.md
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): extend bal navigation popover with is on top
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(tokens): adjust build
  .build/tokens-generator.js
  package-lock.json
  package.json
  packages/tokens/package.json
  packages/tokens/rollup.config.js
  packages/tokens/tsconfig.json
  rollup.base.js
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): fix popover on top, add example in story
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
