Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: merge branch 'main' into pre-release/v13
  .build/data/tags.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-badge/bal-badge.interfaces.ts
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-popover/stories/testing.md
  packages/components/src/components/bal-steps/stories/testing.md
  packages/components/src/components/bal-steps/stories/theming.md
  packages/components/src/components/bal-tabs/stories/testing.md
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.interfaces.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.interfaces.ts
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/stories/testing.md
  packages/components/src/components/layout/bal-content/bal-content.interfaces.ts
  packages/components/src/components/layout/bal-content/bal-content.tsx
  packages/components/src/components/layout/bal-stack/bal-stack.interfaces.ts
  packages/components/src/interfaces.d.ts
  packages/testing/src/selectors/index.ts
  packages/testing/src/selectors/selectors.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: merge branch 'main' into pre-release/v13
  packages/components/src/components/bal-steps/stories/bal-steps.docs.mdx
  packages/components/src/components/bal-steps/stories/bal-steps.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust types
  packages/components/src/types.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing types
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: update custom cypress commands
  packages/testing/src/commands/custom/component.command.ts
  packages/testing/src/commands/custom/component.types.ts
  packages/testing/src/commands/overrides/select.command.ts
  packages/testing/src/selectors/selectors.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: remove unsupported container
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix component test
  packages/components/cypress/component/bal-checkbox.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: change invalid css-var
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/form/bal-input/bal-input.sass
  packages/components/src/components/form/bal-number-input/bal-number-input.sass
  packages/components/src/components/form/bal-textarea/bal-textarea.sass
  packages/components/src/components/form/bal-time-input/bal-time-input.sass
Due: none

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-switch-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-data.visual.cy.ts/data-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-data.visual.cy.ts/data-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-data.visual.cy.ts/data-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-icon.visual.cy.ts/icon-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

feat(table): update ag-grid and adjust to css vars
  .changeset/eighty-deers-invite.md
  package-lock.json
  package.json
  packages/components-table/package.json
  packages/components-table/scss/design-system-table.sass
  packages/components/.storybook/main.js
  packages/components/src/components/bal-table/stories/bal-table.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(popover,accordion): rename prop from value to active
  .changeset/stale-owls-divide.md
  packages/components/config/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update patch versions
  package-lock.json
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update changesets
  .changeset/cuddly-beans-poke.md
  .changeset/eighty-deers-invite.md
  .changeset/famous-bees-jam.md
  .changeset/friendly-rice-hear.md
  .changeset/healthy-mugs-admire.md
  .changeset/honest-windows-bow.md
  .changeset/modern-maps-repair.md
  .changeset/short-zebras-tell.md
  .changeset/stale-owls-divide.md
  .changeset/tender-teachers-sell.md
  packages/components/src/components/bal-table/stories/bal-table.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update cypress-visual-regression to v3.0.0
  package-lock.json
  package.json
Due: none

chore: downgrade cypress-visual-regression to v2.1.1
  package-lock.json
  package.json
Due: none

chore: add missing changeset
  .changeset/tame-crews-scream.md
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
  packages/components/src/stories/development/guides/getting-started/getting-started_vue.md
  packages/components/src/styles/components.sass
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update angular getting started
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/css/sass/baloise-design-system.sass
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/upgrade/upgrade-guide.v11.stories.mdx
  packages/components/src/stories/development/upgrade/upgrade-guide.v12.stories.mdx
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: .title, bal-heading, bal-text and bal-label inherit default color
  .changeset/tasty-deers-marry.md
  packages/components/src/components/typography/bal-heading/bal-heading.sass
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/css/src/core/layout/typography.sass
Due: none

docs: update docs
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update getting started
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_vue.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: inherit color from parent element
  .changeset/clever-items-smell.md
  packages/components/src/components/typography/bal-heading/bal-heading.sass
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/components/src/components/typography/bal-text/bal-text.tsx
  packages/components/src/test/css-structure.visual.html
  packages/css/src/core/layout/link.sass
  packages/css/src/core/layout/typography.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: adjust stack, popover and accordion
  .changeset/curvy-tables-cover.md
  .changeset/proud-taxis-notice.md
  .changeset/smooth-kangaroos-visit.md
  .changeset/tidy-berries-buy.md
  packages/components/cypress/e2e/visual/bal-stack.visual.cy.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-popover/test/bal-popover.cy.html
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/test/css-structure.visual.html
Due: none

chore: update footer
  .changeset/funny-ties-rhyme.md
  .changeset/neat-impalas-jam.md
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-list/test/bal-list.cy.html
  packages/components/src/test/css-structure.visual.html
  packages/css/sass/structure.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: popover auto trigger
  .changeset/proud-taxis-notice.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-popover/test/bal-popover.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-switch-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-margins-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-space-base.png
  packages/components/cypress/snapshots/base/visual/css-structure.visual.cy.ts/css-structure-inheritance-base.png
Due: none

chore: trigger build
  .changeset/proud-taxis-notice.md
Due: none

docs: add event changes
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/stories/development/upgrade/upgrade-guide.v10.stories.mdx
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust deprecated parts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card-actions/bal-card-actions.tsx
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-stage/bal-stage.tsx
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust deprecated parts
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust deprecated parts
  .changeset/wet-pans-worry.md
Due: none

docs: update v13
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: merge branch 'main' into pre-release/v13
  packages/components/src/components/layout/bal-stack/bal-stack.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: build artifacts
  package-lock.json
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: build artifacts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-icon/bal-icon.interfaces.ts
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-icon/test/bal-icon.cy.html
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/components/bal-list/test/bal-list.cy.html
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-stage/bal-stage-back-link/bal-stage-back-link.tsx
  packages/components/src/components/bal-stage/bal-stage.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
