Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update lock file
  package-lock.json
Due: none

chore: update grid renaming
  docs/.storybook/blocks/Buttons.tsx
  docs/.storybook/blocks/welcome/WelcomeNews.tsx
  docs/stories/components/bal-checkbox/bal-checkbox.mdx
  docs/stories/components/bal-radio/bal-radio.mdx
  docs/stories/development/00-guides/02-form.stories.mdx
  docs/stories/foundation/Iconography.stories.mdx
  docs/stories/foundation/brand-assets.stories.mdx
  docs/stories/foundation/color.stories.mdx
  docs/stories/foundation/grid.stories.mdx
  docs/stories/foundation/spacing.stories.mdx
  docs/stories/foundation/typography.stories.mdx
  docs/stories/utilities/00-overview.stories.mdx
  docs/stories/utilities/flexbox/flexbox-gap.stories.mdx
  docs/stories/utilities/grid/grid-system.stories.mdx
  docs/stories/welcome.stories.mdx
  packages/components/src/components.d.ts
  packages/components/src/components/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/bal-checkbox/test/bal-checkbox-button.visual.html
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/bal-table/test/bal-table.cy.html
  packages/css/index.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove deprecated navigation and adjust further visual tests
  docs/stories/components/bal-navigation/bal-navigation.mdx
  docs/stories/components/bal-navigation/bal-navigation.stories.ts
  docs/stories/components/bal-navigation/testing.md
  docs/stories/components/bal-navigation/theming.md
  packages/components/scripts/post-build.mjs
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-levels/bal-navigation-levels.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-body/bal-navigation-main-body.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-head/bal-navigation-main-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main/bal-navigation-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list-item/bal-navigation-menu-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-end/bal-navigation-meta-end.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.interfaces.ts
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation-colors.visual.html
  packages/components/src/components/bal-navigation/test/bal-navigation.perf.html
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/components/bal-notification/bal-notification.sass
  packages/components/src/components/bal-notification/bal-notification.tsx
  packages/components/src/components/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/bal-toast/bal-toast.sass
  packages/components/src/interfaces.d.ts
  packages/components/src/test/all.html
  packages/components/stencil.config.ts
  test/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove deprecated navigation and adjust further visual tests
  packages/components/src/components/bal-sheet/test/bal-sheet.visual.html
  packages/components/src/components/bal-steps/test/bal-steps.visual.html
  packages/components/src/test/css-flex.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/styles/scripts/flex.mjs
Due: none

chore: fix nav visual
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update visual
  .prettierignore
  packages/components/src/test/css-flex.visual.html
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-large-basic.png
  test/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-none-basic.png
  test/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-normal-basic.png
  test/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-rounded-basic.png
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/css-flex.visual.cy.ts/css-flex-operators-desktop.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

chore: update visual setup
  packages/components/src/test/css-border.visual.html
  packages/components/src/test/css-color.visual.html
  packages/components/src/test/css-core.visual.html
  packages/components/src/test/css-display.visual.html
  packages/components/src/test/css-flex.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-inheritance.visual.html
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-shadow.visual.html
  packages/components/src/test/css-spacing.visual.html
  packages/components/src/test/css-structure.visual.html
  packages/components/src/test/css-typography.visual.html
  packages/components/src/test/sticky-footer.visual.html
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update visual
  test/cypress/e2e/visual/css-border.visual.cy.ts
  test/cypress/e2e/visual/css-color.visual.cy.ts
  test/cypress/e2e/visual/css-core.visual.cy.ts
  test/cypress/e2e/visual/css-display.visual.cy.ts
  test/cypress/e2e/visual/css-flex.visual.cy.ts
  test/cypress/e2e/visual/css-grid.visual.cy.ts
  test/cypress/e2e/visual/css-inheritance.visual.cy.ts
  test/cypress/e2e/visual/css-opacity.visual.cy.ts
  test/cypress/e2e/visual/css-radius.visual.cy.ts
  test/cypress/e2e/visual/css-shadow.visual.cy.ts
  test/cypress/e2e/visual/css-spacing.visual.cy.ts
  test/cypress/e2e/visual/css-structure.visual.cy.ts
  test/cypress/e2e/visual/css-typography.visual.cy.ts
Due: none

chore: update visual
  packages/components/src/test/css-structure.visual.html
Due: none

chore: add visual test for deprecated css
  packages/components/src/test/deprecated/css-border.visual.html
  packages/components/src/test/deprecated/css-color.visual.html
  packages/components/src/test/deprecated/css-core.visual.html
  packages/components/src/test/deprecated/css-display.visual.html
  packages/components/src/test/deprecated/css-flex.visual.html
  packages/components/src/test/deprecated/css-grid.visual.html
  packages/components/src/test/deprecated/css-inheritance.visual.html
  packages/components/src/test/deprecated/css-opacity.visual.html
  packages/components/src/test/deprecated/css-radius.visual.html
  packages/components/src/test/deprecated/css-shadow.visual.html
  packages/components/src/test/deprecated/css-spacing.visual.html
  packages/components/src/test/deprecated/css-typography.visual.html
  test/cypress/e2e/visual/css-border.visual.cy.ts
  test/cypress/e2e/visual/css-color.visual.cy.ts
  test/cypress/e2e/visual/css-core.visual.cy.ts
  test/cypress/e2e/visual/css-display.visual.cy.ts
  test/cypress/e2e/visual/css-flex.visual.cy.ts
  test/cypress/e2e/visual/css-grid.visual.cy.ts
  test/cypress/e2e/visual/css-inheritance.visual.cy.ts
  test/cypress/e2e/visual/css-opacity.visual.cy.ts
  test/cypress/e2e/visual/css-shadow.visual.cy.ts
  test/cypress/e2e/visual/css-spacing.visual.cy.ts
  test/cypress/e2e/visual/css-structure.visual.cy.ts
  test/cypress/e2e/visual/css-typography.visual.cy.ts
Due: none

chore: add visual test for deprecated css
  packages/components/src/test/deprecated/css-flex.visual.html
  test/cypress/e2e/visual/css-structure.visual.cy.ts
Due: none

chore: add visual test for deprecated css
  test/cypress/e2e/visual/css-flex.visual.cy.ts
Due: none

chore: update cli
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-typography.visual.html
  packages/components/src/test/deprecated/css-display.visual.html
  packages/styles/bin/index.mjs
Due: none

chore: update cli
  packages/styles/bin/index.mjs
Due: none

chore: format files
  packages/components/src/test/css-grid.visual.html
Due: none

chore: update docs
  docs/.storybook/blocks/Buttons.tsx
  docs/.storybook/blocks/css-utils/CssFlexboxGap.tsx
  docs/.storybook/blocks/css-utils/CssTypographyTextAlign.tsx
  docs/.storybook/blocks/css-utils/CssTypographyTextTransform.tsx
  docs/.storybook/manager.js
  docs/stories/components/00-overview.stories.mdx
  docs/stories/components/bal-card/bal-card.stories.ts
  docs/stories/components/bal-sheet/bal-sheet.stories.ts
  docs/stories/utilities/background/background-color.stories.mdx
  docs/stories/utilities/border/border-color.stories.mdx
  docs/stories/utilities/layout/display.stories.mdx
  docs/stories/utilities/spacing/spacing-margin.stories.mdx
  docs/stories/utilities/spacing/spacing-padding.stories.mdx
Due: none

fix(nav): check if valid link to show arrow symbol
  .changeset/fast-planets-think.md
  docs/stories/components/bal-nav/bal-nav.data.ts
  docs/stories/components/bal-nav/bal-nav.mdx
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/components/overview-link.tsx
  packages/components/src/components/bal-nav/test/bal-nav-colors.visual.html
  packages/components/src/components/bal-nav/test/bal-nav-long.visual.html
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  test/cypress/downloads/downloads.html (1).crdownload
  test/cypress/downloads/downloads.html.crdownload
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-colors-desktop-widescreen-open.png
  test/cypress/snapshots/base/visual/bal-nav-part-3.visual.cy.ts/nav-long-desktop-open.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore(): update lock file
  package-lock.json
Due: none

chore: decouple components from css utils
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/bal-form-grid/bal-form-col/bal-form-col.tsx
  packages/components/src/components/bal-form-grid/bal-form-gird.interfaces.ts
  packages/components/src/components/bal-form-grid/bal-form-grid.tsx
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-nav/bal-nav-link-grid-col/bal-nav-link-grid-col.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.tsx
  packages/components/src/components/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/bal-snackbar/bal-snackbar.tsx
  packages/components/src/utils/config/config.default.ts
  packages/components/src/utils/config/config.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add schematics for angular and nx projects
  .changeset/shiny-rockets-shake.md
  package-lock.json
  packages/schematics/.gitignore
  packages/schematics/.npmignore
  packages/schematics/LICENSE
  packages/schematics/README.md
  packages/schematics/package-lock.json
  packages/schematics/package.json
  packages/schematics/src/collection.json
  packages/schematics/src/ng-add/files/i18n.initialize/i18n.initialize.__ts__
  packages/schematics/src/ng-add/files/polyfills/polyfills.__ts__
  packages/schematics/src/ng-add/files/zone-flags/zone-flags.__ts__
  packages/schematics/src/ng-add/generators/app.get.ts
  packages/schematics/src/ng-add/generators/i18n.gen.ts
  packages/schematics/src/ng-add/generators/polyfills.gen.ts
  packages/schematics/src/ng-add/generators/project.gen.ts
  packages/schematics/src/ng-add/generators/styles.ts
  packages/schematics/src/ng-add/generators/ts-config.gen.ts
  packages/schematics/src/ng-add/generators/zone-flags.gen.ts
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/schema.json
  packages/schematics/src/ng-add/schema.ts
  packages/schematics/src/ng-add/utils/workspace.ts
  packages/schematics/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  .eslintignore
  .prettierignore
  packages/schematics/src/ng-add/generators/app.get.ts
  packages/schematics/src/ng-add/generators/i18n.gen.ts
  packages/schematics/src/ng-add/generators/polyfills.gen.ts
  packages/schematics/src/ng-add/generators/project.gen.ts
  packages/schematics/src/ng-add/generators/styles.ts
  packages/schematics/src/ng-add/generators/ts-config.gen.ts
  packages/schematics/src/ng-add/generators/zone-flags.gen.ts
  packages/schematics/src/ng-add/index.ts
  packages/schematics/src/ng-add/schema.ts
  packages/schematics/src/ng-add/utils/workspace.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update docs
  docs/stories/development/00-guides/00-getting-started.stories.mdx
Due: none

chore: rename to cli
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  package-lock.json
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/collection.json
  packages/cli/src/ng-add/files/i18n.initialize/i18n.initialize.__ts__
  packages/cli/src/ng-add/files/polyfills/polyfills.__ts__
  packages/cli/src/ng-add/files/zone-flags/zone-flags.__ts__
  packages/cli/src/ng-add/generators/app.get.ts
  packages/cli/src/ng-add/generators/i18n.gen.ts
  packages/cli/src/ng-add/generators/polyfills.gen.ts
  packages/cli/src/ng-add/generators/project.gen.ts
  packages/cli/src/ng-add/generators/styles.ts
  packages/cli/src/ng-add/generators/ts-config.gen.ts
  packages/cli/src/ng-add/generators/zone-flags.gen.ts
  packages/cli/src/ng-add/index.ts
  packages/cli/src/ng-add/schema.json
  packages/cli/src/ng-add/schema.ts
  packages/cli/src/ng-add/utils/workspace.ts
  packages/cli/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust button rounded
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/styles/src/core/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust visual for checkbox button
  packages/components/src/components/bal-checkbox/test/bal-checkbox-button.visual.html
Due: none

chore: migrate fullheight
  packages/components/src/test/css-grid.visual.html
  packages/styles/bin/index.mjs
Due: none

chore: update format of temp files
  package-lock.json
  packages/cli/package.json
  packages/cli/src/ng-add/generators/app.get.ts
  packages/cli/src/ng-add/generators/styles.ts
  packages/cli/src/ng-add/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add schematics for angular and nx projects (#1277)
  .changeset/shiny-rockets-shake.md
  .eslintignore
  .prettierignore
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  package-lock.json
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/LICENSE
  packages/cli/README.md
  packages/cli/package-lock.json
  packages/cli/package.json
  packages/cli/src/collection.json
  packages/cli/src/ng-add/files/i18n.initialize/i18n.initialize.__ts__
  packages/cli/src/ng-add/files/polyfills/polyfills.__ts__
  packages/cli/src/ng-add/files/zone-flags/zone-flags.__ts__
  packages/cli/src/ng-add/generators/app.get.ts
  packages/cli/src/ng-add/generators/i18n.gen.ts
  packages/cli/src/ng-add/generators/polyfills.gen.ts
  packages/cli/src/ng-add/generators/project.gen.ts
  packages/cli/src/ng-add/generators/styles.ts
  packages/cli/src/ng-add/generators/ts-config.gen.ts
  packages/cli/src/ng-add/generators/zone-flags.gen.ts
  packages/cli/src/ng-add/index.ts
  packages/cli/src/ng-add/schema.json
  packages/cli/src/ng-add/schema.ts
  packages/cli/src/ng-add/utils/workspace.ts
  packages/cli/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: move migration script
  package-lock.json
  packages/cli/bin/index.mjs
  packages/cli/package.json
  packages/styles/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): trigger build
  CHANGELOG_v12.md
  package-lock.json
Due: none

fix(testing): add a timeout for requestIdleCallback
  .changeset/breezy-avocados-whisper.md
  packages/components/src/utils/helpers.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: change timeout to 1s
  .changeset/breezy-avocados-whisper.md
  packages/components/src/utils/helpers.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
