Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update base images
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-long-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-open.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: adjust errorThreshold
  test/cypress/e2e/visual/bal-tabs.visual.cy.ts
Due: none

chore: adjust errorThreshold
  test/cypress/e2e/visual/bal-popup.visual.cy.ts
Due: none

🐛 fix: breakpoint service only reacts on changes (#1074)
  .changeset/tall-houses-warn.md
  CHANGELOG_NEXT.md
  packages/components/src/utils/breakpoints/breakpoints.subject.ts
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/checkbox-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/radio-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/select-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/text-value-accessor.ts
  test/cypress/e2e/visual/bal-popup.visual.cy.ts
  test/cypress/e2e/visual/bal-tabs.visual.cy.ts
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open-search-popup.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open-menu-second-tab.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-long-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-open.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-bottom.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-top.png
  test/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-open.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock file
  package-lock.json
Due: none

chore: remove doc from release
  .github/workflows/release.yml
Due: none

chore(): add divider component
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input-group/bal-input-group-divider/bal-field-control.tsx
  packages/components/src/components/form/bal-input-group/bal-input-group-divider/bal-input-group-divider.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.mixins.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-input-group/test/bal-input-group.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add footer
  docs/stories/assets/data/components.json
  docs/stories/foundation/border-radius.stories.mdx
  docs/stories/foundation/elevation.stories.mdx
  docs/stories/foundation/layout.stories.mdx
  docs/stories/utilities/background/background-color.stories.mdx
  docs/stories/utilities/border/border-color.stories.mdx
  docs/stories/utilities/border/border-radius.stories.mdx
  docs/stories/utilities/elevation/elevation-opacity.stories.mdx
  docs/stories/utilities/elevation/elevation-shadow.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-content.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-items.stories.mdx
  docs/stories/utilities/flexbox/flexbox-align-self.stories.mdx
  docs/stories/utilities/flexbox/flexbox-direction.stories.mdx
  docs/stories/utilities/flexbox/flexbox-flex.stories.mdx
  docs/stories/utilities/flexbox/flexbox-gap.stories.mdx
  docs/stories/utilities/flexbox/flexbox-justify-content.stories.mdx
  docs/stories/utilities/flexbox/flexbox-wrap.stories.mdx
  docs/stories/utilities/grid/grid-system.stories.mdx
  docs/stories/utilities/layout/container.stories.mdx
  docs/stories/utilities/layout/display.stories.mdx
  docs/stories/utilities/mixins/breakpoints.stories.mdx
  docs/stories/utilities/spacing/spacing-margin.stories.mdx
  docs/stories/utilities/spacing/spacing-padding.stories.mdx
  docs/stories/utilities/typography/typography-color.stories.mdx
  docs/stories/utilities/typography/typography-family.stories.mdx
  docs/stories/utilities/typography/typography-size.stories.mdx
  docs/stories/utilities/typography/typography-text-align.stories.mdx
  docs/stories/utilities/typography/typography-text-transform.stories.mdx
  docs/stories/utilities/typography/typography-weight.stories.mdx
  docs/stories/utilities/typography/typography-white-space.stories.mdx
Due: none

chore: add dev getting started
  docs/.storybook/blocks/Framework.tsx
  docs/.storybook/blocks/Quotes.tsx
  docs/.storybook/blocks/welcome/WelcomeGuide.tsx
  docs/.storybook/blocks/welcome/WelcomeStage.tsx
  docs/.storybook/preview.js
  docs/public/assets/css/preview.css
  docs/stories/development/guides/getting-started.stories.mdx
Due: none

fix(angular): use EventEmitter again
  .changeset/witty-months-whisper.md
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🐛 fix(angular): use EventEmitter again (#1077)
  .changeset/witty-months-whisper.md
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update changelog
  packages/components-angular/CHANGELOG.md
Due: prettier --write

docs: add dev section
  docs/.storybook/blocks/Code.tsx
  docs/.storybook/blocks/Framework.tsx
  docs/.storybook/main.js
  docs/public/assets/css/prism.css
  docs/stories/development/guides/00-getting-started.stories.mdx
  docs/stories/development/guides/01-components.stories.mdx
  docs/stories/development/guides/02-form.stories.mdx
  docs/stories/development/guides/03-internationalization.stories.mdx
  docs/stories/development/guides/04-theming.stories.mdx
  docs/stories/development/guides/05-testing.stories.mdx
  docs/stories/doc-styles.stories.mdx
  package-lock.json
  package.json
Due: none

docs: add first upgrade guide
  docs/.storybook/blocks/DiffSource.tsx
  docs/.storybook/blocks/index.ts
  docs/public/assets/css/preview.css
  docs/public/assets/css/prism.css
  docs/stories/development/upgrade/upgrade-guide.v10.stories.mdx
Due: none

docs: add first upgrade guide
  docs/stories/development/upgrade/upgrade-guide.v10.stories.mdx
Due: none

docs: adjust story heading
  docs/.storybook/blocks/StoryHeading.tsx
Due: none

docs: add upgrade guides
  docs/stories/development/upgrade/upgrade-guide.v10.stories.mdx
  docs/stories/development/upgrade/upgrade-guide.v11.stories.mdx
  docs/stories/development/upgrade/upgrade-guide.v12.stories.mdx
  docs/stories/development/upgrade/upgrade-guide.v13.stories.mdx
  docs/stories/development/upgrade/upgrade-guide.v14.stories.mdx
Due: none

docs: add upgrade and contributing
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  docs/stories/development/00-guides/01-components.stories.mdx
  docs/stories/development/00-guides/02-form.stories.mdx
  docs/stories/development/00-guides/03-internationalization.stories.mdx
  docs/stories/development/00-guides/04-theming.stories.mdx
  docs/stories/development/00-guides/05-testing.stories.mdx
  docs/stories/development/00-guides/theming/theming.md
  docs/stories/development/01-contributing/00-setup.stories.mdx
  docs/stories/development/01-contributing/01-component.stories.mdx
  docs/stories/development/01-contributing/02-controller.stories.mdx
  docs/stories/development/01-contributing/03-testing.stories.mdx
  docs/stories/development/01-contributing/04-visual-testing.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v10.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v11.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v12.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v13.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v14.stories.mdx
  docs/stories/doc-styles.stories.mdx
Due: none

docs: adjust heading size
  docs/.storybook/blocks/StoryHeading.tsx
  docs/public/assets/css/preview.css
Due: none

chore(): add docs for bal-badge, bal-accordion and bal-button
  docs/public/assets/css/baloise-design-system.min.css
  docs/stories/assets/data/commands.json
  docs/stories/assets/data/components.json
  docs/stories/components/bal-accordion/bal-accordion.mdx
  docs/stories/components/bal-accordion/bal-accordion.stories.ts
  docs/stories/components/bal-badge/bal-badge.mdx
  docs/stories/components/bal-badge/bal-badge.stories.ts
  docs/stories/components/bal-button/bal-button.stories.ts
  docs/stories/components/containment/bal-accordion/bal-accordion.mdx
  docs/stories/components/containment/bal-accordion/bal-accordion.stories.ts
  docs/stories/components/containment/bal-accordion/testing.md
  docs/stories/components/containment/bal-accordion/theming.md
  docs/stories/components/data-display/bal-badge/bal-badge.mdx
  docs/stories/components/data-display/bal-badge/bal-badge.stories.ts
  docs/stories/components/data-display/bal-badge/testing.md
  docs/stories/components/data-display/bal-badge/theming.md
  docs/stories/utils/attributes.ts
  docs/stories/utils/content.ts
  packages/components/src/components/Data/bal-badge/api.md
  packages/components/src/components/Data/bal-badge/bal-badge.mdx
  packages/components/src/components/Data/bal-badge/bal-badge.stories.ts
  packages/components/src/components/Data/bal-badge/testing.md
  packages/components/src/components/Data/bal-badge/theming.md
  packages/css/src/core/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(number-input): the number input pattern regex no longer returns a pattern mismatch. Additionally, the pattern attribute can be overridden
  .changeset/green-coats-occur.md
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): adjust thousand separator
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Fix/number input pattern (#1084)
  .changeset/green-coats-occur.md
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add button docs
  docs/stories/assets/data/components.json
  docs/stories/components/bal-accordion/bal-accordion.mdx
  docs/stories/components/bal-accordion/bal-accordion.stories.ts
  docs/stories/components/bal-accordion/testing.md
  docs/stories/components/bal-accordion/theming.md
  docs/stories/components/bal-badge/bal-badge.mdx
  docs/stories/components/bal-badge/bal-badge.stories.ts
  docs/stories/components/bal-badge/testing.md
  docs/stories/components/bal-badge/theming.md
  docs/stories/components/bal-button/bal-button.mdx
  docs/stories/components/bal-button/bal-button.stories.ts
  docs/stories/components/bal-button/testing.md
  docs/stories/components/bal-modal/bal-modal.mdx
  docs/stories/components/data-display/bal-badge/bal-badge.mdx
  package-lock.json
  packages/components/config/doc-output-target/index.ts
  packages/components/src/components/Data/bal-badge/api.md
  packages/components/src/components/Data/bal-badge/bal-badge.stories.ts
  packages/components/src/components/Data/bal-badge/testing.md
  packages/components/src/components/Data/bal-badge/theming.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/stale-mayflies-dream.md
Due: none

feat: add font size to the labels
  .changeset/rare-swans-exist.md
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-field/bal-field.interfaces.ts
  packages/components/src/components/typography/bal-label/bal-label.interfaces.ts
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/components/typography/bal-label/test/bal-label.visual.html
  test/cypress/e2e/visual/bal-label.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix import
  .build/optimize-brand-icons.js
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-label.visual.cy.ts/field.png
  test/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-mobile.png
  test/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-tablet.png
Due: none

chore: adjust build config
  .gitignore
  .prettierignore
Due: none

chore: adjust build config
  .prettierignore
Due: none
