Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

fix(steps): change tab-index for disabled items
  .changeset/modern-jeans-sin.md
  packages/core/src/components/bal-steps/components/step-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ci for lts
  .github/workflows/lts-continuous.yml
Due: none

chore: update ci
  .github/workflows/lts-continuous.yml
Due: none

chore: update ci
  .github/workflows/continuous.yml
Due: none

:bug: fix(steps): disabled steps (#1958)
  .changeset/modern-jeans-sin.md
  .github/workflows/continuous.yml
  .github/workflows/lts-continuous.yml
  packages/core/src/components/bal-steps/components/step-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: migrate footer first try
  .claude/skills/ds-lint-component/README.md
  .claude/skills/ds-lint-component/SKILL.md
  .claude/skills/ds-lint-component/implementation.js
  .claude/skills/ds-lint-component/index.js
  .vscode/settings.json
  cspell.json
  packages/core/src/components.d.ts
  packages/core/src/components/divider/divider.style.scss
  packages/core/src/components/divider/divider.tsx
  packages/core/src/components/footer/footer.host.scss
  packages/core/src/components/footer/footer.i18n.ts
  packages/core/src/components/footer/footer.interfaces.ts
  packages/core/src/components/footer/footer.style.scss
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/footer/test/footer.a11y.play.ts
  packages/core/src/components/footer/test/footer.component.play.ts
  packages/core/src/components/footer/test/footer.visual.html
  packages/core/src/components/footer/test/footer.visual.play.ts
  packages/core/src/components/steps/steps/steps.tsx
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/index.ts
  packages/playwright/src/lib/components/footer.po.ts
  packages/playwright/src/lib/components/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: migrate data
  .claude/skills/ds-create-component/implementation.js
  .gitignore
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  package.json
  packages/core/src/components.d.ts
  packages/core/src/components/data/data-item.host.scss
  packages/core/src/components/data/data-item.interfaces.ts
  packages/core/src/components/data/data-item.tsx
  packages/core/src/components/data/data-label.host.scss
  packages/core/src/components/data/data-label.interfaces.ts
  packages/core/src/components/data/data-label.tsx
  packages/core/src/components/data/data-value.host.scss
  packages/core/src/components/data/data-value.interfaces.ts
  packages/core/src/components/data/data-value.tsx
  packages/core/src/components/data/data.host.scss
  packages/core/src/components/data/data.interfaces.ts
  packages/core/src/components/data/data.tsx
  packages/core/src/components/data/test/data.a11y.play.ts
  packages/core/src/components/data/test/data.component.play.ts
  packages/core/src/components/data/test/data.visual.html
  packages/core/src/components/data/test/data.visual.play.ts
  packages/core/src/global/constants/tags.constant.ts
  packages/playwright/src/lib/components/data-item.po.ts
  packages/playwright/src/lib/components/data.po.ts
  packages/playwright/src/lib/components/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add docs for data
  .claude/skills/ds-document-component/README.md
  .claude/skills/ds-document-component/REFERENCE.md
  .claude/skills/ds-document-component/SKILL.md
  .claude/skills/ds-document-component/implementation.js
  .claude/skills/ds-document-component/index.js
  .claude/skills/ds-test-component/SKILL.md
  .github/copilot-instructions.md
  CLAUDE.md
  docs/.storybook/story-paths.json
  docs/src/assets/data/components.json
  docs/src/components/data/1-Overview.mdx
  docs/src/components/data/2-Usage.mdx
  docs/src/components/data/3-Variants.mdx
  docs/src/components/data/4-Styling.mdx
  docs/src/components/data/5-Accessibility.mdx
  docs/src/components/data/6-Testing.mdx
  docs/src/components/data/data.doc-config.ts
  docs/src/components/data/data.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/data/data-item.host.scss
  packages/core/src/components/data/data-item.i18n.ts
  packages/core/src/components/data/data-item.tsx
  packages/core/src/components/data/data.tsx
  packages/core/src/components/data/test/data.component.play.ts
  packages/core/src/components/data/test/data.visual.html
  packages/core/src/components/data/test/data.visual.play.ts
  packages/core/src/components/form/form.style.scss
  packages/core/src/components/hint/hint.host.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visual
  packages/core/src/components/data/test/data.visual.html
  packages/core/src/components/data/test/data.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix update screenshot
  .github/workflows/screenshots.yml
Due: none

chore: fix visuals
  packages/core/src/components/data/test/data.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for data
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-custom-form-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-custom-form-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-editable-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-editable-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-horizontal-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-horizontal-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-mixed-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-mixed-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-multiline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-multiline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-required-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/data/test/data.visual.play.ts-snapshots/data-required-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update screenshots for steps
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-hidden-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-hidden-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-vertical-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-vertical-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-navigation-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-states-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-states-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-vertical-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/steps/test/steps.visual.play.ts-snapshots/steps-vertical-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: restore steps
  packages/core/src/components.d.ts
  packages/core/src/components/steps/steps/steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix steps
  packages/core/playwright.config.mts
  packages/core/src/components/steps/step/step.tsx
  packages/core/src/components/steps/steps/steps.tsx
  packages/core/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update footer docs
  cspell.json
  docs/.storybook/story-paths.json
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  docs/src/components/footer/1-Overview.mdx
  docs/src/components/footer/2-Usage.mdx
  docs/src/components/footer/3-Variants.mdx
  docs/src/components/footer/4-Styling.mdx
  docs/src/components/footer/5-Accessibility.mdx
  docs/src/components/footer/6-Testing.mdx
  docs/src/components/footer/footer.doc-config.ts
  docs/src/components/footer/footer.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/footer/footer.host.scss
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/footer/test/footer.visual.html
  packages/core/src/components/footer/test/footer.visual.play.ts
  packages/core/src/global/config/config.default.ts
  packages/core/src/global/config/config.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: migrate footer
  .claude/skills/ds-create-token/README.md
  .claude/skills/ds-create-token/SKILL.md
  .claude/skills/ds-create-token/index.js
  .claude/skills/ds-sync-vars/README.md
  .claude/skills/ds-sync-vars/REFERENCE.md
  .claude/skills/ds-sync-vars/SKILL.md
  .claude/skills/ds-sync-vars/implementation.js
  .claude/skills/ds-sync-vars/index.js
  ARCHITECTURE.md
  SKILLS.md
  cspell.json
  docs/src/assets/data/components.json
  packages/core/CONTEXT.md
  packages/core/src/components.d.ts
  packages/core/src/components/footer/footer.host.scss
  packages/tokens/CONTEXT.md
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for footer
  packages/core/src/components/footer/test/footer.visual.play.ts-snapshots/footer-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/footer/test/footer.visual.play.ts-snapshots/footer-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/footer/test/footer.visual.play.ts-snapshots/footer-custom-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/footer/test/footer.visual.play.ts-snapshots/footer-custom-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/footer/test/footer.visual.play.ts-snapshots/footer-slotted-logo-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/footer/test/footer.visual.play.ts-snapshots/footer-slotted-logo-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix test
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/footer/test/footer.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust package lock
  package-lock.json
Due: none

chore: update todos
  TODOS.md
Due: none

chore: file upload
  .gitignore
  TODOS.md
  docs/.storybook/story-paths.json
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  docs/src/components/file-upload/1-Overview.mdx
  docs/src/components/file-upload/2-Usage.mdx
  docs/src/components/file-upload/3-Variants.mdx
  docs/src/components/file-upload/4-Styling.mdx
  docs/src/components/file-upload/5-Accessibility.mdx
  docs/src/components/file-upload/6-Testing.mdx
  docs/src/components/file-upload/file-upload.doc-config.ts
  docs/src/components/file-upload/file-upload.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/file-upload/file-upload.host.scss
  packages/core/src/components/file-upload/file-upload.i18n.ts
  packages/core/src/components/file-upload/file-upload.interfaces.ts
  packages/core/src/components/file-upload/file-upload.tsx
  packages/core/src/components/file-upload/test/file-upload.a11y.play.ts
  packages/core/src/components/file-upload/test/file-upload.component.play.ts
  packages/core/src/components/file-upload/test/file-upload.visual.html
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts
  packages/core/src/components/file-upload/utils/file-list.util.ts
  packages/core/src/components/file-upload/utils/file-size.util.ts
  packages/core/src/components/file-upload/utils/file-upload.util.spec.ts
  packages/core/src/components/file-upload/utils/file-validation.util.ts
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/stack/stack.host.scss
  packages/core/src/global/constants/tags.constant.ts
  packages/playwright/src/lib/components/file-upload.po.ts
  packages/playwright/src/lib/components/index.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for file-upload
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-loading-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-loading-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-no-file-list-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-no-file-list-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/file-upload/test/file-upload.visual.play.ts-snapshots/file-upload-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: build artifacts
  docs/src/assets/data/components.json
Due: none

feat: add poc tagtransform
  libs/output-target-angular/package.json
  libs/output-target-web/package.json
  package-lock.json
  package.json
  packages/core/config/stencil.bindings.react.ts
  packages/core/package.json
  packages/core/src/components/bal-modal/bal-modal.controller.ts
  packages/core/src/components/bal-select/utils/watch-options.ts
  packages/core/src/components/bal-snackbar/bal-snackbar.controller.ts
  packages/core/src/components/bal-steps/bal-steps.tsx
  packages/core/src/components/bal-tabs/bal-tabs.tsx
  packages/core/src/index.ts
  packages/core/src/utils/helpers.ts
  packages/core/src/utils/mutation/mutation.decorator.ts
  packages/core/src/utils/overlays/overlays.ts
  packages/core/stencil.config.ts
  packages/react/package.json
  packages/react/project.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: migrate native select
  .claude/skills/ds-document-component/SKILL.md
  docs/.storybook/story-paths.json
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  docs/src/components/select/1-Overview.mdx
  docs/src/components/select/2-Usage.mdx
  docs/src/components/select/3-Variants.mdx
  docs/src/components/select/4-Styling.mdx
  docs/src/components/select/5-Accessibility.mdx
  docs/src/components/select/6-Testing.mdx
  docs/src/components/select/select.doc-config.ts
  docs/src/components/select/select.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/form/form.style.scss
  packages/core/src/components/select/select-option.host.scss
  packages/core/src/components/select/select-option.tsx
  packages/core/src/components/select/select.host.scss
  packages/core/src/components/select/select.interfaces.ts
  packages/core/src/components/select/select.mixin.scss
  packages/core/src/components/select/select.style.scss
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/test/select.a11y.play.ts
  packages/core/src/components/select/test/select.component.play.ts
  packages/core/src/components/select/test/select.style.html
  packages/core/src/components/select/test/select.visual.html
  packages/core/src/components/select/test/select.visual.play.ts
  packages/core/src/components/textarea/textarea.mixin.scss
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/utils/form-control.ts
  packages/playwright/src/lib/components/index.ts
  packages/playwright/src/lib/components/select.po.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: migrate native select
  packages/core/src/components/select/test/select.visual.html
  packages/core/src/components/select/test/select.visual.play.ts
  packages/core/src/utils/form-control.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for textarea
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-long-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-long-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-rows-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-rows-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/textarea/test/textarea.visual.play.ts-snapshots/textarea-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: add missing space
  TODOS.md
  packages/core/src/components/form/form.style.scss
  packages/core/src/components/form/test/form.style.html
Due: prettier --write

chore: add missing space
  docs/.storybook/blocks/ComponentDesignTokens.tsx
Due: none
