Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(accordion)!: add two way binding
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-accordion/test/bal-accordion.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(popover)!: add two way binding
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-popover/stories/bal-popover.stories.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(hint)!: use standard method names
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(modal): set open and close as internal
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(tabs)!: add two way binding
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/o-steps.tsx
  packages/components/src/components/bal-tabs/components/steps.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/bal-tabs/utils/watch-tabs.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: enable two way binding
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(angular): remove two way binding for popover and accordion
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular)!: enable two way binding
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/index.html
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(): adjust e2e tests
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-card/index.html
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/testing/src/commands/custom/bal-accordion.command.ts
  packages/testing/src/commands/custom/bal-datepicker.command.ts
  packages/testing/src/commands/custom/bal-popover.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(tabs): adjust test file
  packages/components/src/components/bal-tabs/index.html
Due: none

fix(angular): adjust boolean accessor for two way binding
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(vue): update examples
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/02-01-usage-component.stories.mdx
  packages/components/src/stories/getting-started/vue/02-02-usage-toast.stories.mdx
  packages/components/src/stories/getting-started/vue/02-03-usage-modal.stories.mdx
  packages/components/src/stories/getting-started/vue/02-04-usage-filter.stories.mdx
  packages/components/src/stories/getting-started/vue/02-05-usage-form.stories.mdx
Due: prettier --write

chore: remove peer
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(tabs): able to change value with the active prop on the bal-tab-item
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(card)!: simplify usage
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card-actions/bal-card-actions.tsx
  packages/components/src/components/bal-card/bal-card-button/bal-card-button.tsx
  packages/components/src/components/bal-card/bal-card-content/bal-card-content.tsx
  packages/components/src/components/bal-card/bal-card-head/bal-card-head.tsx
  packages/components/src/components/bal-card/bal-card-heading/bal-card-heading.tsx
  packages/components/src/components/bal-card/bal-card-steps/bal-card-steps.tsx
  packages/components/src/components/bal-card/bal-card-subtitle/bal-card-subtitle.tsx
  packages/components/src/components/bal-card/bal-card-title/bal-card-title.tsx
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-heading/bal-heading.scss
  packages/components/src/components/docs/bal-doc-download/bal-doc-download.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal)!: simplify usage
  packages/components/src/components/notice/bal-modal/bal-modal-footer/bal-modal-footer.tsx
  packages/components/src/components/notice/bal-modal/index.html
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/stories/getting-started/angular/03-03-usage-modal.stories.mdx
  packages/components/src/stories/getting-started/vue/02-03-usage-modal.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(notification): adjust paddings
  packages/components/src/components/notice/bal-notification/bal-notification.scss
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(button): add bal-button-group component
  packages/components/src/components/bal-button/bal-button-group/bal-button-group.tsx
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.templates.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(notices): add missing padding
  packages/components/src/styles/global/notices.scss
Due: prettier --write

refactor(card)!: reduce amount of components
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/index.html
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-app/index.html
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/bal-card.tsx
  packages/components/src/components/bal-card/index.html
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-data/index.html
  packages/components/src/components/bal-data/stories/bal-data.stories.ts
  packages/components/src/components/bal-list/index.html
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/components/form/bal-field/index.html
  packages/components/src/components/form/bal-field/stories/bal-field.stories.ts
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/stories/design/templates/contact-form.template.ts
  packages/components/src/stories/design/templates/external-caluclator.template.ts
  packages/components/src/stories/design/templates/external-portal.template.ts
  packages/components/src/stories/design/templates/internal-form.template.ts
  packages/components/src/stories/design/templates/internal-wide.template.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add migration script for v9
  packages/components/src/stories/migration/08-migration-from-8x-to-9x.stories.mdx
Due: prettier --write

docs: fix typo
  packages/components/src/stories/migration/08-migration-from-8x-to-9x.stories.mdx
Due: prettier --write

chore(): update build artifacts
  packages/components/src/stories/migration/08-migration-from-8x-to-9x.stories.mdx
Due: prettier --write

chore(release): v9.0.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add migration link
  CHANGELOG.md
Due: none

fix(hint): adjust mobile view
  packages/components/src/components/bal-hint/bal-hint.scss
Due: prettier --write

docs(datepicker): add value documentation
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
Due: prettier --write

docs: changed content of welcome page
  packages/components/src/stories/welcome/why.stories.mdx
Due: prettier --write

fix(list): remove margin top
  packages/components/src/components/form/bal-file-upload/bal-file-upload.scss
Due: prettier --write

docs: improve installation guides
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
  packages/components/src/stories/getting-started/react/01-installation.stories.mdx
  packages/components/src/stories/getting-started/styles/styles-fonts.md
  packages/components/src/stories/getting-started/styles/styles-sass.md
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
Due: prettier --write

docs: update html part
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
Due: prettier --write

chore: format file
  packages/components/src/stories/welcome/why.stories.mdx
Due: prettier --write

chore(): update deps
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v9.0.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: Major text changes on "why" page
  packages/components/src/stories/welcome/why.stories.mdx
Due: prettier --write

chore(): adjust color vars
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/styles/components/dropdown.vars.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update deps
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
