Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(angular): add ds-input-phone reactive forms support
  .changeset/dull-llamas-cut.md
  .changeset/full-apes-beg.md
  .changeset/wise-coins-notice.md
  .gitignore
  apps/integration-angular/angular.json
  apps/integration-angular/e2e/input-phone.spec.ts
  apps/integration-angular/package.json
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/input-phone-demo/input-phone-demo.html
  apps/integration-angular/src/app/input-phone-demo/input-phone-demo.ts
  apps/integration-react/.gitignore
  apps/integration-react/e2e/app.spec.ts
  apps/integration-react/package.json
  apps/integration-react/src/Root.tsx
  apps/integration-react/vite.config.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-input-phone.ts
  packages/angular/src/forms/value-accessor.ts
  packages/angular/src/index.ts
  packages/core/CONTEXT.md
  packages/core/src/components.d.ts
  packages/core/src/components/input-phone/input-phone.tsx
  packages/core/stencil.config.ts
  packages/react/CONTEXT.md
  packages/react/src/asset-path.ts
  packages/react/src/bootstrap.client.ts
  packages/react/src/components/ds-root-provider.shared.tsx
  packages/react/src/components/ds-root-provider.tsx
  packages/react/src/index.test.ts
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(core,angular): add reactive forms support for ds-toggle
  apps/integration-angular/e2e/toggle.spec.ts
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/integration-angular/src/app/toggle-demo/toggle-demo.html
  apps/integration-angular/src/app/toggle-demo/toggle-demo.ts
  apps/storybook/src/assets/data/components.json
  docs/adr/0031-ds-toggle-field-migration-no-label.md
  packages/angular/CONTEXT.md
  packages/angular/src/forms/ds-toggle.ts
  packages/angular/src/index.ts
  packages/core/CONTEXT.md
  packages/core/src/components.d.ts
  packages/core/src/components/input/field.util.tsx
  packages/core/src/components/toggle/test/toggle.style.html
  packages/core/src/components/toggle/test/toggle.visual.html
  packages/core/src/components/toggle/test/toggle.visual.play.ts
  packages/core/src/components/toggle/toggle.host.scss
  packages/core/src/components/toggle/toggle.tsx
  packages/core/src/utils/invalid-text-slot.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update docs
  apps/storybook/src/whats-new.mdx
Due: none

fix(core): guard ds-toggle layout against global .ds-field collision
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-slot-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-slot-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-style-field-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-style-field-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/toggle/toggle.host.scss
Due: prettier --write

test(toggle): update visual baselines after .ds-field guard fix
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-slot-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-slot-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-required-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/toggle/test/toggle.visual.play.ts-snapshots/toggle-required-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update docs
  apps/storybook/.storybook/addons/framework.addon.tsx
  apps/storybook/.storybook/addons/language.addon.tsx
  apps/storybook/.storybook/addons/region.addon.tsx
  apps/storybook/.storybook/addons/theme.addon.tsx
  apps/storybook/.storybook/addons/version.addon.tsx
  apps/storybook/.storybook/story-paths.json
  apps/storybook/public/assets/css/storybook.css
  packages/assets/src/icons/svg/tag.svg
Due: none

chore: fix docs build
  packages/core/src/components/modal/modal.controller.ts
  packages/core/stencil.config.ts
  packages/react/src/hooks/use-modal.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix vercel build
  scripts/build-core.mjs
Due: none

chore: fix build
  apps/storybook/.storybook/preview.ts
Due: none

chore: remove unused import
  scripts/build-core.mjs
Due: none

chore: add plans
  docs/plans/changelog-restyle-plan.md
  docs/plans/npm-scope-rename-plan.md
Due: none

docs(storybook): add Design page for designers
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/design.mdx
Due: none

chore: add plans
  docs/plans/ds-date-to-datepicker-rename-plan.md
  docs/plans/ds-input-stepper-counter-rename-plan.md
Due: none

chore: add plans
  docs/plans/ds-input-slider-slider-rename-plan.md
Due: none

chore: format
  docs/agents/component-category-migration-plan.md
Due: none

chore: fix ci
  packages/core/src/components/datepicker/test/datepicker.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update changelog format
  .changeset/my-changelog-config.js
  .changeset/ten-ties-grab.md
  package.json
  scripts/format-changelog.mjs
Due: none

feat: enhance Next.js SSR documentation and add server-side rendering guide
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/development/00-guides/00-getting-started.mdx
  apps/storybook/src/development/00-guides/10-server-side-rendering.mdx
  cspell.json
  docs/adr/0032-react-ssr-nextjs-consumption.md
Due: none

chore: add overview for the categories
  apps/storybook/.storybook/preview.ts
  apps/storybook/src/components/actions/00-overview.mdx
  apps/storybook/src/components/forms/00-overview.mdx
  apps/storybook/src/components/indicators/00-overview.mdx
  apps/storybook/src/components/media/00-overview.mdx
  apps/storybook/src/components/navigation/00-overview.mdx
  apps/storybook/src/components/overlays/00-overview.mdx
  apps/storybook/src/components/structure/00-overview.mdx
Due: none

feat: add @helvetia/ds-skills installer and migrate skill shell
  .changeset/ds-skills-installer.md
  .github/copilot-instructions.md
  .github/workflows/release.yml
  CLAUDE.md
  CONTEXT-MAP.md
  CONTEXT.md
  docs/ARCHITECTURE.md
  docs/SKILLS.md
  packages/ds-skills/.swcrc
  packages/ds-skills/CONTEXT.md
  packages/ds-skills/eslint.config.ts
  packages/ds-skills/package.json
  packages/ds-skills/skills/ds-migrate-from-baloise/SKILL.md
  packages/ds-skills/src/cli.spec.ts
  packages/ds-skills/src/cli.ts
  packages/ds-skills/tsconfig.json
  packages/ds-skills/tsconfig.lib.json
  packages/ds-skills/turbo.json
  packages/ds-skills/vitest.config.ts
  pnpm-lock.yaml
  scripts/create-changeset.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Revert "feat: add @helvetia/ds-skills installer and migrate skill shell"
  .changeset/ds-skills-installer.md
  .github/copilot-instructions.md
  .github/workflows/release.yml
  CLAUDE.md
  CONTEXT-MAP.md
  CONTEXT.md
  docs/ARCHITECTURE.md
  docs/SKILLS.md
  packages/ds-skills/.swcrc
  packages/ds-skills/CONTEXT.md
  packages/ds-skills/eslint.config.ts
  packages/ds-skills/package.json
  packages/ds-skills/skills/ds-migrate-from-baloise/SKILL.md
  packages/ds-skills/src/cli.spec.ts
  packages/ds-skills/src/cli.ts
  packages/ds-skills/tsconfig.json
  packages/ds-skills/tsconfig.lib.json
  packages/ds-skills/turbo.json
  packages/ds-skills/vitest.config.ts
  pnpm-lock.yaml
  scripts/create-changeset.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(storybook): add Design page for designers (#2291)
  apps/storybook/.storybook/preview.ts
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/design.mdx
Due: none

feat: enhance Next.js SSR documentation and add server-side rendering… (#2303)
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/development/00-guides/00-getting-started.mdx
  apps/storybook/src/development/00-guides/10-server-side-rendering.mdx
  cspell.json
  docs/adr/0032-react-ssr-nextjs-consumption.md
Due: none

📦️ Release (next) (#2177)
  .changeset/pre.json
  apps/storybook/.storybook/blocks/codepen.ts
  apps/storybook/package.json
  apps/toky/package.json
  packages/angular/package.json
  packages/assets/package.json
  packages/core/package.json
  packages/playwright/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add 3 icons
  .changeset/lemon-planets-film.md
  packages/core/src/components.d.ts
  packages/icons/src/assets/add-user.svg
  packages/icons/src/assets/table-cell-merge.svg
  packages/icons/src/assets/tag.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix ci
  .github/workflows/lts-continuous.yml
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
