Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(internationalization): update docs
  packages/components/src/stories/getting-started/04-internationalization.stories.mdx
Due: prettier --write

chore: add missing deps
  package-lock.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/icons/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(spinner): add spinner
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/components/src/components/bal-spinner/bal-spinner.animation.ts
  packages/components/src/components/bal-spinner/bal-spinner.scss
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/components/bal-spinner/stories/bal-spinner.stories.ts
  packages/components/src/types/color.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(button): adjust mobile spacing
  packages/components/src/components/bal-button/bal-button.scss
Due: prettier --write

fix(checkbox): add server support with name and value attributes
  package-lock.json
  packages/components-angular/src/directives/checkbox-accessor.ts
  packages/components-angular/src/module.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: beta release
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(checkbox): use checked instead of value
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(checkbox): enable grouped checkboxes
  packages/components-angular/src/directives/checkbox-accessor.ts
  packages/components-angular/src/module.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.e2e.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(button): adjust spacing for mobile
  packages/components/src/components/bal-button/bal-button.scss
Due: prettier --write

fix(bal-pagination): change pagination style
  package-lock.json
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/.storybook/preview.js
  packages/components/package-lock.json
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-pagination/bal-pagination.scss
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(list): add native ul & ol styles
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/native-list.scss
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(input): always return the raw value
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(input): add angular usage guide
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
Due: prettier --write

fix(heading): enable visual headings
  packages/components/src/components/bal-heading/bal-heading.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(field): add hint props to bal-flield-hint
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
  packages/components/src/components/form/bal-field/bal-field-hint/bal-field-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-snackbar): change snackbar style
  package-lock.json
  packages/components/.storybook/preview.js
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.scss
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(): update form elements
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/bal-switch.scss
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-field/stories/bal-field.stories.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.scss
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/select-button.scss
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/styles/form/input-textarea.scss
  packages/components/src/styles/form/input-textarea.vars.scss
  packages/components/src/styles/form/shared.scss
  packages/components/src/styles/helpers/colors.scss
  packages/components/src/styles/utilities/derived-variables.scss
  packages/components/src/styles/utilities/initial-variables.scss
  packages/components/src/styles/utilities/variables/colors.scss
  packages/components/stencil.dev.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/components/form/bal-field/bal-field-hint/readme.md
Due: prettier --write

fix(bal-toast): change toast and notification style
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-notification/bal-notification.scss
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.scss
  packages/components/src/components/notice/bal-toast/bal-toast.scss
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(i18n): fix typo in updateBalLanguage
  packages/components/src/components/form/bal-input/test/bal-input.utils.spec.ts
  packages/components/src/config/index.ts
  packages/components/src/stories/getting-started/04-internationalization.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Fix spelling: recommanded >> recommended
  packages/components/src/components/form/bal-field/index.html
  packages/components/src/stories/getting-started/02-testing.stories.mdx
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
Due: prettier --write

Fix spelling: recommand >> recommend
  packages/components/src/stories/getting-started/02-testing.stories.mdx
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
  packages/components/src/stories/getting-started/react/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
Due: prettier --write

Fix spelling: controled >> controlled
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
Due: prettier --write

Fix spelling: dependencie >> dependencies
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
Due: prettier --write

Remove imho superfluous 'open'
  01-installation.stories.mdx
Due: none

Add missing space after closing bracket
  01-installation.stories.mdx
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
  packages/components/src/stories/getting-started/react/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
Due: prettier --write

fix(bal-snackbar): adjust close button
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-notification/bal-notification.scss
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.scss
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Delete 01-installation.stories.mdx
  01-installation.stories.mdx
Due: none

Remove imho superfluous 'open'
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
Due: prettier --write

chore: update lock files
  .gitignore
  package-lock.json
  packages/components-angular/src/index.ts
  packages/components-react/package-lock.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: remove all component module
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
Due: prettier --write

chore(angular): add checkbox group
  packages/components/.build/stencil/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update lock files
  package-lock.json
  packages/components-angular/ng-package.json
  packages/components-react/package-lock.json
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update deps
  package-lock.json
  package.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/icons/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(sheet): adjust spacing
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-sheet/bal-sheet.scss
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/styles/helpers/_all.scss
  packages/components/src/styles/helpers/flexbox.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: prepare release
  CHANGELOG.md
  cspell.json
  packages/components/src/stories/getting-started/04-internationalization.stories.mdx
  packages/components/src/stories/migration/09-migration-from-9x-to-10x.stories.mdx
Due: prettier --write

chore: format files
  packages/components/src/components/bal-accordion/index.html
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
