Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix cypress build
  package-lock.json
  packages/components/cypress.config.ts
  packages/components/cypress/plugins/index.ts
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: disable source maps
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-alignment-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-direction-base.png
  packages/components/cypress/snapshots/base/visual/bal-content.visual.cy.ts/content-space-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-alignment-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-direction-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-margins-base.png
  packages/components/cypress/snapshots/base/visual/bal-stack.visual.cy.ts/stack-space-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/css-core.visual.cy.ts/css-core-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-rounded-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-structure.visual.cy.ts/css-structure-inheritance-base.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

🐛 fix: gatsby build (#836)
  .changeset/dirty-bugs-laugh.md
  package-lock.json
  package.json
  packages/components/config/stencil.basic.config.ts
  packages/components/cypress.config.ts
  packages/components/cypress/plugins/index.ts
  packages/components/package.json
  packages/components/src/components/bal-progress-bar/stories/theming.md
  packages/components/stencil.config.ts
  packages/components/tsconfig.docs.json
  packages/components/tsconfig.json
  packages/components/tsconfig.release.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(accordion): accordion active prop watcher
  .changeset/grumpy-points-sneeze.md
  package-lock.json
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(accordion): accordion active prop watcher (#841)
  .changeset/grumpy-points-sneeze.md
  package-lock.json
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock file
  package-lock.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update release workflow
  .github/workflows/release.yml
Due: none

chore: add build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update: release workflow
  .github/workflows/release.yml
Due: none

feat(bal-tag): add theming
  .changeset/grumpy-rats-float.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-tag/bal-tag.vars.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: update utils
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/controls/large-control.tsx
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
  packages/components/src/utils-new/breakpoints/breakpoint.decorator.ts
  packages/components/src/utils-new/breakpoints/breakpoints.const.ts
  packages/components/src/utils-new/breakpoints/breakpoints.interfaces.ts
  packages/components/src/utils-new/breakpoints/breakpoints.map.ts
  packages/components/src/utils-new/breakpoints/breakpoints.subject.ts
  packages/components/src/utils-new/breakpoints/breakpoints.ts
  packages/components/src/utils-new/breakpoints/index.ts
  packages/components/src/utils-new/mutation/index.ts
  packages/components/src/utils-new/mutation/mutation.decorator.ts
  packages/components/src/utils-new/mutation/mutation.interfaces.ts
  packages/components/src/utils-new/mutation/mutation.listener.ts
  packages/components/src/utils-new/mutation/mutation.subject.ts
  packages/components/src/utils-new/orientation/index.ts
  packages/components/src/utils-new/orientation/orientation.decorator.ts
  packages/components/src/utils-new/orientation/orientation.interfaces.ts
  packages/components/src/utils-new/orientation/orientation.subject.ts
  packages/components/src/utils-new/resize/index.ts
  packages/components/src/utils-new/resize/resize.handler.ts
  packages/components/src/utils-new/resize/resize.listener.ts
  packages/components/src/utils-new/swipe/index.ts
  packages/components/src/utils-new/swipe/swipe.decorator.ts
  packages/components/src/utils-new/swipe/swipe.interfaces.ts
  packages/components/src/utils-new/swipe/swipe.listener.ts
  packages/components/src/utils-new/swipe/swipe.subject.ts
  packages/components/src/utils-new/types/listener.ts
  packages/components/src/utils-new/types/signal.ts
  packages/components/src/utils/device.ts
  packages/components/src/utils/swipe.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: update utils
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navbar/bal-navbar-menu/bal-navbar-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/index.ts
  packages/components/src/initialize.ts
  packages/components/src/utils-old/platform.ts
  packages/components/src/utils/breakpoints/breakpoints.ts
  packages/components/src/utils/element-states/element-states.decorator.ts
  packages/components/src/utils/element-states/element-states.interfaces.ts
  packages/components/src/utils/element-states/element-states.listener.ts
  packages/components/src/utils/element-states/element-states.subject.ts
  packages/components/src/utils/element-states/index.ts
  packages/components/src/utils/legacy.ts
  packages/components/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: update utils
  packages/components/src/components.d.ts
  packages/components/src/components/bal-progress-bar/bal-progress-bar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: element state
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/components/typography/bal-text/bal-text.tsx
  packages/components/src/utils-old/element-states.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-navbar): add theming
  .changeset/fifty-ducks-battle.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navbar/bal-navbar.vars.sass
  packages/components/src/components/bal-navbar/stories/theming.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: mutations
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/utils-old/mutations.ts
  packages/components/src/utils-old/orientation.ts
  packages/components/src/utils/element-states/element-states.decorator.ts
  packages/components/src/utils/mutation/mutation.interfaces.ts
  packages/components/src/utils/mutation/mutation.subject.ts
  packages/components/src/utils/swipe/swipe.decorator.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: scroll
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/index.ts
  packages/components/src/utils-old/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): set white color to light and active menu background
  packages/components/src/components/bal-navbar/bal-navbar.vars.sass
  packages/components/src/components/bal-navbar/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): set white color to light version
  packages/components/src/components/bal-navbar/bal-navbar.vars.sass
Due: none

feat: resize
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navbar/bal-navbar-menu/bal-navbar-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-progress-bar/bal-progress-bar.tsx
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/utils-old/observer.ts
  packages/components/src/utils-old/resize.ts
  packages/components/src/utils-old/swipe.ts
  packages/components/src/utils/breakpoints/breakpoints.decorator.ts
  packages/components/src/utils/breakpoints/breakpoints.subject.ts
  packages/components/src/utils/breakpoints/index.ts
  packages/components/src/utils/keyboard/index.ts
  packages/components/src/utils/keyboard/keyboard.decorator.ts
  packages/components/src/utils/keyboard/keyboard.interfaces.ts
  packages/components/src/utils/keyboard/keyboard.listener.ts
  packages/components/src/utils/keyboard/keyboard.subject.ts
  packages/components/src/utils/mutation/mutation.listener.ts
  packages/components/src/utils/orientation/orientation.subject.ts
  packages/components/src/utils/resize/index.ts
  packages/components/src/utils/resize/resize.decorator.ts
  packages/components/src/utils/resize/resize.interfaces.ts
  packages/components/src/utils/resize/resize.listener.ts
  packages/components/src/utils/resize/resize.subject.ts
  packages/components/src/utils/resize/window-resize.handler.ts
  packages/components/src/utils/resize/window-resize.listener.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/form/bal-select/utils/bal-option.util.ts
  packages/components/src/index.ts
  packages/components/src/utils/legacy.ts
  packages/components/src/utils/resize/index.ts
  packages/components/src/utils/swipe/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-radio,bal-checkbox): add theming
  .changeset/dirty-cheetahs-nail.md
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.sass
  packages/components/src/components/form/bal-checkbox/bal-radio-checkbox.vars.sass
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-checkbox/stories/theming.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): trigger build
  packages/components/src/components/form/bal-checkbox/bal-radio-checkbox.vars.sass
Due: none

chore: fix visual issues
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-progress-bar/bal-progress-bar.sass
  packages/components/src/components/bal-progress-bar/bal-progress-bar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix visual issues
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/utils/mutation/mutation.subject.ts
  packages/components/src/utils/resize/resize.listener.ts
  packages/components/src/utils/resize/window-resize.listener.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix visual issues
  packages/components/src/utils/mutation/mutation.subject.ts
  packages/components/src/utils/resize/resize.listener.ts
  packages/components/src/utils/resize/window-resize.listener.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-progress-bar.visual.cy.ts/progress-bar-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-progress-bar.visual.cy.ts/progress-bar-variants-desktop-base.png
Due: none

chore: remove pre-build types
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/stencil.config.pre.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changesets
  .changeset/stupid-turkeys-pull.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
