Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): fix bal list item title prop and fix is-in-main-nav check
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): fix value in rem
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

feat(nav-mobile): add desktop mixin instead of using desktop + 1px
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

feat(nav-mobile): use turn prop for icon animation on mobile and desktop
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/components/tab-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): remove overwritten unused padding top
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

feat(nav-mobile): fix prop naming
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(tabs): add is-hidden property to bal-tab-item
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/components/o-steps.tsx
  packages/components/src/components/bal-tabs/components/steps.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components.d.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.14.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(tabs): add hidden, spaceless and float
  packages/components-angular/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tabs/components/steps.tsx
  packages/components/src/components/bal-tabs/components/tab-item.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(navbar): logo link optional and link target added (#361)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): delete unnecessary components
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-main-mobile/bal-main-mobile.tsx
  packages/components/src/components/bal-navigation/bal-meta-mobile-foot/bal-meta-mobile-foot.tsx
  packages/components/src/components/bal-navigation/bal-meta-mobile-head/bal-meta-mobile-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(tabs): add hidden, spaceless and float
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(tabs): add hidden, spaceless and float
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

feat(nav-mobile): remove optional from prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): re-add padding bottom for mobile viewport
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

feat(nav-mobile): fix open check and optional prop icon, remove padding from main nav
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): remove doubled turn prop in tab-item
  packages/components/src/components/bal-tabs/components/tab-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): fix bal list main nav class, fix doucmentation and remove unused prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(popover): add tooltip, arrow and backdrop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.scss
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-popover/stories/bal-popover.stories.ts
  packages/components/src/styles/components/_all.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): fix selector for bal list item in main nav
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

feat(nav-mobile): fix padding issue on mobile nav
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

fix(hint): add popover for tablet and desktop
  packages/components/.build/stencil/stencil.basic.config.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/props.d.ts
  packages/components/src/stories/contributors.md
  packages/components/stencil.config.ts
  packages/css/scss/base/_all.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav-desktop-grey-space): fix spacing of grey cards in desktop nav
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

fix(hint): add popover for tablet and desktop
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): remove accordion change listener
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(form): add reset event and datepicker validation information
  packages/components/src/components/form/bal-checkbox/bal-checkbox.sass
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/helpers/form-input.helpers.ts
  packages/components/src/stories/design/templates/contact-form.template.ts
  packages/components/src/styles/global/_all.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(form): add reset event and datepicker validation information
  packages/components/cypress/component/bal-datepicker.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(nav-desktop-alignments): fix alignments considering tabs padding and and apply values in rem
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

refactor(radio): add BEM
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.sass
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/select-button.scss
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/styles/components/_all.scss
  packages/css/scss/mixins/bem.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav-desktop-spacings): fix widescreen and fullhd spacings
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

refactor(radio): add BEM
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-data/stories/bal-data.stories.ts
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
  packages/components/src/components/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
  packages/components/src/components/bal-icon/stories/bal-icon.stories.ts
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
  packages/components/src/components/bal-pagination/stories/bal-pagination.stories.ts
  packages/components/src/components/bal-popover/stories/bal-popover.stories.ts
  packages/components/src/components/bal-spinner/stories/bal-spinner.stories.ts
  packages/components/src/components/bal-table/stories/bal-table.stories.ts
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/bal-tag/stories/bal-tag.stories.ts
  packages/components/src/components/bal-text/stories/bal-text.stories.ts
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.stories.ts
  packages/components/src/components/form/bal-field/stories/bal-field.stories.ts
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.mixins.sass
  packages/components/src/components/form/bal-radio/bal-radio.sass
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.stories.ts
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/components/notice/bal-notification/stories/bal-notification.stories.ts
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.stories.ts
  packages/components/src/components/notice/bal-toast/stories/bal-toast.stories.ts
  packages/components/src/stories/design/templates/contact-form.template.ts
  packages/css/scss/mixins/general.mixin.sass
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove comment
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/styles/global/_all.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

refactor(radio): add BEM
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.scss
  packages/components/src/components/form/bal-radio/select-button.scss
Due: prettier --write

feat(nav-popover): add test popover on phone icon, extend popover and fix backdrop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): extend border radius props and styles, test stories
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): add min width and update stories
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): remove console
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(): remove depricated bal-timeinput component, closes #202
  packages/components-angular/ng-package.json
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-timeinput/bal-timeinput-select-option.type.ts
  packages/components/src/components/form/bal-timeinput/bal-timeinput.scss
  packages/components/src/components/form/bal-timeinput/bal-timeinput.tsx
  packages/components/src/components/form/bal-timeinput/index.html
  packages/components/src/components/form/bal-timeinput/stories/bal-timeinput.docs.mdx
  packages/components/src/components/form/bal-timeinput/stories/bal-timeinput.stories.ts
  packages/components/src/components/form/bal-timeinput/stories/testing.md
  packages/components/src/styles/components/_all.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
