Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): streamline events in form
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): streamline events in form
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-carousel): change url of example images
  packages/components/src/components/all.html
  packages/components/src/components/bal-carousel/stories/bal-carousel.stories.ts
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(input): accept small x for claim-number
  .changeset/fluffy-avocados-leave.md
  packages/components/src/components/form/bal-input/bal-input-util.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-input/test/bal-input-util.spec.ts
  packages/components/src/components/form/bal-input/test/bal-input.cy.html
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): remove changeset
  .changeset/weak-ligers-smile.md
Due: none

fix: add css autoprefixer to solve hyphen issue
  .changeset/shaggy-ways-cover.md
  package-lock.json
  package.json
  packages/components/src/stories/contributors.md
  packages/css/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(carousel): carousel items-per-view if not set to auto
  .changeset/nervous-schools-decide.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/stories/bal-carousel.docs.mdx
  packages/components/src/components/bal-carousel/stories/bal-carousel.stories.ts
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/bal-radio.type.ts
  packages/components/src/components/form/bal-radio/utils/bal-radio.util.ts
  packages/components/src/components/form/bal-radio/utils/watch-radios.ts
  packages/components/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add changeset
  .changeset/spicy-coins-invent.md
Due: none

chore(): refactor
  packages/components/src/components/form/bal-radio/bal-radio.type.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): format
  packages/components/src/components/form/bal-radio/test/bal-radio.cy.html
Due: none

chore: remove unused stuff
  package-lock.json
  package.json
  packages/components/config/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore(): remove deprecated click events
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update docs
  packages/components/src/stories/contributors.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add waitForComponents
  packages/components/cypress/component/bal-accordion.cy.ts
  packages/components/cypress/component/bal-button.cy.ts
  packages/components/cypress/component/bal-checkbox.cy.ts
  packages/components/cypress/component/bal-input-stepper.cy.ts
  packages/components/cypress/component/bal-number-input.cy.ts
  packages/components/cypress/component/bal-pagination.cy.ts
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/cypress/component/bal-select.cy.ts
  packages/components/cypress/component/bal-tabs.cy.ts
  packages/components/cypress/component/bal-tag.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/cypress/component/bal-accordion.cy.ts
  packages/components/cypress/component/bal-button.cy.ts
  packages/components/cypress/component/bal-tabs.cy.ts
  packages/components/cypress/component/bal-tag.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor datepicker
  packages/components/cypress/component/bal-datepicker.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix import path
  packages/components/src/components/bal-steps/bal-step.type.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust package.json to npm workspace structure and move contact.js to components dependencies. Closes #1180
  .changeset/stupid-seas-glow.md
  package-lock.json
  package.json
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ci check for uncommitted changes
  .github/workflows/continuous.yml
Due: none

feat(bal-modal): added modal property isClosableOnBackdropClick so the user can decide if modal can be closed on backdrop click or not
  .changeset/tame-guests-mix.md
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: adjust colors due to contrast issues
  .changeset/neat-mugs-doubt.md
  package-lock.json
  packages/components/cypress/e2e/a11y/bal-tag.a11y.cy.ts
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/css/src/core/form/button.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-button-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-card-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-icon-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/button-variants-base.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-card.visual.cy.ts/card-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-card.visual.cy.ts/card-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-card.visual.cy.ts/card-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-stepper.visual.cy.ts/input-stepper-invalid-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-stepper.visual.cy.ts/input-stepper-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-table.visual.cy.ts/table-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-table.visual.cy.ts/table-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-table.visual.cy.ts/table-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tag.visual.cy.ts/tag-variants-base.png
Due: none

chore(bal-modal): refactor and add prop to the bal-modal.type.ts
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.type.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-modal): set backdropDismiss default value to false
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: adjust a11y tests
  packages/components/cypress/e2e/a11y/bal-tag.a11y.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-modal): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add html label function to support native link tags
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.type.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-modal): refactor
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(testing): add missing dep cypress-file-upload
  .changeset/pretty-dryers-rest.md
  package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add better component testing support
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/testing/src/commands/custom/component.command.ts
  packages/testing/src/commands/custom/component.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix spelling
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-checkbox-group): provide possibility to pass options with a javascript
  .changeset/two-cameras-bathe.md
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.type.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.cy.html
  packages/components/src/components/form/bal-checkbox/utils/bal-checkbox.util.ts
  packages/components/src/components/form/bal-checkbox/utils/watch-checkbox.ts
  packages/components/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/utils/watch-checkbox.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add waitForDesignSystem for jest unit testing
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/index.ts
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor
  .changeset/tame-guests-mix.md
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
