Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

docs: adjust framework specific code
  packages/components/.storybook/preview.js
  packages/components/public/assets/css/framework.css
  packages/components/src/stories/contributors.stories.mdx
  packages/components/src/stories/development/getting-started/00-overview.stories.mdx
  packages/components/src/stories/development/getting-started/01-storybook.stories.mdx
  packages/components/src/stories/development/getting-started/angular/00-overview.stories.mdx
  packages/components/src/stories/development/getting-started/figma/00-getting-started.stories.mdx
  packages/components/src/stories/development/getting-started/html5/00-overview.stories.mdx
  packages/components/src/stories/development/getting-started/react/00-overview.stories.mdx
  packages/components/src/stories/development/getting-started/vue/00-overview.stories.mdx
  packages/components/src/stories/development/guides/installation/installation.stories.mdx
  packages/components/src/stories/development/guides/installation/installation_angular.md
  packages/components/src/stories/development/guides/installation/installation_html.md
  packages/components/src/stories/development/guides/installation/installation_intro.md
  packages/components/src/stories/development/guides/installation/installation_react.md
  packages/components/src/stories/development/guides/installation/installation_vue.md
  packages/components/src/stories/development/migration/01-migration-from-1x-to-2x.stories.mdx
  packages/components/src/stories/development/migration/02-migration-from-2x-to-3x.stories.mdx
  packages/components/src/stories/development/migration/03-migration-from-3x-to-4x.stories.mdx
  packages/components/src/stories/development/migration/04-migration-from-4x-to-5x.stories.mdx
  packages/components/src/stories/development/migration/05-migration-from-5x-to-6x.stories.mdx
  packages/components/src/stories/development/migration/06-migration-from-6x-to-7x.stories.mdx
  packages/components/src/stories/development/migration/07-migration-from-7x-to-8x.stories.mdx
  packages/components/src/stories/development/migration/08-migration-from-8x-to-9x.stories.mdx
  packages/components/src/stories/development/migration/09-migration-from-9x-to-10x.stories.mdx
  packages/components/src/stories/development/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: store selected framework
  packages/components/.storybook/addons/framework/register.js
  packages/components/public/assets/css/framework.css
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update framework select
  packages/components/.storybook/addons/framework/register.js
  packages/components/src/components/docs/bal-doc-preview/bal-doc-preview.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/notice/bal-modal/stories/integration/angular.md
  packages/components/src/components/notice/bal-modal/stories/integration/vue.md
  packages/components/src/components/notice/bal-toast/stories/integration/html.md
  packages/components/src/components/notice/bal-toast/stories/integration/react.md
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/components/src/stories/development/guides/components/components_html.md
  packages/components/src/stories/development/guides/components/components_react.md
  packages/components/src/stories/development/guides/components/components_vue.md
  packages/components/src/stories/development/guides/form/form.stories.mdx
  packages/components/src/stories/development/guides/form/form_angular.md
  packages/components/src/stories/development/guides/form/form_vue.md
  packages/components/src/stories/development/guides/installation/installation.stories.mdx
  packages/components/src/stories/development/guides/installation/installation_html.md
  packages/components/src/stories/development/guides/installation/installation_react.md
  packages/components/src/stories/development/guides/internationalization/internationalization_angular.md
  packages/components/src/stories/development/guides/internationalization/internationalization_html.md
  packages/components/src/stories/development/guides/internationalization/internationalization_intro.md
  packages/components/src/stories/development/guides/internationalization/internationalization_react.md
  packages/components/src/stories/development/guides/internationalization/internationalization_vue.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust new structure
  packages/components/.storybook/preview.js
  packages/components/public/assets/css/preview.css
  packages/components/src/stories/contributors.stories.mdx
  packages/components/src/stories/development/contributing/00-overview.stories.mdx
  packages/components/src/stories/development/contributing/01-00-architecture.stories.mdx
  packages/components/src/stories/development/contributing/02-dev-setup.stories.mdx
  packages/components/src/stories/development/contributing/03-project-setup.stories.mdx
  packages/components/src/stories/development/contributing/04-commands.stories.mdx
  packages/components/src/stories/development/contributing/how-to's/00-component.stories.mdx
  packages/components/src/stories/development/contributing/how-to's/01-controller.stories.mdx
  packages/components/src/stories/development/contributing/how-to's/02-testing.stories.mdx
  packages/components/src/stories/development/contributing/how-to's/03-visual-testing.stories.mdx
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/components/src/stories/development/guides/99-troubleshooting.stories.mdx
  packages/components/src/stories/development/guides/components/components.stories.mdx
  packages/components/src/stories/development/guides/form/form.stories.mdx
  packages/components/src/stories/development/guides/installation/installation.stories.mdx
  packages/components/src/stories/development/guides/internationalization/internationalization.stories.mdx
  packages/components/src/stories/development/migration/01-migration-from-1x-to-2x.stories.mdx
  packages/components/src/stories/development/migration/02-migration-from-2x-to-3x.stories.mdx
  packages/components/src/stories/development/migration/03-migration-from-3x-to-4x.stories.mdx
  packages/components/src/stories/development/migration/04-migration-from-4x-to-5x.stories.mdx
  packages/components/src/stories/development/migration/05-migration-from-5x-to-6x.stories.mdx
  packages/components/src/stories/development/migration/06-migration-from-6x-to-7x.stories.mdx
  packages/components/src/stories/development/migration/07-migration-from-7x-to-8x.stories.mdx
  packages/components/src/stories/development/migration/08-migration-from-8x-to-9x.stories.mdx
  packages/components/src/stories/development/migration/09-migration-from-9x-to-10x.stories.mdx
  packages/components/src/stories/development/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
  packages/components/src/stories/welcome.intro.md
  packages/components/src/stories/welcome.stories.mdx
  packages/components/src/stories/why.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update github links
  packages/components/src/components/notice/bal-modal/stories/bal-modal.docs.mdx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.docs.mdx
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.docs.mdx
  packages/components/src/components/notice/bal-toast/stories/bal-toast.docs.mdx
  packages/components/src/stories/development/contributing/00-setup.stories.mdx
  packages/components/src/stories/development/contributing/01-component.stories.mdx
  packages/components/src/stories/development/contributing/02-controller.stories.mdx
  packages/components/src/stories/development/contributing/03-testing.stories.mdx
  packages/components/src/stories/development/contributing/04-visual-testing.stories.mdx
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/components/src/stories/development/guides/components/components.stories.mdx
  packages/components/src/stories/development/guides/form/form.stories.mdx
  packages/components/src/stories/development/guides/installation/installation.stories.mdx
  packages/components/src/stories/development/guides/internationalization/internationalization.stories.mdx
  packages/components/src/stories/development/migration/01-migration-from-1x-to-2x.stories.mdx
  packages/components/src/stories/development/migration/02-migration-from-2x-to-3x.stories.mdx
  packages/components/src/stories/development/migration/03-migration-from-3x-to-4x.stories.mdx
  packages/components/src/stories/development/migration/04-migration-from-4x-to-5x.stories.mdx
  packages/components/src/stories/development/migration/05-migration-from-5x-to-6x.stories.mdx
  packages/components/src/stories/development/migration/06-migration-from-6x-to-7x.stories.mdx
  packages/components/src/stories/development/migration/07-migration-from-7x-to-8x.stories.mdx
  packages/components/src/stories/development/migration/08-migration-from-8x-to-9x.stories.mdx
  packages/components/src/stories/development/migration/09-migration-from-9x-to-10x.stories.mdx
  packages/components/src/stories/development/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
  packages/components/src/stories/support.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update welcome page
  cspell.json
  packages/components/public/assets/css/preview.css
  packages/components/src/stories/welcome.intro.md
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add support page
  packages/components/config/doc-output-target/markdown-events.ts
  packages/components/config/doc-output-target/markdown-methods.ts
  packages/components/config/doc-output-target/markdown-props.ts
  packages/components/public/assets/css/avatars.css
  packages/components/public/assets/css/preview.css
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/stories/contributing.stories.mdx
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update angular installation guide
  packages/components/src/stories/development/guides/installation/installation_angular.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update react installation guide
  packages/components/src/stories/development/guides/installation/installation_react.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add missing doc components
  packages/components/config/doc.components.ts
  packages/components/src/stories/contributing.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(react): handle empty nodes. Closes #1036
  .changeset/mighty-hairs-wink.md
  packages/output-targets/react/react-component-lib/createComponent.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(table): rebrand ag-grid theme. Closes #979
  .changeset/cool-bikes-wink.md
  packages/components-table/scss/design-system-table.sass
  packages/components-table/scss/styles.scss
  packages/components-table/src/bal-table-button-renderer.ts
  packages/components-table/src/bal-table-tag-renderer.ts
  packages/components-table/src/bal-table-text-renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(tabs): tab link on mobile select. Closes #1043
  .changeset/dry-keys-relax.md
  packages/components/src/components/bal-tabs/components/tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update readme files
  README.md
  packages/components-angular/README.md
  packages/components-react/README.md
  packages/components-table/README.md
  packages/components-vue/README.md
  packages/components/README.md
  packages/css/README.md
  packages/fonts/README.md
  packages/icons/README.md
  packages/output-targets/angular/README.md
  packages/output-targets/react/README.md
  packages/output-targets/vue/README.md
  packages/testing/README.md
Due: prettier --write

chore: update readme files
  packages/tokens/README.md
Due: prettier --write

chore: update lock files
  package-lock.json
Due: none

fix: resolve duplicated identifiers on stackblitz
  .build/globals.js
  .changeset/soft-carrots-rest.md
Due: none

docs: add new typo content
  packages/components/.storybook/preview.js
  packages/components/public/assets/css/preview.css
  packages/components/public/assets/images/foundations/border.svg
  packages/components/public/assets/images/foundations/breakpoints.svg
  packages/components/public/assets/images/foundations/colors.svg
  packages/components/public/assets/images/foundations/elevation.svg
  packages/components/public/assets/images/foundations/form.svg
  packages/components/public/assets/images/foundations/grid.svg
  packages/components/public/assets/images/foundations/icons.svg
  packages/components/public/assets/images/foundations/layout.svg
  packages/components/public/assets/images/foundations/radius.svg
  packages/components/public/assets/images/foundations/shadow.svg
  packages/components/public/assets/images/foundations/spacings.svg
  packages/components/public/assets/images/foundations/templates.svg
  packages/components/public/assets/images/foundations/tokens.svg
  packages/components/public/assets/images/foundations/typography.svg
  packages/components/src/components.d.ts
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-colors.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-weight.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font.tsx
  packages/components/src/stories/contributors.md
  packages/components/src/stories/foundation/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/01-tokens.stories.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
  packages/components/src/stories/foundation/typography/02-development.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add missing colors
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(react): check if slot has an empty value and not a falsy one
  .changeset/serious-seahorses-tickle.md
  packages/components/src/stories/contributors.md
  packages/output-targets/react/react-component-lib/createComponent.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust changelog
  .changeset/serious-seahorses-tickle.md
Due: none

docs: fix syntax issue
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(radio): style updates. Closes #1054
  .changeset/clean-laws-push.md
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(checkbox): adjust alignment
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-list-item-accordion-body): add prop contentSpace. Closes #1056
  .changeset/brave-experts-sneeze.md
  .changeset/stupid-foxes-serve.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: adjust flat
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-list-item-accordion-body): add prop contentSpace. Closes #1056
  packages/components/public/assets/css/preview.css
  packages/components/src/components/bal-list/bal-list.sass
Due: prettier --write

fix(checkbox): adjust switch
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

fix: avoid white pages on page load
  .changeset/kind-toes-allow.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/bal-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-radio.visual.cy.ts/select-button-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio.visual.cy.ts/select-button-field-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio.visual.cy.ts/select-button-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio.visual.cy.ts/select-button-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio.visual.cy.ts/select-button-vertical-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio.visual.cy.ts/select-button-vertical-on-mobile-mobile-base.png
Due: none

fix: set focus primary border on invalid form controls. Closes #982
  .changeset/popular-buttons-hug.md
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-form/stories/bal-form.stories.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/css/scss/form/file.sass
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/form/shared.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG_v12.md
Due: none

fix(react): render slot children
  .changeset/eighty-spiders-laugh.md
  package-lock.json
  packages/output-targets/react/react-component-lib/createComponent.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: esm global script file
  .build/globals.js
  .changeset/wet-bags-flow.md
Due: none

docs: add stackblitz util for HTML and React
  package-lock.json
  packages/components/.storybook/addons/framework/register.js
  packages/components/public/assets/code/html/index.html
  packages/components/public/assets/code/html/index.ts
  packages/components/public/assets/code/html/package.json
  packages/components/public/assets/code/html/tsconfig.json
  packages/components/public/assets/code/react/app.tsx
  packages/components/public/assets/code/react/index.html
  packages/components/public/assets/code/react/index.tsx
  packages/components/public/assets/code/react/package-lock.json
  packages/components/public/assets/code/react/package.json
  packages/components/public/assets/code/react/tsconfig.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-accordion/stories/usage/html/example_html.md
  packages/components/src/components/bal-accordion/stories/usage/html/example_ts.md
  packages/components/src/components/bal-accordion/stories/usage/react/example_tsx.md
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/docs/bal-doc-stackblitz/angular.ts
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.sass
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.tsx
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.const.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.html.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.logos.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.react.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: esm paths in package.json
  .changeset/lazy-shirts-cover.md
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/components/src/components/bal-accordion/stories/usage/html/example_ts.md
  packages/components/src/components/bal-app/stories/bal-app.docs.mdx
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-carousel/stories/bal-carousel.docs.mdx
  packages/components/src/components/bal-close/stories/bal-close.docs.mdx
  packages/components/src/components/bal-data/stories/bal-data.docs.mdx
  packages/components/src/components/bal-footer/stories/bal-footer.docs.mdx
  packages/components/src/components/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/bal-hint/stories/bal-hint.docs.mdx
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/bal-list/stories/bal-list.docs.mdx
  packages/components/src/components/bal-logo/stories/bal-logo.docs.mdx
  packages/components/src/components/bal-navbar/stories/bal-navbar.docs.mdx
  packages/components/src/components/bal-pagination/stories/bal-pagination.docs.mdx
  packages/components/src/components/bal-popover/stories/bal-popover.docs.mdx
  packages/components/src/components/bal-shape/stories/bal-shape.docs.mdx
  packages/components/src/components/bal-spinner/stories/bal-spinner.docs.mdx
  packages/components/src/components/bal-stage/stories/bal-stage.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tag/stories/bal-tag.docs.mdx
  packages/components/src/components/bal-text/stories/bal-text.docs.mdx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-field/stories/bal-field.docs.mdx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.docs.mdx
  packages/components/src/components/form/bal-form-grid/stories/bal-form-grid.docs.mdx
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.docs.mdx
  packages/components/src/components/form/bal-input-stepper/stories/bal-input-stepper.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.docs.mdx
  packages/components/src/components/notice/bal-notification/stories/bal-notification.docs.mdx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
