Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-with-hint-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-with-hint-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-with-hint-tablet.png
Due: none

chore: adjust angular package paths 2
  .gitignore
  packages/components-angular/.npmignore
  packages/components-angular/build.mjs
  packages/components-angular/common/src/directives/error.component.ts
  packages/components-angular/common/src/index.ts
  packages/components-angular/common/src/providers/breakpoints.service.ts
  packages/components-angular/common/src/providers/config.service.ts
  packages/components-angular/common/src/providers/modal.service.ts
  packages/components-angular/common/src/providers/orientation.service.ts
  packages/components-angular/common/src/providers/snackbar.service.ts
  packages/components-angular/common/src/providers/toast.service.ts
  packages/components-angular/common/src/utils/config.ts
  packages/components-angular/common/src/utils/token.ts
  packages/components-angular/common/src/utils/utils.ts
  packages/components-angular/package.json
  packages/components-angular/scripts/build.mjs
  packages/components-angular/scripts/clean.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(angular): enable standalone first draft
  .github/workflows/continuous.yml
  .gitignore
  apps/angular/base/app/src/app/app.config.ts
  apps/angular/base/app/src/design-system.ts
  apps/angular/base/v16/src/design-system.ts
  apps/angular/base/v17-standalone/package-lock.json
  apps/angular/base/v17-standalone/package.json
  apps/angular/base/v17-standalone/scripts/copy.sh
  apps/angular/base/v17-standalone/scripts/link.sh
  apps/angular/base/v17-standalone/src/design-system.ts
  apps/angular/base/v17-standalone/tsconfig.json
  packages/components-angular/package.json
  packages/components-angular/scripts/build.mjs
  packages/components-angular/scripts/clean.mjs
  packages/components-angular/standalone/ng-package.json
  packages/components-angular/standalone/src/app-initialize.ts
  packages/components-angular/standalone/src/bundles.ts
  packages/components-angular/standalone/src/components/bal-input.ts
  packages/components-angular/standalone/src/components/index.ts
  packages/components-angular/standalone/src/directives/error.component.ts
  packages/components-angular/standalone/src/directives/focus.directive.ts
  packages/components-angular/standalone/src/index.ts
  packages/components-angular/standalone/src/provide.ts
  packages/components-angular/tsconfig.json
  packages/components/config/stencil.basic.config.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/stencil.config.ts
  packages/output-targets/angular/__tests__/output-angular.spec.ts
  packages/output-targets/angular/__tests__/plugin.spec.ts
  packages/output-targets/angular/src/output-angular.ts
  packages/output-targets/angular/src/plugin.ts
  packages/output-targets/angular/src/types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(input-date): tab navigation
  .changeset/cuddly-deers-boil.md
  packages/components/src/utils/mask/context/mask-keyboard-context.ts
  packages/components/src/utils/mask/mask.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🐛 fix(): resolve logo animation issue by updating Lottie import (#1168)
  .changeset/giant-sloths-swim.md
  packages/components/src/components/bal-logo/bal-logo.animation.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update package.json
  packages/components-angular/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-field): Introduce 'horizontal' prop for aligning label and input side by side in Field component, with message displayed below
  .changeset/slow-parrots-argue.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-field/bal-field.tsx
  packages/components/src/components/bal-field/bal-field.vars.sass
  packages/components/src/components/bal-field/test/bal-field.visual.html
  test/cypress/e2e/visual/bal-field.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-with-hint-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-with-hint-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-with-hint-tablet.png
Due: none

chore(): refactor
  packages/components/src/components/bal-field/bal-field.sass
  packages/components/src/components/bal-field/bal-field.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): align field control to the end when label is too long
  packages/components/src/components/bal-field/bal-field.sass
  packages/components/src/components/bal-field/test/bal-field.visual.html
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-tablet.png
Due: none

feat(angular): add standalone solution
  apps/angular/base/v17-standalone/src/design-system.ts
  packages/components-angular/standalone/src/bundles.ts
  packages/components-angular/standalone/src/components/bal-checkbox-group.ts
  packages/components-angular/standalone/src/components/bal-checkbox.ts
  packages/components-angular/standalone/src/components/bal-date.ts
  packages/components-angular/standalone/src/components/bal-datepicker.ts
  packages/components-angular/standalone/src/components/bal-file-upload.ts
  packages/components-angular/standalone/src/components/bal-input-date.ts
  packages/components-angular/standalone/src/components/bal-input-slider.ts
  packages/components-angular/standalone/src/components/bal-input-stepper.ts
  packages/components-angular/standalone/src/components/bal-number-input.ts
  packages/components-angular/standalone/src/components/bal-radio-group.ts
  packages/components-angular/standalone/src/components/bal-select.ts
  packages/components-angular/standalone/src/components/bal-textarea.ts
  packages/components-angular/standalone/src/components/bal-time-input.ts
  packages/components-angular/standalone/src/components/index.ts
  packages/components-angular/standalone/src/directives/error.component.ts
  packages/components/config/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset
  .changeset/six-pumpkins-draw.md
  packages/components-angular/standalone/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust bundle
  apps/angular/base/v17-standalone/src/design-system.ts
Due: none

chore: improve package.json to reduce side effects
  package-lock.json
  package.json
Due: none

chore: update package.lock
  docs/package.json
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/components-table/package.json
  packages/components/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  test/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing build for standalone
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/test-angular-setup/action.yml
Due: none

chore: add missing build for standalone
  .github/workflows/actions/build/action.yml
Due: none

chore(): refactor
  .changeset/slow-parrots-argue.md
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-field/theming.md
  packages/components/src/components/bal-field/bal-field.sass
Due: none

chore: add bal-doc-app to e2e tests
  packages/components/config/stencil.basic.config.ts
  packages/components/config/stencil.bindings.vue.ts
  packages/output-targets/vue/src/output-vue.ts
  packages/output-targets/vue/src/types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/components/bal-field/test/bal-field.visual.html
Due: none

chore: add docs
  .changeset/pretty-baboons-lick.md
  docs/public/assets/css/prism.css
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  docs/stories/development/02-upgrade/upgrade-guide.v15.stories.mdx
Due: none

chore(): refactor
  docs/.storybook/addons/version/register.js
  docs/stories/components/bal-field/bal-field.mdx
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/development/00-guides/05-theming.stories.mdx
Due: none

chore(): refactor
  docs/stories/components/bal-content/bal-content.stories.ts
  docs/stories/components/bal-data/bal-data.stories.ts
  docs/stories/components/bal-date/bal-date.stories.ts
  docs/stories/components/bal-divider/bal-divider.stories.ts
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-hint/bal-hint.stories.ts
  docs/stories/components/bal-input-group/bal-input-group.stories.ts
  docs/stories/components/bal-input-slider/bal-input-slider.stories.ts
  docs/stories/components/bal-input/bal-input.stories.ts
  docs/stories/components/bal-number-input/bal-number-input.stories.ts
  docs/stories/components/bal-popup/bal-popup.stories.ts
  docs/stories/components/bal-radio/bal-radio.stories.ts
  docs/stories/components/bal-select/bal-select.stories.ts
  docs/stories/components/bal-stack/bal-stack.stories.ts
  docs/stories/components/bal-textarea/bal-textarea.stories.ts
  docs/stories/components/bal-tooltip/bal-tooltip.stories.ts
Due: none

chore: add as const for bundles
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  packages/components-angular/standalone/src/bundles.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🔧 chore(): improve docs (#1118)
  docs/stories/components/bal-checkbox/bal-checkbox.mdx
  docs/stories/components/bal-checkbox/bal-checkbox.stories.ts
  docs/stories/components/bal-content/bal-content.stories.ts
  docs/stories/components/bal-data/bal-data.stories.ts
  docs/stories/components/bal-date/bal-date.stories.ts
  docs/stories/components/bal-divider/bal-divider.stories.ts
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-file-upload/bal-file-upload.stories.ts
  docs/stories/components/bal-form-grid/bal-form-grid.stories.ts
  docs/stories/components/bal-form/bal-form.stories.ts
  docs/stories/components/bal-hint/bal-hint.stories.ts
  docs/stories/components/bal-input-group/bal-input-group.stories.ts
  docs/stories/components/bal-input-slider/bal-input-slider.stories.ts
  docs/stories/components/bal-input/bal-input.stories.ts
  docs/stories/components/bal-label/bal-label.stories.ts
  docs/stories/components/bal-list/bal-list.stories.ts
  docs/stories/components/bal-modal/bal-modal.stories.ts
  docs/stories/components/bal-navbar/bal-navbar.stories.ts
  docs/stories/components/bal-number-input/bal-number-input.stories.ts
  docs/stories/components/bal-popup/bal-popup.stories.ts
  docs/stories/components/bal-radio/bal-radio.stories.ts
  docs/stories/components/bal-select/bal-select.stories.ts
  docs/stories/components/bal-stack/bal-stack.stories.ts
  docs/stories/components/bal-steps/bal-steps.stories.ts
  docs/stories/components/bal-table/bal-table.templates.ts
  docs/stories/components/bal-tabs/bal-tabs.stories.ts
  docs/stories/components/bal-tag/bal-tag.stories.ts
  docs/stories/components/bal-textarea/bal-textarea.stories.ts
  docs/stories/components/bal-tooltip/bal-tooltip.stories.ts
Due: none

chore(): add waiting
  packages/components/src/utils/form-input.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): separate horizontal test
  docs/stories/components/bal-field/bal-field.mdx
  packages/components/src/components/bal-field/test/bal-field-horizontal.visual.html
  test/cypress/e2e/visual/bal-field.visual.cy.ts
Due: none

chore(): add head element
  packages/components/src/components/bal-field/test/bal-field-horizontal.visual.html
Due: none

chore(): format
  packages/components/src/components/bal-field/test/bal-field-horizontal.visual.html
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

fix(): Replace timeout with await waitAfterIdleCallback in inputSetFocus
  .changeset/kind-parrots-hide.md
  packages/components/src/utils/form-input.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing select
  packages/components/src/components/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

🐛 fix(): Replace timeout with await waitAfterIdleCallback in inputSetFocus (#1177)
  .changeset/kind-parrots-hide.md
  packages/components/src/components/bal-select/bal-select.tsx
  packages/components/src/utils/form-input.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

✨ feat(form): horizontal layout for label and controls (#1169)
  .changeset/slow-parrots-argue.md
  CHANGELOG_NEXT.md
  CHANGELOG_v12.md
  docs/.storybook/addons/version/register.js
  docs/stories/components/bal-field/bal-field.mdx
  docs/stories/components/bal-field/bal-field.stories.ts
  docs/stories/components/bal-field/theming.md
  docs/stories/development/00-guides/05-theming.stories.mdx
  packages/components/src/components.d.ts
  packages/components/src/components/bal-field/bal-field.sass
  packages/components/src/components/bal-field/bal-field.tsx
  packages/components/src/components/bal-field/bal-field.vars.sass
  packages/components/src/components/bal-field/test/bal-field-horizontal.visual.html
  packages/components/src/components/bal-field/test/bal-field.visual.html
  test/cypress/e2e/visual/bal-field.visual.cy.ts
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-with-hint-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-with-hint-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-alignment-with-hint-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-long-label-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-tablet.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-with-hint-desktop.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-with-hint-mobile.png
  test/cypress/snapshots/base/visual/bal-field.visual.cy.ts/horizontal-with-hint-tablet.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock file
  package-lock.json
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
