Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: integrate turbo
  .lintstagedrc
  lerna.json
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-table/scss/styles.scss
  packages/components-vue/package.json
  packages/components/.build/stencil/generate/index.js
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.sass
  packages/components/src/components/docs/bal-doc-tabs/bal-doc-tabs.sass
  packages/components/stencil.config.pre.ts
  packages/components/stencil.config.ts
  packages/components/tsconfig.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package.json
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci
  .github/workflows/canary-release.yml
  .github/workflows/continuous.yml
  .github/workflows/release.yml
  .github/workflows/visual-base.yml
  Dockerfile
Due: none

chore: update ci 1
  .github/workflows/continuous.yml
Due: none

chore: improve registry
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  packages/tokens/package.json
  registry
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: copy table css file
  packages/components-table/package.json
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add monorepo npm cache
  .github/workflows/canary-release.yml
  .github/workflows/continuous.yml
  .github/workflows/release.yml
  .github/workflows/visual-base.yml
Due: none

chore: add turbo cache
  .github/workflows/continuous.yml
  .github/workflows/visual-base.yml
Due: none

chore: add missing storybook and removed old deps
  package-lock.json
  package.json
Due: none

fix(spinner): avoid loading svg twice: Closes #998
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update lock files
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update commands
  packages/components/src/stories/development/contributing/04-commands.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update deps
  package-lock.json
  package.json
  packages/components/package.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove banner
  .build/utils/banner.js
  .build/utils/log.js
  package-lock.json
  package.json
Due: none

chore: revert dep updates
  package-lock.json
  package.json
Due: none

chore: update cypress 12. Closes #960
  package-lock.json
  package.json
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update dep minor and patch version
  package-lock.json
  package.json
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update tslib and react types
  package-lock.json
  package.json
Due: none

chore: sync lock file
  package-lock.json
Due: none

chore: remove unused deps
  package-lock.json
  package.json
Due: none

chore: add beforeEach instead of before
  packages/components/cypress/e2e/base/input-slider.cy.ts
  packages/components/cypress/e2e/base/input-stepper.cy.ts
  packages/components/cypress/e2e/base/input.cy.ts
  packages/components/cypress/e2e/base/number-input.cy.ts
  packages/components/cypress/e2e/base/popover.cy.ts
  packages/components/cypress/e2e/base/radio.cy.ts
  packages/components/cypress/e2e/base/select.cy.ts
  packages/components/cypress/e2e/base/snackbar.cy.ts
  packages/components/cypress/e2e/base/textarea.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/continuous.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/visual-base.yml
  CHANGELOG_v12.md
  package-lock.json
  package.json
Due: none

chore: add missing lodash deps
  package-lock.json
  package.json
Due: none

chore: migrate to cypress 12
  packages/components/cypress/e2e/visual/bal-accordion.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-popover.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-select.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add angular-cli as devDep
  package-lock.json
  package.json
Due: none

docs: adjust contributing
  .gitignore
  packages/components/src/stories/changelog.stories.mdx
  packages/components/src/stories/development/contributing/01-00-architecture.stories.mdx
  packages/components/src/stories/development/contributing/01-01-architecture-ci-cd.stories.mdx
  packages/components/src/stories/development/contributing/03-project-setup.stories.mdx
  packages/components/src/stories/development/contributing/04-commands.stories.mdx
  packages/components/src/stories/development/contributing/05-release.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(): rise angular to 13
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/output-targets/angular/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: skip broken navigation popover test
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-popover.visual.cy.ts/popover-arrow-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-popover.visual.cy.ts/popover-arrow-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-popover.visual.cy.ts/popover-tooltip-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-popover.visual.cy.ts/popover-tooltip-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-field-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-field-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-invalid-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-field-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-field-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-invalid-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-invalid-mobile-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore: remove lerna
  .build/version.js
  .gitignore
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/stories/assets/images/architecture/ci-cd.svg
  packages/components/src/stories/development/contributing/04-commands.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(icons): replace check-circle icon
  packages/icons/src/index.ts
  packages/icons/svg/check-circle.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: prepare for stencil 3.0.0
  packages/components/config/stencil.basic.config.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(icons): add primary and primary-light icon colors
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(icons): refactor
  packages/components/src/components/bal-icon/bal-icon.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update outputs
  turbo.json
Due: none

chore(): rise typescript
  package-lock.json
  package.json
Due: none

chore(): do not change versions of @commitlint
  package-lock.json
  package.json
Due: none

chore: update turbo outputs and gitignore
  .gitignore
  packages/components-angular/src/directives/angular-component-lib/utils.ts
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components-angular/src/directives/checkbox-value-accessor.ts
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/text-value-accessor.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/components-react/src/react-component-lib/createComponent.tsx
  packages/components-react/src/react-component-lib/createOverlayComponent.tsx
  packages/components-react/src/react-component-lib/index.ts
  packages/components-react/src/react-component-lib/interfaces.ts
  packages/components-react/src/react-component-lib/utils/attachProps.ts
  packages/components-react/src/react-component-lib/utils/case.ts
  packages/components-react/src/react-component-lib/utils/dev.ts
  packages/components-react/src/react-component-lib/utils/index.tsx
  packages/css/assets/fonts/BaloiseCreateHeadline-bold.woff
  packages/css/assets/fonts/BaloiseCreateHeadline-bold.woff2
  packages/css/assets/fonts/BaloiseCreateHeadline-light.woff
  packages/css/assets/fonts/BaloiseCreateHeadline-light.woff2
  packages/css/assets/fonts/BaloiseCreateText-bold.woff
  packages/css/assets/fonts/BaloiseCreateText-bold.woff2
  packages/css/assets/fonts/BaloiseCreateText-regular.woff
  packages/css/assets/fonts/BaloiseCreateText-regular.woff2
  packages/tokens/src/tokens.ts
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
