Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: change to es5
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add new command
  packages/testing/src/commands/custom/bal-steps.command.ts
  packages/testing/src/commands/custom/bal-steps.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add new accessibility issue template
  .github/ISSUE_TEMPLATE/a11y_report.yml
Due: none

test: add a11y and component test for bal-date
  package-lock.json
  package.json
  packages/components/cypress.config.ts
  packages/components/cypress/component/bal-date-calendar.cy.ts
  packages/components/cypress/component/bal-date.cy.ts
  packages/components/cypress/e2e/a11y/bal-date.a11y.cy.ts
  packages/components/cypress/support/commands.ts
  packages/components/cypress/support/component.ts
  packages/components/cypress/support/e2e.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date.i18n.ts
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-date/test/bal-date.a11y.html
  packages/components/src/index.ts
  packages/testing/src/add-custom-commands.ts
  packages/testing/src/add-override-commands.ts
  packages/testing/src/commands/custom/get.command.ts
  packages/testing/src/commands/custom/get.types.ts
  packages/testing/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update tags
  .build/data/tags.json
Due: none

chore: add missing props, event and methods
  packages/components/cypress/component/bal-date.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.vars.sass
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-date/bal-date.vars.sass
  packages/components/src/components/form/bal-date/stories/bal-date.docs.mdx
  packages/components/src/components/form/bal-date/stories/bal-date.stories.ts
  packages/components/src/components/form/bal-date/stories/testing.md
  packages/components/src/components/form/bal-date/stories/theming.md
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/testing/src/commands/custom/get.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add missing props, event and methods
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix spell and test
  cspell.json
  packages/components/cypress/component/bal-date-calendar.cy.ts
  packages/components/cypress/component/bal-date.cy.ts
  packages/components/src/components/form/bal-date/stories/bal-date.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(testing): add new commands
  packages/components/src/components/bal-close/bal-close.i18n.ts
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-steps/stories/testing.md
  packages/components/src/components/form/bal-datepicker/bal-datepicker.i18n.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.i18n.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.i18n.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/typography/bal-label/bal-label.i18n.ts
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/index.ts
  packages/testing/package.json
  packages/testing/src/add-custom-commands.ts
  packages/testing/src/commands/custom/get.command.ts
  packages/testing/src/commands/custom/get.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(checkbox): sync
  .changeset/tricky-worms-lie.md
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

🐛 fix(checkbox): sync (#1014)
  .changeset/tricky-worms-lie.md
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: improve docs
  cspell.json
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust color of icons in shadow and outside
  packages/components/src/components/bal-icon/bal-icon.vars.sass
Due: none

test: adjust import statement
  packages/components/cypress/component/bal-date-calendar.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove duplicate changes
  .changeset/pretty-cups-do.md
Due: none

chore: fix i18n export
  packages/components/src/components/form/bal-date/bal-date-calendar/components/bal-date-calendar__nav.tsx
  packages/components/src/components/form/bal-date/bal-date.i18n.ts
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-date/utils/calendar.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/default-date-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/min-and-max-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/value-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/year-desktop.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

chore: update docs
  packages/components/cypress.config.ts
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add angular demo app
  .github/workflows/continuous.yml
  apps/angular/.gitignore
  apps/angular/README.md
  apps/angular/angular.json
  apps/angular/cypress.config.ts
  apps/angular/cypress/e2e/bal-input.spec.cy.ts
  apps/angular/cypress/fixtures/example.json
  apps/angular/cypress/support/commands.ts
  apps/angular/cypress/support/e2e.ts
  apps/angular/cypress/tsconfig.json
  apps/angular/package.json
  apps/angular/src/app/app.component.spec.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/app.config.ts
  apps/angular/src/app/app.routes.ts
  apps/angular/src/assets/.gitkeep
  apps/angular/src/favicon.ico
  apps/angular/src/index.html
  apps/angular/src/main.ts
  apps/angular/src/polyfills.ts
  apps/angular/src/styles.scss
  apps/angular/src/zone-flags.ts
  apps/angular/tsconfig.app.json
  apps/angular/tsconfig.json
  apps/angular/tsconfig.spec.json
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/components-angular/src/components/error.component.ts
  packages/components-angular/src/components/error/error.component.html
  packages/components-angular/src/components/error/error.component.scss
  packages/components-angular/src/index.ts
  packages/components-angular/src/module.ts
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/stencil.config.dev.ts
  packages/components/stencil.config.e2e.ts
  packages/components/stencil.config.ng.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust ng build
  apps/angular/angular.json
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/input.component.ts
  package.json
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

✨ feat(testing): cypress flexible imports (#1012)
  .changeset/red-cobras-provide.md
  cspell.json
  packages/components/cypress.config.ts
  packages/components/src/components/bal-close/bal-close.i18n.ts
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-steps/stories/testing.md
  packages/components/src/components/form/bal-datepicker/bal-datepicker.i18n.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.i18n.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.i18n.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/typography/bal-label/bal-label.i18n.ts
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/index.ts
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/testing/package.json
  packages/testing/rollup.config.js
  packages/testing/src/add-custom-commands.ts
  packages/testing/src/add-override-commands.ts
  packages/testing/src/commands/custom/bal-steps.command.ts
  packages/testing/src/commands/custom/bal-steps.types.ts
  packages/testing/src/commands/custom/get.command.ts
  packages/testing/src/commands/custom/get.types.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/index.ts
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust build
  apps/angular/package.json
  package.json
Due: none

chore: format file
  package.json
Due: none

chore(): refactor
  .changeset/smart-squids-dance.md
  packages/components/cypress/e2e/visual/bal-tooltip.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tooltip/bal-tooltip.tsx
  packages/components/src/components/bal-tooltip/bal-tooltip.util.ts
  packages/components/src/components/bal-tooltip/bal-tooltip.vars.sass
  packages/components/src/components/bal-tooltip/stories/bal-tooltip.docs.mdx
  packages/components/src/components/bal-tooltip/stories/bal-tooltip.stories.ts
  packages/components/src/components/bal-tooltip/stories/testing.md
  packages/components/src/components/bal-tooltip/test/bal-tooltip-positions.visual.html
  packages/components/src/components/bal-tooltip/test/bal-tooltip.cy.html
  packages/components/src/components/bal-tooltip/test/bal-tooltip.visual.html
  packages/components/src/components/bal-tooltip/variants/abstract-variant.renderer.ts
  packages/components/src/components/bal-tooltip/variants/index.ts
  packages/components/src/components/bal-tooltip/variants/tooltip-variant.renderer.ts
  packages/components/src/components/bal-tooltip/variants/variant.interfaces.ts
  packages/components/src/components/bal-tooltip/variants/variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tooltip.visual.cy.ts/tooltip-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-tooltip.visual.cy.ts/tooltip-right-placement-desktop.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore(): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update tests
  apps/angular/cypress/e2e/bal-input.spec.cy.ts
  apps/angular/cypress/support/commands.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/input.component.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/utils/helpers.ts
  packages/testing/src/commands/custom/get.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add optionalTabSelection prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add data prop to be more flexible like for data tracking
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/models/bal-nav-link-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add aria labels
  apps/angular/cypress/e2e/bal-input.spec.cy.ts
  apps/angular/cypress/support/commands.ts
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-message/bal-field-message.tsx
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-field/test/bal-field.a11y.html
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/utils/form.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix e2e and lint issue
  packages/components/cypress/e2e/base/bal-form-arialabelledby.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/test/form-arialabelledby.html
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update workflow angular
  .github/workflows/continuous.yml
  apps/angular/package.json
  apps/angular/tsconfig.json
  package-lock.json
Due: none

chore: build ng components
  package.json
Due: none

chore: add textarea
  apps/angular/cypress/e2e/bal-textarea.spec.cy.ts
  apps/angular/cypress/support/commands.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/textarea.component.ts
  package.json
  packages/testing/src/commands/custom/get.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: change angular build
  package.json
Due: none
