Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: docs improvments
  docs/.storybook/blocks/CanvasTabs.tsx
  docs/.storybook/blocks/Tabs.tsx
  docs/src/assets/data/components.json
  docs/src/components/snackbar/snackbar.stories.ts
  docs/src/utils/attributes.ts
  docs/src/utils/story.ts
  libs/nx/src/executors/build-core/executor.ts
  packages/core/src/globals/constants.tags.constant.ts
  resources/data/components.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visuals
  .claude/skills/generate-component-tests/SKILL.md
  packages/core/src/components/accordion/test/accordion.visual.play.ts
  packages/core/src/components/alert/test/alert.visual.play.ts
  packages/core/src/components/alert/test/snackbar.visual.play.ts
  packages/core/src/components/alert/test/toast.visual.play.ts
  packages/core/src/components/badge/test/badge.visual.play.ts
  packages/core/src/components/button/test/button-group.visual.play.ts
  packages/core/src/components/button/test/button.visual.play.ts
  packages/core/src/components/card/test/card.visual.play.ts
  packages/core/src/components/checkbox/test/checkbox.visual.play.ts
  packages/core/src/components/close/test/close.visual.play.ts
  packages/core/src/components/content/test/content.visual.play.ts
  packages/core/src/components/divider/test/divider.visual.play.ts
  packages/core/src/components/heading/test/heading.visual.play.ts
  packages/core/src/components/icon/test/icon.visual.play.ts
  packages/core/src/components/input/test/input.visual.play.ts
  packages/core/src/components/label/test/label.visual.play.ts
  packages/core/src/components/link/test/link.a11y.play.ts
  packages/core/src/components/link/test/link.visual.play.ts
  packages/core/src/components/list/test/list-native.visual.play.ts
  packages/core/src/components/logo/test/logo.visual.play.ts
  packages/core/src/components/notification/test/notification.visual.play.ts
  packages/core/src/components/number-input/test/number-input.visual.play.ts
  packages/core/src/components/pagination/test/pagination.visual.play.ts
  packages/core/src/components/progress-bar/test/progress-bar.visual.play.ts
  packages/core/src/components/radio/test/radio.visual.play.ts
  packages/core/src/components/segment/test/segment.visual.play.ts
  packages/core/src/components/shape/test/shape.visual.play.ts
  packages/core/src/components/spinner/test/spinner.visual.play.ts
  packages/core/src/components/stack/test/stack.visual.play.ts
  packages/core/src/components/tag/test/tag.visual.play.ts
  packages/core/src/components/text/test/text.visual.play.ts
  packages/core/src/components/textarea/test/textarea.visual.play.ts
  packages/core/src/components/toggle/test/toggle.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update snapshots
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-images-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-images-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/close/test/close.visual.play.ts-snapshots/close-inverted-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/logo/test/logo.visual.play.ts-snapshots/logo-sizes-baloise-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/logo/test/logo.visual.play.ts-snapshots/logo-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/spinner/test/spinner.visual.play.ts-snapshots/spinner-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/spinner/test/spinner.visual.play.ts-snapshots/spinner-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/tag/test/tag.visual.play.ts-snapshots/tag-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/tag/test/tag.visual.play.ts-snapshots/tag-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/tag/test/tag.visual.play.ts-snapshots/tag-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/tag/test/tag.visual.play.ts-snapshots/tag-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat(tokens): rename primitive tier to global in transformer
  .claude/skills/rename-component-tokens/SKILL.md
  packages/core/src/components/tag/tag.host.scss
  packages/core/src/components/tag/tag.style.scss
  packages/tokens/src/transformers.ts
  packages/tokens/tokens/Base.tokens.json
  resources/token.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(tokens): update core components to use global primitive token names
  packages/core/src/components/accordion/accordion.host.scss
  packages/core/src/components/accordion/accordion.style.scss
  packages/core/src/components/alert/snackbar/snackbar.host.scss
  packages/core/src/components/alert/toast/toast.host.scss
  packages/core/src/components/button/button.style.scss
  packages/core/src/components/card/card.vars.scss
  packages/core/src/components/checkbox/checkbox.host.scss
  packages/core/src/components/checkbox/checkbox.mixin.scss
  packages/core/src/components/icon/icon.host.scss
  packages/core/src/components/list/item/item.host.scss
  packages/core/src/components/list/list.style.scss
  packages/core/src/components/logo/logo.host.scss
  packages/core/src/components/radio/radio.host.scss
  packages/core/src/components/radio/radio.mixin.scss
  packages/core/src/components/segment/segment/segment.mixin.scss
  packages/core/src/components/shape/shape.host.scss
  packages/core/src/components/spinner/spinner.host.scss
  packages/core/src/components/toggle/toggle.host.scss
  packages/core/src/components/toggle/toggle.mixin.scss
Due: prettier --write

feat(tokens): update styles package to use global primitive token names
  packages/styles/src/core/form/file.scss
  packages/styles/src/core/form/input-textarea.scss
  packages/styles/src/core/form/select.scss
  packages/styles/src/core/form/shared.scss
  packages/styles/src/core/form/tools.scss
  packages/styles/src/core/vars/form.vars.scss
  packages/styles/src/core/vars/list.vars.scss
  packages/styles/src/core/vars/structure.vars.scss
  packages/styles/src/core/vars/table.vars.scss
Due: prettier --write

docs: update primitive token name references to global prefix
  docs/src/components/link/4-Styling.mdx
  docs/src/development/00-guides/06-theming.mdx
  docs/src/development/00-guides/07-responsive.mdx
  docs/src/utilities/00-overview.mdx
  docs/src/why.mdx
Due: none

chore(deps): upgrade eslint 10, typescript-eslint v8, add jiti
  package-lock.json
  package.json
Due: none

feat(eslint-plugin): update to flat config format with meta field
  libs/eslint-plugin/package.json
  libs/eslint-plugin/src/index.ts
Due: none

feat(eslint): add flat config base (replaces .eslintrc.base.json)
  eslint.config.base.ts
Due: none

feat(eslint): add root flat config (replaces .eslintrc.json)
  eslint.config.ts
Due: none

feat(eslint): add flat configs for output-target-angular, output-target-web, eslint-plugin
  libs/eslint-plugin/eslint.config.ts
  libs/output-target-angular/eslint.config.ts
  libs/output-target-web/eslint.config.ts
Due: none

feat(eslint): add flat config for libs/nx
  libs/nx/eslint.config.ts
Due: none

feat(eslint): add flat configs for playwright, docs, and core
  docs/eslint.config.ts
  packages/core/eslint.config.ts
  packages/playwright/eslint.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(eslint): remove legacy .eslintrc.json files
  .eslintrc.base.json
  .eslintrc.json
  docs/.eslintrc.json
  docs/superpowers/plans/2026-05-07-eslint-migration.md
  libs/eslint-plugin/.eslintrc.json
  libs/nx/.eslintrc.json
  libs/output-target-angular/.eslintrc.json
  libs/output-target-web/.eslintrc.json
  packages/core/.eslintrc.json
  packages/playwright/.eslintrc.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(eslint): resolve lint errors after flat config migration
  .eslintignore
  docs/.eslintignore
  docs/eslint.config.ts
  eslint.config.base.ts
  eslint.config.ts
  libs/eslint-plugin/.eslintignore
  libs/nx/.eslintignore
  libs/nx/eslint.config.ts
  libs/output-target-angular/.eslintignore
  libs/output-target-angular/eslint.config.ts
  libs/output-target-web/.eslintignore
  nx.json
  package-lock.json
  package.json
  packages/core/.eslintignore
  packages/core/eslint.config.ts
  packages/core/src/utils/resize/resize.interfaces.ts
  packages/core/src/utils/resize/window-resize.interfaces.ts
  packages/playwright/.eslintignore
  packages/playwright/eslint.config.ts
  packages/playwright/src/lib/extend.ts
  packages/styles/.eslintignore
  packages/tokens/eslint.config.ts
  packages/tokens/project.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Initial Release of new Branch
  README.md
Due: none

chore: fix npm dep audits
  .claude/skills/sync-component-tokens/SKILL.md
  docs/.storybook/blocks/Banner.tsx
  docs/package.json
  docs/token-usage-report.md
  eslint.config.ts
  libs/eslint-plugin/eslint.config.ts
  libs/eslint-plugin/src/rules/event-prefix.ts
  libs/eslint-plugin/src/rules/listen-naming.ts
  libs/eslint-plugin/src/rules/method-private.ts
  libs/eslint-plugin/src/rules/no-relative-imports.ts
  libs/eslint-plugin/src/rules/watch-naming.ts
  libs/eslint-plugin/src/utils.ts
  libs/eslint-plugin/tsconfig.json
  libs/nx/eslint.config.ts
  libs/nx/package.json
  libs/output-target-angular/eslint.config.ts
  libs/output-target-angular/src/lib/utils.ts
  package-lock.json
  package.json
  packages/core/eslint.config.ts
  packages/core/package.json
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/stack/stack.style.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix build
  .nvmrc
  docs/src/assets/data/components.json
  eslint.config.base.ts
  libs/nx/src/executors/build-docs/executor.ts
  libs/output-target-angular/src/lib/utils.ts
  package-lock.json
  package.json
  packages/core/src/components.d.ts
  resources/data/components.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update scss generation
  libs/nx/package.json
  libs/nx/src/executors/build-styles/executor.ts
  libs/nx/src/executors/utils.ts
  package-lock.json
  package.json
  packages/core/src/components/button/button.style.scss
  packages/styles/src/mixins/general.mixin.scss
Due: prettier --write

chore: add multi brand
  .gitignore
  TODO-validators.md
  docs/.storybook/addons/theme.addon.tsx
  docs/.storybook/main.ts
  docs/.storybook/manager.ts
  docs/.storybook/preview.ts
  docs/superpowers/plans/2026-05-07-turborepo-migration.md
  docs/token-migration-report.md
  docs/token-usage-report.md
  libs/nx/src/executors/build-core/executor.ts
  libs/nx/src/executors/build-styles/executor.ts
  package-lock.json
  packages/core/src/global/index.ts
  packages/tokens/src/config.brand.ts
  packages/tokens/src/formatter.ts
  packages/tokens/src/index.ts
  packages/tokens/tokens/Tcs.tokens.json
  packages/tokens/tsconfig.json
  tools/update-html-head.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(css): add sass devDependency for SCSS compilation
  docs/superpowers/plans/2026-05-08-css-package-unocss.md
  package-lock.json
  packages/css/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(css): migrate DS mixins into packages/css
  packages/css/src/scss/mixins.scss
  packages/css/src/scss/mixins/_all.scss
  packages/css/src/scss/mixins/breakpoint.mixin.scss
  packages/css/src/scss/mixins/extends.scss
  packages/css/src/scss/mixins/general.mixin.scss
  packages/css/src/scss/mixins/svg.mixin.scss
Due: prettier --write

chore(css): migrate normalize and structure SCSS
  packages/css/src/scss/normalize.scss
  packages/css/src/scss/structure.scss
Due: prettier --write

chore(css): migrate core styles (grid, container, form, table, picture)
  packages/css/src/scss/core/_all.scss
  packages/css/src/scss/core/container.scss
  packages/css/src/scss/core/form/_all.scss
  packages/css/src/scss/core/form/file.scss
  packages/css/src/scss/core/form/input-textarea.scss
  packages/css/src/scss/core/form/select.scss
  packages/css/src/scss/core/form/shared.scss
  packages/css/src/scss/core/form/tools.scss
  packages/css/src/scss/core/grid.scss
  packages/css/src/scss/core/picture.scss
  packages/css/src/scss/core/table.scss
  packages/css/src/scss/core/vars/_all.scss
  packages/css/src/scss/core/vars/form.vars.scss
  packages/css/src/scss/core/vars/list.vars.scss
  packages/css/src/scss/core/vars/structure.vars.scss
  packages/css/src/scss/core/vars/table.vars.scss
Due: prettier --write

chore(core): move core styles to CSS-only components in packages/core
  packages/core/src/components/container/container.style.scss
  packages/core/src/components/form/form.style.scss
  packages/core/src/components/grid/grid.style.scss
  packages/core/src/components/picture/picture.style.scss
  packages/core/src/components/table/table.style.scss
  packages/css/src/scss/core/_all.scss
  packages/css/src/scss/core/form/_all.scss
  packages/css/src/scss/core/form/file.scss
  packages/css/src/scss/core/form/input-textarea.scss
  packages/css/src/scss/core/form/select.scss
  packages/css/src/scss/core/form/shared.scss
  packages/css/src/scss/core/form/tools.scss
  packages/css/src/scss/core/vars/_all.scss
  packages/css/src/scss/core/vars/form.vars.scss
  packages/css/src/scss/core/vars/list.vars.scss
  packages/css/src/scss/core/vars/structure.vars.scss
  packages/css/src/scss/core/vars/table.vars.scss
  packages/css/src/scss/structure.scss
Due: prettier --write

chore: update deps
  docs/package.json
  docs/src/assets/data/components.json
  docs/src/utils/html.ts
  package-lock.json
  package.json
  packages/core/package.json
  packages/core/src/components/accordion/accordion.tsx
  packages/core/src/components/alert/alert-container.tsx
  packages/core/src/components/label/label.tsx
  packages/core/src/components/logo/logo.tsx
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/number-input/number-input.tsx
  packages/core/src/components/pagination/test/pagination.util.spec.ts
  packages/core/src/components/progress-bar/progress-bar.tsx
  packages/core/src/components/radio/radio.tsx
  packages/core/src/components/shape/shape.tsx
  packages/core/src/components/spinner/spinner.tsx
  packages/core/src/components/tag/tag.tsx
  packages/core/src/components/text/text.tsx
  packages/css/package.json
  packages/css/src/build.ts
  scripts/create-changeset.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix spell and format files
  .github/copilot-instructions.md
  .gitignore
  CLAUDE.md
  cspell.json
  docs/.storybook/blocks/css-utils/CssElevation.tsx
  docs/.storybook/blocks/css-utils/CssFlexbox.tsx
  docs/.storybook/blocks/css-utils/helpers/CssPropertyTable.tsx
  docs/.storybook/blocks/tokens/TokenOverview.tsx
  docs/old/avatars.css
  docs/old/preview.css
  docs/old/storybook.css
  docs/old/table-of-content.css
  docs/old/version.css
  docs/public/assets/css/design-system.css
  docs/public/assets/css/preview.css
  docs/public/assets/css/storybook.css
  docs/src/templates/error-page/error-page.mdx
  docs/src/templates/error-page/error-page.stories.ts
  docs/src/utilities/elevation/elevation-shadow.mdx
  docs/src/utilities/grid/grid-system.mdx
  docs/src/utilities/interactions/cursor.mdx
  docs/src/welcome copy.mdx
  docs/src/welcome.mdx
  docs/src/why.mdx
  packages/assets/LICENSE
  packages/assets/README.md
  packages/core/LICENSE
  packages/core/README.md
  packages/core/src/components/grid/grid.style.scss
  packages/css/LICENSE
  packages/css/README.md
  packages/css/src/build.ts
  packages/css/src/preset/rules/elevation.ts
  packages/css/src/preset/utils.ts
  packages/playwright/LICENSE
  packages/playwright/README copy.md
  packages/tokens/LICENSE
  packages/tokens/README.md
  packages/tokens/tokens/Tcs.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix ci
  .changeset/config.json
  .changeset/pre.json
  .claude/skills/migrate-component-rename/SKILL.md
  .claude/tasks/multi-brand-tokens.md
  .claude/tasks/token-css-variable-linting.md
  .github/copilot-instructions.md
  .github/workflows/actions/build/action.yml
  .github/workflows/continuous.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-comment.yml
  .gitignore
  .prettierignore
  CLAUDE.md
  docs/src/contributing/00-setup.mdx
  docs/src/contributing/06-tests.mdx
  docs/src/development/00-guides/00-getting-started.mdx
  eslint.config.ts
  libs/output-target-angular/vite.config.ts
  libs/output-target-web/vite.config.ts
  package.json
  packages/css/src/preset/rules/background.ts
  packages/playwright/README copy.md
  packages/playwright/README.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci to turbo
  .github/workflows/continuous.yml
  .github/workflows/pr-comment.yml
  .github/workflows/update-shapshots.yml
  .github/workflows/visual-base.yml
Due: none

chore: update ci to turbo
  .github/workflows/actions/setup/action.yml
Due: none
