Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

test(heading): format
  packages/components/src/components/bal-heading/test/bal-heading.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-heading.visual.cy.ts/heading-desktop-base.png
  packages/components/cypress/snapshots/base/bal-heading.visual.cy.ts/heading-mobile-base.png
  packages/components/cypress/snapshots/base/bal-heading.visual.cy.ts/heading-tablet-base.png
  packages/components/cypress/snapshots/base/bal-heading.visual.cy.ts/heading-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-heading.visual.cy.ts/heading-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-heading.visual.cy.ts/heading-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore(heading): trigger build
  packages/components/src/components/bal-heading/test/bal-heading.visual.html
Due: none

fix: check if window, document or navigator are existing
  packages/components/src/components/notice/bal-modal/bal-modal.controller.ts
  packages/components/src/global.ts
  packages/components/src/utils/browser.ts
  packages/components/src/utils/config/config.ts
  packages/components/src/utils/config/index.ts
  packages/components/src/utils/config/initialize.ts
  packages/components/src/utils/overlays/notice.controller.ts
  packages/components/src/utils/overlays/overlays.ts
  packages/components/src/utils/platform.ts
  packages/components/src/utils/resize.ts
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: load used DS icons as default
  .build/optimize-icons.js
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/utils/config/config.ts
  packages/components/src/utils/config/initialize.ts
  packages/icons/src/icons.ts
  packages/icons/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust build
  packages/components/src/utils/overlays/notice.controller.ts
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(hint): add hint visual test
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(hint): format
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: none

test: add .bal-body
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
  packages/components/src/components/bal-close/test/bal-close.visual.html
  packages/components/src/components/bal-data/test/bal-data.visual.html
  packages/components/src/components/bal-heading/test/bal-heading.visual.html
  packages/components/src/components/bal-list/test/bal-list.visual.html
  packages/components/src/components/bal-shape/test/bal-shape.visual.html
  packages/components/src/components/bal-stage/test/bal-stage.large.visual.html
  packages/components/src/components/bal-stage/test/bal-stage.visual.html
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
  packages/components/src/components/bal-text/test/bal-text.visual.html
  packages/components/src/components/notice/bal-notification/test/bal-notification.visual.html
  packages/components/src/components/notice/bal-snackbar/test/bal-snackbar.visual.html
  packages/components/src/components/notice/bal-toast/test/bal-toast.visual.html
Due: none

test: wait that the page is ready
  packages/components/cypress/support/commands.ts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait that the page is ready
  packages/components/cypress/support/commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(hint): refactor
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait that the page is ready
  packages/components/src/components/bal-data/test/bal-data.visual.html
  packages/components/src/components/bal-shape/test/bal-shape.visual.html
  packages/components/src/components/bal-text/test/bal-text.visual.html
  packages/components/src/components/notice/bal-notification/test/bal-notification.visual.html
Due: none

test(hint): refactor
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(footer): add bal-body class
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: none

test: wait that the page is ready
  packages/components/cypress/support/commands.ts
  packages/components/src/components/bal-data/test/bal-data.visual.html
  packages/components/src/components/bal-shape/test/bal-shape.visual.html
  packages/components/src/components/bal-text/test/bal-text.visual.html
  packages/components/src/components/notice/bal-notification/test/bal-notification.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-desktop-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-mobile-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-tablet-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-tablet-base.png
Due: none

test(footer): trigger build
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: none

test(footer): remove next version
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: none

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(footer): refactor
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(footer): format
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: none

test(footer): fixing failing visual test
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): add visual test
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): format
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: none

fix(): add log in number-value-accessor
  packages/components-angular/src/directives/number-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components-angular/src/directives/number-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): trigger build
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: none

fix(): add correct log in number-value-accessor
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(button): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add additional logs
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
