Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: update build
  package.json
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/stencil.config.docs.ts
  packages/components/stencil.config.e2e.ts
  packages/components/stencil.config.ts
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add visual reporter
  .github/workflows/actions/test-e2e/action.yml
Due: none

chore: add visual reporter + 2
  packages/components/config/stencil.basic.config.ts
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing shell
  .github/workflows/actions/test-e2e/action.yml
Due: none

chore: build components for the tests
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: set missing env
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/test-e2e/action.yml
  .github/workflows/new-continuous.yml
Due: none

chore: update utils
  test/cypress/e2e/visual/bal-navbar.visual.cy.ts
  test/cypress/e2e/visual/bal-navigation.visual.cy.ts
  test/cypress/support/utils.ts
Due: none

chore: add www again
  .github/workflows/actions/test-e2e/action.yml
  .github/workflows/new-continuous.yml
  packages/components/stencil.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust env var type
  .github/workflows/actions/test-e2e/action.yml
Due: none

chore: adjust ubuntu version
  .github/workflows/actions/test-e2e/action.yml
  .github/workflows/new-continuous.yml
Due: none

chore: change visual report
  .github/workflows/actions/test-e2e/action.yml
Due: none

chore: change path
  .github/workflows/actions/test-e2e/action.yml
Due: none

chore: update hint and pagination
  test/cypress/e2e/visual/bal-hint.visual.cy.ts
  test/cypress/e2e/visual/bal-pagination.visual.cy.ts
Due: none

chore: update dev scripts
  package.json
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/stencil.config.dev.ts
  test/cypress/e2e/visual/bal-hint.visual.cy.ts
  test/cypress/e2e/visual/bal-pagination.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update hint
  .github/workflows/new-continuous.yml
  test/cypress/e2e/visual/bal-hint.visual.cy.ts
Due: none

chore: only install needed deps
  .github/workflows/actions/test-setup/action.yml
Due: none

chore: update install script
  .github/workflows/actions/test-setup/action.yml
  .github/workflows/documentation.yml
  .github/workflows/merge-to-prod.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/visual-base-components-a.yml
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-css.yml
  package-lock.json
Due: none

chore: disable husky
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/lint/action.yml
  .github/workflows/actions/test-setup/action.yml
  .github/workflows/new-continuous.yml
Due: none

chore: disable husky 2
  .github/workflows/actions/test-setup/action.yml
Due: none

chore: adjust accordrion base test
  .github/workflows/continuous.yml
  .github/workflows/new-continuous.yml
  .github/workflows/nightly.yml
  packages/testing/src/commands/custom/component.command.ts
  test/cypress/e2e/base/bal-accordion.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update deps
  .github/workflows/continuous.yml
  package-lock.json
  package.json
  test/package.json
Due: none

chore: update lock file
  package-lock.json
Due: none

chore: add missing docs script
  packages/css/package.json
  packages/output-targets/vue/vue-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix vercel
  packages/components-vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update visual base images
  .github/workflows/visual-base.yml
Due: none

chore: update visual base images 2
  .github/workflows/visual-base.yml
Due: none

chore: trigger build
  CHANGELOG.md
Due: none

chore: remove unused artifacts
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/test-setup/action.yml
  .github/workflows/continuous.yml
Due: none

chore: create build for e2e
  .github/workflows/actions/build-e2e/action.yml
  .github/workflows/actions/build/action.yml
  .github/workflows/continuous.yml
  package.json
  packages/components/stencil.config.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing scripts
  packages/components/package.json
  packages/components/vite.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove dedicated e2e deps
  package.json
Due: none

fix(bal-pagination): set fixed number of pagination buttons
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-pagination): set fixed number of pagination buttons
  packages/components/src/components/bal-pagination/test/bal-pagination.visual.html
Due: none

chore: update lock files
  package-lock.json
  test/package.json
Due: none

chore: update e2e build
  packages/components/package.json
  packages/components/stencil.config.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix tests
  packages/components/cypress/e2e/base/bal-pagination.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
