Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust links to next
  .build/vue-web-types.js
  CHANGELOG.md
  README.md
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/cypress/e2e/base/legacy.cy.ts
  packages/components/docs/markdown-events.ts
  packages/components/docs/markdown-methods.ts
  packages/components/docs/markdown-props.ts
  packages/components/package.json
  packages/components/src/components/bal-button/stories/bal-button.templates.ts
  packages/components/src/components/bal-button/test/bal-button.cy.html
  packages/components/src/components/docs/bal-doc-github/bal-doc-github.tsx
  packages/components/src/stories/contributing/00-overview.stories.mdx
  packages/components/src/stories/contributing/02-dev-setup.stories.mdx
  packages/components/src/stories/contributing/03-project-setup.stories.mdx
  packages/components/src/stories/migration/09-migration-from-9x-to-10x.stories.mdx
  packages/components/src/stories/welcome/support.stories.mdx
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(typography): decrease font sizes
  packages/components/src/components/bal-card/bal-card-title/bal-card-title.tsx
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/notice/bal-modal/bal-modal-header/bal-modal-header.tsx
  packages/components/src/props.d.ts
  packages/components/src/stories/design/css.stories.ts
  packages/css/index.html
  packages/tokens/src/index.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove comment
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  .prettierignore
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-backgrounds-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-sizes-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-variants-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-tablet-base.png
Due: none

chore: trigger rebuild
  CHANGELOG.md
Due: none

feat(bal-pagination): added the sticky option for the pagination and updated the bal slider
  packages/components/src/components.d.ts
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-slider/bal-slider.sass
  packages/components/src/components/bal-slider/bal-slider.tsx
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.22.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-slider): added an example with navigation and stage
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: split css vars from sass base file
  packages/components/src/styles/global.sass
  packages/components/src/styles/global.variables.sass
  packages/css/scss/baloise-design-system.base.sass
  packages/css/scss/baloise-design-system.sass
  packages/css/scss/baloise-design-system.variables.sass
  packages/css/scss/base/_all.sass
Due: none

feat(bal-input-slider): rename some missed imports and classes
  packages/components/src/components/form/bal-input-slider/bal-input-slider.sass
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: show version with BaloiseDesignSystem.version
  .build/version.js
  packages/components/src/constants/version.constant.ts
  packages/components/src/global.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-pagination): set dynamic top value for sticky pagination
  packages/components/src/components.d.ts
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-input-slider): rename adjustments
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.docs.mdx
  packages/components/src/components/form/bal-input-slider/stories/bal-input-slider.stories.ts
  packages/components/src/components/form/bal-input-slider/stories/testing.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-input-slider): updated helpers.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-slider): corrected the imports
  packages/components/src/styles/components/_all.sass
Due: none

chore: remove DS_Store files
  .DS_Store
  packages/.DS_Store
  packages/components/.DS_Store
  packages/components/src/.DS_Store
  packages/components/src/components/.DS_Store
  packages/icons/svg/.DS_Store
  resources/.DS_Store
  resources/images/.DS_Store
Due: none

feat: show version of the DS in the window object
  .build/version.js
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/constants/version.constant.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-pagination): added a watcher for top prop
  packages/components/src/components/bal-pagination/bal-pagination.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): remove double line. Closes #575
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/css/scss/layout/list.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(file-upload): add missing setFocus. Closes #605
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-backgrounds-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-sizes-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-variants-base.png
Due: none

feat(bal-pagination): assigned the top value only if the pagination is sticky
  packages/components/src/components/bal-pagination/bal-pagination.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add missing doc pages
  packages/components/src/components/bal-image-slider/stories/bal-image-slider.docs.mdx
  packages/components/src/components/bal-product-slider/stories/bal-product-slider.docs.mdx
  packages/components/src/components/bal-slider/stories/bal-slider.docs.mdx
  packages/components/src/components/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(sheet): adjust layout. Closes #554
  packages/components/src/components.d.ts
  packages/components/src/components/notice/bal-sheet/bal-sheet.sass
  packages/components/src/components/notice/bal-sheet/bal-sheet.tsx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/props.d.ts
  packages/css/scss/form/tools.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-mobile-base.png
Due: none

feat: hide glitches during page load
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/components/docs/bal-doc-banner-status/bal-doc-banner-status.tsx
  packages/components/src/global.ts
  packages/components/src/styles/global.base.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(button): mobile view
  packages/components/src/components/bal-button/bal-button.sass
  packages/components/src/components/bal-navbar/bal-navbar.sass
  packages/css/scss/form/tools.sass
Due: none

fix: set version to dist
  package.json
Due: none

fix(popover): safari issue with growing width
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/index.ts
  packages/components/src/utils/browser.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(product-slider): move control down on mobile
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
Due: none

feat(css): add close, check and forbidden list item style
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/css/index.html
  packages/css/scss/helpers/opacity.helper.sass
  packages/css/scss/layout/list.sass
  packages/icons/src/index.ts
  packages/icons/svg/forbidden.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(pagination): small interfaces shows all dots instead of ellipsis
  packages/components/src/components/bal-pagination/bal-pagination.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: use .bal-body instead of body element
  packages/components/src/components.d.ts
  packages/components/src/global.ts
  packages/components/src/stories/design/07-page-layout.stories.mdx
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
  packages/components/src/stories/getting-started/react/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
  packages/components/src/stories/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/styles/global.base.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): remove forbidden
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/css/index.html
  packages/css/scss/layout/list.sass
  packages/icons/src/index.ts
  packages/icons/svg/forbidden.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(list): add inverted style
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/css/scss/layout/list.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove comments
  packages/css/scss/layout/list.sass
Due: none

fix: add missing comma and adjust version path
  .build/version.js
  packages/components-angular/src/directives/text-value-accessor.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/config/stencil.bindings.vue.ts
  packages/components/package.json
  packages/css/scss/layout/list.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
