Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(testing): adjust build
  .build/tokens-generator.js
  package-lock.json
  package.json
  packages/testing/package.json
  packages/testing/rollup.config.js
  packages/testing/tsconfig.build.json
  packages/testing/tsconfig.json
  packages/tokens/package.json
  packages/tokens/src/index.ts
  rollup.base.js
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav overlay): added the headline and closing button for the popover
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(output): adjust build vue&react
  package-lock.json
  package.json
  packages/output-targets/react/CHANGELOG.md
  packages/output-targets/react/__tests__/generate-react-components.spec.ts
  packages/output-targets/react/jest.config.js
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/react/rollup.config.js
  packages/output-targets/react/test/jest.preprocessor.js
  packages/output-targets/react/tsconfig.json
  packages/output-targets/vue/CHANGELOG.md
  packages/output-targets/vue/__tests__/generate-vue-components.spec.ts
  packages/output-targets/vue/__tests__/output-vue.spec.ts
  packages/output-targets/vue/jest.config.js
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/output-targets/vue/rollup.config.js
  packages/output-targets/vue/test/jest.preprocessor.js
  packages/output-targets/vue/tsconfig.json
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(output): adjust build angular
  packages/output-targets/angular/CHANGELOG.md
  packages/output-targets/angular/__tests__/generate-angular-component.spec.ts
  packages/output-targets/angular/jest.config.js
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/angular/rollup.config.js
  packages/output-targets/angular/src/generate-angular-component.ts
  packages/output-targets/angular/src/generate-value-accessors.ts
  packages/output-targets/angular/test/jest.preprocessor.js
  packages/output-targets/angular/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): set z-index of popover trigger to 0 in bal-navigation context
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

feat(nav overlay): renamed hasClosingBtn with isClosable
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(fonts): adjust build
  .build/archive-font.js
  packages/fonts/.build/archive.js
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/fonts/src/assets/BaloiseCreateHeadline-bold.ttf
  packages/fonts/src/assets/BaloiseCreateHeadline-bold.woff
  packages/fonts/src/assets/BaloiseCreateHeadline-bold.woff2
  packages/fonts/src/assets/BaloiseCreateHeadline-light.ttf
  packages/fonts/src/assets/BaloiseCreateHeadline-light.woff
  packages/fonts/src/assets/BaloiseCreateHeadline-light.woff2
  packages/fonts/src/assets/BaloiseCreateText-bold.ttf
  packages/fonts/src/assets/BaloiseCreateText-bold.woff
  packages/fonts/src/assets/BaloiseCreateText-bold.woff2
  packages/fonts/src/assets/BaloiseCreateText-regular.ttf
  packages/fonts/src/assets/BaloiseCreateText-regular.woff
  packages/fonts/src/assets/BaloiseCreateText-regular.woff2
  packages/fonts/src/fonts.cdn.css
  packages/fonts/src/fonts.css
  packages/fonts/src/fonts.sass
  packages/fonts/src/fonts.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav overlay): renamed isClosable in closable
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): change prop name for top position on mobile
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav overlay): updated comp d ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(css): adjust build
  .build/generate-css-utils.js
  .build/sass.js
  packages/css/.build/sass.js
  packages/css/assets/fonts/BaloiseCreateHeadline-bold.ttf
  packages/css/assets/fonts/BaloiseCreateHeadline-bold.woff
  packages/css/assets/fonts/BaloiseCreateHeadline-bold.woff2
  packages/css/assets/fonts/BaloiseCreateHeadline-light.ttf
  packages/css/assets/fonts/BaloiseCreateHeadline-light.woff
  packages/css/assets/fonts/BaloiseCreateHeadline-light.woff2
  packages/css/assets/fonts/BaloiseCreateText-bold.ttf
  packages/css/assets/fonts/BaloiseCreateText-bold.woff
  packages/css/assets/fonts/BaloiseCreateText-bold.woff2
  packages/css/assets/fonts/BaloiseCreateText-regular.ttf
  packages/css/assets/fonts/BaloiseCreateText-regular.woff
  packages/css/assets/fonts/BaloiseCreateText-regular.woff2
  packages/css/package-lock.json
  packages/css/package.json
  packages/css/rollup.config.js
  packages/css/scss/baloise-design-system.utilities.sass
  packages/css/src/index.ts
  packages/css/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav overlay): updated stories
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): add more example content for story testing
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): update components
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): update story with new structure of bal navigation popover
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): close main nav when click outside and fix main nav mobile height
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): delete main value update and add check for foot mobile
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): fix main nav mobile height and body scroll
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): cleanup story
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(components): adjust build
  html.html-data.json
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/stencil.config.dev.ts
  packages/components/stencil.config.docs.ts
  packages/components/stencil.dev.config.ts
  packages/css/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-popover): delete model from story and fix sticky beahviour on desktop
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): avoid toggle body scroll when mobile foot popover closes
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): remove white card color and fix shadow issue on mobile,fix mobile popover offset
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): remove console log
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): fix backdrop for navigation-popover
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-popover/bal-popover.sass
Due: none

feat(nav-popover): add 2nd popover example -lang- on desktop
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(): #359 add animated logo
  packages/components/src/components.d.ts
  packages/components/src/components/bal-logo/bal-logo.animation.ts
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-logo/stories/bal-logo.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add new animation of bal logo
  packages/components/src/components/bal-logo/bal-logo.animation.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): #337 add reflect to the prop option to the state props in bal-tab-item
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): all props shold reflect in order for mutation observer to be triggered
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update documentation to not import global.scss but just global as we switched to sass
  packages/components/src/stories/design/02-font.stories.mdx
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
  packages/components/src/stories/getting-started/react/01-installation.stories.mdx
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
  packages/components/src/stories/implementation/21-customize.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): try to fix #303
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: reset package.lock's
  .build/components.lib.js
  .build/file.js
  .build/optimize-icons.js
  .build/vue-vetur.js
  .build/vue-web-types.js
  package-lock.json
  package.json
  packages/components-angular/.browserslistrc
  packages/components-angular/ng-package.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-react/rollup.config.js
  packages/components-react/tsconfig.json
  packages/components-table/package-lock.json
  packages/components-table/rollup.config.js
  packages/components-table/tsconfig.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components-vue/rollup.config.js
  packages/components-vue/tsconfig.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
  rollup.base.js
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): implement logo in differnet sizes
  packages/components/src/components/bal-logo/bal-logo.animation.ts
  packages/components/src/components/bal-logo/bal-logo.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Fix/bal list light font (#411)
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

feat(nav-popover): delete commented lines
  packages/components/src/components/bal-popover/bal-popover.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): add method to get mobile elements and fix hover and active states on mobile
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-popover): add global util toggle-scrolling-body
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/utils/toggle-scrolling-body.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
