Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update docs
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/src/stories/design/09-css-helpers.stories.mdx
  packages/components/src/stories/design/09-css-helpers.templates.ts
  packages/components/src/stories/design/css.docs.mdx
  packages/components/src/stories/design/css.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(grid): use --columnGap again. Closes #142
  packages/css/scss/helpers/grid.helper.sass
Due: none

docs: improve parse type. Closes #141
  packages/components/src/stories/utils/args.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: improve parse type. Closes #141
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(grid): use negative css var. Closes #142
  packages/css/index.html
  packages/css/scss/helpers/grid.helper.sass
Due: none

chore(release): v10.14.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: finish tokens and css part
  packages/components/.storybook/preview.js
  packages/components/src/stories/assets/images/css3.svg
  packages/components/src/stories/design/00-overview.stories.mdx
  packages/components/src/stories/design/10-flexbox-helpers.stories.mdx
  packages/components/src/stories/design/css.docs.mdx
  packages/components/src/stories/design/css.stories.ts
  packages/components/src/stories/getting-started/00-overview.stories.mdx
  packages/icons/src/icons.ts
  packages/icons/svg/code.svg
  packages/icons/svg/design.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: sync lock file
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync lock file
  packages/icons/src/icons.ts
  packages/icons/svg/design.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync lock file
  package-lock.json
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/css/package-lock.json
  packages/icons/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(form): adjust border color and message position
  packages/components/src/components/bal-icon/stories/bal-icon.stories.ts
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-radius.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-breakpoints.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-weight.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-shadow.tsx
  packages/components/src/components/form/bal-field/bal-field.sass
  packages/components/src/components/form/bal-field/stories/bal-field.stories.ts
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-select/bal-select.scss
  packages/css/scss/form/tools.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove unsed files
  packages/components/src/helpers/notice.controller.ts
  packages/components/src/index.ts
  packages/components/src/types/font.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove unsed files
  packages/components/.build/vite.fix.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add mladen as a main contributor
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.15.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(tabs): also accept boolean strings. Closes #141 (#147)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-stage): size prop added (#146)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-stage/bal-stage.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.15.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-checkbox): exclude hidden property from storybook
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Fix/safari list (#148)
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/css/scss/layout/list.sass
Due: none

chore(bal-checkbox): resolve conflicts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): refactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: fix typo grid
  packages/components/src/stories/design/css.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: added styling for vertical aligment
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

feat: added prop to set the boolean value for vertical rendering
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: added width construction for vertical tab alignment
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(modal): adjust container selector
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(field): add missing loading styles. Closes #153
  packages/css/index.html
  packages/css/scss/base/_all.sass
  packages/css/scss/base/animation.sass
  packages/css/scss/form/tools.sass
  packages/css/scss/mixins/general.mixin.sass
Due: none

feat(tabs): place content to the right when vertical and not on mobile
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs(html5): correct html5 installation
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.15.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: removed the width definition
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
