Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: update docs, improve stack & buttons
  docs/public/assets/css/components.min.css
  docs/src/assets/data/components.json
  docs/src/assets/data/styles/background.json
  docs/src/assets/data/styles/border.json
  docs/src/assets/data/styles/elevation.json
  docs/src/assets/data/styles/flex.json
  docs/src/assets/data/styles/typography.json
  docs/src/components/bal-button/bal-button.mdx
  docs/src/components/bal-button/bal-button.stories.ts
  docs/src/components/bal-divider/bal-divider.mdx
  docs/src/components/bal-divider/bal-divider.stories.ts
  docs/src/components/bal-heading/bal-heading.mdx
  docs/src/components/bal-heading/bal-heading.stories.ts
  docs/src/components/bal-label/bal-label.mdx
  docs/src/components/bal-label/bal-label.stories.ts
  docs/src/components/bal-text/bal-text.mdx
  docs/src/components/bal-text/bal-text.stories.ts
  docs/src/utils/attributes.ts
  docs/src/welcome.mdx
  packages/core/config/doc-output-target/index.ts
  packages/core/public/section.css
  packages/core/src/components.d.ts
  packages/core/src/components/bal-button/bal-button.style.scss
  packages/core/src/components/bal-button/test/bal-button.style.html
  packages/core/src/components/bal-divider/bal-divider.host.scss
  packages/core/src/components/bal-divider/bal-divider.style.scss
  packages/core/src/components/bal-divider/test/bal-divider.style.html
  packages/core/src/components/bal-heading/bal-heading.style.scss
  packages/core/src/components/bal-label/bal-label.tsx
  packages/core/src/components/bal-spinner/bal-spinner.scss
  packages/core/src/components/bal-spinner/bal-spinner.vars.scss
  packages/core/src/components/bal-stack/bal-stack.style.scss
  packages/core/src/components/bal-stack/test/bal-stack.style.html
  packages/core/src/components/bal-text/bal-text.style.scss
  packages/core/src/components/bal-text/bal-text.tsx
  packages/styles/sass/core.scss
  resources/data/components.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: migrate close, tag and card
  packages/core/public/section.css
  packages/core/src/components/bal-badge/bal-badge.scss
  packages/core/src/components/bal-button/bal-button.host.scss
  packages/core/src/components/bal-card/test/bal-card.style.html
  packages/core/src/components/bal-close/bal-close.style.scss
  packages/core/src/components/bal-tag/bal-tag-group/bal-tag-group.host.scss
  packages/core/src/components/bal-tag/bal-tag-group/bal-tag-group.tsx
  packages/core/src/components/bal-tag/bal-tag.host.scss
  packages/core/src/components/bal-tag/bal-tag.style.scss
  packages/core/src/components/bal-tag/bal-tag.tsx
  packages/core/src/components/bal-tag/bal-tag.vars.json
  packages/core/src/components/bal-tag/test/bal-tag.style.html
  packages/core/src/components/bal-text/bal-text.core.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix build
  docs/src/assets/data/components.json
  packages/core/src/utils/dropdown/value.tsx
  resources/data/components.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix spell issue
  cspell.json
Due: none

chore: fix build
  docs/public/assets/css/components.min.css
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  e2e/package.json
  libs/nx/project.json
  libs/nx/src/executors/build-styles/generators/tests/styleClass.spec.ts
  libs/nx/src/executors/build-styles/generators/tests/styleClassDeprecated.spec.ts
  libs/nx/src/executors/build-styles/generators/tests/toProps.spec.ts
  libs/output-target-angular/project.json
  nx.json
  package-lock.json
  packages/angular/src/bundles.ts
  packages/core/src/components/bal-card/bal-card.tsx
  packages/core/src/components/bal-label/bal-label.tsx
  packages/core/src/components/bal-text/bal-text.tsx
  packages/core/src/global.scss
  packages/core/src/tags-all.ts
  resources/data/components.json
  resources/data/tags.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visual heading and label
  packages/core/config/doc-output-target/index.ts
  packages/core/config/doc-output-target/markdown-testing.ts
  packages/core/config/doc-output-target/markdown-theming.ts
  packages/core/src/components/bal-heading/bal-heading.core.scss
  packages/core/src/components/bal-label/bal-label.host.scss
  packages/core/src/components/bal-label/test/bal-label.visual.html
  packages/core/src/global.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix padding issue card
  packages/core/src/components/bal-button/bal-button.core.scss
  packages/core/src/components/bal-card/bal-card.vars.json
  packages/core/src/components/bal-carousel/controls/tab-control.tsx
  packages/core/src/components/bal-label/bal-label.host.scss
  packages/core/src/global.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visual tests
  docs/public/assets/css/components.min.css
  docs/src/assets/data/components.json
  docs/src/components/bal-stack/bal-stack.stories.ts
  packages/core/src/components/bal-tag/bal-tag.style.scss
  packages/core/src/global.scss
  resources/data/components.json
Due: prettier --write

chore: fix visual tests
  packages/core/src/components/bal-stack/bal-stack.core.scss
Due: prettier --write

chore: fix visual tests
  TODOS.md
  docs/public/assets/css/components.min.css
  docs/src/components/bal-accordion/bal-accordion.mdx
  docs/src/components/bal-accordion/bal-accordion.stories.ts
  docs/src/components/bal-badge/bal-badge.stories.ts
  docs/src/components/bal-card/bal-card.stories.ts
  docs/src/components/bal-carousel/bal-carousel.stories.ts
  docs/src/components/bal-sheet/bal-sheet.stories.ts
  docs/src/components/bal-stack/bal-stack.stories.ts
  docs/src/components/bal-steps/bal-steps.stories.ts
  packages/core/src/components/bal-accordion/bal-accordion.tsx
  packages/core/src/components/bal-button/bal-button.core.scss
  packages/core/src/components/bal-footer/bal-footer.tsx
  packages/core/src/components/bal-label/bal-label.core.scss
  packages/core/src/components/bal-label/bal-label.host.scss
  packages/core/src/components/bal-steps/bal-steps.vars.scss
  packages/core/src/components/bal-tabs/bal-tabs.vars.scss
  packages/core/src/components/bal-toast/bal-toast.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visual tests
  TODOS.md
  packages/core/src/components.d.ts
  packages/core/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.tsx
  packages/core/src/components/bal-link/bal-link.core.scss
  packages/core/src/components/bal-steps/bal-steps.vars.scss
  stylelint.config.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visuals
  TODOS.md
  packages/core/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/core/src/components/bal-list/bal-list.vars.scss
  packages/core/src/components/bal-tag/bal-tag.style.scss
  packages/core/src/components/bal-tag/bal-tag.tsx
  packages/core/src/components/bal-tag/bal-tag.vars.json
  packages/core/src/components/bal-tag/test/bal-tag.style.html
  packages/tokens/tokens/size/radius.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use one shard
  .github/workflows/actions/build/action.yml
  .github/workflows/continuous.yml
  TODOS.md
  packages/core/playwright.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve visuals for shadow dom
  packages/core/playwright.config.ts
  packages/core/src/components/bal-button/bal-button.core.scss
  packages/core/src/global.scss
  packages/playwright/src/lib/extend.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: build artifacts
  docs/public/assets/css/components.min.css
  docs/src/assets/data/components.json
  packages/core/src/global.scss
  resources/data/components.json
Due: prettier --write

chore: fix visual label, card
  packages/core/src/components/bal-card/bal-card.style.scss
  packages/core/src/components/bal-card/bal-card.vars.json
  packages/core/src/components/bal-card/test/bal-card.visual.html
  packages/core/src/components/bal-label/bal-label.core.scss
  packages/core/src/components/bal-label/test/bal-label.visual.html
  packages/core/src/global.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix button-group height
  libs/nx/src/executors/build-styles/executor.ts
  packages/core/src/components/bal-button/bal-button.core.scss
  packages/core/src/global.scss
Due: prettier --write

chore: adjust visual issues
  docs/public/assets/css/components.min.css
  docs/src/assets/data/components.json
  packages/core/src/components.d.ts
  packages/core/src/components/bal-button/bal-button-group/bal-button-group.host.scss
  packages/core/src/components/bal-button/bal-button-group/bal-button-group.tsx
  packages/core/src/components/bal-button/bal-button.core.scss
  packages/core/src/components/bal-button/bal-button.tsx
  packages/core/src/components/bal-card/bal-card.scss
  packages/core/src/components/bal-card/bal-card.tsx
  packages/core/src/components/bal-checkbox/bal-checkbox.scss
  packages/core/src/components/bal-checkbox/test/bal-checkbox-tiles.visual.html
  packages/core/src/components/bal-content/bal-content.interfaces.ts
  packages/core/src/components/bal-content/bal-content.tsx
  packages/core/src/components/bal-radio/bal-radio.scss
  packages/core/src/components/bal-radio/test/bal-radio-tiles.visual.html
  packages/core/src/components/bal-stack/bal-stack.core.scss
  packages/core/src/components/bal-stage/bal-stage.vars.scss
  packages/core/src/components/bal-tabs/test/bal-tabs.cy.html
  packages/core/src/components/bal-text/bal-text.tsx
  packages/core/watch-styles.js
  resources/data/components.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: create base images
  .github/workflows/continuous.yml
Due: none

chore: change ci
  .github/workflows/continuous.yml
Due: none

chore: fix test
  .github/workflows/continuous.yml
  packages/playwright/src/lib/components/bal-tag.po.ts
  packages/playwright/src/lib/page/utils/mount.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix cypress
  e2e/cypress.config.ts
  resources/data/components.json
Due: none

chore: fix angular cypress test
  docs/public/assets/css/components.min.css
  packages/testing/src/commands/custom/get.command.ts
  test/angular/base/app/src/app/form-components/checkbox-group.component.ts
  test/angular/base/app/src/app/form-components/checkbox-tiles.component.ts
  test/angular/base/app/src/app/form-components/checkbox.component.ts
  test/angular/base/app/src/app/form-components/date.component.ts
  test/angular/base/app/src/app/form-components/dropdown.component.ts
  test/angular/base/app/src/app/form-components/input-date.component.ts
  test/angular/base/app/src/app/form-components/input-slider.component.ts
  test/angular/base/app/src/app/form-components/input-stepper.component.ts
  test/angular/base/app/src/app/form-components/input.component.ts
  test/angular/base/app/src/app/form-components/number-input.component.ts
  test/angular/base/app/src/app/form-components/radio-buttons.component.ts
  test/angular/base/app/src/app/form-components/radio.component.ts
  test/angular/base/app/src/app/form-components/segment.component.ts
  test/angular/base/app/src/app/form-components/select.component.ts
  test/angular/base/app/src/app/form-components/textarea.component.ts
  test/angular/base/app/src/app/form-components/time.component.ts
  test/angular/base/app/src/app/modal.component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix angular cypress
  test/angular/base/app/cypress/e2e/bal-checkbox-tile.spec.cy.ts
  test/angular/base/app/cypress/e2e/bal-input-stepper.spec.cy.ts
  test/angular/base/app/src/app/app.component.ts
Due: none

chore: fix react cypress test
  test/react/base/app/src/form-components/input.tsx
Due: none

chore: fix cypress component test
  e2e/cypress/component/bal-input-stepper.cy.ts
Due: none

chore: fix button with form events for shadow dom
  e2e/cypress/e2e/base/bal-button.cy.ts
  e2e/cypress/e2e/base/bal-checkbox.cy.ts
  packages/core/src/components/bal-button/bal-button.tsx
  packages/testing/src/commands/overrides/check.command.ts
  packages/testing/src/commands/overrides/should.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix style issue with mount
  packages/playwright/src/lib/page/utils/mount.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix a11y badge
  docs/public/assets/css/components.min.css
  docs/src/components/bal-badge/bal-badge.stories.ts
  packages/core/config/doc-output-target/index.ts
  packages/core/src/components/bal-tag/test/bal-tag.a11y.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update docs
  docs/.storybook/blocks/Quotes.tsx
  docs/.storybook/blocks/Tabs.tsx
  docs/.storybook/blocks/index.ts
  docs/public/assets/css/components.min.css
  docs/public/assets/css/preview.css
  docs/src/components/bal-badge/bal-badge.mdx
  docs/src/components/bal-badge/bal-badge.stories.ts
  docs/src/components/bal-button/bal-button.mdx
  docs/src/components/bal-button/bal-button.stories.ts
  docs/src/components/bal-close/bal-close.mdx
  docs/src/components/bal-close/bal-close.stories.ts
  docs/src/components/bal-heading/bal-heading.mdx
  docs/src/components/bal-heading/bal-heading.stories.ts
  docs/src/components/bal-tag/bal-tag.mdx
  docs/src/components/bal-tag/bal-tag.stories.ts
  docs/src/components/bal-text/bal-text.mdx
  docs/src/components/bal-text/bal-text.stories.ts
  docs/src/development/00-guides/05-styles.mdx
  docs/src/development/00-guides/06-theming.mdx
  docs/src/development/00-guides/08-testing.mdx
  packages/core/config/doc-output-target/index.ts
  packages/core/src/components/bal-badge/test/bal-badge.style.html
  packages/core/src/components/bal-button/bal-button.core.scss
  packages/core/src/components/bal-card/bal-card.style.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix lint issue
  docs/.storybook/blocks/Quotes.tsx
Due: none

release: 20.0.0-next.0
  .changeset/pre.json
  .changeset/thick-pianos-accept.md
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/playwright/CHANGELOG.md
  packages/playwright/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

release: 20.0.0-next.1
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/playwright/CHANGELOG.md
  packages/playwright/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update build artifacts
  docs/src/assets/data/contributors.json
  package-lock.json
  packages/core/src/components/bal-badge/bal-badge.vars.scss
Due: prettier --write
