Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(card): alignment for buttons and tags inside the card-title component
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(card): alignment for buttons and tags inside the card-title component
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tag/bal-tag-group/bal-tag-group.tsx
  packages/components/src/components/bal-tag/bal-tag.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(data): alignment horizontal
  packages/components/src/components/bal-data/bal-data.scss
Due: prettier --write

feat(testing): add new custom commands and improve logging
  packages/components/cypress/fixtures/example.json
  packages/components/src/stories/implementation/22-testing.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(icons): add social icons¨
  packages/icons/src/icons.ts
  packages/icons/svg/facebook.svg
  packages/icons/svg/instagram.svg
  packages/icons/svg/pintarest.svg
  packages/icons/svg/sent.svg
  packages/icons/svg/twitter.svg
  packages/icons/svg/xing.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: install cypress
  .github/workflows/continuous.yml
Due: none

chore: install cypress
  package.json
Due: none

chore(): update build artifacts
  packages/icons/src/icons.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.9.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  package.json
  packages/components/cypress/integration/button.spec.ts
  packages/components/cypress/integration/checkbox.spec.ts
  packages/components/cypress/integration/hint.spec.ts
  packages/components/cypress/integration/input.spec.ts
  packages/components/cypress/integration/legacy/dropdown.spec.ts
  packages/components/cypress/integration/legacy/link.spec.ts
  packages/components/cypress/integration/legacy/toast.spec.ts
  packages/components/cypress/integration/pagination.spec.ts
  packages/components/cypress/integration/radio.spec.ts
  packages/components/cypress/integration/select.spec.ts
  packages/components/cypress/integration/slider.spec.ts
  packages/components/cypress/integration/textarea.spec.ts
  packages/components/cypress/integration/toast.spec.ts
  packages/testing/src/commands/custom/bal-accordion.command.ts
  packages/testing/src/commands/custom/bal-select.types.ts
  packages/testing/src/commands/custom/bal-tabs.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  package.json
Due: none

chore: sync lock files
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update test type path
  packages/components/.build/testing.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix type errors
  packages/testing/src/commands/custom/component.command.ts
  packages/testing/src/commands/custom/platform.command.ts
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/blur.command.ts
  packages/testing/src/commands/overrides/check.command.ts
  packages/testing/src/commands/overrides/clear.command.ts
  packages/testing/src/commands/overrides/click.command.ts
  packages/testing/src/commands/overrides/contains.command.ts
  packages/testing/src/commands/overrides/focus.command.ts
  packages/testing/src/commands/overrides/select.command.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/commands/overrides/type.command.ts
  packages/testing/src/commands/overrides/visit.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix blur command
  packages/testing/src/commands/overrides/blur.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add log to failing test
  packages/components/cypress/integration/datepicker.spec.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/testing/src/commands/custom/bal-datepicker.command.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use node 16
  .github/workflows/continuous.yml
Due: none

chore: remove logs
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/testing/src/commands/custom/bal-datepicker.command.ts
  packages/testing/src/commands/custom/component.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: create screenshots on fail
  .github/workflows/continuous.yml
  packages/components/cypress.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use node 16
  packages/components/cypress.json
  packages/components/cypress/integration/datepicker.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use ceil time
  .gitignore
  packages/components/cypress.json
  packages/components/cypress/integration/datepicker.spec.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: parse date
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/testing/src/commands/custom/bal-datepicker.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust links
  packages/components/.build/readme/markdown-events.ts
  packages/components/.build/readme/markdown-methods.ts
  packages/components/.build/readme/markdown-props.ts
  packages/components/src/components/form/bal-field/bal-field-control/readme.md
  packages/components/src/components/form/bal-field/bal-field-hint/readme.md
  packages/components/src/components/form/bal-field/bal-field-label/readme.md
  packages/components/src/components/form/bal-field/bal-field-message/readme.md
  packages/components/src/components/form/bal-radio/bal-radio-group/readme.md
  packages/components/src/components/form/bal-select/bal-select-option/readme.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.10.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: simplify theme customization
  packages/components/src/stories/implementation/21-customize.stories.mdx
  packages/components/src/styles/global.base.scss
  packages/components/src/styles/global.scss
  packages/components/src/styles/global/_all.scss
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: simplify theme customization
  packages/components/src/styles/global.core.scss
  packages/components/src/styles/global.scss
  packages/components/src/styles/utilities/variables/_all.scss
  packages/components/src/styles/utilities/variables/typography.scss
  packages/fonts/scss/fonts.scss
Due: prettier --write

docs: update example
  packages/components/src/stories/implementation/21-customize.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.10.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update changelog
  CHANGELOG.md
Due: none

fix(footer): version of web-app-utils for fetching the baloise data from the correct URLs
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(integration): update lock
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(footer): fetch links from all domains
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tag): add group component to BalTagModule
  packages/components/.build/stencil/stencil.bindings.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.10.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
