Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: sync package.lock file
  cspell.json
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync package.lock file
  .github/workflows/continuous.yml
Due: none

chore: sync package.lock file
  packages/css/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync package.lock file
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync lock file
  packages/components-react/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync lock file 2
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.12.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(close): is now accessibly with Keyboard. Closes #102
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-close/bal-close.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(css): change size-small to size-7. Closes #101
  cspell.json
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/css/scss/form/tools.sass
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(spinner): use working npm package version
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal): set class on html element to disable scrolling. Closes #100
  cspell.json
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/styles/global.core.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-input-group): change scss to sass and add bem
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(button): add direction prop to change mobile behaviour . Closes #96
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button-group/bal-button-group.tsx
  packages/components/src/props.d.ts
  packages/css/index.html
  packages/css/scss/form/tools.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(checkbox & radio): adjust alignment. Closes #92
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/components/form/bal-radio/bal-radio.scss
Due: prettier --write

fix(tag): adjust default color
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: upgrade typescript from 4.5.5 to 4.6.4
  packages/components-table/package-lock.json
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: upgrade rollup from 2.67.2 to 2.74.1
  packages/components-table/package-lock.json
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: upgrade sass from 1.49.7 to 1.52.1
  packages/components-table/package-lock.json
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: upgrade postcss from 8.4.6 to 8.4.14
  packages/components-table/package-lock.json
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: upgrade autoprefixer from 10.4.2 to 10.4.7
  packages/components-table/package-lock.json
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(icon): adjust sizes
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/css/scss/form/button.sass
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: packages/components/package.json & packages/components/package-lock.json to reduce vulnerabilities
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(css): add new breakpoints widescreen and fullhd
  packages/components/src/stories/design/05-breakpoints.docs.mdx
  packages/components/src/utils/platform.ts
  packages/css/scss/helpers/visibility.helper.sass
  packages/css/scss/mixins/breakpoint.mixin.sass
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-tag): add disabled prop on tag
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-tag): fix tag disabled style
  package-lock.json
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/styles/components/_all.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal): adjust spacing. Closes #109
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button-group/bal-button-group.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/props.d.ts
  packages/css/scss/form/tools.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.12.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-input-group): add modifiers for disabled and danger
  packages/components/src/components/form/bal-input-group/bal-input-group.mixins.scss
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: sync npm files
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.13.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update form page
  packages/components/src/components/form/bal-form-grid/stories/bal-form-grid.docs.mdx
  packages/components/src/stories/design/08-form.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update changelog
  CHANGELOG.md
Due: none

chore(bal-checkbox-group): change scss to sass and add bem
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.sass
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.scss
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
