Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): add bam for label
  packages/components/src/components/form/bal-checkbox/bal-checkbox.sass
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.13.5
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore() Add Slack notification
  .github/workflows/release.yml
Due: none

chore(bal-checkbox): fixed invalid border
  packages/components/src/components/form/bal-checkbox/bal-checkbox.sass
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/bal-switch.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.15.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-checkbox): add package lock
  package-lock.json
Due: none

chore(bal-checkbox): remove comments
  packages/components/src/components/form/bal-checkbox/bal-checkbox.sass
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav): first draft
  cspell.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-levels/bal-navigation-levels.tsx
  packages/components/src/components/bal-navigation/bal-navigation.scss
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/bal-navigation.vars.scss
  packages/components/src/components/bal-navigation/stories/bal-navigation.docs.mdx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-navigation/stories/testing.md
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/events.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav): add navigation and open logic
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-navigation): fix failing build
  packages/components/src/components/bal-navigation/stories/bal-navigation.docs.mdx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta nav): created the meta nav component and its subcomponents
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-meta-end/bal-navigation-meta-end.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta/bal-navigation-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.scss
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/styles/components/_all.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): style invalid state
  packages/components/src/components/form/bal-checkbox/bal-checkbox.sass
  packages/components/src/components/form/bal-checkbox/bal-switch.sass
Due: none

chore(bal-checkbox): change bal-color-danger-2 with bal-color-red-2
  packages/components/src/components/form/bal-checkbox/bal-checkbox.sass
  packages/components/src/components/form/bal-checkbox/bal-switch.sass
Due: none

feat(meta nav): styles adjustments
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta nav): updated the tabs component structure for the meta interface
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

New template for design issues
  .github/ISSUE_TEMPLATE/design request
Due: none

Fix design request template
  .github/ISSUE_TEMPLATE/design-request.md
Due: none

feat(meta nav): updated the stories and replaced the href logic with the navigate event
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main nav desktop): created the main structure of the main navigation component, desktop version
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-main-body/bal-navigation-main-body.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main-head/bal-navigation-main-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main/bal-navigation-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta-nav): fix BEM path
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta-nav): fix tabs columns classes rendering
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main nav desktop): added the menu panel for main nav body
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel-list-item/bal-navigation-menu-panel-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel-list/bal-navigation-menu-panel-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-panel/bal-navigation-menu-panel.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-radio): add invalid style
  packages/components/src/components/form/bal-radio/bal-radio.scss
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta nav): removed console logs
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): refactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
Due: prettier --write

feat(main-nav-desktop): add wip main head styles and main nav scroll behaviour
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-main-head/bal-navigation-main-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation-main/bal-navigation-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main nav desktop): implemented the menu panel
  .DS_Store
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta nav): removed console log
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta nav): cleanup comments and unused code, added arrow function
  packages/components/src/components/bal-navigation/bal-navigation-meta-end/bal-navigation-meta-end.tsx
  packages/components/src/components/bal-navigation/bal-navigation-meta-start/bal-navigation-meta-start.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): refactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/styles/components/_all.scss
Due: prettier --write

Fix/shape stage refactoring (#164)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-stage/bal-stage-back-link/bal-stage-back-link.tsx
  packages/components/src/components/bal-stage/bal-stage-body/bal-stage-body.tsx
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-stage/bal-stage.tsx
  packages/components/src/components/bal-stage/stories/bal-stage.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(meta nav): added the meta link property for meta level, updated the stories
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
  packages/components/src/components/bal-navigation/utils/level.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): refactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/bal-switch.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main-nav-desktop): wip manage main nav active state and behaviours
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(main-nav-desktop): wip fix active behaviours
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.15.4
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(main nav desktop): close the menu panel when click on the activ tab
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
