Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-basic-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-small-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-small-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-small-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-small-with-dots-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-small-with-dots-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-pagination.visual.cy.ts/pagination-small-with-dots-tablet.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore: fix naming issue
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/test-angular-setup/action.yml
Due: none

chore: adjust port for ng test
  .github/workflows/actions/test-angular/action.yml
  apps/angular/web-server.js
Due: none

chore: disable ng unit test
  apps/angular/package.json
Due: none

chore: adjust cypress config
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/test-angular/action.yml
  apps/angular/cypress.config.ts
Due: none

chore: update components
  packages/components-angular/src/components/error.component.ts
  packages/components-angular/src/components/error/error.component.html
  packages/components-angular/src/components/error/error.component.scss
  packages/components-angular/src/index.ts
  packages/components-angular/src/module.ts
  packages/components-vue/src/components/BalApp.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-field/bal-field-message/bal-field-message.tsx
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-field/test/bal-field.a11y.html
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/utils/form.ts
  packages/components/src/utils/helpers.ts
  test/cypress/e2e/base/bal-form-arialabelledby.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update update screenshots
  .github/workflows/visual-base-file.yml
  packages/components/src/test/form-arialabelledby.html
Due: none

chore: update ci
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/docs/action.yml
  .github/workflows/actions/setup-release/action.yml
  .github/workflows/continuous.yml
  .github/workflows/documentation.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
  .github/workflows/visual-base-file.yml
  .github/workflows/visual-base.yml
Due: none

chore(): update base images
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-desktop.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-mobile.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-tablet.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-desktop.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-mobile.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-tablet.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-desktop.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-mobile.png
  test/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-tablet.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

chore: adjust ng test
  package.json
Due: none

chore: add docs job
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/continuous.yml
Due: none

chore: remove comments
  .github/workflows/continuous.yml
  apps/angular/cypress.config.ts
  apps/angular/cypress/support/commands.ts
Due: none

chore: remove comments
  .github/workflows/actions/build-docs/action.yml
Due: none

chore: add number input
  apps/angular/cypress/e2e/bal-input.spec.cy.ts
  apps/angular/cypress/e2e/bal-number-input.spec.cy.ts
  apps/angular/cypress/e2e/bal-textarea.spec.cy.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/number-input.component.ts
Due: none

chore: add datepicker
  apps/angular/cypress/e2e/bal-date.spec.cy.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/date.component.ts
Due: none

chore(): fix disabled button background
  packages/components/src/components/bal-pagination/bal-pagination.sass
Due: none

chore: add time input
  apps/angular/cypress/e2e/bal-number-input.spec.cy.ts
  apps/angular/cypress/e2e/bal-time.spec.cy.ts
  apps/angular/package.json
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/time.component.ts
  package.json
  packages/components-angular/package.json
  packages/components-angular/src/app-initialize.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
  packages/css/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/testing/package.json
  packages/tokens/package.json
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add input stepper
  apps/angular/cypress/e2e/bal-input-stepper.spec.cy.ts
  apps/angular/cypress/support/commands.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/input-stepper.component.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.interfaces.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.i18n.ts
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/index.ts
  packages/testing/src/commands/custom/get.command.ts
  packages/testing/src/commands/custom/get.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add input slider
  apps/angular/cypress/e2e/bal-input-slider.spec.cy.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/input-slider.component.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add select as dropdown
  apps/angular/cypress/e2e/bal-dropdown.spec.cy.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/select-dropdown.component.ts
Due: none

chore: add select tests
  apps/angular/cypress/e2e/bal-dropdown-multiple.spec.cy.ts
  apps/angular/cypress/e2e/bal-dropdown-typeahead.spec.cy.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/app.config.ts
  apps/angular/src/app/form-components/select-dropdown.component.ts
Due: none

chore: add checkboxes
  apps/angular/cypress/e2e/bal-checkbox-buttons.spec.cy.ts
  apps/angular/cypress/e2e/bal-checkbox-group.spec.cy.ts
  apps/angular/cypress/e2e/bal-checkbox.spec.cy.ts
  apps/angular/cypress/support/commands.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/checkbox-buttons.component.ts
  apps/angular/src/app/form-components/checkbox-group.component.ts
  apps/angular/src/app/form-components/checkbox.component.ts
Due: none

chore: add radios
  apps/angular/cypress/e2e/bal-radio-buttons.spec.cy.ts
  apps/angular/cypress/e2e/bal-radio.spec.cy.ts
  apps/angular/src/app/app.component.ts
  apps/angular/src/app/form-components/radio-buttons.component.ts
  apps/angular/src/app/form-components/radio.component.ts
Due: none

chore: fix tests
  apps/angular/cypress/e2e/bal-date.spec.cy.ts
  apps/angular/cypress/e2e/bal-dropdown-multiple.spec.cy.ts
  apps/angular/cypress/e2e/bal-dropdown-typeahead.spec.cy.ts
  apps/angular/cypress/e2e/bal-dropdown.spec.cy.ts
  apps/angular/cypress/e2e/bal-input-slider.spec.cy.ts
  apps/angular/cypress/e2e/bal-input.spec.cy.ts
  apps/angular/cypress/e2e/bal-textarea.spec.cy.ts
  apps/angular/src/app/app.component.ts
Due: none

chore: adjust commands
  apps/angular/cypress/support/commands.ts
  apps/angular/cypress/support/helpers.ts
Due: none

chore: update nightly
  .github/workflows/actions/setup-release/action.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
Due: none

feat(angular): provide events as streams
  .changeset/tough-dogs-tie.md
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update release actions
  .github/workflows/actions/setup-release/action.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
Due: none

✨ feat(angular): provide events as streams (#1024)
  .changeset/tough-dogs-tie.md
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update release actions
  .github/workflows/actions/setup-release/action.yml
Due: none

chore: merge branch 'main' into refactor/issue-695
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/default-date-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/min-and-max-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/value-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-date-calendar.visual.cy.ts/year-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-input.visual.cy.ts/input-date.png
Due: none

chore: update test lib
  apps/angular/cypress/support/commands.ts
  package-lock.json
  packages/testing/src/commands/custom/get.command.ts
  packages/testing/src/commands/custom/get.types.ts
  packages/testing/src/commands/helpers.ts
  test/cypress/component/bal-date-calendar-cell.cy.ts
  test/cypress/component/bal-date-calendar.cy.ts
  test/cypress/component/bal-date.cy.ts
  test/cypress/component/bal-input-date.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  cspell.json
  packages/testing/src/commands/custom/get.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add missing script
  package.json
  test/cypress/support/utils.ts
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
