Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

fix: handle ResizeObserver callback inside a AnimationFrame
  .changeset/khaki-pants-look.md
  .changeset/many-flowers-glow.md
  packages/components/src/utils/resize/resize.listener.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: handle ResizeObserver callback inside a AnimationFrame
  .changeset/many-flowers-glow.md
Due: none

fix: rename event to ev
  packages/components/src/components/bal-accordion/bal-accordion-summary/bal-accordion-summary.tsx
  packages/components/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.tsx
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/utils/constants/keys.constant.ts
  packages/components/src/utils/form-input.ts
  packages/components/src/utils/helpers.ts
  packages/components/src/utils/keyboard/keyboard.listener.ts
  packages/components/src/utils/overlays/notice.controller.ts
  packages/components/src/utils/overlays/overlays.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: rename event to ev
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-carousel/bal-carousel-item/bal-carousel-item.tsx
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/controls/dot-control.tsx
  packages/components/src/components/bal-data/bal-data-value/bal-data-value.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: rename event to ev
  packages/components/src/components/bal-navigation/bal-navigation-level-block-item/bal-navigation-level-block-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-main/bal-navigation-level-main.tsx
  packages/components/src/components/bal-navigation/bal-navigation-level-meta/bal-navigation-level-meta.tsx
  packages/components/src/components/bal-navigation/bal-navigation-popover/bal-navigation-popover.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-steps/components/step-button.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
  packages/components/src/components/bal-tabs/components/tab-select.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: rename event to ev
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-button/bal-radio-button.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-time-input/bal-time-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: rename event to ev
  packages/components/src/components/form/bal-input-slider/bal-input-slider.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): rename event to ev
  packages/components/src/components/form/bal-checkbox/bal-checkbox-button/bal-checkbox-button.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/components/file-list.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: rename event to ev
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/new-apricots-drum.md
Due: none

chore: fix import
  packages/components/src/components/bal-carousel/bal-carousel.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: downgrade contact js
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: downgrade contact js
  package-lock.json
Due: none

fix: load contact js after first render
  packages/components/src/utils/swipe/swipe.listener.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: waitAfterIdleCallback
  packages/components/cypress/support/component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait 32ms
  packages/components/cypress/support/component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

fix: double ids tabs and alt tag for images
  .changeset/happy-forks-tap.md
  .changeset/ten-squids-clap.md
  packages/components/src/components/bal-carousel/bal-carousel-item/bal-carousel-item.tsx
  packages/components/src/components/bal-stage/bal-stage-image/bal-stage-image.tsx
  packages/components/src/components/bal-tabs/components/tab-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust selector
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: wait after click
  packages/components/cypress/e2e/visual/bal-navbar.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock file
  package-lock.json
Due: none

feat(popup): add new component
  .build/data/tags.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popup/bal-popup.interfaces.ts
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/bal-popup.vars.sass
  packages/components/src/components/bal-popup/test/bal-poup.visual.html
  packages/components/src/components/bal-popup/variants/drawer-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/fullscreen-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/index.ts
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/variant.interfaces.ts
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  .changeset/honest-radios-teach.md
  packages/components/src/components/bal-popup/test/bal-poup.visual.html
Due: none

test(popup): add visual test
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/test/bal-popup.cy.html
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust visual ci
  .github/workflows/visual-base-components-a.yml
  .github/workflows/visual-base-components-b.yml
Due: none

chore: add test selectors
  packages/components/cypress/component/bal-popup.cy.ts
  packages/components/cypress/component/bal-popup.vue
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: improve popover variant
  package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popup/bal-popup.interfaces.ts
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
  packages/components/src/components/bal-popup/variants/abstract-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/drawer-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/fullscreen-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/variant.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/cypress/component/bal-popup.vue
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
Due: none

chore: is able to use 100% of width
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/bal-popup.vars.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust visual
  packages/components/cypress/e2e/visual/bal-popover.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/test/bal-popup.cy.html
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
  packages/components/src/components/bal-popup/variants/drawer-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-left-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-left-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-right-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-right-mobile-open.png
Due: none
