Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update ci to turbo
  .github/workflows/actions/build/action.yml
Due: none

chore: ci
  .github/workflows/continuous.yml
Due: none

chore: update ci
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/framework-build/action.yml
  .github/workflows/actions/framework-setup/action.yml
  .github/workflows/actions/framework-test/action.yml
  .github/workflows/actions/release-setup/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/continuous.yml
  Group.svg
  docs/package.json
  package-lock.json
  packages/core/package.json
  packages/css/package.json
  turbo.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci
  .github/workflows/continuous.yml
  package-lock.json
  package.json
Due: none

chore: fix ci build
  docs/src/components/checkbox/checkbox.stories.ts
  docs/src/components/icon/icon.stories.ts
  docs/src/components/radio/radio-group/radio-group.stories.ts
  docs/src/components/radio/radio.stories.ts
  docs/src/components/snackbar/snackbar.stories.ts
  docs/src/components/stack/stack.stories.ts
  docs/src/templates/error-page/error-page.stories.ts
  libs/output-target-angular/tsconfig.lib.json
  libs/output-target-web/tsconfig.lib.json
  package-lock.json
  package.json
  packages/assets/package.json
  packages/assets/tsconfig.lib.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci
  .actrc
  .github/workflows/actions/setup-environment/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/continuous.yml
  .gitignore
Due: none

chore: update ci
  .github/workflows/continuous.yml
Due: none

chore: update ci
  package.json
  vercel.json
Due: none

chore: update ci 2
  packages/core/playwright.config.mts
Due: none

docs: add security audit design spec for CRA compliance
  docs/specs/2026-05-13-security-audit-design.md
Due: none

docs: add security audit implementation plan
  docs/plans/2026-05-13-security-audit.md
Due: none

chore: update ci 3
  package.json
  packages/core/package.json
  packages/core/src/components/number-input/test/number-input.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci 4
  .github/workflows/continuous.yml
  package.json
  packages/core/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci 5
  .github/workflows/continuous.yml
Due: none

chore: update ci 6
  .github/workflows/continuous.yml
  .github/workflows/pr-comment.yml
  .github/workflows/update-shapshots.yml
  .github/workflows/visual-base.yml
  package.json
  packages/core/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci 7
  .github/workflows/continuous.yml
Due: none

chore: update ci 8
  packages/core/package.json
  packages/core/src/components/pagination/test/pagination.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update snapshots
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-alignment-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-alignment-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-dots-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-dots-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-ranges-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-ranges-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update ci 9
  .github/workflows/continuous.yml
Due: none

chore: update ci 10
  .github/workflows/continuous.yml
Due: none

chore: update ci 11
  .prettierignore
  packages/core/src/components/alert/test/alert.visual.play.ts
  packages/core/src/components/alert/test/snackbar.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci 12
  packages/core/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci 13
  package.json
  packages/core/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update ci 14
  .github/workflows/continuous.yml
  package.json
Due: none

chore: finish first update
  .changeset/fine-numbers-build.md
  .github/workflows/continuous copy.yml
  scripts/create-changeset.mjs
Due: none

chore: changeset config to next
  .changeset/config.json
Due: none

chore: update prepare release
  .github/workflows/continuous copy.yml
  .github/workflows/continuous.yml
  .github/workflows/nightly.yml
  .github/workflows/prepare-release.yml
  .github/workflows/publish.yml
Due: none

chore: update actions
  .changeset/config.json
  .changeset/pre.json
  .github/workflows/actions/archive-download/action.yml
  .github/workflows/actions/archive-upload/action.yml
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/download-archive/action.yml
  .github/workflows/actions/framework-build/action.yml
  .github/workflows/actions/framework-setup/action.yml
  .github/workflows/actions/framework-test/action.yml
  .github/workflows/actions/release-setup/action.yml
  .github/workflows/actions/setup-environment/action.yml
  .github/workflows/actions/upload-archive/action.yml
  .github/workflows/actions/upload-distribution-archives/action.yml
  .github/workflows/continuous.yml
  .github/workflows/prepare-release-(main).yml
  .github/workflows/publish.yml
  .gitignore
  README.md
  docs/package.json
  libs/eslint-plugin/package.json
  libs/output-target-angular/package.json
  libs/output-target-web/package.json
  packages/assets/LICENSE
  packages/assets/README.md
  packages/core/LICENSE
  packages/core/README.md
  packages/css/LICENSE
  packages/css/README.md
  packages/playwright/LICENSE
  packages/playwright/README.md
  packages/tokens/LICENSE
  packages/tokens/README.md
  scripts/pre-publish.mjs
Due: prettier --write

chore: update actions
  .github/workflows/pr-comment.yml
Due: none

chore: update actions
  .github/workflows/continuous.yml
  .github/workflows/pr-comment.yml
  .github/workflows/prepare-release-(main).yml
  .github/workflows/prepare-release.yml
  .github/workflows/release.yml
Due: none

chore: test
  TODOS.md
Due: none

chore: update pr-comment
  .github/workflows/pr-comment.yml
Due: none

update snapshots
  packages/core/playwright.visual.config.mts
Due: none

chore: update pr-comment
  .github/workflows/pr-comment.yml
  .gitignore
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
