Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-sheet.visual.cy.ts/sheet-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-sheet.visual.cy.ts/sheet-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-sheet.visual.cy.ts/sheet-basic-tablet.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore(): add from to the import of markers and styles in maps documentation
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add from to the import of markers and styles in maps documen… (#932)
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-link): add new component
  .build/data/tags.json
  .changeset/lazy-olives-fix.md
  packages/components/cypress/e2e/visual/bal-nav-link.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.tsx
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.vars.sass
  packages/components/src/components/bal-nav/bal-nav-link/test/bal-nav-link.visual.html
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/components/bal-nav/bal-nav-link/test/bal-nav-link.visual.html
Due: none

feat: add new component bal-meta-bar
  .build/data/tags.json
  .changeset/funny-grapes-flash.md
  packages/components/cypress/e2e/visual/bal-meta-bar.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-meta-bar/bal-meta-bar.interfaces.ts
  packages/components/src/components/bal-meta-bar/bal-meta-bar.sass
  packages/components/src/components/bal-meta-bar/bal-meta-bar.tsx
  packages/components/src/components/bal-meta-bar/bal-meta-bar.vars.sass
  packages/components/src/components/bal-meta-bar/test/bal-meta-bar.visual.html
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta.png
Due: none

chore: change timeout
  .github/workflows/visual-base.yml
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-grid-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-grid-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-grid-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-basic-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-grid-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta.png
Due: none

test: adjust visual tests
  .github/workflows/continuous.yml
  .github/workflows/visual-base-components-a.yml
  .github/workflows/visual-base-components-b.yml
  .github/workflows/visual-base-css.yml
  .github/workflows/visual-base-file.yml
  .github/workflows/visual-base.yml
  package.json
  packages/components/cypress/support/e2e.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust visual tests 3
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/cypress/e2e/visual/snapshot-util.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust visual tests 4
  packages/components/cypress/support/e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(popup): trigger can define variant
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/test/bal-popup.cy.html
  packages/components/src/components/bal-popup/variants/abstract-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/drawer-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/fullscreen-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(popup): trigger can define placement
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/test/bal-popup.cy.html
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: implement PR feedback
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.tsx
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.vars.sass
  packages/components/src/components/bal-nav/bal-nav-link/test/bal-nav-link.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-popup/test/bal-popup.cy.html
Due: none

chore: format files
  packages/components/src/components/bal-nav/bal-nav-link/test/bal-nav-link.visual.html
Due: none

chore: adjust test
  packages/components/cypress/e2e/visual/bal-meta-bar.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-meta-bar.visual.cy.ts/meta-bar-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-meta-bar.visual.cy.ts/meta-bar-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-meta-bar.visual.cy.ts/meta-bar-tablet.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-nav-link.visual.cy.ts/basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link.visual.cy.ts/basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link.visual.cy.ts/with-title-link-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-nav-link.visual.cy.ts/with-title-link-mobile.png
Due: none

chore: update lock file
  package-lock.json
Due: none

chore: update tags
  .build/data/tags.json
Due: none

feat: add new component bal-nav-menu-bar
  .changeset/afraid-elephants-grow.md
  cspell.json
  packages/components/cypress/e2e/visual/bal-nav-menu-bar.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-nav-meta-bar.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-meta-bar/bal-meta-bar.interfaces.ts
  packages/components/src/components/bal-meta-bar/bal-meta-bar.vars.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.vars.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/test/bal-nav-menu-bar.visual.html
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.vars.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/test/bal-nav-meta-bar.visual.html
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add shadow
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.vars.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/test/bal-nav-menu-bar.visual.html
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/test/bal-nav-meta-bar.visual.html
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: transform when scroll
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add component flyout
  packages/components/cypress/e2e/visual/bal-nav-menu-flyout.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-bar/test/bal-nav-menu-flyout.visual.html
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.vars.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add flyout border when active
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.vars.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/test/bal-nav-menu-flyout.visual.html
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-colors-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-touch-tablet-open.png
Due: none
