Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(hint): close label is now optional
  cspell.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(datepicker): adds missing days to february
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.7.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(font): move css files to a css folder
  packages/fonts/css/fonts.cdn.css
  packages/fonts/css/fonts.css
Due: prettier --write

docs: format changelog
  CHANGELOG.md
Due: none

fix(file-upload): label text breaks if to long
  packages/components/src/components/form/bal-file-upload/bal-file-upload.scss
Due: prettier --write

chore: adjust prop types
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/props.d.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs(accordion): adjust spacing
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(hint): adjust spacing to level 5
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(datepicker): adjust spacing to level 5
  packages/components/src/components/form/bal-datepicker/bal-datepicker.scss
Due: prettier --write

fix(notification): adjust spacing to level 5
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(snackbar): adjust spacing to level 5
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.scss
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(sheet): adjust spacing to level 5
  packages/components/src/components/notice/bal-sheet/bal-sheet.scss
  packages/components/src/components/notice/bal-sheet/bal-sheet.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(modal): adjust spacing to level 5
  packages/components/src/components/notice/bal-modal/bal-modal.scss
Due: prettier --write

chore(release): v10.7.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add visual regression test
  .gitignore
  package-lock.json
  package.json
  packages/components/src/components/bal-button/index.html
  packages/testing/cypress.json
  packages/testing/cypress/integration/visual/button.visual.spec.ts
  packages/testing/cypress/plugins/index.ts
  packages/testing/cypress/snapshots/base/visual/button.visual.spec.ts/button-base-1648707216411.png
  packages/testing/cypress/snapshots/base/visual/button.visual.spec.ts/button-base.png
  packages/testing/cypress/support/commands.ts
  packages/testing/cypress/support/pages/button.page.ts
  packages/testing/package.json
  packages/testing/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(snackbar): button can also be a link
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.scss
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(tabs): can have a bottom border
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(select): basic select opens and closes on input click
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(testing): fix input selector for number-inputs
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(testing): add command to find open modal
  packages/testing/src/commands/custom/bal-modal.command.ts
  packages/testing/src/commands/custom/bal-modal.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal): body and header can be used in nested elements
  packages/components/src/components/notice/bal-modal/bal-modal.scss
Due: prettier --write

chore: build artifact
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(modal): reduce spacing header
  packages/components/src/components/notice/bal-modal/bal-modal.scss
Due: prettier --write

chore(): add tests for bal-input-util
  packages/components/src/components/form/bal-input/test/bal-input-util.spec.ts
  packages/components/src/components/form/bal-select/test/utils.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(tag): add visual regression test
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tag/bal-tag.scss
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/bal-tag/index.html
  packages/components/src/components/bal-tag/test/bal-tag.e2e.html
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/testing/cypress/integration/visual/button.visual.spec.ts
  packages/testing/cypress/integration/visual/visual.spec.ts
  packages/testing/cypress/snapshots/base/visual/button.visual.spec.ts/button-base-1648707216411.png
  packages/testing/cypress/snapshots/base/visual/button.visual.spec.ts/button-base.png
  packages/testing/cypress/snapshots/base/visual/visual.spec.ts/tag-basic-base-1648845488200.png
  packages/testing/cypress/snapshots/base/visual/visual.spec.ts/tag-basic-base.png
  packages/testing/cypress/snapshots/base/visual/visual.spec.ts/tag-variants-base-1648845488572.png
  packages/testing/cypress/snapshots/base/visual/visual.spec.ts/tag-variants-base.png
  packages/testing/cypress/support/commands.ts
  packages/testing/cypress/support/commands.types.ts
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: add visual regression test
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add visual regression test
  package.json
Due: none

chore: upload visual screenshots if failing
  .github/workflows/continuous.yml
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
Due: none

chore: upload visual screenshots if failing
  .github/workflows/continuous.yml
Due: none

chore: upload visual screenshots if failing
  .github/workflows/continuous.yml
  packages/testing/cypress/integration/00-visual/visual.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: upload visual screenshots if failing
  packages/testing/cypress/snapshots/base/00-visual/visual.spec.ts/tag-basic-base-1648845488200.png
  packages/testing/cypress/snapshots/base/00-visual/visual.spec.ts/tag-basic-base.png
  packages/testing/cypress/snapshots/base/00-visual/visual.spec.ts/tag-variants-base-1648845488572.png
  packages/testing/cypress/snapshots/base/00-visual/visual.spec.ts/tag-variants-base.png
Due: none

chore: update root deps
  package-lock.json
  package.json
Due: none

chore: ignore cypress for unit tests
  packages/components/stencil.test.config.ts
  packages/components/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update base image
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-basic-base-1649061369600.png
  packages/components/cypress/snapshots/base/visual/visual-regression.spec.ts/tag-variants-base-1649061369955.png
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
