Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav-desktop): add hover native underlines
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

chore: update GitHub issue templates
  .github/ISSUE_TEMPLATE/breaking-changes.md
Due: none

fix(nav-desktop): fix sticky behaviour and z-index + adjust docs style
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/stories/assets/css/theme.css
Due: prettier --write

chore: update GitHub issue template
  .github/ISSUE_TEMPLATE/bug-report.md
Due: none

Create issues.yaml
  .github/workflows/issues.yaml
Due: none

chore: update workflow
  .github/workflows/issues.yml
Due: none

fix(nav-desktop): fix main nav head divider line from desktop
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

chore: update github issue template
  .github/ISSUE_TEMPLATE/design-request.md
Due: none

chore: update GitHub issue template
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

chore: update GitHub issue template
  .github/ISSUE_TEMPLATE/design-request.md
Due: none

chore: update github issue template
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore: update GitHub issue templates
  .github/ISSUE_TEMPLATE/feedback.md
Due: none

chore: update Github issue template
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore: remove issue workflow
  .github/workflows/issues.yml
Due: none

chore(core): update storybook script
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/stencil.docs.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update stencil build for docs
  packages/components/stencil.docs.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-shape): shape changed to SVG (#305)
  packages/components/src/components/bal-shape/bal-shape.sass
  packages/components/src/components/bal-shape/bal-shape.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Fix/stage image refactoring (#298)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-stage/bal-stage-image/bal-stage-image.tsx
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-stage/bal-stage.tsx
  packages/components/src/components/bal-stage/stories/bal-stage.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(core): update storybook script 2
  packages/components/package.json
  packages/components/stencil.docs.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(core): update storybook part 4
  package.json
  packages/components/package.json
  packages/components/stencil.docs.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove vite fixes
  .build/copy.js
  .eslintignore
  .gitignore
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/stencil-vite-fix/README.md
  packages/stencil-vite-fix/bin/index.js
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(core): update storybook part 5
  packages/components/stencil.docs.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update to lerna 5
  package-lock.json
  package.json
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add cypress tests
  package-lock.json
  packages/components/cypress/e2e/base/accordion.cy.ts
  packages/components/cypress/e2e/base/button.cy.ts
  packages/components/cypress/e2e/base/checkbox.cy.ts
  packages/components/cypress/e2e/base/datepicker.cy.ts
  packages/components/cypress/e2e/base/hint.cy.ts
  packages/components/cypress/e2e/base/input.cy.ts
  packages/components/cypress/e2e/base/modal.cy.ts
  packages/components/cypress/e2e/base/pagination.cy.ts
  packages/components/cypress/e2e/base/popover.cy.ts
  packages/components/cypress/e2e/base/product-slider.cy.ts
  packages/components/cypress/e2e/base/radio.cy.ts
  packages/components/cypress/e2e/base/select.cy.ts
  packages/components/cypress/e2e/base/slider.cy.ts
  packages/components/cypress/e2e/base/snackbar.cy.ts
  packages/components/cypress/e2e/base/tabs.cy.ts
  packages/components/cypress/e2e/base/textarea.cy.ts
  packages/components/cypress/e2e/base/toast.cy.ts
  packages/components/cypress/e2e/base/url.cy.ts
  packages/components/cypress/e2e/legacy/accordion.legacy.cy.ts
  packages/components/cypress/e2e/legacy/button.legacy.cy.ts
  packages/components/cypress/e2e/legacy/checkbox.legacy.cy.ts
  packages/components/cypress/e2e/legacy/dropdown.legacy.cy.ts
  packages/components/cypress/e2e/legacy/icon.legacy.cy.ts
  packages/components/cypress/e2e/legacy/input.legacy.cy.ts
  packages/components/cypress/e2e/legacy/link.legacy.cy.ts
  packages/components/cypress/e2e/legacy/list.legacy.cy.ts
  packages/components/cypress/e2e/legacy/multi-select.legacy.cy.ts
  packages/components/cypress/e2e/legacy/select-button.legacy.cy.ts
  packages/components/cypress/e2e/legacy/tabs.legacy.cy.ts
  packages/components/cypress/e2e/legacy/tile.legacy.cy.ts
  packages/components/cypress/e2e/legacy/toast.legacy.cy.ts
  packages/components/cypress/e2e/legacy/tooltip.legacy.cy.ts
  packages/components/cypress/e2e/legacy/typeahead.legacy.cy.ts
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add cypress tests 2
  .github/workflows/continuous.yml
  packages/components/cypress.config.ts
  packages/components/cypress/e2e/base/datepicker.cy.ts
  packages/components/cypress/e2e/base/tabs.cy.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add cypress tests 3
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 4
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 5
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 6
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 7
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 8
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 9
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 10
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 11
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 12
  packages/components/cypress/support/component-index.html
Due: none

chore: add cypress tests 13
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 14
  .github/workflows/continuous.yml
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add cypress tests 15
  .github/workflows/continuous.yml
Due: none

fix(nav-desktop): adjust transform on scroll and delete it for docs
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/stories/assets/css/theme.css
Due: prettier --write

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
