Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update path
  packages/components/src/components/bal-accordion/index.html
  packages/components/src/components/bal-button/index.html
  packages/components/src/components/bal-data/index.html
  packages/components/src/components/bal-footer/index.html
  packages/components/src/components/bal-heading/index.html
  packages/components/src/components/bal-hint/index.html
  packages/components/src/components/bal-icon/index.html
  packages/components/src/components/bal-list/index.html
  packages/components/src/components/bal-navbar/index.html
  packages/components/src/components/bal-pagination/index.html
  packages/components/src/components/bal-popover/index.html
  packages/components/src/components/bal-spinner/index.html
  packages/components/src/components/bal-table/index.html
  packages/components/src/components/bal-tabs/index.html
  packages/components/src/components/bal-tag/index.html
  packages/components/src/components/bal-text/index.html
  packages/components/src/components/form/bal-checkbox/index.html
  packages/components/src/components/form/bal-datepicker/index.html
  packages/components/src/components/form/bal-field/index.html
  packages/components/src/components/form/bal-file-upload/index.html
  packages/components/src/components/form/bal-input/index.html
  packages/components/src/components/form/bal-radio/index.html
  packages/components/src/components/form/bal-select/index.html
  packages/components/src/components/form/bal-slider/index.html
  packages/components/src/components/form/bal-textarea/index.html
  packages/components/src/components/form/bal-timeinput/index.html
  packages/components/src/components/notice/bal-modal/index.html
  packages/components/src/components/notice/bal-notification/index.html
  packages/components/src/components/notice/bal-sheet/index.html
  packages/components/src/components/notice/bal-snackbar/index.html
  packages/components/src/components/notice/bal-toast/index.html
  packages/components/stencil.dev.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(heading): add missing spacees
  packages/components/src/components.d.ts
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-heading/stories/bal-heading.templates.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: remove bold keyword
  packages/components/src/stories/design/02-typography.stories.mdx
Due: prettier --write

docs: adjust fonts
  packages/components/src/stories/assets/css/theme.css
Due: prettier --write

docs: asdjust font colors
  packages/components/src/components.d.ts
  packages/components/src/components/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/bal-text/stories/bal-text.stories.ts
  packages/components/src/stories/design/02-typography.stories.mdx
  packages/components/src/styles/helpers/colors.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: adjust props
  packages/components/src/components/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/bal-text/stories/bal-text.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(card): add new design
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/bal-card.tsx
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-text/bal-text.scss
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.tsx
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/types/color.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update docs
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/stories/migration/99-migration-from-old-to-next.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(text): add heading attribute to change the font family
  packages/components/src/components/bal-text/bal-text.scss
  packages/components/src/components/bal-text/bal-text.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

style(icon): define default color
  packages/components/src/components/bal-icon/bal-icon.scss
Due: prettier --write

docs: adjust welcome page
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write

feat(button): add new styles
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/buttons.scss
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.templates.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(card): add missing subcomponents
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card-actions/bal-card-actions.tsx
  packages/components/src/components/bal-card/bal-card-button/bal-card-button.tsx
  packages/components/src/components/bal-card/bal-card-content/bal-card-content.tsx
  packages/components/src/components/bal-card/bal-card-subtitle/bal-card-subtitle.tsx
  packages/components/src/components/bal-card/bal-card-title/bal-card-title.tsx
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-heading/bal-heading.scss
  packages/components/src/stories/migration/08-migration-from-8x-to-9x.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add missing card subcomponents
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/bal-card/bal-card-actions/bal-card-actions.tsx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-data/stories/bal-data.stories.ts
  packages/components/src/components/docs/bal-doc-download/bal-doc-download.tsx
  packages/components/src/components/form/bal-field/stories/bal-field.stories.ts
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/stories/design/templates/contact-form.template.ts
  packages/components/src/stories/design/templates/external-caluclator.template.ts
  packages/components/src/stories/design/templates/external-portal.template.ts
  packages/components/src/stories/design/templates/internal-form.template.ts
  packages/components/src/stories/design/templates/internal-wide.template.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add component api for sub components
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
Due: prettier --write

chore(release): v9.0.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(container): use real value for the angular scss compiler
  packages/components/src/styles/elements/container.scss
Due: prettier --write

fix(proxy): export ProxyComponent interface
  packages/components-angular/src/helpers.ts
  packages/components-vue/src/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update modal usage angular
  packages/components/src/stories/getting-started/angular/03-03-usage-modal.stories.mdx
Due: prettier --write

feat(accordion): add new styles
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.scss
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/stories/bal-button.templates.ts
  packages/components/src/stories/design/01-colors.stories.mdx
  packages/components/src/types/color.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: update fonts
  packages/fonts/lib/BaloiseCreateHeadline-Bold.ttf
  packages/fonts/lib/BaloiseCreateHeadline-Bold.woff
  packages/fonts/lib/BaloiseCreateHeadline-Bold.woff2
  packages/fonts/lib/BaloiseCreateHeadline-Light.ttf
  packages/fonts/lib/BaloiseCreateHeadline-Light.woff
  packages/fonts/lib/BaloiseCreateHeadline-Light.woff2
  packages/fonts/lib/BaloiseCreateHeadline-bold.eot
  packages/fonts/lib/BaloiseCreateHeadline-light.eot
  packages/fonts/lib/BaloiseCreateText-Bold.woff
  packages/fonts/lib/BaloiseCreateText-Bold.woff2
  packages/fonts/lib/BaloiseCreateText-Regular.woff
  packages/fonts/lib/BaloiseCreateText-Regular.woff2
  packages/fonts/lib/BaloiseCreateText-bold.eot
  packages/fonts/lib/BaloiseCreateText-bold.ttf
  packages/fonts/lib/BaloiseCreateText-regular.eot
  packages/fonts/lib/BaloiseCreateText-regular.ttf
  packages/fonts/lib/fonts.cdn.css
  packages/fonts/lib/fonts.css
  packages/fonts/scss/fonts.scss
Due: prettier --write

chore: format files
  packages/components/src/stories/welcome/why.stories.mdx
Due: prettier --write

chore: update types
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v9.0.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: update icons
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/icons/src/icons.ts
  packages/icons/svg/minus.svg
  packages/icons/svg/plus.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: adjust selector
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove fonts
  packages/fonts/lib/BaloiseCreateHeadline-Bold.ttf
  packages/fonts/lib/BaloiseCreateHeadline-Bold.woff
  packages/fonts/lib/BaloiseCreateHeadline-Bold.woff2
  packages/fonts/lib/BaloiseCreateHeadline-Light.ttf
  packages/fonts/lib/BaloiseCreateHeadline-Light.woff
  packages/fonts/lib/BaloiseCreateHeadline-Light.woff2
  packages/fonts/lib/BaloiseCreateHeadline-bold.eot
  packages/fonts/lib/BaloiseCreateHeadline-light.eot
  packages/fonts/lib/BaloiseCreateText-Bold.woff
  packages/fonts/lib/BaloiseCreateText-Bold.woff2
  packages/fonts/lib/BaloiseCreateText-Regular.woff
  packages/fonts/lib/BaloiseCreateText-Regular.woff2
  packages/fonts/lib/BaloiseCreateText-bold.eot
  packages/fonts/lib/BaloiseCreateText-bold.ttf
  packages/fonts/lib/BaloiseCreateText-regular.eot
  packages/fonts/lib/BaloiseCreateText-regular.ttf
Due: none

chore: add fonts
  packages/fonts/lib/BaloiseCreateHeadline-bold.ttf
  packages/fonts/lib/BaloiseCreateHeadline-bold.woff
  packages/fonts/lib/BaloiseCreateHeadline-bold.woff2
  packages/fonts/lib/BaloiseCreateHeadline-light.ttf
  packages/fonts/lib/BaloiseCreateHeadline-light.woff
  packages/fonts/lib/BaloiseCreateHeadline-light.woff2
  packages/fonts/lib/BaloiseCreateText-bold.ttf
  packages/fonts/lib/BaloiseCreateText-bold.woff
  packages/fonts/lib/BaloiseCreateText-bold.woff2
  packages/fonts/lib/BaloiseCreateText-regular.ttf
  packages/fonts/lib/BaloiseCreateText-regular.woff
  packages/fonts/lib/BaloiseCreateText-regular.woff2
Due: none

chore: change allow branch to next
  lerna.json
Due: none

chore(release): v9.1.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
