Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat(bal-slider): added description for label prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-slider/bal-slider-item/bal-slider-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-slider): adjusted label desc
  packages/components/src/components.d.ts
  packages/components/src/components/bal-slider/bal-slider-item/bal-slider-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-popover-open-base.png
Due: none

chore: trigger rebuild
  CHANGELOG.md
Due: none

feat(bal-slider): removed the get label public method
  packages/components/src/components.d.ts
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-slider/bal-slider-item/bal-slider-item.tsx
  packages/components/src/components/bal-slider/bal-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-slider): removed console log
  packages/components/src/components/bal-pagination/bal-pagination.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-slider): improvements
  packages/components/src/components.d.ts
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-slider/bal-slider-item/bal-slider-item.tsx
  packages/components/src/components/bal-slider/bal-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.23.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(list): synchronices the accrodion bodies is set
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-pagination): add prop to disable controls and dots for context small (#662)
  packages/components/src/components/bal-button/bal-button.sass
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.24.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add alpha canary release
  package.json
Due: none

chore(): appropriate change
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/radio-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/select-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/text-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix host listener for focusout
  packages/components-angular/src/directives/value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): bind balBlur to onTouch in angular, fixes #453,#623
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components-angular/src/directives/checkbox-accessor.ts
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/text-value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): try to bind focusout on directive
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/radio-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/select-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/text-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/text-value-accessor.ts
  packages/components-angular/src/directives/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): depend on new version of @baloise/design-system-next-output-target-angular
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve build of angular value accessors
  packages/components-angular/src/directives/boolean-value-accessor.ts
  packages/components-angular/src/directives/checkbox-value-accessor.ts
  packages/components-angular/src/directives/number-value-accessor.ts
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/components-angular/src/index.ts
  packages/components-angular/src/shared.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/checkbox-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/number-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/radio-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/select-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/text-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components-angular/src/directives/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.24.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): verify if window object exist when checking if current browser is Safari
  packages/components/src/utils/browser.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): refactor
  packages/components/src/utils/browser.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(list): add prop for setting the justify content to the item-content
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list-item-content/bal-list-item-content.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(list): add prop for setting the justify content to the item-content
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.24.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(snackbar): add fixed width for mobile, tablet and desktop
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-mobile-base.png
Due: none

chore(list): add timeout for calcContentHeight function in componentDidRender
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(product-slider): add line-height to the label of the slider-item
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
Due: none

chore(list): add timeout for calcContentHeight function in componentDidLoad
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(navigation): add 10ms to the navigation visual test timeout
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
