Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat: add breakpoint utils
  packages/components/src/utils/breakpoints.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add breakpoint service
  packages/components-angular/src/breakpoints.service.ts
  packages/components-angular/src/index.ts
  packages/components-angular/src/module.ts
  packages/components/src/utils/breakpoints.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update breakpoint service and accordion events
  packages/components-angular/src/breakpoints.service.ts
  packages/components/src/components/bal-accordion/bal-accordion.interfaces.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: enable animation events
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.interfaces.ts
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navbar/bal-navbar.interfaces.ts
  packages/components/src/components/bal-popover/bal-popover.interfaces.ts
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-tabs/bal-tabs.interfaces.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update breakpoints docs
  packages/components-angular/src/breakpoints.service.ts
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
  packages/components/src/stories/foundation/grid/02-development.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: adjust changelog
  .changeset/gold-ravens-change.md
Due: none

chore: update lock file
  package-lock.json
Due: none

chore: update release workflow
  .github/workflows/release.yml
Due: none

feat(badge): add new colors
  .changeset/large-chairs-jog.md
  packages/components/src/components/bal-badge/bal-badge.interfaces.ts
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-badge/bal-badge.vars.sass
  packages/components/src/components/bal-badge/stories/theming.md
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: revert badge changes
  packages/components/src/components/bal-badge/bal-badge.interfaces.ts
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-badge/bal-badge.vars.sass
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
Due: none

feat(badge): add new colors
  packages/components/src/components/bal-badge/bal-badge.interfaces.ts
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-badge/bal-badge.vars.sass
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-badge/stories/bal-badge.stories.ts
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add theming to the css framework
  .build/utils/file.js
  package-lock.json
  package.json
  packages/components/config/doc-output-target/index.ts
  packages/components/src/components/bal-badge/stories/theming.md
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/stories/development/guides/theming/theming.md
  packages/components/src/stories/development/guides/theming/theming.stories.mdx
  packages/css/index.html
  packages/css/sass/core.sass
  packages/css/sass/structure.sass
  packages/css/src/core/form/button.sass
  packages/css/src/core/form/file.sass
  packages/css/src/core/form/input-textarea.sass
  packages/css/src/core/form/select.sass
  packages/css/src/core/form/shared.sass
  packages/css/src/core/form/tools.sass
  packages/css/src/core/layout/link.sass
  packages/css/src/core/layout/list.sass
  packages/css/src/core/layout/table.sass
  packages/css/src/core/layout/typography.sass
  packages/css/src/core/vars/_all.sass
  packages/css/src/core/vars/button.vars.sass
  packages/css/src/core/vars/form.vars.sass
  packages/css/src/core/vars/link.vars.sass
  packages/css/src/core/vars/list.vars.sass
  packages/css/src/core/vars/structure.vars.sass
  packages/css/src/core/vars/table.vars.sass
  packages/css/src/core/vars/typography.vars.sass
  packages/css/src/mixins/general.mixin.sass
  packages/css/src/structure/mixins.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  .prettierignore
  packages/css/index.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-button-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-card-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-icon-base.png
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/button-variants-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navbar-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-navigation-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-vertical-tablet-base.png
Due: none

chore: add build artifacts
  cspell.json
  packages/components/src/stories/development/guides/theming/theming.md
  packages/components/src/utils/constants/icons.constant.ts
  packages/css/src/core/vars/table.vars.sass
  packages/icons/src/index.ts
  packages/maps/src/markers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: change font weight of the message
  packages/css/src/core/vars/form.vars.sass
Due: none

fix: visual issues
  packages/css/src/core/layout/link.sass
  packages/css/src/core/vars/link.vars.sass
  packages/css/src/core/vars/structure.vars.sass
Due: none

chore: strong inherits color
  packages/css/sass/structure.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-file-upload.visual.cy.ts/file-upload-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-file-upload.visual.cy.ts/file-upload-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-file-upload.visual.cy.ts/file-upload-disabled-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-file-upload.visual.cy.ts/file-upload-readonly-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-file-upload.visual.cy.ts/file-upload-readonly-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-file-upload.visual.cy.ts/file-upload-readonly-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-basic-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-basic-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-icon-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-icon-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-phone-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-phone-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-tags-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-tags-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/visual/css-structure.visual.cy.ts/css-structure-inheritance-base.png
Due: none

feat(utils): add device, breakpoints and browser util
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/bal-badge/stories/theming.md
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-navbar/bal-navbar-menu/bal-navbar-menu.tsx
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-popover/bal-popover.tsx
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/index.ts
  packages/components/src/initialize.ts
  packages/components/src/utils/breakpoints/breakpoints.handler.ts
  packages/components/src/utils/breakpoints/breakpoints.map.ts
  packages/components/src/utils/breakpoints/breakpoints.ts
  packages/components/src/utils/breakpoints/index.ts
  packages/components/src/utils/browser.ts
  packages/components/src/utils/device.ts
  packages/components/src/utils/helpers.ts
  packages/components/src/utils/legacy.ts
  packages/components/src/utils/platform.ts
  packages/components/src/utils/resize.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: lint issue
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: deprecate platform
  packages/components/src/index.ts
  packages/components/src/utils/platform.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(heading): add auto level
  .changeset/soft-glasses-give.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-badge/stories/theming.md
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/components/src/components/typography/bal-heading/bal-heading.const.ts
  packages/components/src/components/typography/bal-heading/bal-heading.interfaces.ts
  packages/components/src/components/typography/bal-heading/bal-heading.sass
  packages/components/src/components/typography/bal-heading/bal-heading.tsx
  packages/components/src/components/typography/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/typography/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/typography/bal-heading/test/bal-heading.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add orientation utils
  .changeset/many-keys-rest.md
  packages/components-angular/src/index.ts
  packages/components-angular/src/module.ts
  packages/components-angular/src/orientation.service.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-tabs/components/tab-select.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.controller.ts
  packages/components/src/index.ts
  packages/components/src/initialize.ts
  packages/components/src/stories/foundation/grid/02-development.docs.mdx
  packages/components/src/utils/breakpoints/breakpoints.handler.ts
  packages/components/src/utils/breakpoints/breakpoints.ts
  packages/components/src/utils/browser.ts
  packages/components/src/utils/config/config.ts
  packages/components/src/utils/config/index.ts
  packages/components/src/utils/config/initialize.ts
  packages/components/src/utils/device.ts
  packages/components/src/utils/element-states.ts
  packages/components/src/utils/helpers.ts
  packages/components/src/utils/legacy.ts
  packages/components/src/utils/log.ts
  packages/components/src/utils/orientation.ts
  packages/components/src/utils/overlays/notice.controller.ts
  packages/components/src/utils/overlays/overlays.ts
  packages/components/src/utils/platform.ts
  packages/components/src/utils/resize.ts
  packages/components/src/utils/scroll.ts
  tsconfig.base.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-tablet-base.png
Due: none

:sparkles: feat(heading): add auto level (#828)
  .changeset/soft-glasses-give.md
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-tablet-base.png
  packages/components/src/components.d.ts
  packages/components/src/components/bal-badge/stories/theming.md
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/components/src/components/typography/bal-heading/bal-heading.const.ts
  packages/components/src/components/typography/bal-heading/bal-heading.interfaces.ts
  packages/components/src/components/typography/bal-heading/bal-heading.sass
  packages/components/src/components/typography/bal-heading/bal-heading.tsx
  packages/components/src/components/typography/bal-heading/stories/bal-heading.docs.mdx
  packages/components/src/components/typography/bal-heading/stories/bal-heading.stories.ts
  packages/components/src/components/typography/bal-heading/test/bal-heading.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add path aliases
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Revert "chore: add path aliases"
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Revert "Revert "chore: add path aliases""
  packages/components/src/components/bal-hint/bal-hint.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
