Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  .build/copy.js
  packages/stencil-vite-fix/README.md
Due: prettier --write

chore: update ci with spell check
  .github/workflows/continuous.yml
Due: none

feat(footer): display language selection
  packages/components/src/components/bal-footer/bal-footer.scss
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/config/config.ts
  packages/components/src/config/config.types.ts
  packages/components/src/config/index.ts
  packages/components/src/config/initialize.ts
  packages/components/src/stories/getting-started/04-internationalization.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(footer): make language selection hideable
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add flexbox helpers
  packages/components/src/stories/design/04-spacing.docs.mdx
  packages/components/src/stories/design/10-flexbox-helpers.stories.mdx
Due: prettier --write

docs: add flexbox helpers
  packages/components/src/stories/design/04-spacing.docs.mdx
Due: prettier --write

docs(configuration): add allowedLanguages docs
  packages/components/src/stories/getting-started/vue/01-installation.stories.mdx
Due: prettier --write

docs: add flexbox helpers
  packages/components/src/components/bal-button/index.html
  packages/components/src/components/bal-button/stories/bal-button.templates.ts
  packages/components/src/components/bal-spinner/index.html
  packages/components/src/components/form/bal-checkbox/index.html
  packages/components/src/components/form/bal-datepicker/index.html
  packages/components/src/components/form/bal-input/index.html
  packages/components/src/components/form/bal-timeinput/index.html
  packages/components/src/stories/design/04-spacing.docs.mdx
  packages/components/src/stories/design/10-flexbox-helpers.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.0.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update changelog
  CHANGELOG.md
Due: none

fix(bal-tabs): change tabs style
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-item.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-pagination): fix tests
  packages/testing/src/commands/custom/bal-pagination.command.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select-button): add support for mobile devices
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.scss
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add improved cypress script
  package.json
  packages/components/src/stories/contributing/04-commands.stories.mdx
Due: prettier --write

feat(list): migrated list
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-list/native-list.scss
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/icons/src/icons.ts
  packages/icons/svg/audio.svg
  packages/icons/svg/file.svg
  packages/icons/svg/picture.svg
  packages/icons/svg/video.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: merge master into next
  packages/components/src/components/form/bal-radio/bal-radio-group/readme.md
Due: prettier --write

chore: merge master into next
  package-lock.json
Due: none

chore: add types
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update build config
  packages/components-angular/ng-package.json
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/.build/stencil/stencil.bindings.react.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update build config
  packages/components-angular/ng-package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update stories
  packages/components/src/components.d.ts
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
  packages/components/src/components/bal-list/stories/bal-list.docs.mdx
  packages/components/src/components/bal-popover/stories/bal-popover.stories.ts
  packages/components/src/components/bal-spinner/stories/bal-spinner.stories.ts
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/bal-tag/stories/bal-tag.docs.mdx
  packages/components/src/components/bal-tag/stories/bal-tag.stories.ts
  packages/components/src/components/bal-tag/stories/bal.tag.templates.ts
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.stories.ts
  packages/components/src/types/color.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(select): rebranded
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/bal-icon.scss
  packages/components/src/components/bal-text/bal-text.scss
  packages/components/src/components/form/bal-input/bal-input.scss
  packages/components/src/components/form/bal-select/bal-select-option/bal-select-option.scss
  packages/components/src/components/form/bal-select/bal-select.scss
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/components/form/bal-select/stories/bal-select.templates.ts
  packages/components/src/styles/form/input-textarea.scss
  packages/components/src/types/color.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(): navbar & hint
  packages/components/src/components.d.ts
  packages/components/src/components/bal-hint/bal-hint-text/bal-hint-text.tsx
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
  packages/components/src/components/bal-hint/bal-hint.scss
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
  packages/components/src/components/bal-navbar/bal-navbar.scss
  packages/components/src/components/bal-navbar/bal-navbar.tsx
  packages/components/src/components/bal-navbar/bal-navbar.vars.scss
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
  packages/components/src/components/bal-pagination/stories/bal-pagination.stories.ts
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
  packages/components/src/components/notice/bal-modal/stories/bal-modal.stories.ts
  packages/components/src/components/notice/bal-notification/stories/bal-notification.stories.ts
  packages/components/src/components/notice/bal-sheet/bal-sheet.scss
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.stories.ts
  packages/components/src/components/notice/bal-toast/stories/bal-toast.stories.ts
  packages/components/src/styles/utilities/variables/colors.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Update 01-installation.stories.mdx
  packages/components/src/stories/getting-started/angular/01-installation.stories.mdx
Due: prettier --write

feat(): add file upload
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-footer/bal-footer.scss
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/bal-text/bal-text.scss
  packages/components/src/components/form/bal-datepicker/bal-datepicker.scss
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.stories.ts
  packages/components/src/components/form/bal-field/bal-field.scss
  packages/components/src/components/form/bal-file-upload/bal-file-upload.scss
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.vars.scss
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
  packages/components/src/components/form/bal-input-group/bal-input-group.mixins.scss
  packages/components/src/components/form/bal-input-group/bal-input-group.scss
  packages/components/src/components/form/bal-input-group/bal-input-group.tsx
  packages/components/src/components/form/bal-input-group/bal-input-group.vars.scss
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.docs.mdx
  packages/components/src/components/form/bal-input-group/stories/bal-input-group.stories.ts
  packages/components/src/components/form/bal-input-group/stories/testing.md
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/components/form/bal-slider/stories/bal-slider.stories.ts
  packages/components/src/styles/components/_all.scss
  packages/components/src/styles/elements/_all.scss
  packages/components/src/styles/elements/track-line.scss
  packages/components/src/styles/form/input-textarea.scss
  packages/components/src/styles/helpers/helpers.scss
  packages/components/src/styles/utilities/variables/colors.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update spinner
  packages/components/src/components/bal-spinner/bal-spinner.animation.ts
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/components/form/bal-select/bal-select-option/bal-select-option.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(pagination): use bal-button
  packages/components/src/components/bal-pagination/bal-pagination.scss
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-pagination/bal-pagination.vars.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust version
  lerna.json
Due: none

chore: adjust package name
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust package name
  lerna.json
Due: none

chore(release): v10.0.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(app): resolve component
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(list): rework flexbox
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add missing source code
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/components/src/components/bal-hint/stories/bal-hint.stories.ts
  packages/components/src/components/bal-spinner/stories/bal-spinner.stories.ts
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/stories/utils/parameter.ts
  packages/components/src/stories/utils/story.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust vercel build
  packages/components/package.json
  packages/components/stencil.dev.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(list): add large size
  packages/components/src/components/bal-list/bal-list.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(heading): add missing styles for h6
  packages/components/src/components/bal-heading/bal-heading.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
