Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: fix meta bar pos
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
Due: none

feat: add option and option-list
  packages/components/src/components.d.ts
  packages/components/src/components/selects/bal-option-list/bal-option-list.interfaces.ts
  packages/components/src/components/selects/bal-option-list/bal-option-list.sass
  packages/components/src/components/selects/bal-option-list/bal-option-list.tsx
  packages/components/src/components/selects/bal-option-list/bal-option-list.vars.sass
  packages/components/src/components/selects/bal-option-list/stories/bal-option-list.docs.mdx
  packages/components/src/components/selects/bal-option-list/stories/bal-option-list.stories.ts
  packages/components/src/components/selects/bal-option-list/test/bal-option-list.visual.html
  packages/components/src/components/selects/bal-option/bal-option.interfaces.ts
  packages/components/src/components/selects/bal-option/bal-option.sass
  packages/components/src/components/selects/bal-option/bal-option.tsx
  packages/components/src/components/selects/bal-option/bal-option.vars.sass
  packages/components/src/components/selects/bal-option/stories/bal-option.docs.mdx
  packages/components/src/components/selects/bal-option/stories/bal-option.stories.ts
  packages/components/src/components/selects/bal-option/test/bal-option.visual.html
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
  packages/components/src/utils/aria.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add focus logic
  packages/components/src/components.d.ts
  packages/components/src/components/selects/bal-option-list/bal-option-list.tsx
  packages/components/src/components/selects/bal-option/bal-option.interfaces.ts
  packages/components/src/components/selects/bal-option/bal-option.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav): disable scroll with popups
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav): chevron and mobile title link is not active
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav): keep flyout open when changing meta
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix navigation line
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav): adjust animation glitches
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-tabs/components/tab-label.sass
Due: none

chore: focus first element of popup
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/utils/focus-visible.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: backdrop click
  packages/components/src/components/bal-nav/models/bal-nav-meta-button.tsx
  packages/components/src/components/bal-popup/bal-popup.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix app height ios issue
  packages/components/src/components/bal-app/bal-app.sass
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/bal-app/bal-app.vars.sass
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav.sass
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/utils/focus-visible.ts
  packages/css/src/mixins/general.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix react and angular build
  packages/components/config/stencil.basic.config.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/stories/theming.md
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/test/bal-nav-meta-bar.visual.html
  packages/output-targets/angular/src/generate-angular-component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve example
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-popup/stories/testing.md
  packages/components/src/components/bal-popup/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add focus and selected
  packages/components/src/components.d.ts
  packages/components/src/components/selects/bal-option-list/bal-option-list.tsx
  packages/components/src/components/selects/bal-option-list/test/bal-option-list.visual.html
  packages/components/src/components/selects/bal-option/bal-option.interfaces.ts
  packages/components/src/components/selects/bal-option/bal-option.sass
  packages/components/src/components/selects/bal-option/bal-option.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve example (#970)
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/bal-popup/stories/testing.md
  packages/components/src/components/bal-popup/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix navigation line (#968)
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: improve a11y
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-carousel/controls/small-control.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: focus first
  packages/components/src/components/selects/bal-option-list/bal-option-list.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(angular): improve utils
  .changeset/sixty-avocados-rule.md
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update props
  packages/components/src/components.d.ts
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
  packages/components/src/components/bal-popup/variants/drawer-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/variant.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: popup
  packages/components/public/assets/css/preview.css
  packages/components/src/components/bal-popover/stories/bal-popover.docs.mdx
  packages/components/src/components/bal-popup/stories/bal-popup.docs.mdx
  packages/components/src/components/bal-popup/stories/bal-popup.stories.ts
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: update visual test for popup
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-left-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-left-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-right-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-popover-right-mobile-open.png
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: update visual test for popup
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add visual tests
  packages/components/cypress/e2e/visual/bal-nav.visual.cy.ts
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/test/bal-nav-colors.visual.html
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-arrow-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-arrow-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-offset-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-offset-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-desktop.png
Due: none

test: update popup tests
  packages/components/cypress/e2e/base/bal-popup.cy.ts
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
  packages/components/src/components/bal-popover/stories/bal-popover.docs.mdx
  packages/components/src/components/bal-popup/bal-popup.sass
  packages/components/src/components/bal-popup/test/bal-popup.cy.html
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
  packages/components/src/components/bal-popup/variants/variant.interfaces.ts
  packages/testing/src/commands/custom/bal-popup.command.ts
  packages/testing/src/commands/custom/bal-popup.types.ts
  packages/testing/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-bottom-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-bottom-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-left-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-left-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-right-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-right-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-top-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-top-desktop.png
Due: none

test: update popup tests
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
  packages/components/src/components/bal-popup/stories/testing.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: update popup tests
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-tabs-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-tabs-desktop.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-arrow-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-arrow-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-offset-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-backdrop-offset-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-drawer-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-fullscreen-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-bottom-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-bottom-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-left-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-left-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-right-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-right-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-top-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-placement-top-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-tabs-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-popup.visual.cy.ts/popup-tabs-mobile.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

test: improve visual
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: improve visual
  packages/components/cypress/e2e/visual/bal-popup.visual.cy.ts
  packages/components/src/components/bal-popup/test/bal-popup.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
