Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(button): debugging
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-group-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-icon-right-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-inverted-links-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-links-desktop-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-variants-desktop-base.png
Due: none

test(button): trigger build
  packages/components/src/components/bal-button/test/bal-button.visual.html
Due: none

test(button): add tablet and mobile
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-expanded-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-flat-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-flat-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-group-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-group-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-icon-right-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-icon-right-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-inverted-links-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-inverted-links-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-inverted-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-inverted-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-links-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-links-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-outlined-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-outlined-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-primary-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-primary-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-rounded-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-rounded-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-shadow-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-shadow-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-sizes-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-sizes-tablet-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-button.visual.cy.ts/button-variants-tablet-base.png
Due: none

test(hint): debugging
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

test(hint): trigger build
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: none

test(hint): debugging
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-hint.visual.cy.ts/hint-close-label-desktop-base.png
Due: none

test(hint): debugging
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: none

chore(): increase version of the web-app-utils to 3.6.3
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.4
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): rise version of @baloise/web-app-utils
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix format
  packages/components/src/stories/contributing/03-project-setup.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): rise version of web-app-utils to use latest fix
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.5
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): format in ci as npm i messes thigns up
  .github/workflows/continuous.yml
Due: none

chore(): fix to the latest web-app-utils
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.15.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(logo): add visual test
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
  packages/components/src/components/bal-logo/test/bal-logo.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(logo): format
  packages/components/src/components/bal-logo/test/bal-logo.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-animated-desktop-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-desktop-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-inverted-desktop-base.png
  packages/components/src/components.d.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(logo): debugging
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(logo): add tablet and mobile
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-animated-desktop-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-animated-mobile-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-animated-tablet-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-inverted-mobile-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-inverted-tablet-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-mobile-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-tablet-base.png
Due: none

test(logo): refactor
  packages/components/src/components/bal-logo/test/bal-logo.visual.html
Due: none

test(form-grid): add visual test
  packages/components/cypress/e2e/visual/bal-form-grid.visual.cy.ts
  packages/components/src/components/form/bal-form-grid/test/bal-form-grid.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
