Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(vue): reduce payload
  packages/components-vue/rollup.config.js
  packages/components-vue/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-card): updated stories - added an example for Contact Teaser
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(field): add weight prop
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/components/src/components/form/bal-field/bal-field.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(field): only set field props when defined to child components
  packages/components/src/components/form/bal-field/bal-field.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(modal): add dismissAll function
  packages/components-angular/src/overlays/overlay.ts
  packages/components/src/components/notice/bal-modal/bal-modal.controller.ts
  packages/components/src/components/notice/bal-snackbar/index.html
  packages/components/src/components/notice/bal-toast/index.html
  packages/components/src/helpers/notice.controller.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(select): add remote solution and adds starts with filter
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update vue output
  .gitignore
  packages/components-vue/.build/template/utils.ts
  packages/components-vue/package.json
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/.storybook/vue/vue-component-lib/utils.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/stencil.dev.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: implement review feedback
  packages/components-angular/src/overlays/overlay.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update web app utisl
  packages/components/package-lock.json
  packages/components/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: use display name
  packages/components/src/stories/utils/args.ts
  packages/components/src/stories/utils/story.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update vue output
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: merge with master
  packages/components/.storybook/vue/vue-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): updateRawValue can handle objects
  cspell.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(form): wait for next tick when setting focus
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/helpers/form-input.helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(button): set flex 1 for expanded buttons
  packages/components/src/components/bal-button/bal-button.scss
Due: prettier --write

chore(release): v10.11.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(platform-utility): tablet breakpoint adjusted (#47)
  packages/components/src/utils/platform.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-stage) (#42)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-stage/bal-stage-back-link/bal-stage-back-link.tsx
  packages/components/src/components/bal-stage/bal-stage-body/bal-stage-body.tsx
  packages/components/src/components/bal-stage/bal-stage-image/bal-stage-image.tsx
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-stage/bal-stage.scss
  packages/components/src/components/bal-stage/bal-stage.tsx
  packages/components/src/components/bal-stage/stories/bal-stage.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(icons): pdf icon added
  packages/components/src/stories/contributors.md
  packages/icons/src/icons.ts
  packages/icons/svg/pdf.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): css project has token as dependency not dev-dependency
  packages/css/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): fix #40, add grey-light option for bal-card
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-hint): change file to sass
  package-lock.json
  packages/components/package-lock.json
  packages/components/src/components/bal-hint/bal-hint.sass
  packages/components/src/components/bal-hint/bal-hint.scss
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/stories/contributors.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock files
  packages/css/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): revert change of dependencies to devDependencis in css project
  packages/css/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(css): adjust file imports from node_modules
  packages/components/src/stories/contributors.md
  packages/css/.build/sass.js
  packages/css/package.json
  packages/css/scss/baloise-design-system.utilities.sass
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(css): add missing deps
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/scss/baloise-design-system.utilities.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(css): add missing deps
  packages/components-table/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: add scss to npm package
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.11.0
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(tag): add relative position on bal-card element
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/components/src/components/bal-tag/bal-tag.scss
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(spinner): animation assets
  packages/components/src/components/bal-spinner/assets/animation.json
  packages/components/src/components/bal-spinner/bal-spinner.animation.ts
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/components/bal-spinner/request.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.11.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.11.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(link): is-link only active on a elements withou
  packages/css/scss/layout/link.sass
Due: none

fix(link): adjust underline thickness
  packages/css/scss/form/button.sass
  packages/css/scss/layout/link.sass
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
