Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add multiple version
  docs/.storybook/addons/version/register.js
  docs/public/assets/css/version.css
  docs/stories/assets/images/versions.png
  docs/stories/changelog.stories.mdx
Due: none

chore: add multiple version (#1692)
  docs/.storybook/addons/version/register.js
  docs/public/assets/css/version.css
  docs/stories/assets/images/versions.png
  docs/stories/changelog.stories.mdx
Due: none

chore: remove old react proxy lib
  .changeset/blue-snakes-work.md
  libs/output-target-react/.eslintignore
  libs/output-target-react/.eslintrc.json
  libs/output-target-react/package.json
  libs/output-target-react/project.json
  libs/output-target-react/react-component-lib/createComponent.tsx
  libs/output-target-react/react-component-lib/createOverlayComponent.tsx
  libs/output-target-react/react-component-lib/index.ts
  libs/output-target-react/react-component-lib/interfaces.ts
  libs/output-target-react/react-component-lib/utils/attachProps.ts
  libs/output-target-react/react-component-lib/utils/case.ts
  libs/output-target-react/react-component-lib/utils/dev.ts
  libs/output-target-react/react-component-lib/utils/index.tsx
  libs/output-target-react/src/index.ts
  libs/output-target-react/src/lib/generate-react-components.spec.ts
  libs/output-target-react/src/lib/output-react.ts
  libs/output-target-react/src/lib/plugin.spec.ts
  libs/output-target-react/src/lib/plugin.ts
  libs/output-target-react/src/lib/types.ts
  libs/output-target-react/src/lib/utils.ts
  libs/output-target-react/tsconfig.json
  libs/output-target-react/tsconfig.lib.json
  libs/output-target-react/tsconfig.spec.json
  libs/output-target-react/vite.config.ts
  package-lock.json
  package.json
  packages/core/config/stencil.bindings.react.ts
  packages/react/src/index.ts
  packages/react/tsconfig.lib.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

📦️ Release (#1668)
  .changeset/angry-needles-prove.md
  .changeset/blue-snakes-work.md
  .changeset/clever-mangos-check.md
  .changeset/curly-snakes-march.md
  .changeset/dry-files-happen.md
  .changeset/early-trees-speak.md
  .changeset/giant-gorillas-admire.md
  .changeset/metal-kangaroos-reply.md
  .changeset/moody-actors-love.md
  .changeset/slow-deers-cough.md
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular-common/package.json
  packages/angular-module/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

:bookmark: release: 19.0.0
  CHANGELOG.md
  package-lock.json
Due: none

chore: finish migrations script
  package-lock.json
  packages/tailwindcss/bin/index.mjs
  packages/tailwindcss/package.json
  packages/tailwindcss/project.json
  packages/tailwindcss/src/index.css
  packages/tailwindcss/src/utilities.css
  packages/tailwindcss/test/css-core.visual.html
  packages/tailwindcss/test/css-display.visual.html
  packages/tailwindcss/test/css-flex.visual.html
  packages/tailwindcss/test/css-typography.visual.html
  packages/tailwindcss/todo.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix v19 migration guide
  docs/stories/development/01-upgrade/upgrade-guide.v19.stories.mdx
Due: none

chore: add static css utils sets
  libs/nx/src/executors/build-tailwindcss/executor.ts
  libs/nx/src/executors/build-tailwindcss/generators/border.ts
  libs/nx/src/executors/build-tailwindcss/generators/line-height.ts
  libs/nx/src/executors/build-tailwindcss/generators/spacing.ts
  libs/nx/src/executors/build-tailwindcss/generators/typography.ts
  libs/nx/src/executors/build-tailwindcss/generators/z-index.ts
  packages/tailwindcss/bin/index.mjs
  packages/tailwindcss/src/base.css
  packages/tailwindcss/src/index.css
  packages/tailwindcss/src/sets/all.css
  packages/tailwindcss/src/sets/background.set.css
  packages/tailwindcss/src/sets/border.set.css
  packages/tailwindcss/src/sets/display.set.css
  packages/tailwindcss/src/sets/elevation.set.css
  packages/tailwindcss/src/sets/flex.set.css
  packages/tailwindcss/src/sets/interactions.set.css
  packages/tailwindcss/src/sets/sizing.set.css
  packages/tailwindcss/src/sets/typography.set.css
  packages/tailwindcss/src/theme.css
  packages/tailwindcss/src/utilities.css
Due: prettier --write

chore: fix entry paths
  package-lock.json
  packages/tailwindcss/package.json
  packages/tailwindcss/src/base.css
  packages/tailwindcss/src/index.css
  packages/tailwindcss/src/sets/all.css
  packages/tailwindcss/src/static.css
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

changed min-width
  packages/core/src/components/bal-popup/bal-popup.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

handle decimal format in different language when converting to number
  packages/core/src/components/bal-number-input/bal-number-input.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

add changeset
  .changeset/green-hornets-serve.md
Due: none

chore: update core
  libs/nx/src/executors/build-docs/executor.ts
  libs/nx/src/executors/build-tailwind/executor.ts
  packages/core/src/components/bal-dropdown/test/bal-dropdown.visual.html
  packages/core/src/components/bal-list/test/bal-list.native.html
  packages/core/src/components/bal-notification/test/bal-notification.visual.html
  packages/core/src/components/bal-progress-bar/test/bal-progress-bar.visual.html
  packages/core/src/components/bal-shape/test/bal-shape.visual.html
  packages/core/src/components/bal-sheet/test/bal-sheet.cy.html
  packages/core/src/components/bal-sheet/test/bal-sheet.visual.html
  packages/core/src/components/bal-snackbar/test/bal-snackbar.visual.html
  packages/core/src/components/bal-toast/test/bal-toast.visual.html
  packages/core/src/components/bal-tooltip/test/bal-tooltip-positions.visual.html
  packages/core/src/test/css-core.visual.html
  packages/core/src/test/css-flex.visual.html
  packages/core/src/test/css-grid.visual.html
  packages/core/src/test/css-radius.visual.html
  packages/core/src/test/css-typography.visual.html
  packages/core/stencil.config.ts
  packages/tailwind/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: prepare docs for tailwind
  .gitignore
  docs/stories/assets/data/styles/background.json
  docs/stories/assets/data/styles/border.json
  docs/stories/assets/data/styles/elevation.json
  docs/stories/assets/data/styles/flex.json
  docs/stories/assets/data/styles/interaction.json
  docs/stories/assets/data/styles/layout.json
  docs/stories/assets/data/styles/sizing.json
  docs/stories/assets/data/styles/spacing.json
  docs/stories/assets/data/styles/typography.json
  libs/nx/src/executors/build-docs/executor.ts
Due: none

chore: implement bal-click
  packages/core/src/components.d.ts
  packages/core/src/components/bal-accordion/bal-accordion-trigger/bal-accordion-trigger.tsx
  packages/core/src/components/bal-accordion/bal-accordion.interfaces.ts
  packages/core/src/components/bal-button/bal-button.interfaces.ts
  packages/core/src/components/bal-button/bal-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(radio): can not be unselected
  .changeset/silent-cameras-invent.md
  packages/core/src/components/bal-radio/bal-radio.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix e2e test
  e2e/cypress/e2e/base/bal-radio.cy.ts
Due: none

🐛 fix(radio): can not be unselected (#1699)
  .changeset/silent-cameras-invent.md
  e2e/cypress/e2e/base/bal-radio.cy.ts
  packages/core/src/components/bal-radio/bal-radio.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

📦️ Release (#1700)
  .changeset/silent-cameras-invent.md
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular-common/package.json
  packages/angular-module/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

:bookmark: release: 19.0.1
  CHANGELOG.md
  package-lock.json
Due: none

fix(bal-popup): show backdrop over full screen
  .changeset/curvy-cherries-exercise.md
  packages/core/src/components/bal-popup/bal-popup.sass
Due: none

fix(utils): Make sure disabling of scrolling also works when using a touchpad in safari
  .changeset/blue-flies-sing.md
  packages/core/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust changelog
  .changeset/blue-flies-sing.md
  .changeset/curvy-cherries-exercise.md
Due: none

feat(button): add balClick event to listen to click events when the button is not disabled
  .changeset/fuzzy-lobsters-sit.md
  packages/core/src/components/bal-button/bal-button.interfaces.ts
  packages/core/src/components/bal-button/bal-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

✨ feat(button): add balClick event (#1707)
  .changeset/fuzzy-lobsters-sit.md
  packages/core/src/components/bal-button/bal-button.interfaces.ts
  packages/core/src/components/bal-button/bal-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(date): improve focus handling
  .changeset/fresh-badgers-pump.md
  packages/core/src/components.d.ts
  packages/core/src/components/bal-date/bal-date.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix webtest
  test/angular/base/app/cypress/e2e/bal-date.spec.cy.ts
Due: none

[issue-1702] removing leading zero from contracts and subcontracts, new mask
  .changeset/purple-islands-breathe.md
  packages/core/src/components.d.ts
  packages/core/src/components/bal-input/bal-input-util.ts
  packages/core/src/components/bal-input/bal-input.interfaces.ts
  packages/core/src/components/bal-input/bal-input.tsx
  packages/core/src/components/bal-input/test/bal-input.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(nav): enhance ref assignment for swiper elements
  .changeset/lovely-fishes-reply.md
  .changeset/lovely-poets-wink.md
  packages/core/src/components/bal-button/bal-button.tsx
  packages/core/src/components/bal-nav/bal-nav.tsx
  packages/core/src/components/bal-tabs/bal-tabs.tsx
  packages/core/src/components/bal-tabs/components/tab-nav.tsx
  packages/core/src/utils/swiper/swiper.util.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🐛 fix(nav): enhance ref assignment for swiper elements (#1716)
  .changeset/lovely-fishes-reply.md
  .changeset/lovely-poets-wink.md
  packages/core/src/components/bal-button/bal-button.tsx
  packages/core/src/components/bal-nav/bal-nav.tsx
  packages/core/src/components/bal-tabs/bal-tabs.tsx
  packages/core/src/components/bal-tabs/components/tab-nav.tsx
  packages/core/src/utils/swiper/swiper.util.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update purple-islands-breathe.md
  .changeset/purple-islands-breathe.md
Due: none

fix(steps): remove link style and add visual tests for steps with links and update HTML structure
  .changeset/nasty-ghosts-carry.md
  e2e/cypress/e2e/visual/bal-steps.visual.cy.ts
  packages/core/src/components/bal-steps/components/step-button.tsx
  packages/core/src/components/bal-steps/test/bal-steps.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update base images
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-color-green.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-color-light-blue.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-color-purple.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-color-red.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-color-yellow.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-tablet.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-four-mobile.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-four-tablet.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-four.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-with-links.png
  e2e/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps.png
Due: none

✨ feat(input): removing leading zero from contracts/subcontracts (#1704)
  .changeset/purple-islands-breathe.md
  packages/core/src/components.d.ts
  packages/core/src/components/bal-input/bal-input-util.ts
  packages/core/src/components/bal-input/bal-input.interfaces.ts
  packages/core/src/components/bal-input/bal-input.tsx
  packages/core/src/components/bal-input/test/bal-input.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

📦️ Release (#1705)
  .changeset/blue-flies-sing.md
  .changeset/curvy-cherries-exercise.md
  .changeset/fresh-badgers-pump.md
  .changeset/fuzzy-lobsters-sit.md
  .changeset/green-hornets-serve.md
  .changeset/lovely-fishes-reply.md
  .changeset/lovely-poets-wink.md
  .changeset/nasty-ghosts-carry.md
  .changeset/polite-bananas-attack.md
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular-common/package.json
  packages/angular-module/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

:bookmark: release: 19.1.0
  CHANGELOG.md
  package-lock.json
Due: none

feat(typeahead): add new component
  packages/core/config/stencil.bindings.angular.ts
  packages/core/src/components.d.ts
  packages/core/src/components/bal-dropdown/bal-dropdown.sass
  packages/core/src/components/bal-list/bal-list.tsx
  packages/core/src/components/bal-option-list/bal-option-list.i18n.ts
  packages/core/src/components/bal-option-list/bal-option-list.sass
  packages/core/src/components/bal-option-list/bal-option-list.tsx
  packages/core/src/components/bal-option/bal-option.sass
  packages/core/src/components/bal-typeahead/bal-typeahead.interfaces.ts
  packages/core/src/components/bal-typeahead/bal-typeahead.sass
  packages/core/src/components/bal-typeahead/bal-typeahead.tsx
  packages/core/src/components/bal-typeahead/bal-typeahead.vars.sass
  packages/core/src/components/bal-typeahead/test/bal-typeahead.a11y.html
  packages/core/src/components/bal-typeahead/test/bal-typeahead.auto-fill.html
  packages/core/src/components/bal-typeahead/test/bal-typeahead.cy.html
  packages/core/src/components/bal-typeahead/test/bal-typeahead.visual.html
  packages/core/src/utils/dropdown/auto-fill.ts
  packages/core/src/utils/dropdown/component.ts
  packages/core/src/utils/dropdown/dropdown.i18n.ts
  packages/core/src/utils/dropdown/events.ts
  packages/core/src/utils/dropdown/icon.tsx
  packages/core/src/utils/dropdown/input.tsx
  packages/core/src/utils/dropdown/mode.ts
  packages/core/src/utils/dropdown/option-list.tsx
  packages/core/src/utils/dropdown/option.tsx
  packages/core/src/utils/dropdown/popup.ts
  packages/core/src/utils/dropdown/value.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(radio): trigger change event on selection with the space key
  .changeset/tough-wasps-sort.md
  packages/core/src/components/bal-radio/bal-radio-group/bal-radio-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
