Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

Dynamic import() in compiled components/*.js (spinner/logo Lottie chunks) breaks single-file / non-code-splitting builds (#2162)
  .changeset/brave-apes-act.md
  libs/output-target-web/src/lib/inline-dynamic-imports.ts
  libs/output-target-web/src/lib/output-web.ts
  packages/core/CONTEXT.md
Due: prettier --write

No documented dynamic-import-free entry point for initialize() — bare @baloise/ds-core import pulls in Stencil's lazy-component loader (#2161)
  .changeset/kind-pigs-sing.md
  apps/storybook/src/development/00-guides/00-getting-started.mdx
  packages/core/CONTEXT.md
  packages/core/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: toky update types
  apps/toky/.env.example
  apps/toky/app/page.tsx
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/css-preview.test.ts
  apps/toky/src/tokens/edit.ts
  apps/toky/src/tokens/figma-map.test.ts
  apps/toky/src/tokens/figma-map.ts
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
  apps/toky/src/tokens/flatten.ts
  apps/toky/src/tokens/types.ts
  apps/toky/src/tokens/validate.ts
  docs/plans/dimension-token-type-plan.md
  docs/plans/font-family-token-type-plan.md
  docs/plans/font-weight-token-type-plan.md
  docs/plans/shadow-token-type-plan.md
  packages/tokens/src/config.base.ts
  packages/tokens/src/config.brand.ts
  packages/tokens/src/css-value.ts
  packages/tokens/src/transformers.ts
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/lib/baseline.mjs
  scripts/figma-sync/lib/deletion.mjs
  scripts/figma-sync/lib/figma-value.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/test/baseline.test.ts
  scripts/figma-sync/test/deletion.test.ts
  scripts/figma-sync/test/write.test.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add border plan
  docs/plans/border-token-type-plan.md
Due: none

chore: update toky
  apps/toky/app/api/propose-change/route.ts
  apps/toky/app/page.tsx
  apps/toky/app/search-select.tsx
  apps/toky/app/staged-changes-sidebar.tsx
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/edit.ts
  apps/toky/src/tokens/figma-map.ts
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
  apps/toky/src/tokens/flatten.ts
  apps/toky/src/tokens/local.ts
  packages/tokens/CONTEXT.md
  packages/tokens/src/config.base.ts
  packages/tokens/src/css-value.ts
  packages/tokens/src/transformers.ts
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/lib/alias.mjs
  scripts/figma-sync/lib/figma-value.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/test/write.test.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset for ds-steps disabled-active-panel fix
  .changeset/tame-otters-migrate.md
Due: none

chore: update toky
  apps/toky/app/search-select.tsx
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/css-preview.test.ts
  docs/plans/dimension-token-type-plan.md
  packages/core/src/components/data/data-item.host.scss
  packages/core/src/components/navbar/navbar.host.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(ci): stop overriding checkout ref with bare branch name
  .github/workflows/continuous.yml
Due: none

fix(ci): stop overriding checkout ref with bare branch name (#2174)
  .github/workflows/continuous.yml
Due: none

fix(steps): keep panel visible when value points to a disabled step (#2157)
  .changeset/tame-otters-migrate.md
  packages/core/src/components/steps/steps/steps.tsx
  packages/core/src/components/steps/test/steps.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

📦️ Release (next) (#2152)
  .changeset/pre.json
  apps/storybook/.storybook/blocks/codepen.ts
  apps/storybook/package.json
  apps/toky/package.json
  packages/angular/package.json
  packages/assets/package.json
  packages/core/package.json
  packages/css/package.json
  packages/playwright/package.json
  packages/react/package.json
  packages/tokens/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: migrate sheet component
  .changeset/yummy-lights-fold.md
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
  apps/storybook/src/components/sheet/1-Overview.mdx
  apps/storybook/src/components/sheet/2-Usage.mdx
  apps/storybook/src/components/sheet/3-Variants.mdx
  apps/storybook/src/components/sheet/4-Styling.mdx
  apps/storybook/src/components/sheet/5-Accessibility.mdx
  apps/storybook/src/components/sheet/6-Testing.mdx
  apps/storybook/src/components/sheet/sheet.doc-config.ts
  apps/storybook/src/components/sheet/sheet.stories.ts
  package.json
  packages/core/src/components.d.ts
  packages/core/src/components/sheet/sheet.host.scss
  packages/core/src/components/sheet/sheet.interfaces.ts
  packages/core/src/components/sheet/sheet.tsx
  packages/core/src/components/sheet/test/sheet.a11y.play.ts
  packages/core/src/components/sheet/test/sheet.component.play.ts
  packages/core/src/components/sheet/test/sheet.visual.html
  packages/core/src/components/sheet/test/sheet.visual.play.ts
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/index.ts
  packages/playwright/src/lib/components/index.ts
  packages/playwright/src/lib/components/sheet.po.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add sheet component playwright screenshots
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-container-🖼️-Visual-💻-Desktop-Chrome-linux.png
Due: none

chore: prettier format
  packages/core/src/components/date/test/date.component.play.ts
  packages/core/src/components/date/test/date.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add sheet component playwright screenshots
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-container-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: center storybook preview of sheet component
  apps/storybook/src/components/sheet/sheet.stories.ts
Due: none

chore: update screenshots for date
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-inline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-inline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: migrate sheet component (#2175)
  .changeset/yummy-lights-fold.md
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/assets/data/tags.json
  apps/storybook/src/components/sheet/1-Overview.mdx
  apps/storybook/src/components/sheet/2-Usage.mdx
  apps/storybook/src/components/sheet/3-Variants.mdx
  apps/storybook/src/components/sheet/4-Styling.mdx
  apps/storybook/src/components/sheet/5-Accessibility.mdx
  apps/storybook/src/components/sheet/6-Testing.mdx
  apps/storybook/src/components/sheet/sheet.doc-config.ts
  apps/storybook/src/components/sheet/sheet.stories.ts
  package.json
  packages/core/src/components.d.ts
  packages/core/src/components/sheet/sheet.host.scss
  packages/core/src/components/sheet/sheet.interfaces.ts
  packages/core/src/components/sheet/sheet.tsx
  packages/core/src/components/sheet/test/sheet.a11y.play.ts
  packages/core/src/components/sheet/test/sheet.component.play.ts
  packages/core/src/components/sheet/test/sheet.visual.html
  packages/core/src/components/sheet/test/sheet.visual.play.ts
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-container-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/sheet/test/sheet.visual.play.ts-snapshots/sheet-container-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/global/constants/tags.constant.ts
  packages/core/src/index.ts
  packages/playwright/src/lib/components/index.ts
  packages/playwright/src/lib/components/sheet.po.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add AG Grid theme
  .changeset/quiet-otters-ag-grid.md
  CLAUDE.md
  CONTEXT-MAP.md
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/ag-grid/ag-grid.stories.ts
  packages/ag-grid/CONTEXT.md
  packages/ag-grid/eslint.config.ts
  packages/ag-grid/package.json
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
  packages/ag-grid/tsconfig.json
  packages/ag-grid/tsconfig.lib.json
  packages/ag-grid/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update
  apps/storybook/src/components/table/3-Variants.mdx
  apps/storybook/src/components/table/table.stories.ts
  apps/toky/app/search-select.tsx
  apps/toky/app/token-editor.tsx
  packages/core/src/components/table/table.style.scss
  packages/core/src/components/table/test/table.style.html
  packages/core/src/components/table/test/table.visual.play.ts
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-bordered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-bordered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-hoverable-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-hoverable-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-selected-row-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-selected-row-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/text/text.style.scss
  packages/css/src/scss/structure.scss
  packages/tokens/src/formatter.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add aem package
  .changeset/config.json
  .gitignore
  AEM-with-DS.md
  package.json
  packages/aem-eds/CONTEXT.md
  packages/aem-eds/eslint.config.ts
  packages/aem-eds/package.json
  packages/aem-eds/src/card.css
  packages/aem-eds/src/card.ts
  packages/aem-eds/src/datepicker.css
  packages/aem-eds/src/datepicker.ts
  packages/aem-eds/src/index.ts
  packages/aem-eds/tsconfig.json
  packages/aem-eds/tsconfig.lib.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update
  AEM-with-DS.md
  packages/aem-eds/CONTEXT.md
  packages/aem-eds/src/datepicker.ts
  packages/aem-eds/src/decorate-buttons.ts
  packages/aem-eds/src/decorate-headings.ts
  packages/aem-eds/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: style AG Grid theme with tokens
  .changeset/quiet-otters-ag-grid.md
  apps/storybook/src/components/ag-grid/ag-grid.stories.ts
  packages/ag-grid/CONTEXT.md
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update label,heading,text
  apps/storybook/src/assets/data/components.json
  apps/toky/app/token-editor.tsx
  docs/TODOS.md
  packages/core/src/components.d.ts
  packages/core/src/components/button/button.style.scss
  packages/core/src/components/checkbox/checkbox.mixin.scss
  packages/core/src/components/divider/divider.interfaces.ts
  packages/core/src/components/divider/divider.style.scss
  packages/core/src/components/divider/divider.tsx
  packages/core/src/components/divider/test/divider.style.html
  packages/core/src/components/divider/test/divider.visual.html
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/heading/heading.interfaces.ts
  packages/core/src/components/heading/heading.style.scss
  packages/core/src/components/heading/heading.tsx
  packages/core/src/components/heading/test/heading.style.html
  packages/core/src/components/heading/test/heading.visual.html
  packages/core/src/components/input/field.util.tsx
  packages/core/src/components/label/label.style.scss
  packages/core/src/components/radio/radio.mixin.scss
  packages/core/src/components/spinner/spinner.host.scss
  packages/core/src/components/spinner/spinner.interfaces.ts
  packages/core/src/components/spinner/spinner.tsx
  packages/core/src/components/text/test/text.style.html
  packages/core/src/components/text/test/text.visual.html
  packages/core/src/components/text/text.interfaces.ts
  packages/core/src/components/text/text.style.scss
  packages/tokens/CONTEXT.md
  packages/tokens/src/formatter.ts
  packages/tokens/tokens/Base.tokens.json
  pnpm-workspace.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: progress and logo
  docs/TODOS.md
  packages/core/src/components/progress-bar/progress-bar.host.scss
  packages/core/src/components/progress-bar/progress-bar.tsx
  packages/core/src/components/progress-bar/test/progress-bar.visual.html
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: badge & close
  apps/storybook/src/components/badge/badge.stories.ts
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/flatten.ts
  docs/TODOS.md
  packages/core/src/components.d.ts
  packages/core/src/components/alert/snackbar/snackbar.tsx
  packages/core/src/components/badge/badge.host.scss
  packages/core/src/components/badge/badge.interfaces.ts
  packages/core/src/components/badge/test/badge.visual.html
  packages/core/src/components/close/close.host.scss
  packages/core/src/components/close/close.interfaces.ts
  packages/core/src/components/close/close.tsx
  packages/core/src/components/close/test/close.visual.html
  packages/core/src/components/footer/footer.tsx
  packages/core/src/components/heading/test/heading.style.html
  packages/core/src/components/logo/logo.host.scss
  packages/core/src/components/logo/logo.interfaces.ts
  packages/core/src/components/logo/logo.tsx
  packages/core/src/components/logo/test/logo.visual.html
  packages/tokens/src/formatter.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: body
  docs/TODOS.md
  packages/core/src/components/table/table.style.scss
  packages/css/src/scss/structure.scss
Due: prettier --write

chore: tag and button
  apps/storybook/src/components/button/2-Usage.mdx
  apps/storybook/src/components/button/3-Variants.mdx
  apps/storybook/src/components/button/5-Accessibility.mdx
  apps/storybook/src/components/button/button.stories.ts
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/flatten.ts
  docs/TODOS.md
  packages/core/src/components.d.ts
  packages/core/src/components/button/button-group/button-group.mixin.scss
  packages/core/src/components/button/button.style.scss
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/test/button.a11y.play.ts
  packages/core/src/components/button/test/button.style.html
  packages/core/src/components/button/test/button.visual.html
  packages/core/src/components/button/test/button.visual.play.ts
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-dashed-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-dashed-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-rounded-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-rounded-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-square-circle-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-square-circle-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-dashed-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-dashed-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-rounded-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-rounded-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-square-circle-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/button/test/button.visual.play.ts-snapshots/button-style-square-circle-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/close/close.host.scss
  packages/core/src/components/close/close.interfaces.ts
  packages/core/src/components/close/test/close.visual.html
  packages/core/src/components/select/select.host.scss
  packages/core/src/components/tag/tag.host.scss
  packages/core/src/components/tag/tag.interfaces.ts
  packages/core/src/components/tag/tag.style.scss
  packages/core/src/components/tag/tag.tsx
  packages/core/src/components/tag/test/tag.style.html
  packages/core/src/components/tag/test/tag.visual.html
  packages/core/src/components/tag/test/tag.visual.play.ts
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/lib/tokens.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: buttons
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/button/button.stories.ts
  apps/storybook/src/components/carousel/carousel.stories.ts
  apps/storybook/src/welcome.mdx
  apps/toky/app/preview-sidebar.tsx
  docs/TODOS.md
  packages/core/src/components.d.ts
  packages/core/src/components/alert/snackbar/snackbar.host.scss
  packages/core/src/components/button/button-group/button-group.tsx
  packages/core/src/components/button/button.interfaces.ts
  packages/core/src/components/button/button.style.scss
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/test/button.a11y.play.ts
  packages/core/src/components/button/test/button.style.html
  packages/core/src/components/button/test/button.visual.html
  packages/core/src/components/card/card-actions/card-actions.tsx
  packages/core/src/components/card/card-header/card-header.mixin.scss
  packages/core/src/components/tabs/tabs/tabs.host.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve figma sync
  packages/tokens/.figma-sync-state.json
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/lib/alias.mjs
  scripts/figma-sync/lib/baseline.mjs
  scripts/figma-sync/lib/bootstrap.mjs
  scripts/figma-sync/lib/figma-value.mjs
  scripts/figma-sync/lib/figma.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/pull.mjs
  scripts/figma-sync/test/baseline.test.ts
  scripts/figma-sync/test/bootstrap.test.ts
  scripts/figma-sync/test/write.test.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add build artifacts
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
Due: none

chore: fix sheet tokens
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix build sass
  apps/storybook/src/assets/data/components.json
  packages/tokens/src/config.base.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: enable visual test foundation
  packages/core/src/foundation/border.visual.play.ts
  packages/core/src/foundation/colors.visual.play.ts
  packages/core/src/foundation/elevation.visual.play.ts
  packages/core/src/foundation/radius.visual.play.ts
  packages/core/src/foundation/spacing.visual.play.ts
  packages/core/src/foundation/surface-on.visual.play.ts
  packages/core/src/foundation/typography.visual.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger snapshots
  .github/workflows/continuous.yml
Due: none
