Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: update command for Storybook documentation in development guide
  docs/DEVELOPMENT.md
Due: none

chore: lint tokens
  packages/core/src/components.d.ts
  packages/core/src/components/accordion/accordion.host.scss
  packages/core/src/components/badge/badge.host.scss
  packages/core/src/components/badge/test/badge.visual.html
  packages/core/src/components/brand-icon/brand-icon.host.scss
  packages/core/src/components/brand-icon/brand-icon.interfaces.ts
  packages/core/src/components/brand-icon/brand-icon.tsx
  packages/core/src/components/brand-icon/test/brand-icon.visual.html
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card-header/card-header.mixin.scss
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/card/test/card.visual.html
  packages/core/src/components/data/data-item.host.scss
  packages/core/src/components/list/item/item.host.scss
  packages/core/src/components/list/test/list.visual.html
  packages/core/src/components/modal/modal.host.scss
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/steps/step/step.host.scss
  packages/core/src/components/steps/steps/steps.host.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for input-phone
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-countries-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-countries-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-country-selection-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-country-selection-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-description-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-description-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-disabled-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-empty-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-empty-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-form-reset-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-form-reset-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatted-value-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatted-value-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatting-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-formatting-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-slot-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-slot-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-invalid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-mid-typing-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-mid-typing-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-readonly-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-readonly-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-required-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-required-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-valid-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-valid-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-warning-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/input-phone/test/input-phone.visual.play.ts-snapshots/input-phone-warning-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: include tokens directory in build inputs
  turbo.json
Due: none

chore: fix card margin left
  packages/core/src/components/card/card-header/card-header.mixin.scss
  packages/core/src/components/card/card.style.scss
Due: prettier --write

chore: fix button space
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix space issue card
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/card/test/card.visual.html
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix accordion
  packages/core/src/components/accordion/accordion.host.scss
  packages/core/src/components/accordion/test/accordion.visual.html
Due: prettier --write

chore: update screenshots for footer,card,accordion
  packages/core/src/components/accordion/test/accordion.visual.play.ts-snapshots/accordion-stack-item-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/accordion/test/accordion.visual.play.ts-snapshots/accordion-style-stack-item-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-centered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-combi-header-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-fullheight-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-image-teaser-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-spaces-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-centered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-combi-header-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-fullheight-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-image-teaser-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-spaces-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-tile-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-tile-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-tile-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-tile-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix ci
  .github/workflows/continuous.yml
  docs/TODOS.md
Due: none

chore: update screenshots for app-footer,brand-icon
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-custom-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/app-footer/test/app-footer.visual.play.ts-snapshots/app-footer-slotted-logo-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-states-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-tile-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-tile-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: base => default
  apps/storybook/src/components/container/3-Variants.mdx
  apps/storybook/src/components/container/container.stories.ts
  apps/storybook/src/components/notification/notification.stories.ts
  apps/toky/src/tokens/css-preview.test.ts
  packages/core/src/components.d.ts
  packages/core/src/components/app-footer/app-footer.host.scss
  packages/core/src/components/app-navbar/app-navbar.host.scss
  packages/core/src/components/badge/badge.host.scss
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/container/container.style.scss
  packages/core/src/components/container/test/container.style.html
  packages/core/src/components/divider/divider.interfaces.ts
  packages/core/src/components/divider/divider.style.scss
  packages/core/src/components/divider/divider.tsx
  packages/core/src/components/divider/test/divider.style.html
  packages/core/src/components/divider/test/divider.visual.html
  packages/core/src/components/drawer/drawer.host.scss
  packages/core/src/components/notification/notification.interfaces.ts
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/notification/test/notification.a11y.play.ts
  packages/core/src/components/notification/test/notification.style.html
  packages/core/src/components/notification/test/notification.visual.html
  packages/core/src/components/select/select.host.scss
  packages/core/src/components/sheet/sheet.host.scss
  packages/core/src/components/tabs/tabs/tabs.host.scss
  packages/core/src/components/tag/tag.style.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(ds-date): avoid Luxon/native Date timezone drift in date picker and mask
  packages/core/CONTEXT.md
  packages/core/src/components/date/date.mask.ts
  packages/core/src/components/date/date.picker.ts
  packages/core/src/components/date/test/date.mask.spec.ts
  packages/core/src/components/date/test/date.picker.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix container
  packages/core/src/components/container/container.style.scss
Due: prettier --write

chore: update screenshots for container
  packages/core/src/components/container/test/container.visual.play.ts-snapshots/container-default-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

fix(ds-date): avoid Luxon/native Date timezone drift in date picker and mask (#2214)
  packages/core/CONTEXT.md
  packages/core/src/components/date/date.mask.ts
  packages/core/src/components/date/date.picker.ts
  packages/core/src/components/date/test/date.mask.spec.ts
  packages/core/src/components/date/test/date.picker.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve responsive and non responsive tokens
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for tabs
  packages/core/src/components/tabs/test/tabs.visual.play.ts-snapshots/tabs-vertical-cols-🖼️-Visual-💻-Desktop-Chrome-linux.png
Due: none

chore: add plans
  docs/plans/angular-docs-getting-started-plan.md
  docs/plans/angular-forms-docs-plan.md
  docs/plans/components-overview-demos-plan.md
  docs/plans/contact-form-template-plan.md
  docs/plans/css-output-minification-plan.md
  docs/plans/erv-demo-brand-plan.md
  docs/plans/html-docs-getting-started-plan.md
  docs/plans/login-template-plan.md
  docs/plans/react-docs-getting-started-plan.md
  docs/plans/react-modal-idioms-plan.md
  docs/plans/react-ssr-nextjs-plan.md
  docs/plans/react-toast-snackbar-idioms-plan.md
  docs/plans/toky-token-description-plan.md
Due: none

chore: fix dead tokens
  packages/core/src/components/accordion/accordion.style.scss
  packages/core/src/components/carousel/carousel-item/carousel-item.host.scss
  packages/core/src/components/carousel/carousel/carousel.host.scss
  packages/core/src/components/checkbox/checkbox.mixin.scss
  packages/core/src/components/close/close.host.scss
  packages/core/src/components/close/close.style.scss
  packages/core/src/components/divider/divider.style.scss
  packages/core/src/components/file-upload/file-upload.host.scss
  packages/core/src/components/icon/icon.host.scss
  packages/core/src/components/input-slider/input-slider.host.scss
  packages/core/src/components/input/clear-button.mixin.scss
  packages/core/src/components/label/label.style.scss
  packages/core/src/components/list/item/item.host.scss
  packages/core/src/components/radio/radio.mixin.scss
  packages/core/src/components/segment/segment/segment.mixin.scss
  packages/core/src/components/select/select.host.scss
  packages/core/src/components/shape/shape.host.scss
  packages/core/src/components/table/table.style.scss
  packages/core/src/components/tabs/tabs/tabs.host.scss
  packages/core/src/components/toggle/toggle.mixin.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix visual issues
  packages/core/src/components/badge/badge.host.scss
  packages/core/src/components/carousel/carousel-item/carousel-item.host.scss
  packages/core/src/components/file-upload/file-upload.host.scss
  packages/core/src/components/notification/notification.style.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for shape
  packages/core/src/components/shape/test/shape.visual.play.ts-snapshots/shape-variation-1-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/shape/test/shape.visual.play.ts-snapshots/shape-variation-1-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/shape/test/shape.visual.play.ts-snapshots/shape-variation-2-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/shape/test/shape.visual.play.ts-snapshots/shape-variation-2-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/shape/test/shape.visual.play.ts-snapshots/shape-variation-3-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/shape/test/shape.visual.play.ts-snapshots/shape-variation-3-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix card and notification
  packages/core/src/components/card/card-header/card-header.mixin.scss
  packages/core/src/components/card/card.interfaces.ts
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/card/card.tsx
  packages/core/src/components/notification/notification.interfaces.ts
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/notification/test/notification.style.html
  packages/core/src/components/notification/test/notification.visual.html
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for notification,table,badge
  packages/core/src/components/badge/test/badge.visual.play.ts-snapshots/badge-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/badge/test/badge.visual.play.ts-snapshots/badge-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/badge/test/badge.visual.play.ts-snapshots/badge-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-no-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-no-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-no-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-no-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-narrow-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-narrow-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-striped-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/table/test/table.visual.play.ts-snapshots/table-striped-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

Feat/ small date picker inline accessibility improvement (#2205)
  packages/core/src/components/date/date.tsx
  packages/core/src/components/date/test/date.a11y.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix storybook dep issue
  apps/storybook/src/assets/data/components.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: fix select z-index issue
  packages/core/src/components/select/select.host.scss
Due: prettier --write

chore: lint components
  packages/core/src/components/accordion/accordion.interfaces.ts
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card.interfaces.ts
  packages/core/src/components/card/card.tsx
  packages/core/src/components/close/close.tsx
  packages/core/src/components/content/content.interfaces.ts
  packages/core/src/components/content/content.tsx
  packages/core/src/components/date/date.interfaces.ts
  packages/core/src/components/divider/divider.interfaces.ts
  packages/core/src/components/heading/heading.interfaces.ts
  packages/core/src/components/input/input.interfaces.ts
  packages/core/src/components/label/label.interfaces.ts
  packages/core/src/components/label/label.tsx
  packages/core/src/components/logo/logo.tsx
  packages/core/src/components/segment/segment-item.interfaces.ts
  packages/core/src/components/select/select.interfaces.ts
  packages/core/src/components/stack/stack.interfaces.ts
  packages/core/src/components/tag/tag.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add description to tokens
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/edit.test.ts
  apps/toky/src/tokens/edit.ts
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
  apps/toky/src/tokens/figma.ts
  apps/toky/src/tokens/flatten.ts
  apps/toky/src/tokens/types.ts
  packages/tokens/CONTEXT.md
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/lib/tokens.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/pull.mjs
  scripts/figma-sync/test/write.test.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix figma sync
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/pull.mjs
Due: none

:wrench: chore: lint components (#2234)
  apps/toky/app/token-editor.tsx
  apps/toky/src/tokens/edit.test.ts
  apps/toky/src/tokens/edit.ts
  apps/toky/src/tokens/figma-pull.test.ts
  apps/toky/src/tokens/figma-pull.ts
  apps/toky/src/tokens/figma.ts
  apps/toky/src/tokens/flatten.ts
  apps/toky/src/tokens/types.ts
  packages/core/src/components/accordion/accordion.interfaces.ts
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card.interfaces.ts
  packages/core/src/components/card/card.tsx
  packages/core/src/components/close/close.tsx
  packages/core/src/components/content/content.interfaces.ts
  packages/core/src/components/content/content.tsx
  packages/core/src/components/date/date.interfaces.ts
  packages/core/src/components/divider/divider.interfaces.ts
  packages/core/src/components/heading/heading.interfaces.ts
  packages/core/src/components/input/input.interfaces.ts
  packages/core/src/components/label/label.interfaces.ts
  packages/core/src/components/label/label.tsx
  packages/core/src/components/logo/logo.tsx
  packages/core/src/components/segment/segment-item.interfaces.ts
  packages/core/src/components/select/select.interfaces.ts
  packages/core/src/components/stack/stack.interfaces.ts
  packages/core/src/components/tag/tag.interfaces.ts
  packages/tokens/CONTEXT.md
  packages/tokens/tokens/Base.tokens.json
  scripts/figma-sync/lib/tokens.mjs
  scripts/figma-sync/lib/write.mjs
  scripts/figma-sync/pull.mjs
  scripts/figma-sync/test/write.test.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/core/src/components/form/test/form.style.html
  packages/core/src/components/notification/test/notification.style.html
  packages/core/src/components/number-input/test/number-input.style.html
  packages/core/src/components/select/test/select.style.html
  packages/core/src/components/textarea/test/textarea.style.html
  packages/core/src/components/time-input/test/time-input.style.html
  scripts/rename-component-classes.mjs
Due: none

chore: fix toky pull
  apps/toky/src/tokens/figma-pull.ts
  apps/toky/src/tokens/figma.ts
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
