Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: change event type input PoC
  packages/components/src/components/form/bal-input/bal-input.interfaces.ts
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust events
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tabs.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust events
  packages/components/src/components/form/bal-form-grid/bal-form-col/bal-form-col.tsx
  packages/components/src/components/form/bal-form-grid/bal-form-gird.interfaces.ts
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust events
  packages/components/src/components/form/bal-form-grid/bal-form-col/bal-form-col.tsx
  packages/components/src/components/form/bal-form-grid/bal-form-gird.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust events
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust events
  packages/components/src/components.d.ts
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix testing issues
  packages/components/.storybook/main.js
  packages/components/.storybook/preview.js
  packages/components/src/components/bal-navbar/stories/bal-navbar.stories.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/form/bal-form-grid/bal-form-grid.sass
  packages/components/src/components/typography/bal-label/stories/bal-label.stories.ts
  packages/components/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: fix testing issues
  packages/components-angular/src/module.ts
  packages/components/config/doc.components.ts
  packages/components/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update angular
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update angular getting started
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add visual tests for css
  package-lock.json
  packages/components/cypress/e2e/visual/css-border.visual.cy.ts
  packages/components/cypress/e2e/visual/css-color.visual.cy.ts
  packages/components/cypress/e2e/visual/css-core.visual.cy.ts
  packages/components/cypress/e2e/visual/css-display.visual.cy.ts
  packages/components/cypress/e2e/visual/css-flex.visual.cy.ts
  packages/components/cypress/e2e/visual/css-grid.visual.cy.ts
  packages/components/cypress/e2e/visual/css-opacity.visual.cy.ts
  packages/components/cypress/e2e/visual/css-radius.visual.cy.ts
  packages/components/cypress/e2e/visual/css-shadow.visual.cy.ts
  packages/components/cypress/e2e/visual/css-spacing.visual.cy.ts
  packages/components/src/test/css-border.visual.html
  packages/components/src/test/css-color.visual.html
  packages/components/src/test/css-core.visual.html
  packages/components/src/test/css-display.visual.html
  packages/components/src/test/css-flex.visual.html
  packages/components/src/test/css-grid.visual.html
  packages/components/src/test/css-opacity.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-shadow.visual.html
  packages/components/src/test/css-spacing.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): format
  packages/components/src/test/css-core.visual.html
  packages/components/src/test/css-grid.visual.html
Due: none

chore(): refactor
  packages/components/cypress/e2e/visual/css-border.visual.cy.ts
  packages/components/cypress/e2e/visual/css-color.visual.cy.ts
  packages/components/cypress/e2e/visual/css-spacing.visual.cy.ts
  packages/components/src/test/css-border.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): add visual tests for the css framework
  .changeset/lovely-maps-glow.md
  packages/components/cypress/e2e/visual/css-inheritance.visual.cy.ts
  packages/components/src/test/css-border.visual.html
  packages/components/src/test/css-color.visual.html
  packages/components/src/test/css-inheritance.visual.html
  packages/components/src/test/css-radius.visual.html
  packages/components/src/test/css-shadow.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): format
  packages/components/src/test/css-inheritance.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-danger-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-grey-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-grey-dark-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-none-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-primary-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-primary-light-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-success-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-warning-base.png
  packages/components/cypress/snapshots/base/visual/css-border.visual.cy.ts/css-border-white-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-blue-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-danger-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-green-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-grey-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-info-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-light-blue-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-primary-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-purple-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-red-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-success-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-warning-base.png
  packages/components/cypress/snapshots/base/visual/css-color.visual.cy.ts/css-background-color-yellow-base.png
  packages/components/cypress/snapshots/base/visual/css-inheritance.visual.cy.ts/css-inheritance-border-base.png
  packages/components/cypress/snapshots/base/visual/css-inheritance.visual.cy.ts/css-inheritance-colors-base.png
  packages/components/cypress/snapshots/base/visual/css-inheritance.visual.cy.ts/css-inheritance-display-base.png
  packages/components/cypress/snapshots/base/visual/css-inheritance.visual.cy.ts/css-inheritance-opacity-base.png
  packages/components/cypress/snapshots/base/visual/css-inheritance.visual.cy.ts/css-inheritance-shadow-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-large-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-none-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-none-x-large-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-normal-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-rounded-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-radius.visual.cy.ts/css-radius-small-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-shadow.visual.cy.ts/css-shadow-basic-base.png
  packages/components/cypress/snapshots/base/visual/css-shadow.visual.cy.ts/css-shadow-text-shadow-base.png
Due: none

chore(): trigger build
  CHANGELOG.md
Due: none

feat: add no-wrap option to typography components to cut long text with ellipse
  .changeset/plenty-masks-switch.md
  packages/components/cypress/e2e/visual/bal-label.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/typography/bal-heading/bal-heading.sass
  packages/components/src/components/typography/bal-heading/bal-heading.tsx
  packages/components/src/components/typography/bal-heading/test/bal-heading.visual.html
  packages/components/src/components/typography/bal-label/bal-label.sass
  packages/components/src/components/typography/bal-label/bal-label.tsx
  packages/components/src/components/typography/bal-label/test/bal-label.visual.html
  packages/components/src/components/typography/bal-text/bal-text.sass
  packages/components/src/components/typography/bal-text/bal-text.tsx
  packages/components/src/components/typography/bal-text/test/bal-text.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(stack): add more alignment options and add padding properties to the bal-stack
  .changeset/odd-sloths-cheat.md
  packages/components/src/components.d.ts
  packages/components/src/components/layout/bal-stack/bal-stack.interfaces.ts
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update storybook stories
  packages/components/src/components.d.ts
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/components/layout/bal-stack/stories/bal-stack.docs.mdx
  packages/components/src/components/layout/bal-stack/stories/bal-stack.stories.ts
  packages/components/src/components/typography/bal-text/stories/bal-text.docs.mdx
  packages/components/src/components/typography/bal-text/stories/bal-text.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
  packages/components/src/components/typography/bal-heading/test/bal-heading.visual.html
  packages/components/src/components/typography/bal-label/test/bal-label.visual.html
  packages/components/src/components/typography/bal-text/test/bal-text.visual.html
Due: none

feat(divider): add new component
  .build/data/tags.json
  .changeset/tiny-steaks-admire.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox-button.visual.html
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-radio/test/bal-radio-button.visual.html
  packages/components/src/components/layout/bal-content/bal-content.interfaces.ts
  packages/components/src/components/layout/bal-content/bal-content.sass
  packages/components/src/components/layout/bal-content/bal-content.tsx
  packages/components/src/components/layout/bal-content/stories/bal-content.docs.mdx
  packages/components/src/components/layout/bal-content/stories/bal-content.stories.ts
  packages/components/src/components/layout/bal-content/test/bal-content.visual.html
  packages/components/src/components/layout/bal-divider/bal-divider.interfaces.ts
  packages/components/src/components/layout/bal-divider/bal-divider.sass
  packages/components/src/components/layout/bal-divider/bal-divider.tsx
  packages/components/src/components/layout/bal-divider/stories/bal-divider.docs.mdx
  packages/components/src/components/layout/bal-divider/stories/bal-divider.stories.ts
  packages/components/src/components/layout/bal-divider/stories/testing.md
  packages/components/src/components/layout/bal-divider/stories/theming.md
  packages/components/src/components/layout/bal-divider/test/bal-divider.visual.html
  packages/components/src/components/layout/bal-stack/bal-stack.interfaces.ts
  packages/components/src/components/layout/bal-stack/bal-stack.sass
  packages/components/src/components/layout/bal-stack/bal-stack.tsx
  packages/components/src/components/layout/bal-stack/stories/bal-stack.stories.ts
  packages/components/src/components/layout/bal-stack/test/bal-stack.visual.html
  packages/components/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-basic-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox-button.visual.cy.ts/checkbox-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-heading.visual.cy.ts/heading-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-label.visual.cy.ts/label-variants-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-radio-button.visual.cy.ts/radio-button-colors-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-base.png
  packages/components/cypress/snapshots/base/visual/bal-tabs.visual.cy.ts/tabs-meta-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-text.visual.cy.ts/text-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-text.visual.cy.ts/text-variants-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-text.visual.cy.ts/text-variants-tablet-base.png
Due: none

fix: scroll-handler and add download prop to list item
  .changeset/dull-drinks-obey.md
  .changeset/shy-ads-invite.md
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

:bug: fix: scroll-handler and add download prop to list item (#815)
  .changeset/dull-drinks-obey.md
  .changeset/shy-ads-invite.md
  package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/utils/scroll.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update lock file
  package-lock.json
Due: none

chore: remove duplicated prop
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update divider page
  packages/components/src/components/layout/bal-divider/stories/bal-divider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update v13
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tabs): improve combination with stack
  packages/components/src/components.d.ts
  packages/components/src/components/bal-button/bal-button.sass
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
  packages/css/src/core/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update v13 guide
  packages/components/src/components/layout/bal-stack/stories/bal-stack.docs.mdx
  packages/components/src/components/layout/bal-stack/stories/bal-stack.stories.ts
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update v13 guide
  packages/components/src/stories/development/upgrade/upgrade-guide.v13.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add breakpoint utils
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/index.ts
  packages/components/src/utils/breakpoints.ts
  packages/components/src/utils/resize.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add breakpoint utils
  packages/components/src/index.ts
  packages/components/src/utils/breakpoints.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
