Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(footer): add theming variables
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.vars.sass
  packages/components/src/components/bal-footer/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(stage): add theming variables
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-stage/bal-stage.sass
  packages/components/src/components/bal-stage/bal-stage.vars.sass
  packages/components/src/components/bal-stage/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: change variables
  packages/components/src/components/bal-pagination/bal-pagination.sass
Due: none

feat(popover): add theming variables
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/bal-popover/bal-popover.vars.sass
  packages/components/src/components/bal-popover/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-tabs): add theming
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-tabs/bal-tabs.vars.sass
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-label.sass
  packages/components/src/components/bal-tabs/components/tab-nav.sass
  packages/components/src/components/bal-tabs/stories/theming.md
  packages/components/src/components/form/bal-select/stories/theming.md
  packages/components/src/components/notice/bal-modal/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: import variables to footer
  packages/components/src/components/bal-footer/bal-footer.sass
Due: none

test: wait for footer
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-close): add theming
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-close/bal-close.vars.sass
  packages/components/src/components/bal-close/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add props
  packages/components/src/components/bal-tabs/bal-tabs.vars.sass
Due: none

feat(list): add theming variables
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/bal-list.vars.sass
  packages/components/src/components/bal-list/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: wait for logo
  packages/components/cypress/e2e/visual/bal-logo.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: sheet adjust error threshold
  packages/components/cypress/e2e/visual/bal-sheet.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-data): add theming
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-data/bal-data.vars.sass
  packages/components/src/components/bal-data/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-carousel): add theming
  .changeset/angry-peaches-impress.md
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.vars.sass
  packages/components/src/components/bal-carousel/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix spell issue
  cspell.json
Due: none

chore: update changeset changelog style
  .changeset/config.json
  .changeset/my-changelog-config.js
  package-lock.json
  package.json
Due: none

chore(): fix spelling issue
  cspell.json
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-carousel/bal-carousel.vars.sass
Due: none

chore(): change border bottom to 2px
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-data/bal-data.vars.sass
Due: none

chore: update changeset changelog style
  .changeset/my-changelog-config.js
  package-lock.json
Due: none

chore: update changeset changelog style
  .changeset/my-changelog-config.js
Due: none

chore: add css vars
  packages/components/src/components/layout/bal-divider/bal-divder.vars.sass
  packages/components/src/components/layout/bal-divider/bal-divider.sass
Due: none

chore(): replace form field vars
  packages/components/src/components/bal-carousel/bal-carousel.vars.sass
Due: none

chore(): replace form vars
  packages/components/src/components/bal-data/bal-data.vars.sass
Due: none

chore: export BalConfigService
  packages/components-angular/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): replace form vars
  packages/components/src/components/bal-tabs/bal-tabs.vars.sass
Due: none

chore(): reduce imports
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-label.sass
  packages/components/src/components/bal-tabs/components/tab-nav.sass
Due: none

chore: export useBalConfig
  packages/components/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix path
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

chore: update changelog
  .changeset/angry-peaches-impress.md
  .changeset/rotten-boxes-kick.md
Due: none

chore(): update lock file
  package-lock.json
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
