Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve tests
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve tests
  packages/components/cypress/component/bal-datepicker.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve tests
  packages/components/cypress/component/bal-radio.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: global scripts for stackblitz
  .build/globals.js
  .changeset/fuzzy-moles-wonder.md
  package-lock.json
Due: none

docs: add brand-assets
  packages/components/public/assets/images/foundations/brand-assets.svg
  packages/components/public/assets/images/foundations/brand-assets/favicon-colors.svg
  packages/components/public/assets/images/foundations/brand-assets/favicon-sizes.svg
  packages/components/public/assets/images/foundations/brand-assets/logo-1.png
  packages/components/public/assets/images/foundations/brand-assets/logo-2.png
  packages/components/public/assets/images/foundations/brand-assets/shape-colors.png
  packages/components/public/assets/images/foundations/brand-assets/shape-donts-1.png
  packages/components/public/assets/images/foundations/brand-assets/shape-donts-2.png
  packages/components/public/assets/images/foundations/brand-assets/shape-donts-3.png
  packages/components/public/assets/images/foundations/brand-assets/shape-position.png
  packages/components/public/assets/images/foundations/brand-assets/shape-sizes.png
  packages/components/public/assets/images/foundations/brand-assets/shape-types.png
  packages/components/src/stories/foundation/00-overview.stories.mdx
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
  packages/components/src/stories/foundation/brand-assets/02-development.stories.ts
  packages/components/src/stories/foundation/icons/00-overview.stories.mdx
  packages/components/src/stories/foundation/icons/02-development.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix spelling
  packages/components/src/stories/foundation/spacing/00-overview.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: fix spellings
  packages/components/public/assets/images/foundations/brand-assets/shape-do-not-1.png
  packages/components/public/assets/images/foundations/brand-assets/shape-do-not-2.png
  packages/components/public/assets/images/foundations/brand-assets/shape-do-not-3.png
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

reset stackblitz version
  package-lock.json
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: update to stencil v3
  .changeset/modern-maps-repair.md
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/output-targets/angular/package.json
  packages/output-targets/angular/src/output-angular.ts
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/output-targets/vue/src/output-vue.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-input): created 2 BE specific input masks
  packages/components/src/components/form/bal-input/bal-input-util.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: adjust to stencil v3
  packages/output-targets/angular/__tests__/output-angular.spec.ts
  packages/output-targets/react/__tests__/generate-react-components.spec.ts
  packages/output-targets/vue/__tests__/output-vue.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(bal-input): updated input mask docs to contain info about Belgian addition
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust types imports
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox-group/bal-checkbox-group.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/index.ts
  packages/components/src/types.d.ts
  packages/components/src/utils/config/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: adjust types
  packages/components/package.json
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/index.ts
  packages/components/src/types.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove file not used
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix lint issue and cypress test
  packages/components/cypress/component/bal-number-input.cy.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-tablet-base.png
Due: none

test(bal-input): added tests for BE formatting functions
  packages/components/src/components/form/bal-input/test/bal-input-util.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: remove deprecated
  packages/components/config/stencil.basic.config.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.sass
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.sass
  packages/components/src/styles/components.sass
  packages/components/src/styles/global.all.sass
  packages/components/src/styles/global.base.sass
  packages/components/src/styles/global.core.sass
  packages/components/src/styles/global.fonts.sass
  packages/components/src/styles/global.helpers.sass
  packages/components/src/styles/global.sass
  packages/components/src/styles/global.utilities.sass
  packages/components/src/styles/global.variables.sass
  packages/css/package.json
  packages/css/sass/baloise-design-system.sass
  packages/css/scss/baloise-design-system.base.sass
  packages/css/scss/baloise-design-system.fonts.sass
  packages/css/scss/baloise-design-system.helpers.sass
  packages/css/scss/baloise-design-system.layout.sass
  packages/css/scss/baloise-design-system.sass
  packages/css/scss/baloise-design-system.utilities.sass
  packages/css/scss/baloise-design-system.variables.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(cspell): adding iban & enterprisenumber to cspell
  cspell.json
Due: none

refactor(angular): remove non tree shaking component modules.
  .changeset/tender-teachers-sell.md
  package-lock.json
  package.json
  packages/components-angular/src/index.ts
  packages/components-angular/src/module.ts
  packages/components-angular/src/overlays/angular-delegate.ts
  packages/components-angular/src/shared.ts
  packages/components/config/stencil.bindings.angular.ts
  packages/output-targets/angular/__tests__/generate-angular-component.spec.ts
  packages/output-targets/angular/__tests__/generate-value-accessors.spec.ts
  packages/output-targets/angular/__tests__/output-angular.spec.ts
  packages/output-targets/angular/__tests__/plugin.spec.ts
  packages/output-targets/angular/__tests__/utils.spec.ts
  packages/output-targets/angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/checkbox-value-accessor.ts
  packages/output-targets/angular/resources/control-value-accessors/value-accessor.ts
  packages/output-targets/angular/src/generate-angular-component.ts
  packages/output-targets/angular/src/generate-angular-directives-file.ts
  packages/output-targets/angular/src/generate-angular-module.ts
  packages/output-targets/angular/src/generate-value-accessors.ts
  packages/output-targets/angular/src/output-angular.ts
  packages/output-targets/angular/src/plugin.ts
  packages/output-targets/angular/src/types.ts
  packages/output-targets/angular/src/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust exports
  packages/components-angular/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: remove unused tests
  packages/output-targets/angular/__tests__/generate-value-accessors.spec.ts
  packages/output-targets/angular/__tests__/output-angular.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: add types
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add waitForComponent util function
  .changeset/smart-ravens-rule.md
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/index.ts
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
  packages/components/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix spell issues
  cspell.json
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: first draft
  .build/interfaces.js
  packages/components-angular/src/index.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.interfaces.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-badge/bal-badge.interfaces.ts
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/interfaces.d.ts
  packages/components/src/types.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: first draft
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use original output type
  packages/output-targets/angular/src/generate-angular-component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: rename wrong type
  packages/components/src/components/bal-accordion/bal-accordion.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-input): added new BE masks to render formatting switch
  packages/components/src/components/form/bal-input/bal-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve tests
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update Storybook version
  package.json
Due: none

chore(bal-radio-group): add options prop
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio.type.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio.util.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/watch-radios.ts
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/test/bal-radio.cy.html
  packages/components/src/stories/contributors.md
  packages/components/src/stories/foundation/brand-assets/00-overview.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-radio-group): add options prop
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio.type.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio.util.ts
  packages/components/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
