Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: remove bulma dep
  packages/components/.storybook/main.js
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-table/test/bal-table.cy.html
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
  packages/components/src/styles/base/_all.sass
  packages/components/src/styles/components/_all.sass
  packages/css/package-lock.json
  packages/css/package.json
  packages/css/scss/mixins/_all.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix version
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use correct color var
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/styles/components/radio-checkbox.sass
  packages/css/scss/form/file.sass
Due: none

chore: replace spacing css classes
  packages/components/src/components/bal-button/test/bal-button.visual.html
  packages/components/src/components/bal-card/test/bal-card.visual.html
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
  packages/components/src/components/bal-logo/test/bal-logo.visual.html
  packages/components/src/components/bal-popover/test/bal-popover.visual.html
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.visual.html
  packages/components/src/components/form/bal-input-group/test/bal-input-group.visual.html
  packages/components/src/components/form/bal-input-slider/test/bal-input-slider.visual.html
  packages/components/src/components/form/bal-input-stepper/test/bal-input-stepper.visual.html
  packages/components/src/components/form/bal-input/test/bal-input.visual.html
  packages/components/src/components/form/bal-number-input/test/bal-number-input.visual.html
  packages/components/src/components/form/bal-radio/test/bal-radio.visual.html
  packages/components/src/components/form/bal-select/test/bal-select-multiple.visual.html
  packages/components/src/components/form/bal-select/test/bal-select.visual.html
  packages/components/src/components/form/bal-textarea/test/bal-textarea.visual.html
  packages/components/src/components/notice/bal-modal/test/bal-modal.visual.html
Due: none

chore(select): add async
  packages/components/package-lock.json
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/test/bal-select.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: canary release
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: canary release
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove console logs
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/test/bal-select.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: set blur to human
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update datepicker selectors
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: trigger build
  CHANGELOG.md
Due: none

chore: remove console-log
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.16
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust package linking
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: first style updates
  packages/components/src/components/bal-list/bal-list-item-subtitle/bal-list-item-subtitle.tsx
  packages/components/src/components/bal-logo/bal-logo.large.tsx
  packages/components/src/components/bal-logo/bal-logo.small.tsx
  packages/components/src/components/bal-logo/bal-logo.tsx
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: second style updates
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/form/bal-select/bal-select.sass
Due: none

fix(select): remote typeahead display initial value
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix visual tests
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-hint/bal-hint-title/bal-hint-title.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/components/bal-text/test/bal-text.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(select): remote do not validate and return input value on blur
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix visual tests
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: none

chore(): fix visual tests
  packages/components/cypress/e2e/visual/bal-pagination.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix visual tests
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix visual tests
  packages/components/cypress/e2e/visual/bal-pagination.visual.cy.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(tabs): adjust label for steps to start at 1
  packages/components/src/components/bal-tabs/components/steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-desktop-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-mobile-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-tablet-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-inverted-desktop-base.png
  packages/components/cypress/snapshots/base/bal-modal.visual.cy.ts/modal-basic-base.png
  packages/components/cypress/snapshots/base/bal-modal.visual.cy.ts/modal-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.17
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
