Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: migrate list
  docs/.storybook/blocks/Quotes.tsx
  docs/.storybook/blocks/Tabs.tsx
  docs/src/assets/data/components.json
  docs/src/assets/data/tags.json
  docs/src/components/bal-accordion/bal-accordion.stories.ts
  docs/src/components/bal-list/bal-list.mdx
  docs/src/components/bal-list/bal-list.stories.ts
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/core/src/tags-all.ts
  resources/data/components.json
  resources/data/tags.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update snapshots
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.play.ts-snapshots/bal-accordion-accordions-desktop-chrome-linux.png
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.play.ts-snapshots/bal-accordion-accordions-mobile-chrome-linux.png
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.play.ts-snapshots/bal-accordion-button-accordion-desktop-chrome-linux.png
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.play.ts-snapshots/bal-accordion-button-accordion-mobile-chrome-linux.png
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.play.ts-snapshots/bal-accordion-stack-item-desktop-chrome-linux.png
  packages/core/src/components/bal-accordion/test/bal-accordion.visual.play.ts-snapshots/bal-accordion-stack-item-mobile-chrome-linux.png
Due: none

chore: fix ci build
  .claude/skills/design-tokens.md
  .eslintignore
  .prettierignore
  cspell.json
  docs/src/components/bal-accordion/bal-accordion.mdx
  docs/src/components/bal-accordion/bal-accordion.stories.ts
  docs/src/components/bal-list/bal-list.mdx
  package-lock.json
  package.json
  packages/core/src/components/bal-card/test/bal-card.component.play.ts
  packages/core/src/components/bal-list/test/bal-list.visual.html
  packages/styles/sass/normalize.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix ci build
  docs/src/components/bal-snackbar/bal-snackbar.mdx
  docs/src/components/bal-toast/bal-toast.mdx
Due: none

update snapshots
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-badge-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-dashed-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-disabled-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-expanded-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-flat-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-group-column-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-html-tags-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-inverted-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-link-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-loading-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-long-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-rounded-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-shadow-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-square-circle-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button.visual.play.ts-snapshots/bal-button-style-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix ci build
  packages/core/playwright.config.ts
  packages/core/src/utils/number.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix ci build
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts
  packages/core/src/components/bal-shape/test/bal-shape.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update snapshots
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-column-group-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-column-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-expanded-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-expanded-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-group-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-long-labels-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-long-labels-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-column-group-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-column-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-expanded-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-expanded-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-group-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-long-labels-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-long-labels-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-two-row-button-group-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-style-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-two-row-button-group-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-button/test/bal-button-group.visual.play.ts-snapshots/bal-button-group-two-row-button-group-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/bal-shape/test/bal-shape.visual.play.ts-snapshots/bal-shape-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/bal-shape/test/bal-shape.visual.play.ts-snapshots/bal-shape-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: remove false test
  packages/core/src/components/bal-spinner/test/bal-spinner.component.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add spec for removing bal- prefix from component files and namespaces
  docs/superpowers/specs/2026-04-08-remove-bal-prefix-design.md
Due: none

docs: add implementation plan for removing bal- prefix from component files and namespaces
  docs/superpowers/plans/2026-04-08-remove-bal-prefix.md
  package-lock.json
  package.json
Due: none

refactor: rename missed bal-doc-app and fix rename script outer loop
  packages/core/src/components/docs/doc-app/doc-app.scss
  packages/core/src/components/docs/doc-app/doc-app.tsx
  scripts/rename-bal-files.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: fix @Listen event strings and FormInput interface property names
  packages/core/src/components/accordion/accordion.tsx
  packages/core/src/utils/form-input.ts
  scripts/update-bal-content.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: merge BalProps/BalEvents into DS namespace and strip Bal prefix from type names
  packages/core/src/components/accordion/accordion.interfaces.ts
  packages/core/src/components/alert/snackbar/snackbar.interfaces.ts
  packages/core/src/components/alert/toast/toast.interfaces.ts
  packages/core/src/components/app/app.interfaces.ts
  packages/core/src/components/badge/badge.interfaces.ts
  packages/core/src/components/button/button.interfaces.ts
  packages/core/src/components/card/card.interfaces.ts
  packages/core/src/components/close/close.interfaces.ts
  packages/core/src/components/content/content.interfaces.ts
  packages/core/src/components/divider/divider.interfaces.ts
  packages/core/src/components/heading/heading.interfaces.ts
  packages/core/src/components/icon/icon.interfaces.ts
  packages/core/src/components/label/label.interfaces.ts
  packages/core/src/components/logo/logo.interfaces.ts
  packages/core/src/components/notification/notification.interfaces.ts
  packages/core/src/components/shape/shape.interfaces.ts
  packages/core/src/components/spinner/spinner.interfaces.ts
  packages/core/src/components/stack/stack.interfaces.ts
  packages/core/src/components/tag/tag.interfaces.ts
  packages/core/src/components/text/text.interfaces.ts
  scripts/consolidate-namespaces.mjs
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: replace BalProps.*/BalEvents.* with DS.* in component source files and docs
  docs/src/development/00-guides/01-components.mdx
  docs/src/development/01-upgrade/upgrade-guide.v13.mdx
  packages/core/src/components/accordion/accordion.tsx
  packages/core/src/components/alert/alert-container.interfaces.tsx
  packages/core/src/components/alert/snackbar/snackbar.tsx
  packages/core/src/components/alert/toast/toast.tsx
  packages/core/src/components/badge/badge.tsx
  packages/core/src/components/button/button-group/button-group.tsx
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card-actions/card-actions.tsx
  packages/core/src/components/card/card-header/card-header.tsx
  packages/core/src/components/card/card-subtitle/card-subtitle.tsx
  packages/core/src/components/card/card-title/card-title.tsx
  packages/core/src/components/card/card.tsx
  packages/core/src/components/close/close.tsx
  packages/core/src/components/content/content.tsx
  packages/core/src/components/divider/divider.tsx
  packages/core/src/components/heading/heading.tsx
  packages/core/src/components/icon/icon.tsx
  packages/core/src/components/label/label.tsx
  packages/core/src/components/list/item/item.tsx
  packages/core/src/components/logo/logo.tsx
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/shape/shape.tsx
  packages/core/src/components/spinner/spinner.tsx
  packages/core/src/components/stack/stack.tsx
  packages/core/src/components/tag/tag.tsx
  packages/core/src/components/text/text.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: replace BalProps/BalEvents namespace declarations with DS in interfaces.d.ts
  packages/core/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: fix remaining bal- prefix references found during build verification
  packages/core/src/utils/date/date.spec.ts
  packages/core/src/utils/date/date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: ignore .worktrees directory
  .gitignore
Due: none

refactor: rename Stencil tag declarations from bal- to ds-
  packages/core/src/components/accordion/accordion.tsx
  packages/core/src/components/alert/alert-container.tsx
  packages/core/src/components/alert/snackbar/snackbar.tsx
  packages/core/src/components/alert/toast/toast.tsx
  packages/core/src/components/app/app.tsx
  packages/core/src/components/badge/badge.tsx
  packages/core/src/components/button/button-group/button-group.tsx
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card-actions/card-actions.tsx
  packages/core/src/components/card/card-content/card-content.tsx
  packages/core/src/components/card/card-header/card-header.tsx
  packages/core/src/components/card/card-subtitle/card-subtitle.tsx
  packages/core/src/components/card/card-title/card-title.tsx
  packages/core/src/components/card/card.tsx
  packages/core/src/components/checkbox/check/check.tsx
  packages/core/src/components/checkbox/switch/switch.tsx
  packages/core/src/components/close/close.tsx
  packages/core/src/components/content/content.tsx
  packages/core/src/components/divider/divider.tsx
  packages/core/src/components/docs/doc-app/doc-app.tsx
  packages/core/src/components/heading/heading.tsx
  packages/core/src/components/icon/icon.tsx
  packages/core/src/components/label/label.tsx
  packages/core/src/components/list/item/item.tsx
  packages/core/src/components/list/list.tsx
  packages/core/src/components/logo/logo.tsx
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/shape/shape.tsx
  packages/core/src/components/spinner/spinner.tsx
  packages/core/src/components/stack/stack.tsx
  packages/core/src/components/tag/tag-group/tag-group.tsx
  packages/core/src/components/tag/tag.tsx
  packages/core/src/components/text/text.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: rename bal- element tags in TSX render trees to ds-
  packages/core/src/components/accordion/accordion.tsx
  packages/core/src/components/alert/snackbar/snackbar.tsx
  packages/core/src/components/alert/toast/toast.tsx
  packages/core/src/components/badge/badge.tsx
  packages/core/src/components/button/button.tsx
  packages/core/src/components/card/card-actions/card-actions.tsx
  packages/core/src/components/card/card-title/card-title.tsx
  packages/core/src/components/checkbox/check/check.tsx
  packages/core/src/components/checkbox/switch/switch.tsx
  packages/core/src/components/close/close.tsx
  packages/core/src/components/docs/doc-app/doc-app.tsx
  packages/core/src/components/list/item/item.tsx
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/tag/tag.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: rename HTMLBal* element types to HTMLDs*
  packages/core/src/components/accordion/accordion.interfaces.ts
  packages/core/src/components/alert/alert-container.tsx
  packages/core/src/components/alert/alert.controller.ts
  packages/core/src/components/alert/snackbar/snackbar.interfaces.ts
  packages/core/src/components/alert/snackbar/snackbar.tsx
  packages/core/src/components/alert/toast/toast.interfaces.ts
  packages/core/src/components/alert/toast/toast.tsx
  packages/core/src/components/app/app.interfaces.ts
  packages/core/src/components/button/button.interfaces.ts
  packages/core/src/components/notification/notification.interfaces.ts
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/tag/tag.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: rename bal- strings in createElement/querySelector/closest calls
  packages/core/src/components/alert/alert.controller.ts
  packages/core/src/utils/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: rename tag list entries from bal- to ds-
  packages/core/src/tags-all.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: rename bal- element selectors in SCSS to ds-
  packages/core/src/components/accordion/accordion.host.scss
  packages/core/src/components/accordion/accordion.style.scss
  packages/core/src/components/alert/alert-container.host.scss
  packages/core/src/components/alert/snackbar/snackbar.host.scss
  packages/core/src/components/alert/toast/toast.host.scss
  packages/core/src/components/badge/badge.host.scss
  packages/core/src/components/button/button-group/button-group.mixin.scss
  packages/core/src/components/button/button.style.scss
  packages/core/src/components/card/card-header/card-header.mixin.scss
  packages/core/src/components/card/card.style copy.scss
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/checkbox/check/check.host.scss
  packages/core/src/components/checkbox/switch/switch.host.scss
  packages/core/src/components/content/content.host.scss
  packages/core/src/components/link/link.style.scss
  packages/core/src/components/list/item/item.host.scss
  packages/core/src/components/list/list.style.scss
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/stack/stack.host.scss
  packages/core/src/components/stack/stack.style.scss
  packages/core/src/components/tag/tag.style.scss
  packages/styles/src/mixins/bem.mixin.scss
Due: prettier --write

refactor: rename bal- element tags in test HTML fixtures to ds-
  packages/core/src/components/accordion/test/accordion.style.html
  packages/core/src/components/accordion/test/accordion.visual.html
  packages/core/src/components/alert/test/alert.visual.html
  packages/core/src/components/alert/test/snackbar.visual.html
  packages/core/src/components/alert/test/toast.visual.html
  packages/core/src/components/badge/test/badge.visual.html
  packages/core/src/components/button/test/button-group.style.html
  packages/core/src/components/button/test/button-group.visual.html
  packages/core/src/components/button/test/button.style.html
  packages/core/src/components/button/test/button.visual.html
  packages/core/src/components/card/test/card.style.html
  packages/core/src/components/card/test/card.visual.html
  packages/core/src/components/checkbox/test/check.visual.html
  packages/core/src/components/checkbox/test/switch.visual.html
  packages/core/src/components/close/test/close.visual.html
  packages/core/src/components/content/test/content.style.html
  packages/core/src/components/content/test/content.visual.html
  packages/core/src/components/divider/test/divider.visual.html
  packages/core/src/components/heading/test/heading.visual.html
  packages/core/src/components/icon/test/icon.visual.html
  packages/core/src/components/label/test/label.visual.html
  packages/core/src/components/link/test/link.style.html
  packages/core/src/components/list/test/list.style.html
  packages/core/src/components/list/test/list.visual.html
  packages/core/src/components/logo/test/logo.visual.html
  packages/core/src/components/notification/test/notification.style.html
  packages/core/src/components/notification/test/notification.visual.html
  packages/core/src/components/shape/test/shape.visual.html
  packages/core/src/components/spinner/test/spinner.visual.html
  packages/core/src/components/stack/test/stack.style.html
  packages/core/src/components/stack/test/stack.visual.html
  packages/core/src/components/tag/test/tag.style.html
  packages/core/src/components/tag/test/tag.visual.html
  packages/core/src/components/text/test/text.visual.html
Due: none

refactor: fix remaining bal- references in HTML style/script blocks
  packages/core/src/components/close/test/close.visual.html
  packages/core/src/components/icon/test/icon.visual.html
  packages/core/src/components/text/test/text.visual.html
Due: none

refactor: rename bal- locators in Playwright PO package and mount helper
  packages/playwright/src/lib/components/snackbar.po.ts
  packages/playwright/src/lib/components/tag.po.ts
  packages/playwright/src/lib/components/toast.po.ts
  packages/playwright/src/lib/page/utils/mount.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor: rename bal- element references in Storybook stories
  docs/src/components/accordion/accordion.stories.ts
  docs/src/components/app/app.stories.ts
  docs/src/components/badge/badge.stories.ts
  docs/src/components/button/button.stories.ts
  docs/src/components/card/card.stories.ts
  docs/src/components/close/close.stories.ts
  docs/src/components/content/content.stories.ts
  docs/src/components/divider/divider.stories.ts
  docs/src/components/heading/heading.stories.ts
  docs/src/components/icon/icon.stories.ts
  docs/src/components/label/label.stories.ts
  docs/src/components/list/list.stories.ts
  docs/src/components/logo/logo.stories.ts
  docs/src/components/notification/notification.stories.ts
  docs/src/components/shape/shape.stories.ts
  docs/src/components/snackbar/snackbar.stories.ts
  docs/src/components/spinner/spinner.stories.ts
  docs/src/components/stack/stack.stories.ts
  docs/src/components/tag/tag.stories.ts
  docs/src/components/text/text.stories.ts
  docs/src/components/toast/toast.stories.ts
Due: none

refactor: rename bal- element references in Storybook MDX and code-sandbox docs
  docs/src/components/00-overview.mdx
  docs/src/components/app/app.mdx
  docs/src/components/button/button.mdx
  docs/src/components/icon/icon.mdx
  docs/src/components/label/label.mdx
  docs/src/components/snackbar/code-sandbox/example_component_html.md
  docs/src/components/stack/stack.mdx
  docs/src/components/tag/tag.mdx
  docs/src/components/toast/code-sandbox/example_component_html.md
Due: none

refactor: update changeset executor to strip ds- prefix instead of bal-
  libs/nx/src/executors/create-changeset/executor.ts
Due: none

refactor: fix remaining bal- references found during final verification
  docs/src/contributing/05-components.mdx
  docs/src/contributing/06-tests.mdx
  docs/src/development/00-guides/00-getting-started.mdx
  docs/src/development/00-guides/01-components.mdx
  docs/src/development/00-guides/02-form.mdx
  docs/src/development/00-guides/05-styles.mdx
  docs/src/development/00-guides/06-theming.mdx
  docs/src/development/00-guides/08-testing.mdx
  docs/src/foundation/Iconography.mdx
  docs/src/foundation/brand-assets.mdx
  docs/src/foundation/layout.mdx
  docs/src/foundation/typography.mdx
  docs/src/tokens/00-overview.mdx
  docs/src/utilities/typography/typography-color.mdx
  docs/src/utils/attributes.ts
  docs/src/welcome.mdx
  libs/nx/src/executors/build-styles/generators/utils.ts
  packages/core/src/components/alert/alert-container.tsx
  packages/core/src/components/button/button.tsx
  packages/core/src/components/tag/tag.tsx
  packages/core/src/components/text/text.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
