Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: revert ci
  .github/workflows/continuous.yml
Due: none

chore: fix tests
  packages/core/src/components/brand-icon/test/brand-icon.component.play.ts
  packages/core/src/components/heading/test/heading.style.html
  packages/core/src/foundation/typography.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix tests
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-states-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-states-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-svg-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/icon-svg-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: add badge, button, tag and text cell renderers to AG Grid
  apps/storybook/src/components/ag-grid/ag-grid.stories.ts
  package.json
  packages/ag-grid/package.json
  packages/ag-grid/src/badge-cell-renderer.spec.ts
  packages/ag-grid/src/badge-cell-renderer.ts
  packages/ag-grid/src/button-cell-renderer.spec.ts
  packages/ag-grid/src/button-cell-renderer.ts
  packages/ag-grid/src/cell-renderer-utils.ts
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
  packages/ag-grid/src/tag-cell-renderer.spec.ts
  packages/ag-grid/src/tag-cell-renderer.ts
  packages/ag-grid/src/text-cell-renderer.spec.ts
  packages/ag-grid/src/text-cell-renderer.ts
  packages/ag-grid/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for brand-icon,heading
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-states-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-states-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-svg-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-svg-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-tile-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/brand-icon/test/brand-icon.visual.play.ts-snapshots/brand-icon-tile-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/heading/test/heading.visual.play.ts-snapshots/heading-style-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/heading/test/heading.visual.play.ts-snapshots/heading-style-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/heading/test/heading.visual.play.ts-snapshots/heading-style-visual-level-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/heading/test/heading.visual.play.ts-snapshots/heading-style-visual-level-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update screenshots for typography
  packages/core/src/foundation/typography.visual.play.ts-snapshots/typography-weight-🖼️-Visual-💻-Desktop-Chrome-linux.png
Due: none

feat: add documentation for the AG Grid theme
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/components/ag-grid/ag-grid.mdx
  apps/storybook/src/components/ag-grid/ag-grid.stories.ts
Due: none

feat: avoid branded naming
  .changeset/quiet-otters-ag-grid.md
  CLAUDE.md
  CONTEXT-MAP.md
  packages/ag-grid/CONTEXT.md
Due: prettier --write

fix: format files
  CONTEXT-MAP.md
  packages/ag-grid/src/cell-renderer-utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: AG Grid: set default size sm for tags, set general font family to include the pagination, increase space between icon and text
  apps/storybook/src/components/ag-grid/ag-grid.mdx
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
  packages/ag-grid/src/tag-cell-renderer.spec.ts
  packages/ag-grid/src/tag-cell-renderer.ts
  packages/ag-grid/src/text-cell-renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: lint card
  apps/storybook/src/components/card/card.stories.ts
  apps/toky/app/token-editor.tsx
  packages/core/src/components.d.ts
  packages/core/src/components/card/card-actions/card-actions.tsx
  packages/core/src/components/card/card-content/card-content.host.scss
  packages/core/src/components/card/card-content/card-content.tsx
  packages/core/src/components/card/card-header/card-header.mixin.scss
  packages/core/src/components/card/card-header/card-header.tsx
  packages/core/src/components/card/card-subtitle/card-subtitle.mixin.scss
  packages/core/src/components/card/card-subtitle/card-subtitle.tsx
  packages/core/src/components/card/card-title/card-title.mixin.scss
  packages/core/src/components/card/card-title/card-title.tsx
  packages/core/src/components/card/card.host.scss
  packages/core/src/components/card/card.interfaces.ts
  packages/core/src/components/card/card.style.scss
  packages/core/src/components/card/card.tsx
  packages/core/src/components/card/test/card.style.html
  packages/core/src/components/card/test/card.visual.html
  packages/core/src/components/card/test/card.visual.play.ts
  packages/core/src/components/input/test/input.visual.html
  packages/core/src/typography.scss
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Feat/date picker inline (#2176)
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/date/3-Variants.mdx
  apps/storybook/src/components/date/date.stories.ts
  packages/core/src/components.d.ts
  packages/core/src/components/date/date.host.scss
  packages/core/src/components/date/date.tsx
  packages/core/src/components/date/test/date.component.play.ts
  packages/core/src/components/date/test/date.visual.html
  packages/core/src/components/date/test/date.visual.play.ts
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-allowed-dates-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-basic-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-default-date-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-inline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-inline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/date/test/date.visual.play.ts-snapshots/date-min-max-picker-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/tsconfig.json
  packages/playwright/src/lib/components/date.po.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update todos
  docs/TODOS.md
Due: none

chore: update screenshots for card
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-centered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-centered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-combi-header-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-combi-header-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-fullheight-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-fullheight-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-image-teaser-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-image-teaser-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-images-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-images-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-spaces-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-spaces-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-centered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-centered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-combi-header-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-combi-header-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-fullheight-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-fullheight-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-image-teaser-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-image-teaser-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-images-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-images-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-spaces-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-spaces-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-tile-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-style-tile-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-tile-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/card/test/card.visual.play.ts-snapshots/card-tile-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: fix ci build
  packages/core/src/components.d.ts
  packages/core/src/components/accordion/accordion.interfaces.ts
  packages/core/src/components/accordion/accordion.tsx
  packages/core/src/components/button/button.interfaces.ts
  packages/core/src/components/carousel/carousel-item/carousel-item.tsx
  packages/core/src/components/carousel/carousel.interfaces.ts
  packages/core/src/components/carousel/carousel/carousel.tsx
  packages/core/src/components/input-stepper/input-stepper.tsx
  packages/core/src/components/list/item/item.interfaces.ts
  packages/core/src/components/list/item/item.tsx
  packages/core/src/components/list/list.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for accordion
  packages/core/src/components/accordion/test/accordion.visual.play.ts-snapshots/accordion-stack-item-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/accordion/test/accordion.visual.play.ts-snapshots/accordion-stack-item-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/accordion/test/accordion.visual.play.ts-snapshots/accordion-style-stack-item-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/accordion/test/accordion.visual.play.ts-snapshots/accordion-style-stack-item-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

feat: add ControlValueAccessor foundation
  .changeset/hungry-months-wave.md
  .changeset/neat-geckos-play.md
  apps/integration-angular/e2e/app.spec.ts
  apps/integration-angular/package.json
  apps/integration-angular/src/app/app.html
  apps/integration-angular/src/app/app.ts
  apps/storybook/src/assets/data/components.json
  packages/angular/CONTEXT.md
  packages/angular/package.json
  packages/angular/src/forms/text-value-accessor.ts
  packages/angular/src/forms/value-accessor.ts
  packages/angular/src/index.ts
  packages/core/src/components.d.ts
  packages/core/src/components/input/input.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: AG Grid: remove checkbox focus shadow
  packages/ag-grid/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat: AG Grid: merge documentation with table component
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/components/ag-grid/ag-grid.mdx
  apps/storybook/src/components/table/1-Overview.mdx
  apps/storybook/src/components/table/3-Variants.mdx
  apps/storybook/src/components/table/ag-grid.stories.ts
  apps/storybook/src/components/table/table.stories.ts
Due: none

feat: AG Grid: use neutral wording for the grid theme
  .changeset/quiet-otters-ag-grid.md
  apps/storybook/src/components/table/3-Variants.mdx
  apps/storybook/src/components/table/ag-grid.stories.ts
  packages/ag-grid/CONTEXT.md
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

correct merge problems
  apps/storybook/.storybook/story-paths.json
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/table/3-Variants.mdx
  apps/storybook/src/components/table/table.stories.ts
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
  packages/core/src/components/input-stepper/input-stepper.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: pagination & carousel
  .changeset/calm-mirrors-stop.md
  .changeset/wide-cups-guess.md
  .gitignore
  apps/storybook/src/assets/data/components.json
  apps/storybook/src/components/list/3-Variants.mdx
  apps/storybook/src/components/list/list.stories.ts
  docs/TODOS.md
  docs/adr/0023-ds-input-phone-bespoke-country-picker.md
  docs/adr/0024-ds-input-phone-lazy-svg-flags.md
  docs/plans/ds-input-phone-plan.md
  packages/core/CONTEXT.md
  packages/core/src/components.d.ts
  packages/core/src/components/accordion/accordion.host.scss
  packages/core/src/components/alert/snackbar/snackbar.host.scss
  packages/core/src/components/alert/toast/toast.host.scss
  packages/core/src/components/carousel/carousel/carousel.host.scss
  packages/core/src/components/carousel/carousel/carousel.tsx
  packages/core/src/components/carousel/test/carousel.visual.html
  packages/core/src/components/file-upload/file-upload.host.scss
  packages/core/src/components/hint/hint.host.scss
  packages/core/src/components/input-slider/input-slider.host.scss
  packages/core/src/components/input-stepper/input-stepper.host.scss
  packages/core/src/components/list/description-list-native.styles.scss
  packages/core/src/components/list/item/item.host.scss
  packages/core/src/components/list/item/item.interfaces.ts
  packages/core/src/components/list/item/item.tsx
  packages/core/src/components/list/list.host.scss
  packages/core/src/components/list/list.style.scss
  packages/core/src/components/list/list.tsx
  packages/core/src/components/list/test/list.visual.html
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/pagination/pagination.host.scss
  packages/core/src/components/pagination/pagination.interfaces.ts
  packages/core/src/components/pagination/pagination.tsx
  packages/core/src/components/tabs/tabs/tabs.host.scss
  packages/core/src/typography.scss
  packages/tokens/tokens/Base.tokens.json
  phone.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for pagination,carousel
  packages/core/src/components/carousel/test/carousel.visual.play.ts-snapshots/carousel-brand-icons-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/carousel/test/carousel.visual.play.ts-snapshots/carousel-brand-icons-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-alignment-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-alignment-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-ranges-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-ranges-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/pagination/test/pagination.visual.play.ts-snapshots/pagination-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update screenshots for list,badge,tag
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-accordion-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-download-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-download-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-linked-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-linked-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-nested-accordion-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-ordered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-ordered-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-accordion-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-accordion-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-download-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-download-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-linked-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-linked-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-nested-accordion-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-nested-accordion-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-ordered-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/list/test/list.visual.play.ts-snapshots/list-style-ordered-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: lint alerts
  .changeset/notification-remove-large-size.md
  .changeset/snackbar-tokens-restructure.md
  .changeset/toast-tokens-remove-base-suffix.md
  packages/core/src/components.d.ts
  packages/core/src/components/alert/alert-container.host.scss
  packages/core/src/components/alert/snackbar/snackbar.host.scss
  packages/core/src/components/alert/snackbar/snackbar.tsx
  packages/core/src/components/alert/test/toast.visual.html
  packages/core/src/components/alert/toast/toast.host.scss
  packages/core/src/components/alert/toast/toast.tsx
  packages/core/src/components/close/close.host.scss
  packages/core/src/components/close/close.tsx
  packages/core/src/components/input-stepper/input-stepper.tsx
  packages/core/src/components/notification/notification.host.scss
  packages/core/src/components/notification/notification.interfaces.ts
  packages/core/src/components/notification/notification.style.scss
  packages/core/src/components/notification/notification.tsx
  packages/core/src/components/notification/test/notification.style.html
  packages/core/src/components/notification/test/notification.visual.html
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-no-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-no-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-outline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-outline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-no-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-no-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-outline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-outline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update screenshots for notification,toast,snackbar
  packages/core/src/components/alert/test/snackbar.visual.play.ts-snapshots/snackbar-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/alert/test/snackbar.visual.play.ts-snapshots/snackbar-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/alert/test/snackbar.visual.play.ts-snapshots/snackbar-mobile-variant-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/alert/test/snackbar.visual.play.ts-snapshots/snackbar-variants-with-brand-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/alert/test/snackbar.visual.play.ts-snapshots/snackbar-variants-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/alert/test/toast.visual.play.ts-snapshots/toast-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/alert/test/toast.visual.play.ts-snapshots/toast-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/alert/test/toast.visual.play.ts-snapshots/toast-variants-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-long-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-long-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-no-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-no-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-outline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-outline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-basic-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-basic-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-colors-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-colors-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-long-content-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-long-content-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-no-icon-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-no-icon-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-outline-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-outline-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-sizes-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/notification/test/notification.visual.play.ts-snapshots/notification-style-sizes-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update screenshots for alert
  packages/core/src/components/alert/test/alert.visual.play.ts-snapshots/alert-toast-infinite-open-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: update todo
  docs/TODOS.md
Due: none

feat: add AG Grid theme (#2181)
  .changeset/quiet-otters-ag-grid.md
  CLAUDE.md
  CONTEXT-MAP.md
  apps/storybook/.storybook/preview.ts
  apps/storybook/package.json
  apps/storybook/src/components/table/1-Overview.mdx
  apps/storybook/src/components/table/3-Variants.mdx
  apps/storybook/src/components/table/ag-grid.stories.ts
  apps/storybook/src/components/table/table.stories.ts
  package.json
  packages/ag-grid/CONTEXT.md
  packages/ag-grid/eslint.config.ts
  packages/ag-grid/package.json
  packages/ag-grid/src/badge-cell-renderer.spec.ts
  packages/ag-grid/src/badge-cell-renderer.ts
  packages/ag-grid/src/button-cell-renderer.spec.ts
  packages/ag-grid/src/button-cell-renderer.ts
  packages/ag-grid/src/cell-renderer-utils.ts
  packages/ag-grid/src/index.spec.ts
  packages/ag-grid/src/index.ts
  packages/ag-grid/src/tag-cell-renderer.spec.ts
  packages/ag-grid/src/tag-cell-renderer.ts
  packages/ag-grid/src/text-cell-renderer.spec.ts
  packages/ag-grid/src/text-cell-renderer.ts
  packages/ag-grid/tsconfig.json
  packages/ag-grid/tsconfig.lib.json
  packages/ag-grid/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix lock file
  pnpm-lock.yaml
Due: none

chore: skip test for now. will fix them later
  packages/core/src/components/alert/test/snackbar.a11y.play.ts
  packages/core/src/components/carousel/test/carousel.a11y.play.ts
  packages/core/src/components/data/test/data.a11y.play.ts
  packages/core/src/components/navbar/test/navbar.a11y.play.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: lint overlays
  apps/storybook/src/assets/data/components.json
  docs/TODOS.md
  packages/core/src/components/hint/hint-text/hint-text.tsx
  packages/core/src/components/hint/hint-title/hint-title.tsx
  packages/core/src/components/hint/hint.host.scss
  packages/core/src/components/hint/hint.tsx
  packages/core/src/components/modal/modal-body/modal-body.tsx
  packages/core/src/components/modal/modal-header/modal-header.tsx
  packages/core/src/components/modal/modal.host.scss
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/popup/popup.host.scss
  packages/core/src/components/popup/popup.tsx
  packages/core/src/components/tooltip/tooltip.host.scss
  packages/core/src/components/tooltip/tooltip.tsx
  packages/tokens/src/formatter.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix js-yaml import
  scripts/check-overrides.mjs
Due: none

chore: update screenshots for hint,tooltip,modal,popup
  packages/core/src/components/popup/test/popup.visual.play.ts-snapshots/popup-backdrop-overlay-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/popup/test/popup.visual.play.ts-snapshots/popup-backdrop-overlay-🖼️-Visual-📱-Mobile-Chrome-linux.png
Due: none

chore: lint overlays (#2190)
  apps/storybook/src/assets/data/components.json
  docs/TODOS.md
  packages/core/src/components/hint/hint-text/hint-text.tsx
  packages/core/src/components/hint/hint-title/hint-title.tsx
  packages/core/src/components/hint/hint.host.scss
  packages/core/src/components/hint/hint.tsx
  packages/core/src/components/modal/modal-body/modal-body.tsx
  packages/core/src/components/modal/modal-header/modal-header.tsx
  packages/core/src/components/modal/modal.host.scss
  packages/core/src/components/modal/modal.tsx
  packages/core/src/components/popup/popup.host.scss
  packages/core/src/components/popup/popup.tsx
  packages/core/src/components/popup/test/popup.visual.play.ts-snapshots/popup-backdrop-overlay-🖼️-Visual-💻-Desktop-Chrome-linux.png
  packages/core/src/components/popup/test/popup.visual.play.ts-snapshots/popup-backdrop-overlay-🖼️-Visual-📱-Mobile-Chrome-linux.png
  packages/core/src/components/tooltip/tooltip.host.scss
  packages/core/src/components/tooltip/tooltip.tsx
  packages/tokens/src/formatter.ts
  packages/tokens/tokens/Base.tokens.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: regenerate lockfile after consolidated changeset tooling bumps
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
