Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): remove checked flat select button snapshot
  packages/components/cypress/e2e/visual/bal-checkbox.visual.cy.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-checkbox): refactor
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

chore(bal-checkbox): refactor
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-checked-flat-select-button-desktop-base.png
Due: none

fix(): adjust color contrast for value and placeholder disabled fields
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/css/scss/form/shared.sass
Due: none

chore(): add changeset
  .changeset/light-tools-listen.md
Due: none

chore(): add changeset
  .changeset/thirty-ligers-wave.md
Due: none

refactor(css): remove sass variables
  .build/tokens-generator.js
  packages/css/scss/baloise-design-system.variables.sass
  packages/css/scss/base/_all.sass
  packages/css/scss/form/_all.sass
  packages/css/scss/form/button.sass
  packages/css/scss/form/checkbox-radio.sass
  packages/css/scss/form/file.sass
  packages/css/scss/form/select.sass
  packages/css/scss/helpers/typography.helper.sass
  packages/css/scss/layout/link.sass
  packages/css/scss/layout/table.sass
  packages/css/scss/layout/typography.sass
  packages/css/scss/mixins/general.mixin.sass
  packages/css/scss/variables/_all.sass
  packages/css/scss/variables/colors.legacy.vars.sass
  packages/css/scss/variables/general.vars.sass
  packages/css/scss/variables/typography.vars.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: change old sass vars
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-sheet/bal-sheet.sass
Due: none

chore: adjust table vars
  packages/components-table/scss/design-system-table.sass
Due: none

chore: only add padding if not last child
  packages/css/scss/layout/typography.sass
Due: none

chore: adjust shadow and line-height p
  .build/tokens-generator.js
  packages/css/scss/layout/typography.sass
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore ignore generated file
  .prettierignore
Due: none

chore: remove scss vars
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/form/select.sass
  packages/css/scss/form/shared.sass
  packages/css/scss/mixins/control.mixin.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-datepicker.visual.cy.ts/datepicker-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-datepicker.visual.cy.ts/datepicker-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-basic-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-basic-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-icon-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-icon-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-phone-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-phone-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-tags-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input-group.visual.cy.ts/input-group-tags-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-input.visual.cy.ts/input-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-input.visual.cy.ts/input-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-number-input.visual.cy.ts/number-input-disabled-base.png
  packages/components/cypress/snapshots/base/visual/bal-number-input.visual.cy.ts/number-input-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-value-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-select.visual.cy.ts/select-multiple-basic-value-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-shape.visual.cy.ts/shape-variants-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-tablet-base.png
Due: none

chore: prepare upcoming changes
  packages/components/src/components/bal-app/bal-app.sass
  packages/css/README.md
  packages/css/scss/helpers/display.helper.sass
  packages/css/scss/helpers/others.helper.sass
  packages/css/scss/layout/_all.sass
  packages/css/scss/layout/container.sass
  packages/css/scss/layout/sticky-footer.sass
Due: prettier --write

fix(bal-select): only validate input when leaving the component. Closes #1091
  .changeset/violet-icons-taste.md
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update migration for bal-radio. Closes #1089
  packages/components/src/stories/development/migration/09-migration-from-9x-to-10x.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-field.visual.cy.ts/field-disabled-tablet-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore: trigger build
  CHANGELOG_v12.md
Due: none

chore: add changeset
  .changeset/tidy-tables-scream.md
Due: none

chore: adjust paths and legacy
  packages/css/scss/baloise-design-system.base.sass
  packages/css/scss/baloise-design-system.fonts.sass
  packages/css/scss/baloise-design-system.helpers.sass
  packages/css/scss/baloise-design-system.layout.sass
  packages/css/scss/baloise-design-system.sass
  packages/css/scss/baloise-design-system.utilities.sass
  packages/css/scss/baloise-design-system.variables.sass
  packages/css/src/core/layout/typography.sass
  packages/css/src/css/baloise-design-system.sass
  packages/css/src/css/legacy.sass
Due: none

chore: first file-upload draft
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-file-upload/bal-file-upload.sass
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/old.md
  packages/components/src/components/form/bal-file-upload/test/bal-file-upload.cy.html
  packages/components/src/components/form/bal-file-upload/utils/file-list.util.ts
  packages/components/src/components/form/bal-file-upload/utils/file-validation.util.ts
  packages/css/scss/mixins/extends.sass
  packages/css/scss/mixins/general.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): replace values with tokens
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
Due: none

refactor(bal-file-upload): add file validation and styling
  package-lock.json
  package.json
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-file-upload/bal-file-upload.sass
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/components/file-list.tsx
  packages/components/src/components/form/bal-file-upload/old.md
  packages/components/src/components/form/bal-file-upload/test/bal-file-upload.cy.html
  packages/components/src/components/form/bal-file-upload/test/file-validation.util.spec.ts
  packages/components/src/components/form/bal-file-upload/test/file.mock.ts
  packages/components/src/components/form/bal-file-upload/utils/file-list.util.ts
  packages/components/src/components/form/bal-file-upload/utils/file-validation.util.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/form/bal-file-upload/old.md
  packages/components/src/components/form/bal-file-upload/test/bal-file-upload.cy.html
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update story
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
  packages/components/src/components/form/bal-file-upload/test/bal-file-upload.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/eleven-badgers-confess.md
Due: none

fix: set version again
  .build/version.js
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust file validation
  packages/components/src/components/form/bal-file-upload/test/file-validation.util.spec.ts
  packages/components/src/components/form/bal-file-upload/utils/file-validation.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): remove unused variable
  packages/components/src/components/form/bal-file-upload/test/file-validation.util.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format code
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(footer): active Germany. Closes #1094
  .changeset/tough-bugs-guess.md
  package-lock.json
  packages/components/package.json
  packages/components/src/components/bal-footer/bal-footer.tsx
  packages/components/src/components/bal-footer/stories/bal-footer.docs.mdx
  packages/components/src/components/bal-footer/stories/bal-footer.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust migration
  packages/components/src/stories/development/migration/09-migration-from-9x-to-10x.stories.mdx
  packages/components/src/stories/development/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/stories/utils/parameter.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: remove wrong label
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: format files
  packages/components/src/stories/development/migration/10-migration-from-10x-to-11x.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add vscode support and do not release doc components
  .changeset/strange-trainers-decide.md
  .eslintignore
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
  .gitignore
  .prettierignore
  package-lock.json
  packages/components/config/doc.components.ts
  packages/components/config/stencil.basic.config.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/tsconfig.release.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
