Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: remove old file
  packages/components/src/components/form/bal-select/test/bal-select.init.html
Due: none

test: adjust new focus rule
  packages/components/cypress/component/bal-select.cy.ts
  packages/components/cypress/e2e/base/select.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(tabs): add visual test
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
  packages/components/src/components/bal-tabs/index.html
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-tablet-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(logo): load svg on resize
  packages/components/src/components.d.ts
  packages/components/src/components/bal-logo/bal-logo.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-base.png
Due: none

chore: trigger build
  CHANGELOG.md
Due: none

chore: format file
  packages/components/src/components/bal-tabs/test/bal-tabs.visual.html
Due: none

test(datepicker): add visual test
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(tabs): wait for animation
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: rename image files
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(textarea): add visual test
  packages/components/cypress/e2e/visual/bal-textarea.visual.cy.ts
  packages/components/src/components/form/bal-textarea/test/bal-textarea.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-disabled-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-field-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-field-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-invalid-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-tablet-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-steps-mobile-base.png
Due: none

test(select): add visual test
  packages/components/cypress/e2e/visual/bal-select.visual.cy.ts
  packages/components/src/components/form/bal-select/test/bal-select-multiple.visual.html
  packages/components/src/components/form/bal-select/test/bal-select.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-value-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-value-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-field-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-field-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-invalid-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-value-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-value-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-disabled-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-field-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-field-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-invalid-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-invalid-mobile-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-basic-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-disabled-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-disabled-mobile-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-field-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-field-mobile-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-invalid-base.png
  packages/components/cypress/snapshots/base/bal-textarea.visual.cy.ts/textarea-invalid-mobile-base.png
Due: none

test(navigation): wait for logo loading
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(navigation): skip failing test
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: make screenshot of whole page when popover is open
  packages/components/cypress/e2e/visual/bal-datepicker.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-select.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-base.png
  packages/components/cypress/snapshots/base/bal-datepicker.visual.cy.ts/datepicker-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-basic-open-selected-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-mobile-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-selected-desktop-base.png
  packages/components/cypress/snapshots/base/bal-select.visual.cy.ts/select-multiple-basic-open-selected-mobile-base.png
Due: none

chore: update lock fiel
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: add some visual tests
  packages/components/cypress/e2e/visual/bal-input-group.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-input-slider.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-input-stepper.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-input.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-modal.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-number-input.visual.cy.ts
  packages/components/cypress/e2e/visual/bal-radio.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-input-group/test/bal-input-group.visual.html
  packages/components/src/components/form/bal-input-slider/test/bal-input-slider.visual.html
  packages/components/src/components/form/bal-input-stepper/test/bal-input-stepper.visual.html
  packages/components/src/components/form/bal-input/test/bal-input.visual.html
  packages/components/src/components/form/bal-number-input/test/bal-number-input.visual.html
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/test/bal-radio.visual.html
  packages/components/src/components/notice/bal-modal/test/bal-modal.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add story for form autocomplete
  packages/components/src/components/form/bal-form/stories/bal-form.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(popover): add visual test
  packages/components/cypress/e2e/visual/bal-popover.visual.cy.ts
  packages/components/src/components/bal-popover/test/bal-popover.visual.html
  packages/components/src/components/form/bal-input-group/test/bal-input-group.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-arrow-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-basic-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-tooltip-base.png
Due: none

test: add missing platform suffix
  packages/components/cypress/e2e/visual/bal-popover.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-arrow-desktop-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-arrow-mobile-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-tooltip-desktop-base.png
  packages/components/cypress/snapshots/base/bal-popover.visual.cy.ts/popover-tooltip-mobile-base.png
Due: none

fix(): fix stroy book of radio boxes to use labbel-hidden property instead of depricated is-empty
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): trigger build
  packages/components/src/components/bal-hint/test/bal-hint.visual.html
Due: none

fix(): fix usage of depricated is-empty to work in bal-radio
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.13
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix some leftover
  packages/components/src/components/form/bal-radio/bal-radio.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(): fixes #787 add visualLevel for bal-list-item-title
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-title/bal-list-item-title.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(hint): add timeout
  packages/components/cypress/e2e/visual/bal-hint.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
