Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(navigation): refactor
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(list): refactor
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
Due: none

chore(release): v10.24.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.24.4
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.24.5
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.24.6
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): improve variables.scss to import all from subdirectory
  packages/css/scss/baloise-design-system.variables.sass
Due: none

chore(release): v10.24.7
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-tabs): create separate numberation for o-tabs based on independent varaiable
  packages/components/src/components/bal-tabs/components/steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(product-slider): add word-break on label
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
  packages/components/src/components/form/bal-file-upload/bal-file-upload.sass
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): improve notification toast and snackbar stories
  packages/components/src/components/notice/bal-snackbar/stories/bal-snackbar.stories.ts
  packages/components/src/components/notice/bal-toast/stories/bal-toast.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-select): break label text, add text overflow ellipsis on input and adjust popover width
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-select): refactor
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(bal-navigation-menu-list-item): added the target attribute for items from grey lists
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-list): adjust color of the bottom border on hover and active state
  packages/components/src/components/bal-list/bal-list.sass
Due: none

feat(bal-navigation-menu-list-item): added the target attr for grey menu list headline
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-stage): adjusted content width mobile to full-width (#684)
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-stage.visual.cy.ts/stage-large-mobile-base.png
  packages/components/src/components/bal-stage/bal-stage.sass
Due: none

chore: remove major releases
  .github/workflows/release.yml
Due: none

fix(tabs): adjust the numbering of the steps. Closes #586
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/components/steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tabs): add missing target prop. Closes #700
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/components/tab-item.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-list): set color of the subtitle to blue
  packages/components/src/components/bal-list/bal-list.sass
Due: none

chore(bal-footer): set flex direction to column on tablet
  packages/components/src/components/bal-footer/bal-footer.sass
Due: none

fix(angular): add dismissAll method to the toast and snackbar service. Closes #703
  packages/components-angular/src/overlays/snackbar.service.ts
  packages/components-angular/src/overlays/toast.service.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust small spacing value to 0.75rem. Closes #706
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(tabs): break tab label on vertical. Closes #688
  packages/components/src/components/bal-tabs/bal-tabs.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-variants-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
Due: none

fix(): improve migration guide
  packages/components/src/stories/migration/10-migration-from-10x-to-11x.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(nav): disable animation of the logo
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: set appearance to none for form controls
  packages/css/scss/mixins/control.mixin.sass
Due: none

fix(tabs): select-on-mobile shows initial value. Closes #707
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(tag): break long labels. Closes #709
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/tokens/src/index.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-desktop-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-variants-base.png
Due: none

fix(tag): adjust rounded corners
  packages/components/src/components/bal-tag/bal-tag.sass
Due: none

fix(close): adjust size. Closes #639
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-close/bal-close.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-close.visual.cy.ts/close-basic-base.png
  packages/components/cypress/snapshots/base/bal-close.visual.cy.ts/close-variants-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-mobile-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-popover-open-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-snackbar.visual.cy.ts/snackbar-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-variants-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-mobile-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-toast.visual.cy.ts/toast-variants-tablet-base.png
Due: none

fix(number-input): adjust pattern to defined format
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-touch-tablet-closed-top-base.png
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
