Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav mobile): removed helper classes, added the devider lines, fixed spacings and headlines
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-navigation/bal-main-mobile/bal-main-mobile.tsx
  packages/components/src/components/bal-navigation/bal-meta-mobile-foot/bal-meta-mobile-foot.tsx
  packages/components/src/components/bal-navigation/bal-meta-mobile-head/bal-meta-mobile-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add reflect to the props where mutation observer is used
  packages/components/src/components/bal-product-slider/bal-product-slider-item/bal-product-slider-item.tsx
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/form/bal-select/bal-select-option/bal-select-option.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add cypress tests 16
  .github/workflows/continuous.yml
  package.json
Due: none

chore: add cypress tests 17
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 18
  .github/workflows/canary-release.yml
  .github/workflows/continuous.yml
  .github/workflows/release.yml
  .github/workflows/visual-base.yml
  packages/components/stencil.test.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add cypress tests 19
  .github/workflows/continuous.yml
Due: none

chore: add cypress tests 20
  .github/workflows/continuous.yml
Due: none

chore(): remove visited state from links
  packages/css/scss/layout/link.sass
Due: none

fix(nav-desktop): apply hover mixin and bal-radius-large variable
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

feat(nav mobile): removed the divider line for the last subaccordion item body
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

chore: add cypress tests 21
  .github/workflows/visual-base.yml
Due: none

chore: add cypress tests 22
  .github/workflows/visual-base.yml
Due: none

fix(bal-hint): remove margin-bottom from text, add 24px top padding on buttons
  packages/components/src/components/bal-hint/bal-hint.sass
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-basic-base.png
  packages/components/cypress/snapshots/base/bal-tag.visual.cy.ts/tag-variants-base.png
Due: none

chore: add cypress tests 23
  .github/workflows/release.yml
  .github/workflows/visual-base.yml
Due: none

chore: add cypress tests 24
  packages/components/cypress/plugins/index.ts
  packages/components/cypress/support/e2e.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav mobile): added the case when the main item is a link
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav-desktop): apply modifiers in bem, fix nav menu spacings, optimize main body classes
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(nav-desktop): fix nav card content paddings
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

chore: make npm public. closes #320
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: make npm public. closes #320
  README.md
  packages/components-angular/README.md
  packages/components-react/README.md
  packages/components-table/README.md
  packages/components-vue/README.md
  packages/components/README.md
  packages/components/src/stories/assets/images/banner.svg
  packages/fonts/README.md
  packages/icons/README.md
  packages/output-targets/angular/README.md
  packages/output-targets/react/README.md
  packages/output-targets/vue/README.md
  packages/testing/README.md
  resources/images/banner.svg
Due: prettier --write

chore: make npm public. closes #320
  packages/components/src/stories/assets/images/banner.svg
Due: none

fix(nav-desktop): remove hovered class and apply rem on menu padding
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

feat(nav-mobile): fix aria label call on bal-meta-mobile-head
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-meta-mobile-head/bal-meta-mobile-head.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: transform stencil e2e test to cypress components tests
  .github/workflows/continuous.yml
  package.json
  packages/components/cypress/component/bal-accordion.cy.ts
  packages/components/cypress/component/bal-button.cy.ts
  packages/components/cypress/component/bal-checkbox.cy.ts
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/cypress/component/bal-input.cy.ts
  packages/components/cypress/component/bal-number-input.cy.ts
  packages/components/cypress/component/bal-radio.cy.ts
  packages/components/cypress/component/bal-radio.vue
  packages/components/cypress/component/bal-select.cy.ts
  packages/components/cypress/component/bal-select.vue
  packages/components/cypress/component/bal-textarea.cy.ts
  packages/components/cypress/support/commands.ts
  packages/components/cypress/vite-env.d.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/bal-accordion/test/bal-accordion.e2e.ts
  packages/components/src/components/bal-button/test/bal-button.e2e.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.e2e.ts
  packages/components/src/components/form/bal-datepicker/test/bal-datepicker.e2e.ts
  packages/components/src/components/form/bal-input/test/bal-input.e2e.ts
  packages/components/src/components/form/bal-number-input/test/bal-number-input.e2e.ts
  packages/components/src/components/form/bal-radio/test/bal-radio.e2e.ts
  packages/components/src/components/form/bal-select/test/bal-select.e2e.ts
  packages/components/src/components/form/bal-textarea/test/bal-textarea.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove console log
  packages/components/cypress/support/commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): explicitly tell ng packager to use tsconfig
  packages/components-angular/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  packages/components/cypress/component/bal-radio.vue
Due: none

feat(nav mobile): applied some spacings only for desktop
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

feat(nav-mobile): fix styles, apply hover mixin and active modifier
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/bal-navigation.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(nav-mobile): apply rem on padding
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

chore(): fix issues when building with partial Ivy
  packages/components-angular/ng-package.json
  packages/components-angular/src/directives/angular-component-lib/utils.ts
  packages/components-angular/src/index.ts
  packages/components-angular/src/overlays/angular-delegate.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(nav-mobile): apply hover mixin on bal list to avoid mobile wrong line color
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: prettier --write

feat(nav-mobile): remove comment
  packages/components/src/components/bal-list/bal-list.scss
Due: prettier --write

chore(bal-data): add example for editable multiline and fix focus
  packages/components/src/components/bal-data/bal-data.sass
  packages/components/src/components/bal-data/stories/bal-data.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-data): fix font-weight in hint
  packages/components/src/components/bal-data/bal-data.sass
Due: none

feat(nav mobile): created a new variation for the bal-list component and added the proper styles
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix correct file
  packages/output-targets/angular/angular-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(image-slider): spacing adjusted and disabled arrows styled (#310)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-image-slider/bal-image-slider.sass
  packages/components/src/components/bal-image-slider/bal-image-slider.tsx
  packages/components/src/components/bal-image-slider/stories/bal-image-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
