Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

feat(main nav desktop): updated dependencies
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(main nav desktop): added the expeted checks when the levels are empty
  packages/components/src/components/bal-navigation/bal-navigation.tsx
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(product-slider): add colors, reponsiveness and buttons or links)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-product-slider/bal-product-slider-item/bal-product-slider-item.tsx
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
  packages/components/src/components/bal-product-slider/stories/bal-product-slider.docs.mdx
  packages/components/src/components/bal-product-slider/stories/bal-product-slider.stories.ts
  packages/components/src/props.d.ts
  packages/components/src/stories/assets/images/brand/bars.svg
  packages/components/src/stories/assets/images/brand/car.svg
  packages/components/src/stories/assets/images/brand/diamond.svg
  packages/components/src/stories/assets/images/brand/home.svg
  packages/components/src/stories/assets/images/brand/items.svg
  packages/components/src/stories/assets/images/brand/lamp.svg
  packages/components/src/stories/assets/images/brand/notebook.svg
  packages/components/src/stories/assets/images/brand/pie.svg
  packages/components/src/stories/assets/images/brand/pig.svg
  packages/components/src/stories/assets/images/brand/plant.svg
  packages/components/src/stories/assets/images/brand/roller.svg
  packages/components/src/utils/observer.ts
  packages/css/scss/form/button.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs(image-slider): add grid use-case
  packages/components/src/components/bal-image-slider/stories/bal-image-slider.docs.mdx
  packages/components/src/components/bal-image-slider/stories/bal-image-slider.stories.ts
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-field): set undefined as initial value for required property
  packages/components/src/components/form/bal-field/bal-field.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(slider): skip test for now
  packages/components/cypress/integration/product-slider.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(product-slider): implement mobile adjustments
  packages/components/src/components/bal-product-slider/bal-product-slider.sass
  packages/components/src/components/bal-product-slider/stories/bal-product-slider.stories.ts
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/css/scss/base/_all.sass
  packages/css/scss/form/button.sass
  packages/css/scss/form/checkbox-radio.sass
  packages/css/scss/mixins/control.mixin.sass
  packages/css/scss/mixins/general.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(product-slider): implement mobile adjustments
  packages/css/scss/base/_all.sass
Due: none

fix(product-slider): implement mobile adjustments
  packages/components/src/components/bal-product-slider/bal-product-slider.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: add mobile and tablet sizes. Closes #263
  packages/components/src/components.d.ts
  packages/css/.build/generate.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.15.7
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): change and blur handling. Closes #262
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/components/src/components/form/bal-select/bal-select-option/bal-select-option.scss
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(select): change and blur handling. Closes #262
  packages/components-angular/src/directives/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): change and blur handling. Closes #262
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(select): change and blur handling. Closes #262
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ng output
  package.json
  packages/output-target-angular/LICENSE.md
  packages/output-target-angular/README.md
  packages/output-target-angular/__tests__/generate-angular-component.spec.ts
  packages/output-target-angular/__tests__/output-angular.spec.ts
  packages/output-target-angular/__tests__/plugin.spec.ts
  packages/output-target-angular/angular-component-lib/utils.ts
  packages/output-target-angular/package-lock.json
  packages/output-target-angular/package.json
  packages/output-target-angular/resources/control-value-accessors/boolean-value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/number-value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/radio-value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/select-value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/text-value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/value-accessor.ts
  packages/output-target-angular/rollup.config.js
  packages/output-target-angular/src/generate-angular-component.ts
  packages/output-target-angular/src/generate-angular-directives-file.ts
  packages/output-target-angular/src/generate-angular-module.ts
  packages/output-target-angular/src/generate-value-accessors.ts
  packages/output-target-angular/src/index.ts
  packages/output-target-angular/src/output-angular.ts
  packages/output-target-angular/src/plugin.ts
  packages/output-target-angular/src/types.ts
  packages/output-target-angular/src/utils.ts
  packages/output-target-angular/test/jest.preprocessor.js
  packages/output-target-angular/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ng output
  packages/components-angular/src/directives/angular-component-lib/utils.ts
  packages/components-angular/src/directives/select-value-accessor.ts
  packages/components-angular/src/directives/value-accessor.ts
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/output-target-angular/package-lock.json
  packages/output-target-angular/package.json
  packages/output-target-angular/resources/control-value-accessors/select-value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/value-accessor.ts
  packages/output-target-angular/src/generate-angular-component.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ng output
  packages/components-angular/package.json
  packages/output-target-angular/resources/control-value-accessors/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ng output
  packages/components-angular/src/directives/value-accessor.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add ng output
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-target-angular/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add ng output
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add ng output
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-target-angular/package-lock.json
  packages/output-target-angular/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): enable ivy
  packages/components-angular/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): reset npm
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-angular/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): reset npm
  packages/components-angular/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular): adjust datepicker change
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove console logs
  packages/components-angular/src/directives/value-accessor.ts
  packages/output-target-angular/resources/control-value-accessors/value-accessor.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add npm lock file
  packages/output-target-angular/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add vue output target
  .build/copy.js
  .github/CODEOWNERS
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-target-angular/package.json
  packages/output-target-vue/LICENSE.md
  packages/output-target-vue/README.md
  packages/output-target-vue/__tests__/generate-vue-components.spec.ts
  packages/output-target-vue/__tests__/output-vue.spec.ts
  packages/output-target-vue/__tests__/plugin.spec.ts
  packages/output-target-vue/package-lock.json
  packages/output-target-vue/package.json
  packages/output-target-vue/rollup.config.js
  packages/output-target-vue/src/generate-vue-component.ts
  packages/output-target-vue/src/index.ts
  packages/output-target-vue/src/output-vue.ts
  packages/output-target-vue/src/plugin.ts
  packages/output-target-vue/src/types.ts
  packages/output-target-vue/src/utils.ts
  packages/output-target-vue/test/jest.preprocessor.js
  packages/output-target-vue/tsconfig.json
  packages/output-target-vue/vue-component-lib/utils.ts
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add vue output target
  package-lock.json
  package.json
Due: none

chore: add vue output target
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-target-angular/package.json
  packages/output-target-vue/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add vue output target
  .github/workflows/continuous.yml
Due: none

chore: add vue output target
  packages/output-target-vue/package-lock.json
  packages/output-target-vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add vue output target
  package.json
  packages/output-target-vue/package-lock.json
  packages/output-target-vue/rollup.config.js
  packages/output-target-vue/tsconfig.json
  packages/vue-output-target/LICENSE.md
  packages/vue-output-target/README.md
  packages/vue-output-target/__tests__/generate-vue-components.spec.ts
  packages/vue-output-target/__tests__/output-vue.spec.ts
  packages/vue-output-target/__tests__/plugin.spec.ts
  packages/vue-output-target/package-lock.json
  packages/vue-output-target/package.json
  packages/vue-output-target/rollup.config.js
  packages/vue-output-target/src/generate-vue-component.ts
  packages/vue-output-target/src/index.ts
  packages/vue-output-target/src/output-vue.ts
  packages/vue-output-target/src/plugin.ts
  packages/vue-output-target/src/types.ts
  packages/vue-output-target/src/utils.ts
  packages/vue-output-target/test/jest.preprocessor.js
  packages/vue-output-target/tsconfig.json
  packages/vue-output-target/vue-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add vue output target
  .github/workflows/continuous.yml
  packages/output-target-vue/LICENSE.md
  packages/output-target-vue/README.md
  packages/output-target-vue/__tests__/generate-vue-components.spec.ts
  packages/output-target-vue/__tests__/output-vue.spec.ts
  packages/output-target-vue/__tests__/plugin.spec.ts
  packages/output-target-vue/package-lock.json
  packages/output-target-vue/package.json
  packages/output-target-vue/rollup.config.js
  packages/output-target-vue/src/generate-vue-component.ts
  packages/output-target-vue/src/index.ts
  packages/output-target-vue/src/output-vue.ts
  packages/output-target-vue/src/plugin.ts
  packages/output-target-vue/src/types.ts
  packages/output-target-vue/src/utils.ts
  packages/output-target-vue/test/jest.preprocessor.js
  packages/output-target-vue/tsconfig.json
  packages/output-target-vue/vue-component-lib/utils.ts
  packages/vue-output-target/README.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
