Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(): update lock file
  package-lock.json
Due: none

chore(): update changelog
  CHANGELOG.md
Due: none

chore: add changelogs
  .changeset/chatty-buckets-wave.md
  .changeset/chilled-poets-kick.md
  .changeset/empty-dolphins-join.md
  .changeset/hip-shirts-turn.md
  .changeset/violet-suits-provide.md
  CHANGELOG.md
  CHANGELOG_OLD.md
  CHANGELOG_v12.md
  docs/stories/development/02-upgrade/upgrade-guide.v16.stories.mdx
  packages/core/CHANGELOG.md
  packages/css/src/deprecated.sass
Due: prettier --write

chore: fix formatter
  .github/workflows/actions/release-setup/action.yml
  .prettierignore
Due: none

chore: update formatter
  .prettierignore
Due: none

chore: update docs
  docs/stories/contributing.stories.mdx
  docs/stories/support.stories.mdx
Due: none

chore: update CI
  .github/workflows/pr-comment.yml
  .github/workflows/release.yml
  .github/workflows/visual-base-file.yml
  .github/workflows/visual-base.yml
Due: none

chore: update CI
  .changeset/config.json
Due: none

chore: set version
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  package-lock.json
  packages/angular-common/package.json
  packages/angular-legacy/package.json
  packages/angular-module/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/package.json
  packages/css/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update CI
  .github/workflows/publish.yml
Due: none

📦️ Release (#1345)
  .changeset/chatty-buckets-wave.md
  .changeset/chilled-poets-kick.md
  .changeset/empty-dolphins-join.md
  .changeset/hip-shirts-turn.md
  .changeset/violet-suits-provide.md
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular-common/package.json
  packages/angular-legacy/package.json
  packages/angular-module/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/css/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

:bookmark: release: 16.0.0
  CHANGELOG.md
  package-lock.json
Due: none

adjust build script
  .changeset/few-pots-marry.md
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

adjust exports
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

adjust the linking of the angular tests
  test/angular/base/v16/scripts/link.sh
  test/angular/base/v17/scripts/link.sh
Due: none

🐛 fix(testing): npm package exports (#1346)
  .changeset/few-pots-marry.md
  packages/testing/package.json
  test/angular/base/v16/scripts/link.sh
  test/angular/base/v17/scripts/link.sh
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

adjust reference path to package
  .changeset/mighty-actors-sort.md
  libs/nx/src/executors/build-core/executor.ts
Due: none

🐛 (core): adjust reference path to package (#1348)
  .changeset/mighty-actors-sort.md
  libs/nx/src/executors/build-core/executor.ts
Due: none

📦️ Release (#1347)
  .changeset/few-pots-marry.md
  .changeset/mighty-actors-sort.md
  docs/package.json
  e2e/package.json
  libs/nx/package.json
  packages/angular-common/package.json
  packages/angular-legacy/package.json
  packages/angular-module/package.json
  packages/angular/package.json
  packages/brand-icons/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/css/package.json
  packages/devkit/package.json
  packages/favicons/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/maps/package.json
  packages/react/package.json
  packages/styles/package.json
  packages/table/package.json
  packages/testing/package.json
  packages/tokens/package.json
  packages/vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

:bookmark: release: 16.0.1
  CHANGELOG.md
  package-lock.json
Due: none

add new component option
  .changeset/ten-teachers-appear.md
  e2e/cypress/e2e/a11y/bal-option.a11y.cy.ts
  e2e/cypress/e2e/visual/bal-option.visual.cy.ts
  packages/core/src/components.d.ts
  packages/core/src/components/bal-option/bal-option.interfaces.ts
  packages/core/src/components/bal-option/bal-option.sass
  packages/core/src/components/bal-option/bal-option.tsx
  packages/core/src/components/bal-option/bal-option.vars.sass
  packages/core/src/components/bal-option/test/bal-badge.a11y.html
  packages/core/src/components/bal-option/test/bal-badge.visual.html
  packages/core/src/utils/aria.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

add new component option
  docs/stories/components/bal-option/testing.md
  docs/stories/components/bal-option/theming.md
  packages/core/src/components/bal-option/test/bal-option.a11y.html
  packages/core/src/components/bal-option/test/bal-option.visual.html
  resources/data/tags.json
Due: none

fix a11y issues
  e2e/cypress/e2e/a11y/bal-option.a11y.cy.ts
  packages/core/src/components/bal-option/bal-option.sass
  packages/core/src/components/bal-option/test/bal-option.a11y.html
Due: none

add interface of the component
  packages/core/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

adjust ci
  .github/workflows/pr-comment.yml
Due: none

add output for visuals
  e2e/cypress/support/lib/visuals/command.ts
Due: none

update gitignore
  .gitignore
Due: none

update base images
  e2e/cypress/snapshots/base/visual/bal-option.visual.cy.ts/option-basic.png
  e2e/cypress/snapshots/base/visual/bal-option.visual.cy.ts/option-listbox-checkbox.png
  e2e/cypress/snapshots/base/visual/bal-option.visual.cy.ts/option-listbox.png
Due: none

adjust colors and sass vars
  packages/core/src/components/bal-option/bal-option.sass
  packages/core/src/components/bal-option/bal-option.vars.sass
Due: none

update base images
  docs/stories/components/bal-option/theming.md
Due: none

add option list component
  e2e/cypress/e2e/a11y/bal-option-list.a11y.cy.ts
  e2e/cypress/e2e/visual/bal-option-list.visual.cy.ts
  packages/core/src/components.d.ts
  packages/core/src/components/bal-option-list/bal-option-list.interfaces.ts
  packages/core/src/components/bal-option-list/bal-option-list.sass
  packages/core/src/components/bal-option-list/bal-option-list.tsx
  packages/core/src/components/bal-option-list/bal-option-list.vars.sass
  packages/core/src/components/bal-option-list/test/bal-option-list.a11y.html
  packages/core/src/components/bal-option-list/test/bal-option-list.visual.html
  packages/core/src/interfaces.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

update base images
  docs/stories/components/bal-option-list/testing.md
  docs/stories/components/bal-option-list/theming.md
  e2e/cypress/snapshots/base/visual/bal-option-list.visual.cy.ts/option-basic.png
Due: none

fix compact migration and grid
  .changeset/unlucky-cameras-jam.md
  docs/stories/development/02-upgrade/upgrade-guide.v16.stories.mdx
  packages/css/src/core/grid.sass
  packages/styles/bin/index.mjs
Due: none
