Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

fix(list): listen to resize change of the accordion body
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-datepicker): fix header width on mobile
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
Due: none

chore(bal-datepicker): refactor
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(bal-shape): add visual test
  packages/components/cypress/e2e/visual/bal-shape.visual.cy.ts
  packages/components/src/components/bal-shape/test/bal-shape.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(bal-shape): refactor
  packages/components/cypress/e2e/visual/bal-shape.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(bal-shape): add platforms
  packages/components/cypress/e2e/visual/bal-shape.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-shape.visual.cy.ts/shape-desktop-base.png
  packages/components/cypress/snapshots/base/bal-shape.visual.cy.ts/shape-mobile-base.png
  packages/components/cypress/snapshots/base/bal-shape.visual.cy.ts/shape-tablet-base.png
  packages/components/cypress/snapshots/base/bal-shape.visual.cy.ts/shape-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-shape.visual.cy.ts/shape-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-shape.visual.cy.ts/shape-variants-tablet-base.png
Due: none

test(bal-text): add visual test
  packages/components/cypress/e2e/visual/bal-text.visual.cy.ts
  packages/components/src/components/bal-text/test/bal-text.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-text.visual.cy.ts/text-desktop-base.png
  packages/components/cypress/snapshots/base/bal-text.visual.cy.ts/text-mobile-base.png
  packages/components/cypress/snapshots/base/bal-text.visual.cy.ts/text-tablet-base.png
  packages/components/cypress/snapshots/base/bal-text.visual.cy.ts/text-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-text.visual.cy.ts/text-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-text.visual.cy.ts/text-variants-tablet-base.png
Due: none

test(bal-notification): add visual test
  packages/components/cypress/e2e/visual/bal-notification.visual.cy.ts
  packages/components/src/components/notice/bal-notification/test/bal-notification.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(bal-data): add visual test
  packages/components/cypress/e2e/visual/bal-data.visual.cy.ts
  packages/components/src/components/bal-data/test/bal-data.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(bal-data): add visual test
  packages/components/cypress/e2e/visual/bal-data.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-notification.visual.cy.ts/notification-desktop-base.png
  packages/components/cypress/snapshots/base/bal-notification.visual.cy.ts/notification-mobile-base.png
  packages/components/cypress/snapshots/base/bal-notification.visual.cy.ts/notification-tablet-base.png
  packages/components/cypress/snapshots/base/bal-notification.visual.cy.ts/notification-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-notification.visual.cy.ts/notification-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-notification.visual.cy.ts/notification-variants-tablet-base.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-data.visual.cy.ts/data-desktop-base.png
  packages/components/cypress/snapshots/base/bal-data.visual.cy.ts/data-mobile-base.png
  packages/components/cypress/snapshots/base/bal-data.visual.cy.ts/data-tablet-base.png
  packages/components/cypress/snapshots/base/bal-data.visual.cy.ts/data-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-data.visual.cy.ts/data-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-data.visual.cy.ts/data-variants-tablet-base.png
Due: none

test(bal-footer): add visual test
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(bal-footer): refactor
  packages/components/src/components/bal-footer/test/bal-footer.visual.html
Due: none

test(bal-data): format
  packages/components/src/components/bal-data/test/bal-data.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-desktop-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-mobile-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-tablet-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-desktop-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-mobile-base.png
  packages/components/cypress/snapshots/base/bal-footer.visual.cy.ts/footer-variants-tablet-base.png
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
Due: none

perf(icons): don't load all icons. let the user decide
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/config/config.ts
  packages/components/src/config/config.types.ts
  packages/components/src/config/index.ts
  packages/components/src/config/initialize.ts
  packages/components/src/stories/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/stories/migration/99-migration-from-old-to-next.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: improve icon docs
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: load icons first for the visual tests
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove wrong import
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test: wait until icons are loaded
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(bal-footer): add wait
  packages/components/cypress/e2e/visual/bal-footer.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: add new language es, pl, pt, sv and fi
  packages/components/src/components/form/bal-datepicker/bal-datepicker.i18n.ts
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.i18n.ts
  packages/components/src/types.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/bal-list.visual.cy.ts/list-basic-base.png
Due: none

chore(release): v10.24.10
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: wait until icons are loaded
  packages/components/src/components/bal-accordion/test/bal-accordion.visual.html
  packages/components/src/components/bal-badge/test/bal-badge.visual.html
  packages/components/src/components/bal-close/test/bal-close.visual.html
  packages/components/src/components/bal-list/test/bal-list.visual.html
  packages/components/src/components/bal-navigation/test/bal-navigation.visual.html
  packages/components/src/components/bal-stage/test/bal-stage.large.visual.html
  packages/components/src/components/bal-stage/test/bal-stage.visual.html
  packages/components/src/components/bal-tag/test/bal-tag.visual.html
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
  packages/components/src/components/notice/bal-snackbar/test/bal-snackbar.visual.html
  packages/components/src/components/notice/bal-toast/test/bal-toast.visual.html
  packages/components/src/styles/global.base.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: change vercel link to the new one
  .build/vue-web-types.js
  CHANGELOG.md
  README.md
  package.json
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/cypress/e2e/base/legacy.cy.ts
  packages/components/docs/markdown-events.ts
  packages/components/docs/markdown-methods.ts
  packages/components/docs/markdown-props.ts
  packages/components/package.json
  packages/components/src/components/bal-button/stories/bal-button.templates.ts
  packages/components/src/components/bal-button/test/bal-button.cy.html
  packages/components/src/components/docs/bal-doc-github/bal-doc-github.tsx
  packages/components/src/stories/contributing/03-project-setup.stories.mdx
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust changelogs
  CHANGELOG_NEXT.md
  CHANGELOG_OLD.md
Due: none
