Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG_v12.md
Due: none

chore: fix lint issues
  packages/components/src/components/bal-popup/stories/bal-popup.stories.ts
  packages/testing/src/commands/custom/bal-popup.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(button): inverted hover style for text and link
  .changeset/tidy-jobs-punch.md
  packages/css/src/core/vars/button.vars.sass
Due: none

feat(button): add new tertiary button with a themed option
  .changeset/tame-waves-share.md
  packages/components/src/components/bal-button/bal-button.interfaces.ts
  packages/components/src/components/bal-button/bal-button.tsx
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/components/src/components/bal-button/test/bal-button.visual.html
  packages/components/src/stories/development/guides/theming/theming.md
  packages/css/index.html
  packages/css/src/core/form/button.sass
  packages/css/src/core/vars/button.vars.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust visual tests
  packages/components/cypress/e2e/visual/bal-button.visual.cy.ts
  packages/components/src/test/css-core.visual.html
  packages/css/index.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-basic-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-basic-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-basic.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-stage.visual.cy.ts/stage-large.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-alternatives-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-alternatives-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-alternatives-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-colors-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-flat-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-flat-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-flat-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-group-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-group-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-icon-right-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-icon-right-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-icon-right-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-inverted-links-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-inverted-links-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-inverted-links-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-links-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-links-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-links-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-rounded-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-sizes-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-sizes-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-sizes-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-square-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-square-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-button.visual.cy.ts/button-square-tablet.png
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/css-core.visual.cy.ts/css-core-basic.png
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: add filter and focus methods
  packages/components/src/components.d.ts
  packages/components/src/components/selects/bal-option-list/bal-option-list.interfaces.ts
  packages/components/src/components/selects/bal-option-list/bal-option-list.tsx
  packages/components/src/components/selects/bal-option-list/test/bal-option-list.visual.html
  packages/components/src/components/selects/bal-option/bal-option.sass
  packages/components/src/components/selects/bal-option/bal-option.tsx
  packages/components/src/components/selects/utils/filter.util.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: improve examples
  packages/components/src/components/bal-button/stories/bal-button.docs.mdx
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add dropdown component
  package-lock.json
  package.json
  packages/components/src/components.d.ts
  packages/components/src/components/selects/bal-dropdown/bal-dropdown.interfaces.ts
  packages/components/src/components/selects/bal-dropdown/bal-dropdown.sass
  packages/components/src/components/selects/bal-dropdown/bal-dropdown.tsx
  packages/components/src/components/selects/bal-dropdown/bal-dropdown.vars.sass
  packages/components/src/components/selects/bal-dropdown/test/bal-dropdown.visual.html
  packages/components/src/components/selects/bal-option-list/bal-option-list.tsx
  packages/components/src/components/selects/bal-option/bal-option.interfaces.ts
  packages/components/src/components/selects/bal-option/bal-option.tsx
  packages/components/src/interfaces.d.ts
  packages/components/src/styles/components.sass
  packages/components/src/utils/form-input.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-colors-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open-menu-second-tab.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open-search-popup.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open-menu-second-tab.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open-search-popup.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open-menu-second-tab.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open-search-popup.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-open.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore: update to shadow dom
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/selects/bal-dropdown/bal-dropdown.tsx
  packages/components/src/components/selects/bal-dropdown/test/bal-dropdown.visual.html
  packages/components/src/components/selects/bal-option/bal-option.sass
  packages/components/src/components/selects/bal-option/bal-option.tsx
  packages/components/src/components/selects/bal-option/bal-option.vars.sass
  packages/components/src/components/selects/bal-option/test/bal-option.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update to shadow dom
  packages/components/src/components/selects/bal-option/bal-option.tsx
  packages/components/src/styles/components.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: improve icon documentation
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/stories/foundation/icons/00-overview.stories.mdx
  packages/components/src/stories/foundation/icons/02-development_angular.md
  packages/components/src/stories/foundation/icons/02-development_intro.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: improve icon documentation
  packages/components/src/stories/foundation/icons/02-development_html.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add shadow dom
  packages/components/cypress/component/bal-input-date.cy.ts
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.sass
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
  packages/components/src/components/form/bal-input/test/bal-input-date.cy.html
  packages/css/src/core/form/_all.sass
  packages/css/src/core/form/input-textarea.legacy.sass
  packages/css/src/core/form/input-textarea.sass
  packages/css/src/core/form/input.sass
  packages/css/src/core/form/shared.sass
  packages/css/src/core/form/textarea.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: improve mask logic
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.sass
  packages/components/src/components/form/bal-input/test/bal-input-date.cy.html
  packages/components/src/utils/mask/blocks/mask-block-interfaces.ts
  packages/components/src/utils/mask/blocks/mask-block.ts
  packages/components/src/utils/mask/types/mask-date.ts
  packages/components/src/utils/shadow/normalize.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust test lib for shadow dom
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.sass
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/blur.command.ts
  packages/testing/src/commands/overrides/clear.command.ts
  packages/testing/src/commands/overrides/focus.command.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/commands/overrides/type.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update docs
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(spinner): add progressbar role
  packages/components/src/components/bal-spinner/bal-spinner.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(spinner): add progressbar role
  .changeset/quick-rings-train.md
Due: none

chore(): update lock file
  package-lock.json
Due: none

chore: add first date calendar draft
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.interfaces.ts
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.sass
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.tsx
  packages/components/src/components/form/bal-date/bal-date-calendar/bal-date-calendar.vars.sass
  packages/components/src/components/form/bal-date/bal-date.i18n.ts
  packages/components/src/components/form/bal-date/test/bal-date-calendar.visual.html
  packages/components/src/components/form/bal-date/utils/calendar.ts
  packages/components/src/interfaces.d.ts
  packages/components/src/utils/date/date.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: enable source maps
  packages/components/config/stencil.basic.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add changeset
  .changeset/tough-toes-attend.md
Due: none

chore(): add visual tests (#973)
  CHANGELOG_v12.md
  packages/components/cypress/e2e/visual/bal-nav.visual.cy.ts
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-colors-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open-menu-second-tab.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open-search-popup.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open-menu-second-tab.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open-search-popup.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-highDefinition-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open-menu-second-tab.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open-search-popup.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-desktop-widescreen-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-bottom.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-closed-top.png
  packages/components/cypress/snapshots/base/visual/bal-nav.visual.cy.ts/nav-touch-tablet-open.png
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/test/bal-nav-colors.visual.html
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(file-upload): handles every change event to detect duplicated files
  .changeset/silent-ways-remember.md
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add documentation
  packages/components/public/assets/images/navigation/navigation.png
Due: none

chore(): add documentation
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.sass
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
  packages/components/src/components/bal-popup/stories/testing.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add documentation
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(close): add a11y labels to close component
  .changeset/curvy-carrots-trade.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-close/bal-close.i18n.ts
  packages/components/src/components/bal-close/bal-close.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
