Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/vue/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: create build artifacts
  packages/components/package-lock.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update version
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: adjust nested package versions
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust lock files
  packages/components-angular/package-lock.json
  packages/components-table/package-lock.json
  packages/css/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v11.0.18
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/output-targets/angular/package-lock.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package-lock.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package-lock.json
  packages/output-targets/vue/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add migration guide for v12
  packages/components/.storybook/preview.js
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/stories/development/migration/10-migration-from-11x-to-12x.stories.mdx
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): replace text color in shared file
  packages/css/scss/form/shared.sass
Due: none

docs: add typography size alias changes
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update link
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use dev with serve and prod mode for testing with cypress locally
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: update migration guide
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update theme
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update foundations
  packages/components/src/stories/foundation/00-overview.stories.mdx
  packages/components/src/stories/foundation/07-page-layout.stories.mdx
  packages/components/src/stories/foundation/99-00-templates-pages.stories.ts
  packages/components/src/stories/foundation/99-01-templates-common.stories.ts
  packages/components/src/stories/foundation/99-02-icons-common.stories.ts
  packages/components/src/stories/foundation/templates/contact-form.template.ts
  packages/components/src/stories/foundation/templates/external-caluclator.template.ts
  packages/components/src/stories/foundation/templates/external-portal.template.ts
  packages/components/src/stories/foundation/templates/internal-form.template.ts
  packages/components/src/stories/foundation/templates/internal-wide.template.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: with every connect we restore the state
  packages/components/src/components/bal-carousel/test/bal-carousel.perf.html
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/utils/observer.ts
  packages/components/src/utils/resize.ts
  packages/components/src/utils/swipe.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix: with every connect we restore the state
  packages/components/src/utils/swipe.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(icons): add location-target icon
  packages/icons/src/index.ts
  packages/icons/svg/location-target.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix tabs visual test
  packages/components/cypress/e2e/visual/bal-tabs.visual.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix logo visual test
  packages/components/src/components/bal-logo/bal-logo.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-basic-tablet-base.png
  packages/components/cypress/snapshots/base/bal-logo.visual.cy.ts/logo-colors-inverted-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-bottom-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-closed-top-base.png
  packages/components/cypress/snapshots/base/bal-navigation.visual.cy.ts/navigation-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-mobile-base.png
  packages/components/cypress/snapshots/base/bal-tabs.visual.cy.ts/tabs-expanded-tablet-base.png
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): trigger build
  CHANGELOG.md
Due: none

chore(): trigger build
  packages/components/src/components/bal-logo/bal-logo.large.tsx
  packages/components/src/components/bal-logo/bal-logo.small.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust cards on welcome page
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/stories/assets/css/theme.css
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix header size in navigation story
  packages/components/src/components/bal-navigation/stories/bal-navigation.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix portal text color in bal-app
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: build artifacts
  packages/components/src/components.d.ts
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(accordion): not remove hidden content from the DOM
  packages/components/src/components/bal-accordion/bal-accordion.sass
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: remove next in imports
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/stories/development/migration/10-migration-from-10x-to-11x.stories.mdx
  packages/components/src/stories/development/migration/11-migration-from-11x-to-12x.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update stencil
  package-lock.json
  package.json
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-basic-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-desktop-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-mobile-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-container-tablet-base.png
  packages/components/cypress/snapshots/base/bal-navbar.visual.cy.ts/navbar-simple-light-desktop-base.png
Due: none

chore: update cypress v11
  package-lock.json
  package.json
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
