Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: update lock file
  package-lock.json
Due: none

chore: add changeset
  .changeset/empty-trainers-rush.md
  .changeset/kind-boxes-kneel.md
  .changeset/rich-kings-try.md
  docs/package.json
  package-lock.json
Due: none

chore: update changeset
  .changeset/kind-boxes-kneel.md
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: add missing test images
  packages/components/public/assets/images/brand/bars.svg
  packages/components/public/assets/images/brand/car.svg
  packages/components/public/assets/images/brand/diamond.svg
  packages/components/public/assets/images/brand/home.svg
  packages/components/public/assets/images/brand/items.svg
  packages/components/public/assets/images/brand/lamp.svg
  packages/components/public/assets/images/brand/notebook.svg
  packages/components/public/assets/images/brand/pie.svg
  packages/components/public/assets/images/brand/pig.svg
  packages/components/public/assets/images/brand/plant.svg
  packages/components/public/assets/images/brand/roller.svg
Due: none

chore(): add missing subcomponents api's
  docs/stories/components/bal-checkbox/testing.md
  docs/stories/components/bal-date/bal-date.mdx
  docs/stories/components/bal-form-grid/bal-form-grid.mdx
  docs/stories/components/bal-list/bal-list.mdx
  docs/stories/components/bal-nav/bal-nav.mdx
  docs/stories/components/bal-radio/testing.md
  docs/stories/components/bal-stage/bal-stage.mdx
Due: none

chore: add favicon
  .gitignore
  docs/.storybook/manager-head.html
  docs/public/assets/images/favicon/android-chrome-192x192.png
  docs/public/assets/images/favicon/android-chrome-512x512.png
  docs/public/assets/images/favicon/apple-touch-icon.png
  docs/public/assets/images/favicon/favicon-16x16.png
  docs/public/assets/images/favicon/favicon-32x32.png
  docs/public/assets/images/favicon/favicon.ico
  docs/public/assets/images/favicon/site.webmanifest
  docs/stories/welcome.stories.mdx
Due: none

chore: add title and description
  docs/.storybook/manager-head.html
Due: none

chore: add title addon
  docs/.storybook/addons/title/index.js
  docs/.storybook/addons/title/register.js
  docs/.storybook/main.js
  docs/.storybook/manager-head.html
Due: none

chore: add one-trust
  docs/.storybook/manager-head.html
  docs/public/assets/css/preview.css
  docs/public/assets/css/storybook.css
Due: none

chore: add cookie and legal stuff
  docs/.storybook/addons/cookie/index.js
  docs/.storybook/addons/cookie/register.js
  docs/.storybook/blocks/Footer.tsx
  docs/.storybook/main.js
  docs/.storybook/manager-head.html
  docs/public/assets/css/storybook.css
Due: none

chore: add asset doc page
  docs/stories/development/00-guides/04-assets.stories.mdx
  docs/stories/development/00-guides/05-theming.stories.mdx
  docs/stories/development/00-guides/06-testing.stories.mdx
  docs/stories/doc-styles.stories.mdx
Due: none

chore: improve icon page
  docs/.storybook/blocks/IconOverview.tsx
  docs/stories/welcome.stories.mdx
Due: none

fix(number-input): handles various decimal separators
  .changeset/rare-dolphins-chew.md
  packages/components/src/components/form/bal-number-input/bal-number-input.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: improve leads
  docs/.storybook/preview.js
  docs/public/assets/css/prism.css
  docs/stories/development/00-guides/01-components.stories.mdx
  docs/stories/foundation/Iconography.stories.mdx
  docs/stories/foundation/color.stories.mdx
  packages/components/config/doc-output-target/markdown-testing.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🐛 fix(number-input): handles various decimal separators (#1109)
  .changeset/rare-dolphins-chew.md
  packages/components/src/components/form/bal-number-input/bal-number-input.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(icons): add new WhatsApp icon
  .changeset/clean-ghosts-change.md
  packages/icons/src/index.ts
  packages/icons/svg/whats-app.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

🐛 fix(date): Assign the name attribute to the native input element (#1104)
  .changeset/tasty-otters-wonder.md
  packages/components/src/components/form/bal-date/bal-date.tsx
  packages/components/src/components/form/bal-input/bal-input-date/bal-input-date.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add select typeahead remote example in codesandbox
  docs/stories/components/bal-select/bal-select.mdx
  docs/stories/components/bal-select/bal-select.stories.ts
  docs/stories/components/bal-select/code-sandbox/example_component_html.md
  docs/stories/components/bal-select/code-sandbox/example_component_ts.md
Due: none

🐛 fix(date): Assign the name attribute to the native input element (#1104)
  .changeset/tasty-otters-wonder.md
  packages/components/src/components/bal-date/bal-date.tsx
  packages/components/src/components/bal-input/bal-input-date/bal-input-date.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

🐛 fix(number-input): handles various decimal separators (#1109)
  .changeset/rare-dolphins-chew.md
  packages/components/src/components/bal-number-input/bal-number-input.utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust linking
  docs/.storybook/preview.js
  docs/stories/components/bal-date/bal-date.mdx
  docs/stories/components/bal-number-input/bal-number-input.mdx
  docs/stories/development/00-guides/00-getting-started.stories.mdx
  docs/stories/foundation/00-overview.stories.mdx
  docs/stories/foundation/brand-assets.stories.mdx
Due: none

chore(): update lock file
  package-lock.json
Due: none

chore: a test commit
  CHANGELOG_NEXT.md
Due: none

chore: stencil update to v4
  package-lock.json
  package.json
  packages/components/config/doc-output-target/index.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  test/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update to angular v15
  .changeset/big-flowers-unite.md
  package-lock.json
  package.json
  packages/components-angular/package.json
  packages/output-targets/angular/package.json
  test/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update changelog
  .changeset/big-flowers-unite.md
Due: none

chore: stencil update to v4 (#1115)
  package-lock.json
  package.json
  packages/components/config/doc-output-target/index.ts
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  test/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix docs build
  .build/utils/typescript.js
Due: none

chore: update to node v18
  .github/workflows/actions/setup-release/action.yml
  .github/workflows/actions/setup/action.yml
  .github/workflows/bulk-issues.yml
  package-lock.json
  package.json
Due: none

chore(): update typescript to version 5.2.2
  apps/angular/package.json
  package-lock.json
Due: none

chore(): upgrade angular to version 17.0.1
  apps/angular/package.json
  package-lock.json
Due: none
