Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(steps): add new component
  .changeset/honest-windows-bow.md
  packages/components/src/components.d.ts
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-steps/bal-step-item/bal-step-item.tsx
  packages/components/src/components/bal-steps/bal-step.type.ts
  packages/components/src/components/bal-steps/bal-step.util.ts
  packages/components/src/components/bal-steps/bal-steps.sass
  packages/components/src/components/bal-steps/bal-steps.tsx
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/components/step-button.tsx
  packages/components/src/components/bal-steps/components/step-icon.sass
  packages/components/src/components/bal-steps/components/step-icon.tsx
  packages/components/src/components/bal-steps/components/step-label.sass
  packages/components/src/components/bal-steps/components/step-label.tsx
  packages/components/src/components/bal-steps/stories/bal-steps.docs.mdx
  packages/components/src/components/bal-steps/stories/bal-steps.stories.ts
  packages/components/src/components/bal-steps/stories/testing.md
  packages/components/src/components/bal-steps/test/bal-steps.cy.html
  packages/components/src/components/bal-steps/test/bal-steps.visual.html
  packages/components/src/components/bal-steps/utils/watch-tabs.ts
  packages/components/src/index.ts
  packages/css/src/mixins/general.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add new steps
  packages/components/config/stencil.bindings.angular.ts
  packages/components/src/components/bal-steps/stories/bal-steps.docs.mdx
  packages/components/src/components/bal-steps/stories/bal-steps.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): improve form reset tests
  packages/components/cypress/e2e/base/checkbox.cy.ts
  packages/components/cypress/e2e/base/input.cy.ts
  packages/components/cypress/e2e/base/number-input.cy.ts
  packages/components/cypress/e2e/base/radio.cy.ts
  packages/components/cypress/e2e/base/textarea.cy.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve form reset tests
  packages/components/cypress/e2e/base/radio.cy.ts
  packages/components/src/components/form/bal-radio/test/bal-radio.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): improve form reset tests
  packages/components/cypress/e2e/base/input.cy.ts
  packages/components/cypress/e2e/base/number-input.cy.ts
  packages/components/cypress/e2e/base/textarea.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): format
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.cy.html
Due: none

chore(): add changeset
  .changeset/afraid-eggs-wait.md
Due: none

chore: format files
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/test/bal-steps.cy.html
Due: none

feat(bal-navigation): add yellow, red, purple and green colors to the bal-navigation-level-block
  packages/components/src/components.d.ts
  packages/components/src/components/bal-navigation/bal-navigation-level-block/bal-navigation-level-block.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu-list/bal-navigation-menu-list.tsx
  packages/components/src/components/bal-navigation/bal-navigation-menu/bal-navigation-menu.tsx
  packages/components/src/components/bal-navigation/bal-navigation.sass
  packages/components/src/components/bal-navigation/utils/level.utils.ts
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-navigation): set margin top to 0 for menu wrapper
  packages/components/src/components/bal-navigation/bal-navigation.sass
Due: none

fix(bal-checkbox): fix focus and blur events
  packages/components/cypress/component/bal-checkbox.cy.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/cypress/component/bal-checkbox.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): rise version of web-app-utils
  package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test(steps): add functional and e2e test
  packages/components/cypress/component/bal-steps.cy.ts
  packages/components/cypress/component/bal-steps.vue
  packages/components/cypress/component/bal-tabs.cy.ts
  packages/components/cypress/e2e/base/steps.cy.ts
  packages/components/src/components/bal-steps/components/step-button.tsx
  packages/components/src/components/bal-steps/components/step-label.tsx
  packages/components/src/components/bal-steps/test/bal-steps.cy.html
  packages/testing/src/commands/custom/bal-steps.command.ts
  packages/testing/src/commands/custom/bal-steps.types.ts
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/select.command.ts
  packages/testing/src/commands/overrides/should.command.ts
  packages/testing/src/index.ts
  packages/testing/src/selectors.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: add test commands with signature
  packages/components/config/doc-output-target/constants.ts
  packages/components/config/doc-output-target/index.ts
  packages/components/config/doc-output-target/markdown-commands.ts
  packages/components/src/components/bal-accordion/stories/testing.md
  packages/components/src/components/bal-badge/stories/testing.md
  packages/components/src/components/bal-button/stories/testing.md
  packages/components/src/components/bal-close/stories/testing.md
  packages/components/src/components/bal-hint/stories/testing.md
  packages/components/src/components/bal-logo/stories/testing.md
  packages/components/src/components/bal-navigation/stories/testing.md
  packages/components/src/components/bal-pagination/stories/testing.md
  packages/components/src/components/bal-popover/stories/testing.md
  packages/components/src/components/bal-shape/stories/testing.md
  packages/components/src/components/bal-stage/stories/testing.md
  packages/components/src/components/bal-steps/stories/testing.md
  packages/components/src/components/bal-tabs/stories/testing.md
  packages/components/src/components/form/bal-checkbox/stories/testing.md
  packages/components/src/components/form/bal-datepicker/stories/testing.md
  packages/components/src/components/form/bal-field/stories/testing.md
  packages/components/src/components/form/bal-form-grid/stories/testing.md
  packages/components/src/components/form/bal-form/stories/testing.md
  packages/components/src/components/form/bal-input-group/stories/testing.md
  packages/components/src/components/form/bal-input-slider/stories/testing.md
  packages/components/src/components/form/bal-input-stepper/stories/testing.md
  packages/components/src/components/form/bal-input/stories/testing.md
  packages/components/src/components/form/bal-number-input/stories/testing.md
  packages/components/src/components/form/bal-radio/stories/testing.md
  packages/components/src/components/form/bal-select/stories/testing.md
  packages/components/src/components/notice/bal-modal/stories/testing.md
  packages/components/src/components/notice/bal-snackbar/stories/testing.md
  packages/components/src/components/notice/bal-toast/stories/testing.md
  packages/components/src/stories/development/guides/22-testing.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(steps): wait for component to be fully loaded
  packages/components/cypress/component/bal-steps.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): increase the version of jsdom
  package-lock.json
  package.json
Due: none

chore: format files
  packages/components/config/doc-output-target/index.ts
  packages/components/src/components/bal-steps/stories/testing.md
  packages/components/src/components/bal-tabs/stories/testing.md
  packages/testing/src/commands/custom/bal-steps.types.ts
  packages/testing/src/commands/custom/bal-tabs.types.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(steps): hide carousel events
  packages/components/src/components/bal-steps/bal-steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add changeset
  .changeset/smart-masks-agree.md
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-mobile-base.png
  packages/components/cypress/snapshots/base/visual/bal-steps.visual.cy.ts/tabs-steps-tablet-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore: replace px with rem
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/components/step-icon.sass
Due: none

chore(bal-navigation): add visual test
  packages/components/cypress/e2e/visual/bal-navigation.visual.cy.ts
  packages/components/src/components/bal-navigation/test/bal-navigation-colors.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-navigation): format
  packages/components/src/components/bal-navigation/test/bal-navigation-colors.visual.html
Due: none

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-colors-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore(bal-navigation): trigger build
  CHANGELOG_v12.md
Due: none

chore(): refactor
  packages/components/src/components/bal-navigation/test/bal-navigation-colors.visual.html
Due: none

chore(): add changeset
  .changeset/light-meals-stare.md
Due: none

chore(): format
  packages/components/src/components/bal-navigation/test/bal-navigation-colors.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-colors-desktop-widescreen-open-base.png
  packages/components/cypress/snapshots/base/visual/bal-navigation.visual.cy.ts/navigation-desktop-highDefinition-open-base.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore: update changelog
  .changeset/afraid-eggs-wait.md
Due: none

chore(): change branch id and commit for web-app-utils in changelog
  packages/components/CHANGELOG.md
Due: prettier --write

docs: adjust deprecation warning
  packages/components/src/styles/global.utilities.sass
  packages/components/src/styles/global.variables.sass
Due: none

chore: add changeset
  .changeset/giant-dolls-fail.md
Due: none

style: adjust center position of the step circle
  packages/components/src/components/bal-steps/components/step-button.sass
  packages/components/src/components/bal-steps/components/step-icon.sass
  packages/components/src/components/bal-steps/components/step-label.sass
Due: none

chore(bal-datepicker): fire one balBlur event instead of two
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): remove unnecessary changeset
  .changeset/proud-students-nail.md
Due: none

chore(): improve tests
  packages/components/cypress/component/bal-datepicker.cy.ts
  packages/components/cypress/component/bal-number-input.cy.ts
  packages/components/cypress/component/bal-radio.cy.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
