Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(release): v10.10.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(footer): the footer links will only load for CH regions
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.10.4
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(datepicker): adjust nl translations
  packages/components/src/components/form/bal-datepicker/bal-datepicker.i18n.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update build artifacts
  packages/components/src/stories/contributors.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.10.5
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(icons): add star icons
  packages/icons/src/icons.ts
  packages/icons/svg/star-full.svg
  packages/icons/svg/star-half.svg
  packages/icons/svg/star-shape.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(docs): update internationalization docs
  packages/components/src/stories/implementation/20-internationalization.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add css package
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/components/src/components/bal-icon/bal-icon.tsx
  packages/components/src/styles/global.core.scss
  packages/components/stencil.dev.config.ts
  packages/css/.build/archive.js
  packages/css/.build/optimize.js
  packages/css/LICENSE
  packages/css/README.md
  packages/css/css/baloise-design-system.css
  packages/css/css/baloise-design-system.css.map
  packages/css/css/baloise-design-system.min.css
  packages/css/css/baloise-design-system.min.css.map
  packages/css/index.html
  packages/css/package-lock.json
  packages/css/package.json
  packages/css/rollup.config.js
  packages/css/scss/baloise-design-system.sass
  packages/css/scss/utilities/breakpoints.sass
  packages/css/src/border.ts
  packages/css/src/breakpoints.ts
  packages/css/src/colors.ts
  packages/css/src/file.ts
  packages/css/src/index.ts
  packages/css/src/radius.ts
  packages/css/tsconfig.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/stencil-vite-fix/package.json
  packages/tokens/LICENSE
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/rollup.config.js
  packages/tokens/src/tokens.ts
  packages/tokens/tsconfig.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): adjust colors
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(button): inverted link styles
  packages/components/src/components/bal-button/bal-button.scss
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): align checkbox
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(list): add accordion
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item-accordion-body/bal-list-item-accordion-body.tsx
  packages/components/src/components/bal-list/bal-list-item-accordion-head/bal-list-item-accordion-head.tsx
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(list): add accordion
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-accordion/stories/bal-accordion.docs.mdx
  packages/components/src/components/bal-accordion/stories/bal-accordion.stories.ts
  packages/components/src/stories/contributors.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(icon): rotation
  packages/components/src/components/bal-icon/bal-icon.scss
  packages/components/src/components/bal-list/bal-list.scss
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.10.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(slider): css width calculation and add ticks
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/components/form/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: set story back
  packages/components/src/components/form/bal-slider/stories/bal-slider.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.10.6
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: simplify test
  packages/components/cypress/integration/tag.spec.ts
  packages/components/src/components/bal-tag/test/bal-tag.cy.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

feat(css): add css package
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
  packages/css/.build/generate.js
  packages/css/css/baloise-design-system.css
  packages/css/css/baloise-design-system.css.map
  packages/css/css/baloise-design-system.min.css
  packages/css/css/baloise-design-system.min.css.map
  packages/css/index.html
  packages/css/scss/baloise-design-system.sass
  packages/css/scss/form/_all.sass
  packages/css/scss/form/button.sass
  packages/css/scss/form/file.sass
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/form/select.sass
  packages/css/scss/form/shared.sass
  packages/css/scss/form/tools.sass
  packages/css/scss/helpers/typography.helper.sass
  packages/css/scss/layout/link.sass
  packages/css/scss/layout/list.sass
  packages/css/scss/layout/table.sass
  packages/css/scss/mixins/_all.sass
  packages/css/scss/mixins/control.mixin.sass
  packages/css/scss/mixins/extends.sass
  packages/css/scss/mixins/functions.sass
  packages/css/scss/mixins/general.mixin.sass
  packages/css/scss/variables/button.vars.sass
  packages/css/scss/variables/typography.vars.sass
  packages/tokens/.build/generator.js
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(label): remove asterix
  packages/components/src/components/form/bal-field/bal-field-label/bal-field-label.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(text): small line-height #29
  packages/components/src/components/bal-text/bal-text.scss
Due: prettier --write

fix(button): long labels break #32
  packages/components/src/components/bal-button/bal-button.scss
Due: prettier --write

fix(card): add flat transparent story
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card.scss
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: initialize for ssr
  packages/components/src/config/initialize.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.10.7
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(tabs): clicking prop
  packages/components/src/components/bal-tabs/bal-o-steps.scss
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(testing): set waitForComponents to optional
  packages/testing/src/commands/custom/component.command.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
