Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust html stackblitz
  packages/components/config/doc-output-target/index.ts
  packages/components/public/assets/code/html/example.ts
  packages/components/public/assets/code/html/index.html
  packages/components/public/assets/code/html/index.ts
  packages/components/public/assets/code/html/loader.ts
  packages/components/public/assets/css/preview.css
  packages/components/src/components/bal-accordion/stories/usage/html/example_ts.md
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.html.ts
  packages/components/src/global.ts
  packages/components/src/initialize.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust links
  packages/components/public/assets/code/angular/app.component-fullscreen.html
  packages/components/public/assets/code/react/app-fullscreen.tsx
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/usage/html/example_ts.md
  packages/components/src/components/bal-app/stories/bal-app.docs.mdx
  packages/components/src/components/bal-app/stories/usage/react/example_tsx.md
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-badge/stories/usage/react/example_tsx.md
  packages/components/src/components/bal-button/stories/bal-button.stories.ts
  packages/components/src/components/bal-card/stories/bal-card.docs.mdx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/bal-navigation/stories/bal-navigation.docs.mdx
  packages/components/src/components/bal-popover/stories/bal-popover.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.docs.mdx
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
  packages/components/src/components/bal-tag/stories/bal-tag.docs.mdx
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.sass
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.tsx
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.angular.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.html.ts
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.react.ts
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.docs.mdx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.docs.mdx
  packages/components/src/components/form/bal-form-grid/stories/bal-form-grid.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.docs.mdx
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.docs.mdx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/stories/development/guides/installation/installation_vue.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-modal): close modal on click outside of it
  .changeset/shy-monkeys-yell.md
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update gitignore
  .gitignore
  packages/components/public/assets/code/html/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: fix lint issues
  cspell.json
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add text helpers
  package-lock.json
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/01-tokens.stories.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
  packages/components/src/stories/foundation/typography/02-development.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat: add container design tokens
  .build/tokens-generator.js
  .changeset/giant-buckets-wink.md
  packages/css/scss/helpers/others.helper.sass
  packages/css/scss/layout/container.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add first grid draft
  cspell.json
  packages/components/config/doc.components.ts
  packages/components/public/assets/images/foundations/grid/overview.svg
  packages/components/src/components.d.ts
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-containers.tsx
  packages/components/src/stories/foundation/00-overview.stories.mdx
  packages/components/src/stories/foundation/05-breakpoints.stories.mdx
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
  packages/components/src/stories/foundation/grid/01-tokens.stories.mdx
  packages/components/src/stories/foundation/grid/02-development.docs.mdx
  packages/components/src/stories/foundation/grid/02-development.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-checkbox): align box in the checkbox properly
  packages/components/cypress/e2e/visual/bal-checkbox.visual.cy.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs: add icons foundation
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/index.ts
  packages/components/src/stories/foundation/icons/00-overview.stories.mdx
  packages/components/src/stories/foundation/icons/02-development.stories.mdx
  packages/components/src/stories/foundation/icons/02-development_angular.md
  packages/components/src/stories/foundation/icons/02-development_html.md
  packages/components/src/stories/foundation/icons/02-development_intro.md
  packages/components/src/stories/foundation/icons/02-development_react.md
  packages/components/src/stories/foundation/icons/02-development_vue.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): format
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
Due: none

chore(): update changeset file
  .changeset/shy-monkeys-yell.md
Due: none

docs: add structure and icons
  packages/components/public/assets/css/preview.css
  packages/components/public/assets/images/foundations/grid/overview.svg
  packages/components/public/assets/images/foundations/layout/layout.svg
  packages/components/src/stories/foundation/00-overview.stories.mdx
  packages/components/src/stories/foundation/03-icons.stories.mdx
  packages/components/src/stories/foundation/07-page-layout.stories.mdx
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
  packages/components/src/stories/foundation/icons/00-overview.stories.mdx
  packages/components/src/stories/foundation/icons/02-development.stories.mdx
  packages/components/src/stories/foundation/icons/02-development_intro.md
  packages/components/src/stories/foundation/layout/00-overview.stories.mdx
  packages/components/src/stories/foundation/layout/02-development.docs.mdx
  packages/components/src/stories/foundation/layout/02-development.stories.ts
  packages/components/src/stories/foundation/layout/02-development_angular.md
  packages/components/src/stories/foundation/layout/02-development_html.md
  packages/components/src/stories/foundation/layout/02-development_intro.md
  packages/components/src/stories/foundation/layout/02-development_react.md
  packages/components/src/stories/foundation/layout/02-development_vue.md
  packages/components/src/stories/utils/parameter.ts
  packages/components/src/stories/utils/story.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): rafactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): rafactor
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/styles/components/radio-checkbox.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-checkbox): rafactor
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

chore(bal-checkbox): rafactor
  packages/components/src/components/bal-table/bal-table.sass
Due: none

chore(): update base images
  package-lock.json
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-long-label-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-long-label-select-button-desktop-base.png
Due: none

chore(): trigger build
  CHANGELOG_v12.md
Due: none

chore(bal-checkbox): rafactor
  packages/components/cypress/e2e/visual/bal-checkbox.visual.cy.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(bal-checkbox): rafactor
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-long-label-checked-desktop-base.png
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-long-label-select-button-checked-desktop-base.png
Due: none

docs: border colors
  packages/components/src/stories/foundation/colors/02-development.docs.mdx
  packages/components/src/stories/foundation/colors/02-development.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(css): fix is-danger, is-success and is-warning state of select and file upload
  packages/css/index.html
  packages/css/scss/form/file.sass
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/form/select.sass
Due: none

chore(bal-checkbox): rafactor
  packages/components/src/components/bal-table/bal-table.sass
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

chore(bal-checkbox): add snapshot for flat select button
  packages/components/cypress/e2e/visual/bal-checkbox.visual.cy.ts
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-checkbox.visual.cy.ts/checkbox-checked-flat-select-button-desktop-base.png
Due: none

docs: update foundations
  packages/components/.storybook/preview.js
  packages/components/public/assets/css/preview.css
  packages/components/public/assets/images/foundations/spacing/typo-spacing-container.svg
  packages/components/src/components.d.ts
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-spacing-sizes.tsx
  packages/components/src/stories/foundation/00-overview.stories.mdx
  packages/components/src/stories/foundation/border-radius/00-overview.stories.mdx
  packages/components/src/stories/foundation/border-radius/02-development.docs.mdx
  packages/components/src/stories/foundation/border-radius/02-development.stories.ts
  packages/components/src/stories/foundation/colors/02-development.docs.mdx
  packages/components/src/stories/foundation/colors/02-development.stories.ts
  packages/components/src/stories/foundation/design-tokens/00-overview.stories.mdx
  packages/components/src/stories/foundation/design-tokens/01-development.stories.mdx
  packages/components/src/stories/foundation/elevation/00-overview.stories.mdx
  packages/components/src/stories/foundation/elevation/01-tokens.stories.mdx
  packages/components/src/stories/foundation/elevation/02-development.docs.mdx
  packages/components/src/stories/foundation/elevation/02-development.stories.ts
  packages/components/src/stories/foundation/grid/00-overview.stories.mdx
  packages/components/src/stories/foundation/grid/01-tokens.stories.mdx
  packages/components/src/stories/foundation/grid/02-development.docs.mdx
  packages/components/src/stories/foundation/grid/02-development.stories.ts
  packages/components/src/stories/foundation/icons/00-overview.stories.mdx
  packages/components/src/stories/foundation/icons/02-development_intro.md
  packages/components/src/stories/foundation/layout/02-development.docs.mdx
  packages/components/src/stories/foundation/layout/02-development.stories.ts
  packages/components/src/stories/foundation/layout/02-development_intro.md
  packages/components/src/stories/foundation/spacing/00-overview.stories.mdx
  packages/components/src/stories/foundation/spacing/02-development.docs.mdx
  packages/components/src/stories/foundation/spacing/02-development.stories.ts
  packages/components/src/stories/foundation/tokens.stories.mdx
  packages/components/src/stories/foundation/typography/01-tokens.stories.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
  packages/components/src/stories/foundation/typography/02-development.stories.ts
  packages/css/scss/layout/typography.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(css): refactor
  packages/css/scss/form/file.sass
Due: none

chore(css): add changeset
  .changeset/lazy-spoons-joke.md
Due: none

docs: remove console.log
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/stories/foundation/layout/02-development.stories.ts
  packages/css/scss/layout/typography.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: ignore components
  packages/components/config/doc.components.ts
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-spacing-sizes.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

refactor: move styles to components
  packages/components/src/components/bal-app/bal-app.sass
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/radio-checkbox.mixins.sass
  packages/components/src/components/form/bal-checkbox/radio-checkbox.sass
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/notice/bal-notices/bal-notices.sass
  packages/components/src/components/notice/bal-notices/bal-notices.tsx
  packages/components/src/components/notice/bal-notification/bal-notification.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/notice/bal-toast/bal-toast.sass
  packages/components/src/styles/base/_all.sass
  packages/components/src/styles/base/generic.sass
  packages/components/src/styles/components/_all.sass
  packages/components/src/styles/global.base.sass
  packages/components/src/styles/global.components.sass
  packages/components/src/styles/global.core.sass
  packages/components/src/styles/global/_all.sass
  packages/components/src/styles/mixins/_all.sass
  packages/components/src/styles/mixins/alert.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add changeset
  .changeset/bright-candles-kneel.md
Due: none

docs: adjust initial page load
  packages/components/src/components/bal-app/stories/bal-app.stories.tsx
  packages/components/src/components/docs/bal-doc-stackblitz/bal-doc-stackblitz.tsx
  packages/components/src/components/docs/bal-doc-stackblitz/stackblitz.util.ts
  packages/components/src/stories/foundation/layout/02-development.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-checkbox): remove flat in combination with select button and align switch circle icon
  packages/components/src/styles/components/radio-checkbox.sass
Due: none

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
