Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components-angular/README.md
  packages/components-react/README.md
  packages/components-table/README.md
  packages/components-vue/README.md
  packages/components/README.md
  packages/fonts/README.md
  packages/icons/README.md
  packages/stencil-vite-fix/README.md
  packages/testing/README.md
Due: prettier --write

chore(release): v10.8.1
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(testing): wait until ce is ready
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use el directly
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: use any type
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.8.2
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-steps): change steps style
  package-lock.json
  packages/components-react/package-lock.json
  packages/components/package-lock.json
  packages/components/src/components/bal-tabs/bal-o-steps.scss
  packages/components/src/components/bal-tabs/components/o-steps.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): remove console logs
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): hide vertical prop for steps in storybook
  packages/components/src/components/bal-tabs/stories/bal-tabs.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-tabs): border with clickable property
  packages/components/src/components/bal-tabs/bal-o-steps.scss
Due: prettier --write

fix(datepicker): enable locale typing
  packages/components/package-lock.json
  packages/components/package.json
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update web app utils
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.8.3
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: attach controllers to the window
  packages/components/.build/stencil/stencil.basic.config.ts
  packages/components/src/global.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: remove old debug mode
  packages/components/stencil.dev.config.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix: trigger globalscript in bal-app
  packages/components/src/components/bal-app/bal-app.tsx
  packages/components/src/components/docs/bal-doc-app/bal-doc-app.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(hint): adjust placement of the icon
  packages/components/package-lock.json
  packages/components/src/components/bal-hint/bal-hint.scss
  packages/components/src/components/bal-hint/bal-hint.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-field/bal-field.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: change repo url
  packages/components/.storybook/bal.theme.js
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: skip viual for now
  packages/components/cypress/integration/visual/visual-regression.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update lock file
  package-lock.json
Due: none

fix(modal): hide close button when modal is not closable
  packages/components/src/components/notice/bal-modal/bal-modal.scss
  packages/components/src/components/notice/bal-modal/bal-modal.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust import to next
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(): change spacing variables to use rem instead of px
  packages/components/src/stories/design/04-spacing.docs.mdx
  packages/components/src/styles/utilities/variables/spacing.scss
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-tabs): add verticalOnMobile prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.scss
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-number-input): add exactNumber prop
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(bal-number-input): add exactNumber prop
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(hint): change contain
  packages/components/cypress/integration/hint.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.8.4
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: sync package files
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust welcome screen
  packages/components/src/stories/welcome.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.8.5
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): make select icon and label clickable, full width for dropdown #555
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(popover): add prop expanded to use the fullwidth
  packages/components/src/components/bal-popover/bal-popover-content/bal-popover-content.tsx
  packages/components/src/components/bal-popover/bal-popover.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(form): add prop readonly
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-checkbox/bal-checkbox.scss
  packages/components/src/components/form/bal-checkbox/bal-checkbox.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-datepicker/bal-datepicker.tsx
  packages/components/src/components/form/bal-datepicker/stories/bal-datepicker.stories.ts
  packages/components/src/components/form/bal-field/bal-field.tsx
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
  packages/components/src/components/form/bal-input/bal-input.tsx
  packages/components/src/components/form/bal-input/stories/bal-input.stories.ts
  packages/components/src/components/form/bal-number-input/bal-number-input.tsx
  packages/components/src/components/form/bal-number-input/stories/bal-number-input.stories.ts
  packages/components/src/components/form/bal-radio/bal-radio-group/bal-radio-group.tsx
  packages/components/src/components/form/bal-radio/bal-radio.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/bal-select.scss
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/stories/bal-select.stories.ts
  packages/components/src/components/form/bal-slider/bal-slider.tsx
  packages/components/src/components/form/bal-slider/stories/bal-slider.stories.ts
  packages/components/src/components/form/bal-textarea/bal-textarea.tsx
  packages/components/src/components/form/bal-textarea/stories/bal-textarea.stories.ts
  packages/components/src/styles/form/input-textarea.scss
  packages/components/src/styles/form/shared.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
