Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore: update actions and report templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/breaking-changes.md
  .github/ISSUE_TEMPLATE/breaking_report.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore_report.yml
  .github/ISSUE_TEMPLATE/design-request.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/feature_report.yml
  .github/ISSUE_TEMPLATE/question.md
  .github/ISSUE_TEMPLATE/question_report.yml
  .github/ISSUE_TEMPLATE/refactor_report.yml
  .github/ISSUE_TEMPLATE/release_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/issue-branch.yml
  .github/workflows/documentation.yml
  .github/workflows/issue-branch.yml
  .github/workflows/release.yml
Due: none

chore: update reports
  .github/ISSUE_TEMPLATE/breaking_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore_report.yml
  .github/ISSUE_TEMPLATE/feature_report.yml
  .github/ISSUE_TEMPLATE/question_report.yml
  .github/ISSUE_TEMPLATE/refactor_report.yml
  .github/ISSUE_TEMPLATE/release_report.yml
Due: none

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

chore: change branch name to production
  .github/workflows/documentation.yml
  .github/workflows/release.yml
Due: none

chore: add merger action
  .github/workflows/merge-to-prod.yml
Due: none

chore: change job name
  .github/workflows/merge-to-prod.yml
Due: none

chore: update merger action
  .github/workflows/merge-to-prod.yml
Due: none

chore: update issue branch config
  .github/issue-branch.yml
Due: none

chore: add new test report
  .github/ISSUE_TEMPLATE/test_report.yml
Due: none

chore: update test report
  .github/ISSUE_TEMPLATE/test_report.yml
Due: none

chore: adjust merge to prod action
  .github/workflows/merge-to-prod.yml
Due: none

chore: update documentation action
  .github/workflows/documentation.yml
Due: none

chore: update documentation action
  Dockerfile
  packages/components/src/components.d.ts
  packages/components/src/components/bal-accordion/stories/testing.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update lock file
  package-lock.json
Due: none

chore: add bulk issue generator
  .build/bulk-issue.js
  .build/create-tags-list.js
  .build/data/tags.json
  .github/workflows/bulk-issues.yml
  package.json
Due: none

chore: add bulk issue generator
  .build/bulk-issue.js
  .github/workflows/bulk-issues.yml
Due: none

chore: add bulk issue generator
  .github/workflows/bulk-issues.yml
  package-lock.json
Due: none

chore: update to :root
  package-lock.json
  package.json
  packages/components/config/doc-output-target/markdown-testing.ts
  packages/components/src/components/bal-badge/bal-badge.tsx
  packages/components/src/components/bal-badge/bal-badge.vars.sass
  packages/components/src/components/bal-badge/test/bal-badge.theming.html
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/config/doc-output-target/markdown-theming.ts
  packages/components/cypress/component/bal-tabs.vue
  packages/components/cypress/e2e/visual/bal-badge.visual.cy.ts
  packages/components/src/components/bal-badge/test/bal-badge.theming.html
  packages/components/src/components/bal-carousel/stories/theming.md
  packages/components/src/components/notice/bal-modal/stories/theming.md
  packages/components/src/stories/development/guides/theming/theming.stories.mdx
  packages/components/src/stories/why.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  .eslintignore
Due: none

chore: format files
  .prettierignore
  packages/components/src/components/bal-badge/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-badge.visual.cy.ts/badge-theming-basic-base.png
Due: none

chore: trigger build
  CHANGELOG_OLD.md
Due: none

chore: adjust import structure
  packages/components/src/components/bal-badge/bal-badge.sass
  packages/components/src/components/bal-badge/bal-badge.vars.sass
  packages/components/src/components/bal-badge/stories/bal-badge.docs.mdx
  packages/components/src/components/bal-badge/stories/theming.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust links
  .changeset/friendly-rice-hear.md
  .github/ISSUE_TEMPLATE/breaking_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/chore_report.yml
  .github/ISSUE_TEMPLATE/feature_report.yml
  .github/ISSUE_TEMPLATE/question_report.yml
  .github/ISSUE_TEMPLATE/refactor_report.yml
  .github/ISSUE_TEMPLATE/test_report.yml
  .github/workflows/documentation.yml
  packages/components/public/assets/images/architecture/ci-cd.svg
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
  packages/components/src/components/bal-table/stories/bal-table.docs.mdx
  packages/components/src/components/docs/bal-doc-code-sandbox/bal-doc-code-sandbox.sass
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.sass
  packages/components/src/components/docs/bal-doc-github/bal-doc-github.tsx
  packages/components/src/stories/contributing.stories.mdx
  packages/components/src/stories/development/contributing/00-setup.stories.mdx
  packages/components/src/stories/development/guides/22-testing.stories.mdx
  packages/components/src/stories/development/guides/getting-started/getting-started_angular.md
  packages/components/src/stories/development/guides/getting-started/getting-started_html.md
  packages/components/src/stories/development/guides/getting-started/getting-started_intro.md
  packages/components/src/stories/development/guides/getting-started/getting-started_react.md
  packages/components/src/stories/development/guides/getting-started/getting-started_vue.md
  packages/components/src/stories/development/migration/06-migration-from-6x-to-7x.stories.mdx
  packages/components/src/stories/foundation/brand-assets/02-development.docs.mdx
  packages/components/src/stories/foundation/grid/02-development.docs.mdx
  packages/components/src/stories/foundation/icons/00-overview.stories.mdx
  packages/components/src/stories/foundation/layout/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/00-overview.stories.mdx
  packages/components/src/stories/foundation/typography/02-development.docs.mdx
  packages/components/src/stories/support.stories.mdx
  packages/components/src/stories/why.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust links
  packages/components/src/components/bal-icon/stories/bal-icon.docs.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: use incubator
  .github/workflows/documentation.yml
Due: none

chore: update docker
  .dockerignore
  Dockerfile
  package.json
Due: none

chore: update issue branches
  .github/issue-branch.yml
Due: none

chore: merge branch 'main' into pre-release/v13
  packages/testing/src/selectors/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: merge branch 'main' into pre-release/v13
  package-lock.json
Due: none

Fix chart key
  .github/workflows/documentation.yml
Due: none
