Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

chore(release): v10.10.8
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: adjust packages
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/.build/stencil/stencil.bindings.angular.ts
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(card): finish styles
  packages/components/package.json
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card-button/bal-card-button.tsx
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-card/bal-card.tsx
  packages/components/src/components/bal-card/stories/bal-card.stories.ts
  packages/components/src/components/bal-close/bal-close.sass
  packages/components/src/components/bal-close/bal-close.scss
  packages/components/src/components/bal-close/bal-close.tsx
  packages/components/src/components/bal-close/bal-close.vars.scss
  packages/components/src/components/bal-spinner/assets/animation.json
  packages/components/src/components/bal-spinner/bal-spinner.animation.ts
  packages/components/src/components/bal-spinner/bal-spinner.tsx
  packages/components/src/components/bal-spinner/request.ts
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-tag/bal-tag.scss
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/bal-tag/stories/bal-tag.stories.ts
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.tsx
  packages/components/src/props.d.ts
  packages/components/src/stories/design/05-breakpoints.docs.mdx
  packages/components/src/styles/components/_all.scss
  packages/css/css/baloise-design-system.css
  packages/css/css/baloise-design-system.css.map
  packages/css/css/baloise-design-system.min.css
  packages/css/css/baloise-design-system.min.css.map
  packages/css/scss/form/button.sass
  packages/css/scss/mixins/bem.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: skip stencil test
  packages/components/src/components/form/bal-checkbox/test/bal-checkbox.e2e.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

test: set today value
  packages/components/cypress/integration/datepicker.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add doc components
  .gitignore
  packages/components/src/components/docs/bal-doc-banner-status/bal-doc-banner-status.tsx
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.sass
  packages/components/src/components/docs/bal-doc-tabs/bal-doc-tabs.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(icons): added social share icons
  packages/icons/src/icons.ts
  packages/icons/svg/share-link.svg
  packages/icons/svg/share.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: format files
  .gitignore
  .prettierignore
  packages/components/.storybook/preview.js
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.tsx
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.tsx
  packages/components/src/stories/design/00-overview.stories.mdx
  packages/components/src/stories/design/01-colors.stories.mdx
  packages/css/.build/generate.js
  packages/css/css/baloise-design-system.css
  packages/css/css/baloise-design-system.css.map
  packages/css/css/baloise-design-system.min.css
  packages/css/css/baloise-design-system.min.css.map
  packages/css/index.html
  packages/css/scss/layout/typography.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/stories/design/01-colors.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(list): add open prop for accordion #36
  packages/components/src/components.d.ts
  packages/components/src/components/bal-list/bal-list-item/bal-list-item.tsx
  packages/components/src/components/bal-list/stories/bal-list.stories.ts
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/testing/src/commands/overrides/contains.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust tag selector
  packages/components/cypress/integration/toast.spec.ts
  packages/testing/src/commands/helpers.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(release): v10.10.8
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): update lock files
  packages/components-angular/package-lock.json
  packages/components-react/package-lock.json
  packages/components-table/package-lock.json
  packages/components-vue/package-lock.json
  packages/components/package-lock.json
  packages/css/package-lock.json
  packages/fonts/package-lock.json
  packages/icons/package-lock.json
  packages/stencil-vite-fix/package-lock.json
  packages/testing/package-lock.json
  packages/tokens/package-lock.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(table): update table package
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-table/scss/design-system-table.scss
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add css build to docs build
  package.json
Due: none

chore: enabel a11y
  packages/components/cypress/support/commands.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(list): add disc to native list
  packages/css/scss/layout/list.sass
Due: none

fix(token): add missing inverted and tablet headings
  packages/css/.build/generate.js
  packages/css/index.html
  packages/css/scss/variables/typography.vars.sass
  packages/tokens/.build/generator.js
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

refactor(tag): use bem in tsx and use tokens
  packages/components/cypress/integration/tag.spec.ts
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/bal-tag/bal-tag.tsx
  packages/components/src/components/bal-tag/bal-tag.vars.scss
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(release): v10.10.9
  CHANGELOG.md
  lerna.json
  packages/components-angular/package-lock.json
  packages/components-angular/package.json
  packages/components-react/package-lock.json
  packages/components-react/package.json
  packages/components-table/package-lock.json
  packages/components-table/package.json
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/fonts/package-lock.json
  packages/fonts/package.json
  packages/icons/package-lock.json
  packages/icons/package.json
  packages/stencil-vite-fix/package-lock.json
  packages/stencil-vite-fix/package.json
  packages/testing/package-lock.json
  packages/testing/package.json
  packages/tokens/package-lock.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(testing): adjust text and heading contains command
  packages/testing/src/commands/helpers.ts
  packages/testing/src/commands/overrides/contains.command.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(testing): adjust text and heading contains command
  packages/components/src/components/bal-heading/bal-heading.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

test(datepicker): set start value
  packages/components/cypress/integration/datepicker.spec.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update gitignore
  .gitignore
  packages/components-vue/src/vue-component-lib/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(vue): use stencil output
  packages/components-vue/.build/components.js
  packages/components-vue/package.json
  packages/components-vue/src/index.ts
  packages/components-vue/src/plugin.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(vue): use stencil output
  packages/components-vue/.build/components.js
  packages/components-vue/.build/template/utils.ts
  packages/components-vue/package-lock.json
  packages/components-vue/package.json
  packages/components-vue/src/plugin.ts
  packages/components/.build/stencil/stencil.bindings.vue.ts
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(vue): set copyfiles to dev dependencies
  packages/components-vue/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(vue): remove old code
  packages/components/.build/stencil/stencil.bindings.vue.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(vue): adjust event handling
  packages/components-vue/.build/template/utils.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

docs(): improve migration docs
  packages/components/src/stories/migration/01-migration-from-1x-to-2x.stories.mdx
  packages/components/src/stories/migration/02-migration-from-2x-to-3x.stories.mdx
  packages/components/src/stories/migration/03-migration-from-3x-to-4x.stories.mdx
  packages/components/src/stories/migration/04-migration-from-4x-to-5x.stories.mdx
  packages/components/src/stories/migration/05-migration-from-5x-to-6x.stories.mdx
  packages/components/src/stories/migration/06-migration-from-6x-to-7x.stories.mdx
  packages/components/src/stories/migration/07-migration-from-7x-to-8x.stories.mdx
  packages/components/src/stories/migration/08-migration-from-8x-to-9x.stories.mdx
  packages/components/src/stories/migration/09-migration-from-9x-to-10x.stories.mdx
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

feat(icons): changed star icons
  packages/icons/src/icons.ts
  packages/icons/svg/star-full.svg
  packages/icons/svg/star-half.svg
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(vue): try to reduce payload
  packages/components-vue/.build/components.js
  packages/components-vue/src/plugin.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(vue): register components
  packages/components-vue/.build/components.js
  packages/components-vue/src/plugin.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(vue): reduce payload
  packages/components-vue/.build/components.js
  packages/components-vue/package.json
  packages/components-vue/src/plugin.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix
