Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}": ["prettier --write"],
  "packages/**/*.{js,jsx,ts,tsx,json}": ["eslint --ext .tsx,.ts packages/ --fix"],
  "packages/components/src/**/*.{md,mdx,tsx}": ["cspell \"packages/components/src/**/*.{md,mdx,tsx}\" --no-summary --no-progress"]
}

fix(list): title and subtitle have text align left
  .changeset/long-planets-build.md
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/test/bal-list.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-desktop-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-mobile-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-tablet-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-tablet-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-button-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-desktop-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-mobile-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-mobile-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-mobile.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-stack-desktop-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-stack-desktop-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-stack-desktop.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-tablet-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-tablet-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-v2-tablet.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-with-card-closed.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-with-card-open.png
  packages/components/cypress/snapshots/base/visual/bal-accordion.visual.cy.ts/accordion-with-card.png
Due: none

fix(select): validates after blur on button and input
  .changeset/shiny-pears-attend.md
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: trigger build
  CHANGELOG_NEXT.md
Due: none

fix(bal-tabs): format
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/components/tab-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust angular modules
  packages/components/src/components/bal-accordion/stories/usage/angular/example_component_ts.md
  packages/components/src/components/form/bal-form/stories/usage/angular/example_component_ts.md
  packages/components/src/components/form/bal-select/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-modal/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-modal/stories/usage/angular/modal_component_ts.md
  packages/components/src/components/notice/bal-snackbar/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-toast/stories/usage/angular/example_component_ts.md
  packages/components/src/stories/foundation/icons/02-development_angular.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: format files
  packages/components/src/components/bal-list/test/bal-list.visual.html
Due: none

chore(): format
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: none

chore(): update base images
  packages/components/cypress/snapshots/base/visual/bal-list.visual.cy.ts/list-basic.png
  packages/components/cypress/snapshots/base/visual/bal-list.visual.cy.ts/list-variants.png
Due: none

chore: remove console.logs
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: adjust angular modules (#962)
  packages/components/src/components/bal-accordion/stories/usage/angular/example_component_ts.md
  packages/components/src/components/form/bal-form/stories/usage/angular/example_component_ts.md
  packages/components/src/components/form/bal-select/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-modal/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-modal/stories/usage/angular/modal_component_ts.md
  packages/components/src/components/notice/bal-snackbar/stories/usage/angular/example_component_ts.md
  packages/components/src/components/notice/bal-toast/stories/usage/angular/example_component_ts.md
  packages/components/src/stories/foundation/icons/02-development_angular.md
Due: prettier --write, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: create docs
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
  packages/components/src/components/bal-nav/stories/bal-nav.stories.ts
  packages/components/src/components/bal-nav/stories/testing.md
  packages/components/src/components/bal-nav/stories/theming.md
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Navigation refactor desktop improvements (#963)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-menu-link-item.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update lock file
  package-lock.json
Due: none

fix(bal-tabs): adjust line height
  packages/components/src/components/bal-tabs/components/tab-label.sass
Due: none

docs: create story
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.sass
  packages/components/src/components/bal-nav/bal-nav.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/stories/bal-nav.data.ts
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
  packages/components/src/components/bal-nav/stories/bal-nav.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): unset border
  packages/components/src/components/bal-tabs/components/tab-button.sass
Due: none

chore(): disable body scroll when flyout is scrollable
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): add aria hidden and rename id
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix(bal-tabs): remove color attr from button
  packages/components/src/components/bal-tabs/components/tab-button.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

fix/(bal-tabs): format
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): remove containerSize prop
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix line width
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
Due: none

chore(): fix duplicated mobile list
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust spacing and overview link
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-list/bal-list.tsx
  packages/components/src/components/bal-nav/bal-nav-link-grid/bal-nav-link-grid.sass
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-link-item.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
  packages/components/src/components/layout/bal-divider/bal-divder.vars.sass
  packages/components/src/components/layout/bal-divider/bal-divider.interfaces.ts
  packages/components/src/components/layout/bal-divider/bal-divider.sass
  packages/tokens/src/index.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): open meta and menu if they are active
  packages/components/src/components/bal-nav/bal-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: fix z-index and popup with
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/test/bal-nav.visual.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): add underline offset for links
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
Due: none

chore(): format
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: did popup alignment
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-button.tsx
  packages/components/src/components/bal-popup/bal-popup.tsx
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
  packages/components/src/components/bal-popup/variants/variant.interfaces.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: adjust z-index
  packages/components/src/components/bal-nav/bal-nav.sass
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-popover/bal-popover.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: active popup and close menu
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/stories/bal-nav.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: render opt
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/utils/breakpoints/breakpoints.subject.ts
  packages/components/src/utils/mutation/mutation.subject.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): don't animate tabs line if tab target is blank
  packages/components/src/components/bal-tabs/bal-tabs.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add click event for link items
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/bal-nav.types.ts
  packages/components/src/components/bal-nav/models/bal-nav-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-section-link-item.tsx
  packages/components/src/components/bal-nav/models/bal-nav-service-link-item.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

Navigation refactor desktop improvements (#966)
  packages/components/src/components.d.ts
  packages/components/src/components/bal-nav/bal-nav-link/bal-nav-link.sass
  packages/components/src/components/bal-nav/bal-nav-menu-bar/bal-nav-menu-bar.tsx
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.sass
  packages/components/src/components/bal-nav/bal-nav-menu-flyout/bal-nav-menu-flyout.tsx
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/bal-nav.interfaces.ts
  packages/components/src/components/bal-nav/bal-nav.tsx
  packages/components/src/components/bal-nav/stories/bal-nav.docs.mdx
  packages/components/src/components/bal-tabs/bal-tab-item/bal-tab-item.tsx
  packages/components/src/components/bal-tabs/bal-tab.type.ts
  packages/components/src/components/bal-tabs/bal-tabs.tsx
  packages/components/src/components/bal-tabs/components/tab-button.sass
  packages/components/src/components/bal-tabs/components/tab-button.tsx
  packages/components/src/components/bal-tabs/components/tab-label.sass
  packages/components/src/components/bal-tabs/components/tab-nav.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: remove console logs
  packages/components/src/components/bal-nav/bal-nav-meta-bar/bal-nav-meta-bar.tsx
  packages/components/src/components/bal-nav/models/bal-nav-meta-button.tsx
  packages/components/src/components/bal-popup/variants/popover-variant.renderer.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress
