Repository baloise/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update notice components
  packages/components/src/components/all.html
  packages/components/src/components/notice/bal-modal/bal-modal-header/bal-modal-header.tsx
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-notification/bal-notification.sass
  packages/components/src/components/notice/bal-notification/bal-notification.tsx
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.sass
  packages/components/src/components/notice/bal-snackbar/bal-snackbar.tsx
  packages/components/src/components/notice/bal-toast/bal-toast.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: rename border colors
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/styles/components/radio-checkbox.sass
  packages/components/src/styles/global.sass
  packages/css/scss/form/file.sass
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/form/select.sass
  packages/css/scss/form/shared.sass
  packages/css/scss/helpers/spacing.helper.sass
Due: none

chore: rename border colors
  packages/components/src/components/bal-icon/bal-icon.sass
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/bal-tag/bal-tag.sass
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/styles/components/radio-checkbox.sass
  packages/css/scss/form/file.sass
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/form/select.sass
  packages/css/scss/form/shared.sass
Due: none

chore: rename text colors
  packages/components/src/components/bal-tabs/bal-tabs.sass
  packages/components/src/components/bal-tabs/bal-tabs__steps.sass
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/styles/components/radio-checkbox.sass
  packages/components/src/styles/global.sass
  packages/css/scss/form/file.sass
  packages/css/scss/form/shared.sass
  packages/css/scss/form/tools.sass
Due: none

chore: form part 1 remove handlers
  packages/components/src/components/form/bal-file-upload/bal-file-upload.sass
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.sass
  packages/components/src/components/form/bal-input-stepper/bal-input-stepper.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): refactor bal-accordion
  packages/components/src/components/bal-accordion/bal-accordion.sass
  packages/components/src/components/bal-accordion/bal-accordion.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update text and heading
  packages/components/src/components/all.html
  packages/components/src/components/bal-heading/bal-heading.sass
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-tag/bal-tag-group/bal-tag-group.tsx
  packages/components/src/components/bal-text/bal-text.sass
  packages/components/src/components/bal-text/bal-text.tsx
  packages/components/src/props.d.ts
  packages/components/src/styles/global.sass
  packages/css/scss/baloise-design-system.helpers.sass
  packages/css/scss/baloise-design-system.sass
  packages/tokens/src/index.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: change pagination
  packages/components/src/components.d.ts
  packages/components/src/components/all.html
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/props.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: finish helpers removal
  packages/components/src/components/all.html
  packages/components/src/components/bal-accordion/bal-accordion.sass
  packages/components/src/components/bal-accordion/bal-accordion.tsx
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/form/bal-textarea/bal-textarea.sass
  packages/components/src/styles/components/radio-checkbox.sass
  packages/css/scss/form/button.sass
  packages/css/scss/mixins/control.mixin.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: build artifact
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: update carousel swiping
  packages/components/src/components.d.ts
  packages/components/src/components/bal-carousel/bal-carousel.tsx
  packages/components/src/components/bal-heading/bal-heading.tsx
  packages/components/src/components/bal-pagination/stories/bal-pagination.stories.ts
  packages/components/src/components/bal-tag/stories/bal-tag.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update navbar
  packages/components/src/components/bal-navbar/bal-navbar-brand/bal-navbar-brand.tsx
  packages/components/src/components/bal-navbar/bal-navbar.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: update footer
  packages/components/src/components/bal-footer/bal-footer.sass
  packages/components/src/components/bal-footer/bal-footer.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: rename font size helpers
  packages/components/src/components/bal-data/test/bal-data.cy.html
  packages/components/src/components/bal-footer/test/bal-footer.cy.html
  packages/components/src/components/bal-heading/test/bal-heading.cy.html
  packages/components/src/components/bal-hint/test/bal-hint.cy.html
  packages/components/src/components/bal-icon/test/bal-icon.cy.html
  packages/components/src/components/bal-list/test/bal-list.cy.html
  packages/components/src/components/bal-logo/test/bal-logo.perf.html
  packages/components/src/components/bal-navbar/test/bal-navbar.cy.html
  packages/components/src/components/bal-pagination/bal-pagination.tsx
  packages/components/src/components/bal-popover/stories/bal-popover.stories.ts
  packages/components/src/components/bal-popover/test/bal-popover.cy.html
  packages/components/src/components/bal-spinner/test/bal-spinner.cy.html
  packages/components/src/components/bal-table/test/bal-table.cy.html
  packages/components/src/components/bal-tabs/index.html
  packages/components/src/components/bal-text/test/bal-text.cy.html
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.tsx
  packages/components/src/components/docs/bal-doc-usage-item/bal-doc-usage-item.tsx
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-field/test/bal-field.cy.html
  packages/components/src/components/form/bal-file-upload/test/bal-file-upload.cy.html
  packages/components/src/components/notice/bal-modal/test/bal-modal.cy.html
  packages/components/src/components/notice/bal-notification/test/bal-notification.cy.html
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/components/notice/bal-sheet/stories/template.ts
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.cy.html
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.visual.html
  packages/components/src/components/notice/bal-toast/test/bal-toast.cy.html
  packages/components/src/stories/getting-started/angular/00-overview.stories.mdx
  packages/components/src/stories/getting-started/html5/00-overview.stories.mdx
  packages/components/src/stories/getting-started/react/00-overview.stories.mdx
  packages/components/src/stories/getting-started/vue/00-overview.stories.mdx
  packages/css/index.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

docs: update changelog
  CHANGELOG.md
Due: none

chore: add helpers
  packages/css/package.json
  packages/css/rollup.config.helpers.js
  packages/css/scss/baloise-design-system.helpers.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): fix select, datepicker and field
  packages/components/src/components/form/bal-datepicker/bal-datepicker.sass
  packages/css/scss/form/select.sass
  packages/css/scss/form/tools.sass
  packages/css/scss/mixins/control.mixin.sass
  packages/css/scss/mixins/extends.sass
  packages/css/scss/mixins/general.mixin.sass
Due: none

chore: add flex gap helpers
  .build/generate-css-utils.js
  packages/components/src/components.d.ts
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-colors.tsx
  packages/components/src/components/notice/bal-sheet/stories/bal-sheet.stories.ts
  packages/components/src/components/notice/bal-sheet/test/bal-sheet.visual.html
  packages/components/src/stories/design/css.stories.ts
  packages/components/src/stories/getting-started/html5/01-installation.stories.mdx
  packages/css/scss/helpers/flexbox.helper.sass
  packages/css/scss/helpers/spacing.helper.sass
  packages/css/scss/variables/spacing.vars.sass
  packages/tokens/src/index.ts
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: rename radius and shadow token with normal to be consistent
  .build/generate-css-utils.js
  .build/tokens-generator.js
  packages/components/src/components.d.ts
  packages/components/src/components/bal-card/bal-card.sass
  packages/components/src/components/bal-carousel/bal-carousel.sass
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/bal-pagination/bal-pagination.sass
  packages/components/src/components/bal-popover/bal-popover.sass
  packages/components/src/components/docs/bal-doc-banner/bal-doc-banner.sass
  packages/components/src/components/docs/bal-doc-color/bal-doc-color.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border-radius.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-border.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-breakpoints.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-colors.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-sizes.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font-weight.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-font.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-shadow.tsx
  packages/components/src/components/docs/bal-doc-tokens/bal-doc-tokens-spacing.tsx
  packages/components/src/components/form/bal-radio/stories/bal-radio.stories.ts
  packages/components/src/components/form/bal-select/bal-select.sass
  packages/components/src/components/notice/bal-modal/bal-modal.sass
  packages/components/src/components/notice/bal-sheet/bal-sheet.sass
  packages/components/src/stories/design/01-colors.templates.ts
  packages/components/src/stories/design/css.docs.mdx
  packages/components/src/stories/design/css.stories.ts
  packages/components/src/styles/components/radio-checkbox.mixins.sass
  packages/components/src/styles/components/radio-checkbox.sass
  packages/components/src/styles/mixins/alert.mixin.sass
  packages/css/index.html
  packages/css/scss/form/file.sass
  packages/css/scss/form/input-textarea.sass
  packages/css/scss/mixins/breakpoint.mixin.sass
  packages/css/scss/mixins/general.mixin.sass
  packages/tokens/src/tokens.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): fix textarea and toast
  packages/components/src/components/form/bal-textarea/bal-textarea.sass
  packages/components/src/components/notice/bal-toast/bal-toast.sass
Due: none

chore(): fix form
  packages/components/src/components/bal-list/bal-list-item-content/bal-list-item-content.tsx
  packages/components/src/components/bal-list/bal-list.sass
  packages/components/src/components/form/bal-checkbox/stories/bal-checkbox.stories.ts
  packages/components/src/components/form/bal-input-group/bal-input-group.sass
  packages/css/scss/form/shared.sass
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add perf update
  packages/components/src/components/bal-button/test/bal-button.perf.html
Due: none

chore(file-upload): fix file upload issue
  packages/components/package-lock.json
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add www script
  package.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(angular-focus-directive): call setFocus method and update docs
  packages/components-angular/src/focus.directive.ts
  packages/components/src/stories/implementation/07-form.stories.mdx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(): update build artifacts
  packages/components/src/components.d.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore: add select logs
  packages/components/src/components.d.ts
  packages/components/src/components/form/bal-select/bal-select.tsx
  packages/components/src/components/form/bal-select/test/bal-select.cy.html
  packages/components/src/components/form/bal-select/test/bal-select.init.html
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add select logs
  packages/components-angular/package.json
  packages/components-react/package.json
  packages/components-table/package.json
  packages/components-vue/package.json
  packages/components/package.json
  packages/css/package.json
  packages/fonts/package.json
  packages/icons/package.json
  packages/output-targets/angular/package.json
  packages/output-targets/react/package.json
  packages/output-targets/vue/package.json
  packages/testing/package.json
  packages/tokens/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(select): initial value update. Closes #872
  packages/components/src/components/form/bal-select/bal-select.tsx
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore: add test file
  packages/components/src/components/form/bal-select/test/bal-select.init.html
Due: none

fix: update @baloise/web-app-utils to solve safari 13 issues
  packages/components/package-lock.json
  packages/components/package.json
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

fix(bal-upload): show duplicated file message
  packages/components/src/components/form/bal-file-upload/bal-file-upload.tsx
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix, cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress

chore(bal-upload): remove pdf from examples
  cspell.json
  packages/components/src/components/form/bal-file-upload/stories/bal-file-upload.stories.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

chore(): trigger build
  cspell.json
Due: none

perf: reduce web-app-utils imports
  packages/components/src/utils/number.ts
Due: prettier --write, eslint --ext .tsx,.ts packages/ --fix

Path conditions:
  prettier --write: any of: packages/**/*.{js,jsx,ts,tsx,json,css,scss,md,mdx}
  eslint --ext .tsx,.ts packages/ --fix: any of: packages/**/*.{js,jsx,ts,tsx,json}
  cspell "packages/components/src/**/*.{md,mdx,tsx}" --no-summary --no-progress: any of: packages/components/src/**/*.{md,mdx,tsx}
